<style type="text/css">
	.cpflWrapper{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin: 20px 0px;
		padding-left: 20px;
	}

	.cpflWrapper li{
		list-style-type: circle;
	}

	.programTitle:after{
		top: 50px;
	}

/*
	.cpflWrapper h3:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		background-color: #f8c135;
		height: 1px;
	}*/
</style>
<div class="slide full-height minHeight" style="background-color:#1b1b1b;position:relative;">
		<div class="cpflWrapper white" style="padding:50px 50px;">
			<div class="programTitle" style="padding-top:0px;">
				Social Responsibility
			</div><br/><br/>
				<h3>1. Scholarship for the underprivileged</h3>
					<p>We provide scholarships to students who have the skill in Football but cannot join the FCBEscola program due to financial obligations.</p>
				<br/>
				<h3>2. Free Coaching in Government Schools</h3>
					<p>FCBEscola coaches go to Government school and provide free training to the kids there. We have started this pilot in SDMC Primary School, New Delhi.</p>
				<br/>
				<h3>3. Employment Opportunities in NGOs</h3>
					<p>We have officially tied up with My Angels Academy to provide us referees and hence enable them to become a part of the FCBEscola family. This provides employment opportunities to people who hold football close to their heart.</p>
				<br/>
				<h3>4. I-League</h3>
				<p>Kids from the economically weaker sections were clubbed together in a team with FCBEscola kids. We funded all the logistics and fees requirements for these kids.</p>
				<br/>
				<h3>5. Change Reaction</h3>
					<p>On Christmas and New Year’s eve we distribute football accessories to the poor kids.</p>
				
				<br/>
			<br/><br/>
			<a href="/" class="footer-registernow">Back</a>
		</div>
	</div>