<div class="section bg-white minHeight" id="fcbescola">
	<div class="mobile-banner-margin hide-in-mobile">
		<img src="/images/Banner-IMG1.jpg" width="100%">
	</div>

	<div class="show-in-mobile mobile-home-banner">

	</div>
	<div class="escola-container">
		<div class="escola-title yellow"><strong>ABOUT CPFL</strong></div>
		<div class="escola-content text-justify">
			<p>The Conscient Premier Football League (CPFL) is a grassroots development initiative undertaken by the Conscient Group to help the Indian youth establish a concrete foundation for a world class competitive level while enhancing the bar in the country as well. The league was incorporated as a continuation of the Heritage Soccer League, run by The Heritage Schools in Delhi/NCR from 2007, as a base to provide the best football facilities 
			as well as build a platform for the promotion of high quality football in India.</p>
			<p>Encompassing weekly matches, scoreboard systems, lush green fields and professional referees, the league aims to provide an undisrupted game experience and assures the zenith level of proficiency.</p>
		</div>
		
	</div>
</div>
<div class="section relative escola-gray-bg minHeight slide-mobile" id="league">
	<div class="escola-container">
		<div class="escola-title yellow"><strong>LEAGUE INFORMATION</strong></div>
		<div class="escola-content text-justify">		
			<h3>Kick Off Date: <span class="f16">Nov 2017</span></h3>
			<h3>Eligibility: <span class="f16">CPFL is open to all candidates between the ages of 7-14 years from all schools, academies and clubs across Delhi NCR.</span></h3>
			<h3>Age Groups: <span class="f16">U8, U10, U12 &amp; U14.</span></h3>
			<h3>Fees Details:<br/><span>Individuals: Rs. 3500 each<br/>Early bird/Girls/Siblings/Former: Rs. 3000 each<br/>EWS: Rs. 1000 each</span></h3><br/>
			<p><strong>Note:</strong> <span class="f16">Early bird registrants would be those who have registered before the 30th of September 2016. These discounts for Early bird, Girls, Siblings and Former participants CANNOT be used as a combination in any given circumstance.</span></p>
		</div>
	</div>
</div>

<div class="section relative escola-gray-bg minHeight slide-mobile" id="supervision">
	<div class="escola-container">
		<div class="escola-title yellow fw700"><strong>CALENDAR 2017</strong></div>
		<div class="escola-subtitle yellow fw700 mt40 f26">Important Dates</div>
		<div class="escola-content text-justify">
				
		</div>
		<div class="table-wrapper">
		<table width="100%" cellpadding="5" cellspacing="0" border="0" outline="0" class="text-center">
			<tbody><tr>
				<th class="table-header-red">
					Date
				</th>
				<th class="table-header-red">
					Details
				</th>
			</tr>
			<tr>
				<td class="table-cell-wrapper striped">
					30th September 2017
				</td>
				<td class="table-cell-wrapper striped">
					Last date for Early Bird Registration
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper">
					15th October 2017
				</td>
				<td class="table-cell-wrapper">
					Last date for Registration
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper striped">
					6th November 2017
				</td>
				<td class="table-cell-wrapper striped">
					Match Day 1
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper">
					13th November 2017
				</td>
				<td class="table-cell-wrapper">
					Match Day 2
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper striped">
					20th November 2017
				</td>
				<td class="table-cell-wrapper striped">
					Match Day 3
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper">
					27th November 2017
				</td>
				<td class="table-cell-wrapper">
					Match Day 4
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper striped">
					4th December 2017	
				</td>
				<td class="table-cell-wrapper striped">
					Match Day 5
				</td>
			</tr>
			<tr>
				<td class="table-cell-wrapper">
					11th December 2017	
				</td>
				<td class="table-cell-wrapper">
					Match Day 6
				</td>
			</tr>
		</tbody></table>
		</div>
		
	</div>
	<br clear="all" />
</div>
<div class="section bg-white hide-in-mobile show-in-desktop slide-mobile minHeight relative"  id="training">
	<div class="escola-container">
		
		<div class="escola-title yellow fw700">FIXTURES & RESULTS</div>
		<br/>
	</div>
	<div class="escola-title fw700 text-center" style="position:absolute;top:45%;width: 100%;left: 0;transform: translate(0%,-50%);">Coming Soon !!</div>
</div>

<div class="section escola-gray-bg show-in-mobile minHeight" id="training-highlights">
	<div class="escola-container">
		<div class="escola-title yellow fw700">FIXTURES & RESULTS</div>
	<br/>
	<div class="escola-title fw700 text-center">Coming Soon !!</div>
	</div>
	
</div>
<div class="section escola-gray-bg minHeight slide-mobile relative" id="programs">
	<div class="escola-container">
		<div class="escola-title yellow fw700">LEAGUE TABLE</div><br/>
	</div>
	<div class="escola-title fw700 text-center" style="position:absolute;top:45%;width: 100%;left: 0;transform: translate(0%,-50%);">Coming Soon !!</div>
</div>


