<style type="text/css">
.chekout-wrapper-section{
  width: 100%;
  margin:  100px auto; 
}
.chekout-wrapper-box{
  border: 1px solid #fff;
  padding: 50px 50px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.payment-data-wrap{
  text-align: left;
  width: 100%;
  margin: auto;
  font-color:#fff;
}
.payment-label{
  width: 50%;
  font-size: 20px;
  color: #F9BF1E;
}
</style>

<div class="aboutUsWrapper" >
  <div class="aboutUsContent">  
  <div class="chekout-wrapper-section text-center">  
    <div class="chekout-wrapper-box">
     <div class="ourprogramCaptionHd" style="color:#F9BF1E">Payment Details</div><br/>
      <%if @order_id.present?%>
        <%if @order_status=='Success'%>
           <div class="text-green"><b>Transaction Successful</b></div><br/>
        <%else%>
          <div style="color:red"><b> Transaction Failure</b></div>
        <%end%>
      <%end%><br/>
     <table class="payment-data-wrap" align="center" >
        <% @decResp.each do |key|%> 
          <% if key.from(0).to(key.index("=")-1)=='order_status' %>
            <tr>
              <td class="payment-label">Payment Status:</td>
              <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr>
          <% end %>      
          <% if key.from(0).to(key.index("=")-1)=='billing_name' %>
            <tr>
              <td class="payment-label">Name:</td>
              <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr>
          <% end %>
          <% if key.from(0).to(key.index("=")-1)=='billing_email' %>
            <tr>
              <td class="payment-label">Email:</td>
              <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr>
          <% end %>
          <% if key.from(0).to(key.index("=")-1)=='billing_tel' %>
            <tr>
              <td class="payment-label">Mobile No.:</td>
               <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr>
          <% end %>
          <% if key.from(0).to(key.index("=")-1)=='order_id' %>
            <tr>
              <td class="payment-label">Registration No:</td>
               <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr>
          <% end %>
          <% if key.from(0).to(key.index("=")-1)=='amount' %>
            <tr>
              <td class="payment-label">Amount:</td>
               <td><%=key.from(key.index("=")+1).to(-1)%></td>
            </tr> 
          <% end %>
        <% end %> 
      </table>      
    </div>   
  </div>  
  </div>
</div>
