<style type="text/css">
.chekout-wrapper-section{
  width: 100%;
  margin:  100px auto; 
}
.chekout-wrapper-box{
  border: 1px solid #fff;
  padding: 50px 50px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.payment-data-wrap{
  text-align: left;
  width: 100%;
  margin: auto;
  font-color:#fff;
}
.payment-label{
  width: 50%;
  font-size: 20px;
  color: #F9BF1E;
}
</style>

<div class="aboutUsWrapper" >
  <div class="aboutUsContent">  
  <div class="chekout-wrapper-section text-center">  
    <div class="chekout-wrapper-box">
     <div class="ourprogramCaptionHd" style="color:#F9BF1E">Registration Details</div><br/>    
     <table class="payment-data-wrap" align="center" >       
        <tr>
          <td class="payment-label">Registration No:</td>
           <td><%=@registration.order_id%></td>
        </tr>
        <tr>
          <td class="payment-label">Name:</td>
          <td><%=@registration.name%></td>
        </tr>
     
        <tr>
          <td class="payment-label">Email:</td>
          <td><%=@registration.email%></td>
        </tr>
     
        <tr>
          <td class="payment-label">Mobile No.:</td>
           <td><%=@registration.phone%></td>
        </tr>      
        <tr>
          <td class="payment-label">Amount:</td>
           <td>Rupees 2 Lacs  Only</td>
        </tr>        
        <tr>
        	<td colspan="2" align="center">
        		<form action="/ccavRequestHandler/<%=params[:id]%>"  method="post">
				<input type="hidden" name="merchant_id"  value="111"/>
				<input type="hidden" name="order_id" id="order_id" value=""/>
				<input type="hidden" name="currency" value="INR"/>
				<input type="hidden" name="billing_city" value=""/>
				<input type="hidden" name="billing_state" value=""/>
				<input type="hidden" name="billing_country" value="India"/>
				<input type="hidden" name="redirect_url" value=""/>
				<input type="hidden" name="cancel_url"/>
				<input type="hidden" name="amount"/>
				<input type="hidden" name="billing_name" />
				<input type="hidden" name="billing_tel" />
				<input type="hidden" name="billing_email" /><br/>
				<input type="submit" value="Proceed to Pay" class="bgyellow submit-btn">
			</form>	
			</td>
        </tr>  
      </table>      
    </div>   
  </div>  
  </div>
</div>
