<style type="text/css">
	.cpflWrapper{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin-top: 10px;
	}

	.cpflWrapper h3:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		background-color: #f8c135;
		height: 1px;
	}
</style>


<!-- <div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Terms and Conditions</span></a></li>
	</ul>
</div> -->
<div class="full-height" style="background-color:#1b1b1b;position:relative;padding:50px 0px;min-height:1200px;">
	<div class="programTitle">
		CPFL Registration Form
	</div><br/><br/>
	<div class="form-wrapper">
		<div class="form-container" id="minor">	
			<div class="form-wrapper-section">
				<div id="form-field-wrapper">
					<div class="yellow form-sub-title">Applicant's Detail</div>
					<div class="clinic-form">
						<form accept-charset="UTF-8" action="/site/create_registration" method="post" id="registration-form" novalidate="novalidate" enctype="multipart/form-data"	>
							<div class="pull-left form-fields">
								<label class="lable-text">Name <span>*</span></label><br/>

								<input type="text" name="registration[name]" class="form-style required letterswithbasicpunc name" tabindex="1" id="participant_name">
							</div>
							<div class="pull-left form-fields">
								<label class="lable-text">Upload Passport size Photo<span>*</span> </label><br/>
								<input id="photo" name="registration[photo]" type="file" class="form-style required" tabindex="2"/><br/>(jpg,png,jpeg,gif format only)	
							</div>						
													
							<div class="clear"></div>
							<div class="pull-left form-fields">
								<label class="lable-text">Gender <span>*</span></label><br/>
								<select name="registration[gender]" class="form-style required" tabindex="7">
									<option value="">--Select--</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>	
								</select>
							</div>							
							<div class="pull-left form-fields">
								<label class="lable-text">Date Of Birth <span>*</span></label> &nbsp;&nbsp;(7-14yrs)<br/>
								<input type="text" name="registration[dob]" class="form-style required" tabindex="8" id="datepicker" >
							</div>
							<div class="clear"></div>
							<div class="pull-left form-fields">
								<label class="lable-text">Preferred Mobile Number <span>*</span></label><br/>
								<input type="text" name="registration[phone]" class="form-style required digit" tabindex="2" id="participant_mobile">
							</div>

							<div class="pull-left form-fields">
								<label class="lable-text">Preferred Email <span>*</span></label><br/>
								<input type="email" name="registration[email]" class="form-style required letterswithbasicpunc" tabindex="3" id="participant_email">
							</div>
							<div class="clear"></div>
							<div class="pull-left form-fields">
								<label class="lable-text">Name of School <span>*</span></label><br/>
								<input type="text" name="registration[school]" class="form-style required letterswithbasicpunc" tabindex="9">
							</div>							
							<div class="pull-left form-fields">
								<label class="lable-text">Class</label><br/>
								<input type="text" name="registration[standard]" class="form-style" tabindex="10">
							</div>						
							<div class="clear"></div>
							<div class="yellow form-sub-title">Kit Size</div>
							<div class="pull-left form-fields" style="width: 100%">
								<label class="lable-text">Youth size <span>*</span></label><br/>
								<table class="kit-size">
									<tr>
										<td align="center">
											<label for="kit_s" class="kit-size-label"><img src="/images/s.jpg" tabindex="12"></label>
											<input id="kit_s" value="youth-s" name="registration[kit_size]" type="radio" class="rad-kit required" />
										</td>
										<td align="center">
											<label for="kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
											<input id="kit_m" value="youth-m" name="registration[kit_size]" type="radio" class="rad-kit required" />
										</td>
										<td align="center">
											<label for="kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
											<input id="kit_l" value="youth-l" name="registration[kit_size]" type="radio" class=" rad-kit required" />
										</td>	 			 			 		
									</tr>
								</table>
							</div>
							
							<div class="pull-left form-fields" style="width: 100%">
								<label class="lable-text">Adult size <span>*</span></label><br/>
								<table class="kit-size">
									<tr>
										<td align="center">
											<label for="ad_kit_s" class="kit-size-label"><img src="/images/s.jpg" ></label>
											<input id="ad_kit_s" value="adult-s" name="registration[kit_size]" type="radio" class="rad-kit  required" />
										</td>
										<td align="center">
											<label for="ad_kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
											<input id="ad_kit_m" value="adult-m" name="registration[kit_size]" type="radio" class="rad-kit required" />
										</td>
										<td align="center">	
											<label for="ad_kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
											<input id="ad_kit_l" value="adult-l" name="registration[kit_size]" type="radio" class="rad-kit required" />
										</td>	 			 			 		
									</tr>
								</table>
							</div>	
					    	
							<div class="pull-left form-fields" style="width: 100%">
									<input value="true" name="registration[terms_and_constions]" type="checkbox" class="required" id="guardian_terms" />&nbsp;&nbsp;<label for="guardian_terms">Please, as a parent or guardian of the participant, accept the</label> <a href="/terms-and-conditions" target="_blank" style="color: #f9bf1e;">terms and conditions</a>					
							</div>
							<div class="clear"><br/></div>
							<input type="hidden" name="registration[order_id]" id="bill_order_id" value="<%= rand(999999999).to_s %>"/>						
							<input class="bgyellow submit-btn" type="submit" value="Submit">
							<br/>																						
							<br/>																					
							<br/>																					
						</form>
					</div>
				</div>
				<div id="form-success" style="display:none;">
					Thank you for showing your instrest in conscient CPFL. <br> Please check your mail and confirm your registration.
				</div>
			</div>	
		</div>	
	</div>
</div>


<script type="text/javascript">
	jQuery.validator.addMethod("lettersonly", function(value, element) {
	  return this.optional(element) || /^[a-zA-Z ]{2,16} *$/.test(value);
	}, "Invalid Name");

	var validator ;
	$(document).ready(function(){
		$( "#datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true, 
			defaultDate: '-7yr', 
			yearRange: '-14:-7'
		});

		$.validator.setDefaults({
			submitHandler: function() {
				jQuery('#form-field-wrapper').hide();
				jQuery('#form-success').show();
        trackecommerce("UA-93759358-1","", "Conscient Cpfl", $("#participant_email").val(), $("#participant_mobile").val());
	    try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}					
				$('html, body').animate({
			        scrollTop: $(".programTitle").offset().top
			    }, 1000);
				$("#registration-form").ajaxSubmit({
					success:formResponse,
					dataType: 'json'
				});
			}
		});		
		$("#registration-form").validate();
		$(".digit").rules('add', {
	      required: true,
	      digits: true,
	      minlength: 10,
	      maxlength: 12
	  	});
	  	$(".name").rules('add', {
	      lettersonly: true
	    });
	    $("#photo").rules('add', {
		    accept:"jpg,png,jpeg,gif"       
		});
		function formResponse(responseText, statusText) {		
			if(statusText == 'success') {
			  if(responseText.status == 'success') {

			  } else {           
				var error = "";
				$.each(responseText.error_messages, function(key, value){
				  error += '<li>'+value+'</li>';
				});
			  }
			} else {
			}
		}

	});
</script>

