<style type="text/css">
.chekout-wrapper-section{
  width: 100%;
  margin:  100px auto; 
}
.chekout-wrapper-box{
  border: 1px solid #fff;
  padding: 50px 50px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.payment-data-wrap{
  text-align: left;
  width: 100%;
  margin: auto;
}
.payment-label{
  width: 50%;
  font-size: 20px;
  color: #F9BF1E;
}
</style>
<% if @order_id.present? %>
<div class="clear"></div>
<div class="breadcrumb-wrapper">
  <ul>
    <li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
    <li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Clinic - Registeration Checkout</span></a></li>
  </ul>
</div>
<div class="aboutUsWrapper">
  <div class="aboutUsContent">  
  <div class="chekout-wrapper-section text-center">  
    <div class="chekout-wrapper-box">
     <div class="ourprogramCaptionHd">Order Detail</div><br/>
     <table class="payment-data-wrap" align="center">
      <% @decResp.each do |key|%> 
      <% if key.from(0).to(key.index("=")-1)=='order_status' %>
      <tr>
        <td class="payment-label">Order Status:</td>
        <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr>
      <% end %>      
      <% if key.from(0).to(key.index("=")-1)=='billing_name' %>
      <tr>
        <td class="payment-label">Name:</td>
        <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr>
      <% end %>
      <% if key.from(0).to(key.index("=")-1)=='billing_email' %>
      <tr>
        <td class="payment-label">Email:</td>
        <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr>
      <% end %>
      <% if key.from(0).to(key.index("=")-1)=='billing_tel' %>
      <tr>
        <td class="payment-label">Mobile No.:</td>
         <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr>
      <% end %>
      <% if key.from(0).to(key.index("=")-1)=='order_id' %>
      <tr>
        <td class="payment-label">Order id:</td>
         <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr>
      <% end %>
      <% if key.from(0).to(key.index("=")-1)=='amount' %>
      <tr>
        <td class="payment-label">Amount:</td>
         <td><%=key.from(key.index("=")+1).to(-1)%></td>
      </tr> 
      <% end %>
      <% if key.from(0).to(key.index("=")-1)=='order_status' && key.from(key.index("=")+1).to(-1)!='Success' %>
      <tr>
        <td colspan="2" align="center">
          <a href="/register" style="color: #fff;font-size: 24px;">Try Again</a>
        </td>
      </tr>
      <% end %>  

      <% end %>                   
    </table>
     </div>
      <!-- <h3 class="yellow">"Filling all fields is mandatory, please do not leave any field blank.".</h3><br/> -->     
  </div>  
  </div>
</div>
<% else %>
<script type="text/javascript">
  location.href='/register';
</script>
<% end%>