<style>
	.blog-container{padding:20px}
	.blog-list{ border-bottom: solid 1px #999; padding:10px 0 }
	.blog-title a{ font-size: 25px; color: #777; text-decoration: none; padding: 0 10px 0 0}
	.blog-date{font-size: 12px; color: #aaa}
</style>
<div class="blog-container">
	<h1 class="site-title"><%=  SiteSetting.first.sitetitle %> Blogs</h1>
	<% if !@blogs.nil?%>
	<% @blogs.each_with_index do |bg, i| %>									
		<div class="blog-list">
			<div class="blog-title"><a href="<%= url_blog(bg)%>"><%= bg.title %></a></div>
			<div class="blog-date"><%= bg.created_at.strftime("%B %Y") %></div>
		</div>
	<% end %>
	<% end%>
</div>
