<script src="/javascripts/tiny_mce/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script>
$(document).ready(function(){
$.validator.setDefaults({
    submitHandler: function() {
      $.ajax({
        type:"POST",
        dataType:"json",
        url:$("#form_comments").attr("action"),
        data:$("#form_comments").serialize(),
        success: function(resp, status, xhr){
          if(resp.status == "success"){
		if (status == "success") {
			$("#notify").removeClass("error").addClass("success").text("Thank you for posting your comments. It will be live soon.").fadeIn();
			$('#form_comments')[0].reset();
			
		} else {
			$("#notify").removeClass("success").addClass("error").text("Something went wrong. Please try again later.").fadeIn();
			
		}
          }else{
		$("#notify").removeClass("success").addClass("error").text("Something went wrong. Please try again later.").fadeIn();
		
		
          }
        },
        error: function(resp, status, xhr){
        }
      });

    }
  });
  $("#form_comments").validate();
});
</script>

<style type="text/css">
	  .head{
        text-decoration: none; 
        color: #000;
        border-bottom: 1px solid #7c7c7c;
        width: 90%;
        float: left;
        margin-top: 2%;
        /*padding: 5px 5px;*/
        font-size: 16px
      }
	.clr{clear: both;}
	.bak{width:4%;float:right;color: #fff;}
	.stButton_gradient{height: 23px !important;}
	.stButton {height: 23px !important}
	.stButton .stMainServices{height: 23px !important}
	.stButton .stBubble_hcount{height: 23px !important}
	.stButton .stButton_gradient{height: 23px !important}
	.footer{/* bottom: 15px; */color: #fff;/* right: 15px; */float: right;padding: 12px 0px;}

	.blog-container{padding:20px; width:90% ; margin: auto}
	.blog-list{ border-bottom: solid 1px #999; padding:10px 0}
	.blog-title{ font-size: 25px; color: #777; text-decoration: none; padding: 0 10px 0 0}
	.blog-title a{ font-size: 25px; color: #777; text-decoration: none; padding: 0 10px 0 0}
	.blog-subtitle{ color: #000; font-size: 20px}
	.blog-date{font-size: 12px; color: #aaa}
	.blog-details{ float: left; width:70%}
	.blog-side-panel{ float: right; width:25%}
	.blog-side-panel-box{ margin-bottom: 20px; border-bottom: solid 1px #ddd; padding-bottom: 20px}
	.blog-side-panel-list{}
	.blog-side-panel-list-title a{ color: #777; text-decoration: none; font-size: 20px; margin:0 0 10px 0}
	.blog-side-panel-list-date{ color: #999; font-size: 12px}
	
	.blog-container .input-fields{
	clear: both;
	float: left;
	margin-top: 10px;
	width: 100%;
	font-size: 12px;
	padding: 0 0 10px 0;
	}
	.blog-container .input-fields textarea{
	width: 100%;
	outline: none;
	padding: 5px;
	resize: none;
	height: 60px;
	border: 1px solid #000;
	/*background-color: #e7e7e7;*/
	color: #7e7e7e;
	}
	.blog-container .input-fields input[type=text]{
	width: 100%;
	outline: none;
	padding: 5px;
	border: 1px solid #000;
	/*background-color: #e7e7e7;*/
	color: #7e7e7e;
	}
	.blog-container .input-fields select{
	width: 100%;
	outline: none;
	padding: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #7e7e7e;
	}
	.comment-box{ }
	.comment-box-form{ margin: 20px 0 0 0}
	.comment-box form label.error {
		color: red;
		position: absolute;
		font-size: 10px;
		display: block;
		
		}
	#notify {
		display: none;
		padding: 5px;
		margin-bottom: 10px;
		color: #000;
		}
	.site-title{
		 color: #000;
		 font-size:25px
	}
</style>
<div class="blog-container">
	<div class="blog-details">
		
		<h1 class="site-title"><%=  SiteSetting.first.sitetitle %> Blogs</h1>
		
		<div class="blog-list">
			<h2 class="blog-title"><%=  @blog.title %></h2>
			<div class="blog-date"><%=  @blog.created_at.strftime("%B %Y") %></div>
			<div align="center">
			    <span class='st_googleplus_hcount' displayText='Google +'></span>
			    <span class='st_facebook_hcount' displayText='Facebook'></span>
			    <span class='st_twitter_hcount' displayText='Tweet'></span>
			    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
			    <span class='st_pinterest_hcount' displayText='Pinterest'></span>
			    <span class='st_email_hcount' displayText='Email'></span>
			</div>
			
			<p><%= @blog.description.html_safe %></p>
		</div>
		<% if SiteSetting.first.show_comments == true %>
		<div class="comment-box">
		<h3 class="blog-subtitle">Comments (<%= @comments.count %>)</h3>
		<% @comments.each do |c| %>
		<div class="col-12">
			<h5><%= c.name %> <span style="color: gray;"> <%= "#{time_ago_in_words(c.created_at)} ago "%></span></h5>
			<p><%= c.comment %></p>
		</div>
		<% end %>
		<div class="comment-box-form">
			<h3 class="blog-subtitle">Leave a reply</h3>
			<span id="notify">Your comment has been submitted for approval.</span>
			<form id="form_comments" name="form_comments" action="/site/addcomment" method="post">
				<input type="hidden" name="comment[blog_id]" value="<%= @blog.id %>" />
				<div class="input-fields">
					Name:<br />
					<input class="col-12 required" type="text" name="comment[name]" id="comment_name" />
				</div>
				<div class="input-fields">
					Email:<br />
					<input class="col-12 required email" type="text" name="comment[email]" id="comment_email"/>
				</div>
				<div class="input-fields">
					Comments:<br />
					<textarea class="col-12 required" name="comment[comment]" id="comment_comment"></textarea>
				</div>
				<div class="input-fields">
					<input type="submit">
				</div>
			</form>
		</div>
		<br clear="all"/>
		<% end %>
		</div>
		
		
	
	
	
	<div class="blog-side-panel">
		<div class="blog-side-panel-box">
				<h3 class="blog-subtitle">RECENT POST</h3>				
				<%if !@blogs.nil?%>
				<% @blogs.each do |bg| %>
				<div class="blog-side-panel-list">
					<div class="blog-side-panel-list-title">
						<a href="<%= url_blog(bg) %>"><%= bg.title %></a>
					</div>
					<div class="blog-side-panel-list-date"><%= bg.created_at.strftime("%B %Y") %></div>
				</div>
				<% end %>
				<% end%>
				<p style="text-align: right;"><a href="<%= url_blog %>" style="color: #000;">View All</a></p>
		</div>
		<br clear="all" />
		
		<div class="blog-side-panel-box">
			<h3 class="blog-side-panel-title">POPULAR POST</h3>			
			<%if !@pblogs.nil?%>
			<% @pblogs.each do |bg| %>				
				<div class="blog-side-panel-list">
					<div class="blog-side-panel-list-title">
						<a href="<%= url_blog(bg) %>"><%= bg.title %></a>
					</div>
					<div class="blog-side-panel-list-date"><%= bg.created_at.strftime("%B %Y") %></div>
				</div>
			<% end %>
			<% end%>
			<p style="text-align: right;"><a href="<%= url_blog %>" style="color: #000;">View All</a></p>
		</div>
	</div>
	
	<br clear="all"/>
<br clear="all"/>
</div>

				
				
					
		