<%= form_for(@redirect) do |f| %>
  <% if @redirect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

      <ul>
      <% @redirect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :old_uri %><br />
    <%= f.text_field :old_uri %>
  </div>
  <div class="field">
    <%= f.label :new_uri %><br />
    <%= f.text_field :new_uri %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
