<h1>Listing redirects</h1>

<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
    <th>Old uri</th>
    <th>New uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redirects.each do |redirect| %>
  <tr>
    <td><%= redirect.old_uri %></td>
    <td><%= redirect.new_uri %></td>
    <td><%= link_to 'Show', redirect %></td>
    <td><%= link_to 'Edit', edit_redirect_path(redirect) %></td>
    <td><%= link_to 'Destroy', redirect, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Redirect', new_redirect_path,  :class => "btn btn-info" %>
