<p id="notice"><%= notice %></p>

<p>
  <b>Old uri:</b>
  <%= @redirect.old_uri %>
</p>

<p>
  <b>New uri:</b>
  <%= @redirect.new_uri %>
</p>


<%= link_to 'Edit', edit_redirect_path(@redirect) %> |
<%= link_to 'Back', redirects_path %>
