<%= form_for(@clinic_registration) do |f| %>
  <% if @clinic_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_registration.errors.count, "error") %> prohibited this clinic_registration from being saved:</h2>

      <ul>
      <% @clinic_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobileno %><br />
    <%= f.text_field :mobileno %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :standard %><br />
    <%= f.text_field :standard %>
  </div>
  <div class="field">
    <%= f.label :food_preference %><br />
    <%= f.text_field :food_preference %>
  </div>
  <div class="field">
    <%= f.label :guardian_name %><br />
    <%= f.text_field :guardian_name %>
  </div>
  <div class="field">
    <%= f.label :guardian_mobileno %><br />
    <%= f.text_field :guardian_mobileno %>
  </div>
  <div class="field">
    <%= f.label :guardian_email %><br />
    <%= f.text_field :guardian_email %>
  </div>
  <div class="field">
    <%= f.label :guardian_relationship %><br />
    <%= f.text_field :guardian_relationship %>
  </div>
  <div class="field">
    <%= f.label :adult_size %><br />
    <%= f.text_field :adult_size %>
  </div>
  <div class="field">
    <%= f.label :guardian_terms %><br />
    <%= f.check_box :guardian_terms %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :order_status %><br />
    <%= f.text_field :order_status %>
  </div>
  <div class="field">
    <%= f.label :tracking_id %><br />
    <%= f.text_field :tracking_id %>
  </div>
  <div class="field">
    <%= f.label :back_ref_no %><br />
    <%= f.text_field :back_ref_no %>
  </div>
  <div class="field">
    <%= f.label :failure_message %><br />
    <%= f.text_field :failure_message %>
  </div>
  <div class="field">
    <%= f.label :billing_address %><br />
    <%= f.text_field :billing_address %>
  </div>
  <div class="field">
    <%= f.label :billing_city %><br />
    <%= f.text_field :billing_city %>
  </div>
  <div class="field">
    <%= f.label :billing_state %><br />
    <%= f.text_field :billing_state %>
  </div>
  <div class="field">
    <%= f.label :billing_zip %><br />
    <%= f.text_field :billing_zip %>
  </div>
  <div class="field">
    <%= f.label :billing_country %><br />
    <%= f.text_field :billing_country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
