<h1>Listing clinic_registrations</h1>

<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
     <th>Order status</th>
     <th>Order Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobileno</th>
    <th>Gender</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clinic_registrations.each do |clinic_registration| %>
  <tr>
  <td><%= clinic_registration.order_status %></td>
  <td><%= clinic_registration.order_id %></td>
    <td><%= clinic_registration.name %></td>
    <td><%= clinic_registration.email %></td>
    <td><%= clinic_registration.mobileno %></td>
    <td><%= clinic_registration.gender %></td>
    
    <td><%= link_to 'Show', clinic_registration %></td>
    <td><%= link_to 'Edit', edit_clinic_registration_path(clinic_registration) %></td>
    <td><%= link_to 'Destroy', clinic_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clinic registration', new_clinic_registration_path %>
