<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @clinic_registration.name %>
</p>

<p>
  <b>Email:</b>
  <%= @clinic_registration.email %>
</p>

<p>
  <b>Mobileno:</b>
  <%= @clinic_registration.mobileno %>
</p>

<p>
  <b>Address:</b>
  <%= @clinic_registration.address %>
</p>

<p>
  <b>City:</b>
  <%= @clinic_registration.city %>
</p>

<p>
  <b>Pincode:</b>
  <%= @clinic_registration.pincode %>
</p>

<p>
  <b>State:</b>
  <%= @clinic_registration.state %>
</p>

<p>
  <b>Gender:</b>
  <%= @clinic_registration.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @clinic_registration.dob %>
</p>

<p>
  <b>School name:</b>
  <%= @clinic_registration.school_name %>
</p>

<p>
  <b>Standard:</b>
  <%= @clinic_registration.standard %>
</p>

<p>
  <b>Food preference:</b>
  <%= @clinic_registration.food_preference %>
</p>

<p>
  <b>Guardian name:</b>
  <%= @clinic_registration.guardian_name %>
</p>

<p>
  <b>Guardian mobileno:</b>
  <%= @clinic_registration.guardian_mobileno %>
</p>

<p>
  <b>Guardian email:</b>
  <%= @clinic_registration.guardian_email %>
</p>

<p>
  <b>Guardian relationship:</b>
  <%= @clinic_registration.guardian_relationship %>
</p>

<p>
  <b>Adult size:</b>
  <%= @clinic_registration.adult_size %>
</p>

<p>
  <b>Guardian terms:</b>
  <%= @clinic_registration.guardian_terms %>
</p>

<p>
  <b>Order:</b>
  <%= @clinic_registration.order_id %>
</p>

<p>
  <b>Order status:</b>
  <%= @clinic_registration.order_status %>
</p>

<p>
  <b>Tracking:</b>
  <%= @clinic_registration.tracking_id %>
</p>

<p>
  <b>Back ref no:</b>
  <%= @clinic_registration.back_ref_no %>
</p>

<p>
  <b>Failure message:</b>
  <%= @clinic_registration.failure_message %>
</p>

<p>
  <b>Billing address:</b>
  <%= @clinic_registration.billing_address %>
</p>

<p>
  <b>Billing city:</b>
  <%= @clinic_registration.billing_city %>
</p>

<p>
  <b>Billing state:</b>
  <%= @clinic_registration.billing_state %>
</p>

<p>
  <b>Billing zip:</b>
  <%= @clinic_registration.billing_zip %>
</p>

<p>
  <b>Billing country:</b>
  <%= @clinic_registration.billing_country %>
</p>


<%= link_to 'Edit', edit_clinic_registration_path(@clinic_registration) %> |
<%= link_to 'Back', clinic_registrations_path %>
