<table cellpadding="5" cellspacing="5" width="100%" class="fields" border="0">
  <tr>
  <td width="30%"><%= f.label :Title %></td>
  <td><%= f.select :key, PROJECT_MULTIPLE_ASSETS.collect{|x|[ x.titleize, x]} %></td>
  <tr>
  </tr>
  <td><%= f.label :Description %></td>
  <td><%= f.text_area :value  %></td>
  </tr>
  <tr>
   <td colspan="2" align="right"> <%= link_to_remove_fields "remove", f %>  </td>
  </tr>
</table>

