<h1>Listing resumes</h1>

<table class="scaffolded" width="100%"  cellpadding="10" searchable_sortable="true">
  <tr>
    <th>Name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>Address</th>
    <th>Position</th>
  </tr>

<% @resumes.each do |resume| %>
  <tr>
    <td><%= resume.name %></td>
    <td><%= resume.first_name %></td>
    <td><%= resume.last_name %></td>
    <td><%= resume.email %></td>
    <td><%= resume.gender %></td>
    <td><%= resume.phone %></td>
    <td><%= resume.mobile %></td>
    <td><%= resume.address %></td>
    <td><%= resume.position %></td>
    
    <td><%= link_to 'Show', resume %></td>
    <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
    <td><%= link_to 'Destroy', resume, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resume', new_resume_path %>
