<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>First name:</b>
  <%= @resume.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @resume.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @resume.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @resume.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @resume.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @resume.mobile %>
</p>

<p>
  <b>Address:</b>
  <%= @resume.address %>
</p>

<p>
  <b>Position:</b>
  <%= @resume.position %>
</p>

<p>
  <b>Area of interest:</b>
  <%= @resume.area_of_interest %>
</p>

<p>
  <b>Resume file name:</b>
  <a href="<%= @resume.resume.url %>" target="blank"><%= @resume.resume_file_name %></a>
</p>

<p>
  <b>Resume content type:</b>
  <%= @resume.resume_content_type %>
</p>

<p>
  <b>Resume file size:</b>
  <%= @resume.resume_file_size %>
</p>


<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
