<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<p>
  <b>Category group:</b>
  <%= @category.category_group %>
</p>

<p>
  <b>Category type:</b>
  <%= @category.category_type %>
</p>

<p>
  <b>Category group:</b>
  <%= @category.category_group_id %>
</p>

<p>
  <b>Status:</b>
  <%= @category.status %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
