<h1>Listing comments <%= link_to 'New Comment', new_comment_path %></h1>

<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Comment</th>
    <th>Blog</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.email %></td>
    <td><%= comment.comment %></td>
    <td><%= comment.blog_id %></td>
    <td><%= comment.approved %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


