<% unless @attachments.empty? %>
<ul class="attachment_list">
<% @attachments.each do |p| %>
<li id="<%= p.id %>" class="attachment_list">
   <%if params[ :media ] == 'print'%> 
	<div class="thumbs">
    Insert:
		    <br/>
		    <%= link_to "Original", p.image.url( :original ), :onclick => "select_thumb(this);return false;"%>
		
		    <br/>
		    <%#= link_to 'Delete', delete_attachments_path(@channel.brand_name, params[:feature], :id => p.id, :media => 'print' ), :onclick => "delete_attachment(this);"%>
		    <br/>
		    <%= link_to 'Cancel', 'javascript:void(0)', :onclick => "cancel_image();return false;"%>
	  </div>
	    <%= link_to_function( image_tag( p.image.url( :original ), :alt => p.image.name ), "select_image(this)" )%>
    <% else%>
	    <%= link_to p.original_file_name, p.original.url, :onclick => "select_thumb(this);return false;"%>&nbsp;&nbsp;&nbsp;
    <% end%>
</li>
<% end %>
</ul>
<br style="clear:both;" />
<div style="float:right;margin-bottom:10px;">

</div>
<% else %>
No <%= params[ :media ]%> Uploaded Yet.
<% end %>
