<style>

.apply_btn {
    float: right;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    background: #f8bf1e;
    border-radius: 4px;
    text-decoration: none;
}

div.panel{
	color: #fff;
}

button.accordion{
	color: #fff;
}

div.panel.show{
	overflow-y: scroll;
	padding: 20px 10px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(247,192,52,0.8); 
    background:rgba(247,192,52,0.8);
}

</style>

<!-- <div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Careers</span></a></li>
	</ul>
</div> -->
<div class="about-content-wrapper slide">
		<div class="careersContent">
			<div class="contactUsHd">Careers</div><br/><br/>
			
			<div class="accordianCareers">
				<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Marteking</span>
					</button>
					<div class="panel">
					    <p>Currently there are no opening in the team! But you can apply here, and we will get back to you whenever there is an opening which suits your profile</p>
					</div>
				</div>
			</div>

			<div class="accordianCareers">
				<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Operations</span>
					</button>
					<div class="panel">
					    <p>Currently there are no opening in the team! But you can apply here, and we will get back to you whenever there is an opening which suits your profile</p>
					</div>
				</div>
			</div>

			<div class="accordianCareers">
				<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Coaching</span>
					</button>
					<div class="panel">
						<ul class="inner">
											<li>
												<br>
                                                <h3><a href="#" class="intoggle" style="color:#fff;">Coach/Assistant Coach</a></h3>
                                                <br/>
                                                <div class="form" style="padding-right:20px; display: block;">
                                                	<ul>                                                 
                                                    	<li> <strong>Job Title :</strong></li>
                                                        <li>Coach/Assistant Coach Conscient Football/FCBEscola Football Schools</li>
                                                    </ul>
                                                    <br>
                                                  	<ul>                                                 
                                                    	<li> <strong>Recommended Qualification :</strong></li>
                                                        <li>Graduate AIFF D/AFC C/AFC B/AFC A License</li>
                                                    </ul>
                                                    <br>
                                                    <ul>                                                 
                                                    	<li> <strong>Experience :</strong></li>
                                                        <li>1-7 years of experience</li>
                                                    </ul>		
                                                    <br>
                                                    <ul>                                                 
                                                    	<li><strong>Job Description	 :</strong></li>
														<li>
														<ul class="inner-desc">
													   <li>Plan, Prepare and Deliver coaching programme and drills in collaboration with the Technical Directors from FCBarcelona</li>
														<li>Responsible for material handling and ground set-up before, during and after the matches and during training sessions</li>
														<li>You will be required to undertake work outside of your coaching skills e.g. Operations, Event Management</li>
														<li>Reporting: Prepare and submit periodic reports e.g. Attendance Reports of teams, Performance reports of Individual Player etc.</li>
														</ul>
														</li>
                                                    </ul>
                                                    <br>
                                                     <ul>                                   
                                                    	<li> <strong>Profile :</strong></li>
                                                          <li><ul class="inner-desc">
															<li>Good interpersonal skill</li>
															<li>Spoken and Written English.</li>
															<li>Basic computer skills (Word, Excel, Power point ...)</li>
															</ul>
															</li>
                                                    </ul>
                                                    <a href="javascript:void(0)" class="apply_btn">Apply</a>
                                                 </div>
                                            </li>
											
										 </ul>
					</div>
				</div>
			</div>
		</div>
		
</div>




<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.slide').css({'height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>
<script>
/*var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }

}*/
var acc = document.getElementsByClassName("accordion");
var panel = document.getElementsByClassName('panel');

for (var i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
    	var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panel, 'show', 'remove');
        
       	if (setClasses) {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
}

function setClass(els, className, fnName) {
    for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
    }
}
</script>