<%= form_for(@press_release) do |f| %>
  <% if @press_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press_release.errors.count, "error") %> prohibited this press_release from being saved:</h2>
      <ul>
      <% @press_release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

   <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :show_order %><br />
    <%= f.check_box :show_order %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br />
    <%= f.date_select :published_date, :start_year => 2009 %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
