<h1 class="top-round">Listing Online Coverages <%= link_to 'New Online Coverages', new_press_release_path %></h1>
<table class="table table-striped table-bordered" width="100%" cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Featured</th>
    <th>Status</th>
    <th colspan="4"></th>
  </tr>
  <% @press_releases.each do |press_release| %>
    <tr>
      <td><%= press_release.title %></td>
      <td><%= press_release.featured %></td>
      <td><%= press_release.status %></td>
      <td><a href="/press_releases/assets/<%= press_release.id%>" class="round button1">Add Images</a></td>
      <td><%= link_to 'Show', press_release %></td>
      <td><%= link_to 'Edit', edit_press_release_path(press_release) %></td>
      <td><%= link_to 'Destroy', press_release, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

