<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @press_release.title %>
</p>

<p>
  <b>Featured:</b>
  <%= @press_release.featured %>
</p>

<p>
  <b>Status:</b>
  <%= @press_release.status %>
</p>


<%= link_to 'Edit', edit_press_release_path(@press_release) %> |
<%= link_to 'Back', press_releases_path %>
