/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(messi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

body {
    position: relative;
}
input[type="date"]::before{
    color: #999;
    content: attr(placeholder) ": ";
}
input[type="date"]:focus::before {
    content: "" !important;
}
input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fac01f;
    background: -moz-linear-gradient(top, #fca00c 0%, #fac01f 99%);
    background: -webkit-linear-gradient(top, #fca00c 0%, #fac01f 99%);
    background: linear-gradient(to bottom, #fca00c 0%, #fac01f 99%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-tagline {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 12px;
}

.loader-content {
    width: 20%;
    text-align: center;
}

.loader-content img {
    width: 80%;
}

.html-overlay {
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a50046;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a50046 0%, #0055a5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a50046 0%, #0055a5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a50046 0%, #0055a5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a50046', endColorstr='#0055a5', GradientType=0);
}

body {
    font-family: montserrat, arial, verdana;
}


/*form styles*/

#msform {
    width: 100%;
    max-width: 400px;
    padding: 50px 0;
    margin: auto;
    text-align: center;
    position: relative;
}

#msform fieldset::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background-image: url(icon.png);
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.06;
    pointer-events: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    background: white;
}
#msform input:focus,
#msform textarea:focus {
    outline: none;
    border: 1px solid #fac01f;
    box-shadow: 0 0 3px #fac01f;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: #fac01f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
    font-weight: bold;
    color: white;
    border: 0 none;
    font-size: 15px;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #fac01f;
}

#msform .action-button:focus,
#msform .action-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
.user-subtitle{
    margin-bottom: 21px !important;
    margin-top: 23px !important;
}
.confirm-subtitle{
    margin-top: 22px !important;
    margin-bottom: 16px !important;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 28px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    left: -50%;
    top: 12px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #fac01f;
    color: white;
}


/*CUSTOM CSS*/

.player-profile-img {
    width: 26%;
    border-radius: 100%;
    border: 2px solid #000;
    margin-bottom: 10px;
}


/*RADIO BUTTON*/


/* The container */

.radio-wrapper {
    display: block;
    display: flex;
    justify-content: space-between;
}
.confirmation{
    justify-content: space-around !important;
}
.confirm-label{
    font-size: 15px !important;
}
.container {
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.registrationuser{
    
    font-size: 10px;
    font-weight: 600;
    color: #403e3e;
}


/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 50%;
}
.check-registration{
    left: 12px;
    height: 13px;
    width: 13px;
}
    

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #fac01f;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}
.check-registration:after{
    top: 3px !important;
    left: 3px !important;
}

.gender-label {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.center-select-dropdown {
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 7px;
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
    background: white;
}

/*COMPULSORY FIELD*/
.error-message{
    color: red;
    font-size: 12px;
}


/*TOP BAR*/

.top-bar {
    background: #fff;
    z-index: 9;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.41);
}

.logo-wrapper,
.other-info-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.logo-wrapper img {
    height: 90%;
    width: auto;
}

.other-info-wrapper a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

.why-us-btn-wrapper {
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
}

.whyus {
    padding: 10px 19px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #fac01f;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.whyus:focus{
    border: 1px solid #fac01f;
    box-shadow: 0 0 3px #fac01f;
}
.whyus:active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}

.why-us-wrapper {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 9;
}

.why-us-content {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    height: 80%;
    width: 75%;
    top: 10%;
    left: 3%;
    overflow-y: auto;
}

.success-class {
    display: none;
    position: absolute;
    width: 80%;
    height: 330px;
    top: 20%;
    background: white;
    max-width: 400px;
    margin: auto;
    left: 37%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.68);
    border-radius: 4px;
}

.modal-head {
    background-color: #fac01f;
    padding: 10px;
    border-radius: 3px;
}

.modal-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

.modal-subtitle {
    text-align: center;
    margin-top: 10px;
}

.modal-text {
    margin-top: 30px;
    font-weight: 600;
}

.modal-ul {
    list-style: none;
    /*    list-style-image: url('http://conscientfootball.com/fcbescola_mumbai/images/tick.png');*/
}

.modal-ul li {
    margin-top: 10px;
}

.modal-ul li img {
    position: relative;
    top: 8px;
    height: 20px;
    padding: 5px;
}

.thumbsup {
    height: 150px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.success-class p {
    text-align: center;
    font-weight: 600;
    color: green;
    font-size: 1.2em;
}

.register-btn {
    width: 170px;
    background-color: #fac01f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 1px;
    margin-top: 50px;
    padding: 10px 5px;
    font-size: .9em;
}

.register-btn a {
    text-decoration: none;
    color: #fff;
}

.register-btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #fac01f;
}

.register-btn:focus,
.register-btn:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}

.before-success {
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.before-success p span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.before-success p span:nth-child(2) {
    animation-delay: .2s;
}

.before-success p span:nth-child(3) {
    animation-delay: .4s;
}

@media only screen and (max-width: 767px) {
    .other-info-wrapper a {
        font-size: .6em;
    }
    .loader-content {
        width: 80%;
        margin-bottom: 30%;
    }
    .success-class {
        left: 10%;
    }
    .success-class p {
        font-size: 1em;
    }
    .modal-title {
        font-size: 1em;
    }
    .modal-subtitle {
        font-size: .8em;
    }
    .modal-ul li {
        margin-top: 5px;
        font-size: .9em;
    }
}