<h1>File Uploads</h1>
<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@team , :url => '/assets/add', :method => 'post', :html => {:multipart=>true}) do |f| %>
    <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input name="entity_id" value="<%= @team.id %>" type="hidden" />
 <h5 style="color:red;width:95%;margin:auto"> Dimension of image : width=100px and height =100px </h5> 
    <%= render :partial => "assets/singular_assets", :locals => {:for_class => "Team", :entity => @team, :asset_types => ["main_image"]} %>
  <%#= render :partial => "assets/assets", :locals => {:for_class => "Team", :entity => @team} %>
    <br clear="all"/>    <br clear="all"/>
  <p align="center">
    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


