<h1>Listing teams <%= link_to 'New Team', new_team_path %></h1>

<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Designation</th>
    <th>Short info</th>
    <th>Status</th>
    <th colspan="4">Action</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.designation %></td>
    <td><%= team.short_info[0..100] %></td>
    <td><%= team.status %></td>
    <td><a href="/teams/assets/<%= team.id %>" class="round button1">Add Images</td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


