<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Designation:</b>
  <%= @team.designation %>
</p>

<p>
  <b>Short info:</b>
  <%= @team.short_info %>
</p>

<p>
  <b>Information:</b>
  <%= @team.information %>
</p>

<p>
  <b>Status:</b>
  <%= @team.status %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
