	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @metatitles %></title>
	<meta name="keywords" content="<%= @metakeywords %>"/>
	<meta name="description" content="<%= @metadescription %>"/>
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="canonical" href="http://<%= request.host %><%= request.request_uri %>">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/colorbox.css" />
	<link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/layout.css"></link>
	<!-- <link rel="stylesheet" href="/stylesheets/normalize.css"></link> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<!--[if  IE ]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-93759358-1', 'auto');
	ga('send', 'pageview');
	ga('require', 'displayfeatures');
	ga('require', 'ecommerce', 'ecommerce.js'); 
</script>
<script type='application/ld+json'> 
{
"@context": "http://www.schema.org",
"@type": "SportsClub",
"name": "Conscient Football",
"url": "http://conscientfootball.com",
"logo": "http://conscientfootball.com/images/conscient_football_logo.png",
"image": "http://conscientfootball.com/images/conscient_football_logo.png",
"description": "Conscient Football is a grassroots development initiative undertaken by the Conscient Group with the Heritage Schools network in Delhi NCR; the latter being a part of its ventures in the education sector, as an extension of its wider portfolio. \nConscient Football is dedicated to raising the bar in football programming at the grassroots level by reaching out to children across Delhi NCR in the initial years, and its exclusive collaboration with one of the world's greatest football clubs- FC Barcelona is one of the various steps taken in that direction. ",
"address": {
"@type": "PostalAddress",
"streetAddress": "FCBEscola Ground, Meditation Centre, The Heritage School, Sector-62, Gurgaon",
"addressLocality": "Gurgaon",
"addressRegion": "Haryana",
"postalCode": "122001",
"addressCountry": "India"
},
"geo": {
"@type": "GeoCoordinates",
"latitude": "28.4103752",
"longitude": "77.0827673"
},
"openingHours": "Mo 10:30-07:30 Tu, We, Th, Fr, Sa 10:30-19:30",
"contactPoint": {
"@type": "ContactPoint",
"telephone": "+91 11 6661 9488",
"contactType": "Sales"
}
}
</script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
	<% if params[:action]!='ccavResponseHandler'%>
	<div class="pageLoader">
		<div class="table">
			<div class="table-cell">
				<img src="/images/conscient_football_logo.png" alt="Conscient Football Logo" >
			</div>
		</div>
	</div>
	<% end %>	
	<div class="virtual-number">
		<div class="pull-left number" data-event-category="fcbescola-number-button" data-event-action="click" data-event-name="phone icon">
			<i class="fa fa-phone" aria-hidden="true"></i>
		</div>
		<div class="pull-left virtual-number-wrapper">
			<span>Delhi NCR: <span class="sell_do_virtual_numbers"></span></span> <br/>
		</div>
		<div class="clear"></div>
	</div>
	<div class="virtual-number-mobile" style="display:none">
		<div class="pull-left number-mobile">
			<span>Delhi NCR: <span class="sell_do_virtual_numbers"></span></span> <br/>
		</div>
		<div class="clear"></div>
	</div>
<div class="wrapper">
	<div class="header pull-left">
		<table align="center" cellpadding="0" cellspacing="0" height="100%" width="100%">
			<tbody><tr style="height:25%;">
				<td  align="center" valign="top">
					<div class="headerLogo">
						<a href="/"><img src="/images/conscient_football_logo.png" alt="Conscient Football Logo"></a>
					</div>
				</td>
			</tr>
			<tr style="height:70%;">
					<td align="center" valign="top">
						<ul class="mainmenuWrapper">
							<li><a href="<%= url_index %>" <%= params[:action] == "index" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Home">Home</a></li>
							<li>
								<a href="<%= url_ourprogram%>" <%= params[:action] == "ourprogram_new" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Our Programs">Our Programs</a>
							</li>
							<li><a href="<%= url_aboutus %>" <%= params[:action] == "aboutus1" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="About Us">About Us</a></li>
							<li><a href="<%= url_gallery %>" <%= params[:action] == "gallery" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Gallery">Gallery</a></li>
							<li><a href="<%= url_media %>" <%= params[:action] == "media" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Media">Media</a></li>
							<!-- <li><a href="<%= url_careers %>" <%= params[:action] == "career" ? "class=current" : "" %>>Careers</a></li> -->
							<li><a href="<%= url_success_stories %>" <%= params[:action] == "success_stories" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Success Stories">Success Stories</a></li>
							<li><a href="<%= url_contactus %>" <%= params[:action] == "contactus" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Contact Us">Contact Us</a></li>
							<li><a href="<%= url_mgmt %>" <%= params[:action] == "mgmt" ? "class=current" : "" %>  data-event-category="header" data-event-action="click" data-event-name="Facility Booking">Facility Booking</a></li>
						</ul>
						<br/>
						<div class="white"><a href="#popup-form-register-now" class="open-popup-form footer-registernow"  data-event-category="header" data-event-action="click" data-event-name="Barça Academy Button"><img src="/images/soccer_icon.png">&nbsp;Barça Academy</a></div>
					</td>
				</tr>
			<tr style="height:10%;">
					<td style="padding-bottom:30px;" align="center" valign="top">
						
						<div class="socialWrapper">
							<ul>
								<li><a href="#popup-form-fb-page" target="_blank" class="open-popup-form"><img src="/images/fb_icon.png"></a></li><!-- https://www.facebook.com/ConscientFootball/ -->
								<li><a href="#popup-form-twt-page" target="_blank" class="open-popup-form"><img src="/images/twitter_icon.png"></a></li>
								<li><a href="https://www.youtube.com/user/ConscientFootball" target="_blank"><img src="/images/playIcon.png"></a></li>
							</ul>
						</div>
						<!-- <div class="copyRight"> Created By: <a href="http://amuratech.com/" target="_blank" style="color:#f9bf1e;text-decoration:none;">Amura</div> -->
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
<div style="display:none;">
	<div class="button-popup" id="popup-form-register-now">
		<h2 class="black register-title">Register for Our Programs</h2>
		<div class="register-btn-popup"><a href="/fcbescola-delhi" class="registernow" target="_blank">Register for Barça Academy Delhi NCR</a></div>
		<div class="register-btn-popup"><a href="/fcbescola-mumbai" class="registernow" target="_blank">Register for Barça Academy Mumbai</a></div>
		<!-- <div class="register-btn-popup"><a href="/fcbescola" class="registernow" target="_blank">FCB Escola</a></div>
		<div class="register-btn-popup"><a href="http://fcbclinics.conscientfootball.com/" class="registernow" target="_blank">FCB Clinics</a></div>
		<div class="register-btn-popup"><a href="http://cpfl.conscientfootball.com/" class="registernow" target="_blank">CPFL</a></div>
		<div class="register-btn-popup"><a href="http://qaff.conscientfootball.com/" class="registernow" target="_blank">QATAR</a></div> -->
	</div>
</div>
<div style="display:none;">
	<div class="button-popup" id="popup-form-fb-page">
		<h2 class="black register-title">Barça Academy Facebook Page</h2>
		<div class="register-btn-popup"><a href="https://www.facebook.com/FCBEscolaDEL/" rel="nofollow" class="registernow" target="_blank">Barça Academy Delhi Facebook Page</a></div>
		<div class="register-btn-popup"><a href="https://www.facebook.com/FCBEscolaMUMB/" rel="nofollow" class="registernow" target="_blank">Barça Academy Mumbai Facebook Page</a></div>		
	</div>
</div>
<div style="display:none;">
	<div class="button-popup" id="popup-form-twt-page">
		<h2 class="black register-title">Barça Academy Twitter Page</h2>
		<div class="register-btn-popup"><a href="https://twitter.com/FCBEscolaDelhi" rel="nofollow" class="registernow" target="_blank">Barça Academy Delhi Twitter Page</a></div>
		<div class="register-btn-popup"><a href="https://twitter.com/FCBEscolaMumbai" rel="nofollow" class="registernow" target="_blank">Barça Academy Mumbai Twitter Page</a></div>		
	</div>
</div>
<div class="header-mobile">
	<div class="mobile-logo pull-left">
		<a href="/"><img src="/images/conscient_football_logo.png" alt="Conscient Football Logo" class="img-responsive"></a>
	</div>
	<div class="mobile-menu pull-right">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>

	<ul class="menuWrapper-mobile">
		<li><a href="<%= url_index %>" <%= params[:action] == "index" ? "class=current" : "" %>>Home</a></li>
		<li><a href="<%= url_ourprogram%>" <%= params[:action] == "ourprogram_new" ? "class=current" : "" %>>Our Programs</a></li>
		<li><a href="<%= url_aboutus %>" <%= params[:action] == "aboutus1" ? "class=current" : "" %>>About Us</a></li>
		<li><a href="<%= url_gallery %>" <%= params[:action] == "gallery" ? "class=current" : "" %>>Gallery</a></li>
		<li><a href="<%= url_media %>" <%= params[:action] == "media" ? "class=current" : "" %>>Media</a></li>
		<li><a href="<%= url_success_stories %>" <%= params[:action] == "success_stories" ? "class=current" : "" %>>Success Stories</a></li>
		<li><a href="<%= url_contactus %>" <%= params[:action] == "contactus" ? "class=current" : "" %>>Contact Us</a></li>
		<li><a href="<%= url_mgmt %>" <%= params[:action] == "mgmt" ? "class=current" : "" %>>Facility Management Service </a></li>
		<li><a href="#popup-form-register-now" class="open-popup-form">REGISTER NOW</a></li>
	</ul>
	<div class="clearfix"></div>
</div>

<div class="pageWrapper pull-right relative">
	<%= yield %>
	<div class="clear"></div>
</div>
 
<div class="footer">
	<div class="pull-right white">
		<a href="<%= url_careers %>" class="copyRight">Join Us</a> | <a href="<%= url_social_responsibility %>" class="copyRight">Social Responsibility</a> |
		<a href="<%= url_terms_condition %>" class="copyRight">Terms and Conditions</a> | <a href="/privacy-policy" class="copyRight">Privacy Policy</a> | <span class="copyRight">&nbsp; &copy; Copyright 2017. All Rights Reserved </span>&nbsp;&nbsp;&nbsp;
	</div>
	<div class="clear"></div>
</div>
<br clear="all" />

<div class="footer-mobile">
	<a href="<%= url_careers %>" class="copyRight">Join Us</a><a href="<%= url_social_responsibility %>" class="copyRight">Social Responsibility</a><a href="<%= url_terms_condition %>" class="copyRight">Terms and Conditions</a><a href="/privacy-policy" class="copyRight">Privacy Policy</a><span class="copyRight yellow">&nbsp; &copy; Copyright 2017. All Rights Reserved </span>&nbsp;&nbsp;&nbsp;
</div>



<script src="/javascripts/validate.js"></script>
<script src="/javascripts/jquery.smint.js"></script>
<script src="/javascripts/jquery.colorbox.js"></script>	
<script src='//trkr.scdn1.secure.raxcdn.com/t/573c82f7541385bf32000033.js'></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script>
<script src="/javascripts/jquery.bxslider.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/form.js"></script>

<script type="text/javascript">
jQuery.extend(jQuery.validator.messages, {
    required: "This field is mandatory.",
    remote: "Please fix this field.",
    email: "Please enter a valid email address.",
    url: "Please enter a valid URL.",
    date: "Please enter a valid date.",
    dateISO: "Please enter a valid date (ISO).",
    number: "Please enter a valid number.",
    digits: "Please enter only digits.",
    creditcard: "Please enter a valid credit card number.",
    equalTo: "Please enter the same value again.",
    accept: "Invalid FIle Format.",
    maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
    minlength: jQuery.validator.format("Please enter at least {0} characters."),
    rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
    range: jQuery.validator.format("Please enter a value between {0} and {1}."),
    max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
    min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
});

jQuery.validator.addMethod("lettersonly", function(value, element) {
  return this.optional(element) || /^[a-zA-Z ]{2,16} *$/.test(value);
}, "Invalid Name");

jQuery(document).ready(function ($) { 
 	<%if params[:action]=="career"%>
	    $.validator.setDefaults({
	      submitHandler: function() {
      		$(".form-feild").hide();
       	   	$(".form-success").show();
	        $(".resume-form").ajaxSubmit({
	        success:formResponse,
	        dataType: 'json'
	        });
	      }
	    });
	    
	    $(".resume-form").validate();
	    $(".name").rules('add', {
	      lettersonly: true
	    });

	  	$(".digit").rules('add', {
	      required: true,
	      digits: true,
	      minlength: 10,
	      maxlength: 12
	  	});
	  	$("#resume").rules('add', {
	      accept:"pdf,txt,docx,html,doc"      
	    });

	    function formResponse(responseText, statusText) {
	      if(statusText == 'success') {
	        if(responseText.status == 'success') {
	       
	        } else {           
	       
	        }
	      } else {
	     
	      }
	    }
	<%end%>
	<%if params[:action]=="fcbescola_goals" || params[:action]=="barcelona_clinic" || params[:action]=="summer_camps"%>
      	$.validator.setDefaults({
	        submitHandler: function() {
		        $('.form-feild').hide();
		        $('.form-success').fadeIn("slow");
       			trackecommerce("UA-93759358-1","", "Conscient"+$("#form_type").val(), $("#participant_email").val(), $("#participant_mobile").val());
	    		try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}			        
		        $.ajax({
		            type:"POST",
		            dataType:"json",
		            url:$(".registration").attr("action"),
		            data:$(".registration").serialize(),
		            success: function(resp, status, xhr){              
		              if(resp.status == "success"){
						
		              }else{
		                
		              }
		            },
		            error: function(resp, status, xhr){
		            }
		        });
	        }
     	});
        $(".registration").validate(); 
		$(".name").rules('add', {
	      lettersonly: true
	    });
	  	$(".digit").rules('add', {
	      required: true,
	      digits: true,
	      minlength: 10,
	      maxlength: 12
	  	});
	<%end%>
});
</script>

<script type="text/javascript">
$(document).ready(function(){
	 if($(window).width()<=780){
	  x = setInterval(function(){
	      if($(".sell_do_virtual_numbers").html().indexOf("+91 11 6661 9488") != -1){
	        clearInterval(x);
	        $(".virtual-number-wrapper").html("<span>Delhi NCR: <a href='tel:+911166619488' style='color:#000'><span>+91 11 6661 9488</span></a></span><br/><span>Mumbai: <a href='tel:+912261739769' style='color:#000'><span>+91 22 6173 9769 </span></a></span> <br/>");
	      }
	  }, 100);
}else{
x = setInterval(function(){
if($(".sell_do_virtual_numbers").html() == "+91 11 6661 9488"){
	clearInterval(x);
	$(".virtual-number-wrapper").html("<span>Delhi NCR: <a href='tel:+911166619488' style='color:#000'><span>+91 11 6661 9488</span></a></span><br/><span>Mumbai: <a href='tel:+912261739769' style='color:#000'><span>+91 22 6173 9769 </span></a></span> <br/>");
	}
}, 100);
}	

});
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSG2874');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSG2874"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

<!-- End Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');</script>
<!-- End Google Tag Manager -->

	
</body>
</html>