
<div class="section bg-white minHeight" id="fcbescola">
	<div class="mobile-banner-margin ">
		<img src="/fcbescola_delhi/images/Delhi_WebsiteBanner-new-jun.jpg" width="100%"> <!-- Conscient_Football_Banner1 -->
	</div>
<!--
	<div class="show-in-mobile mobile-home-banner">

	</div> -->
	<div class="escola-container">
		<div class="escola-title yellow"><!-- <strong>FCBE</strong>scola -->Barça Academy</div>
		<div class="escola-content text-justify">
			<p><span class="f26">Barça Academy is the official FC Barcelona Football School in Delhi NCR, which provides an exclusive opportunity for players in the age bracket of 5-17 years to learn the methodology and values from the unmatched Barça style and philosophy</span><br/></p><br>
			<p>Football Club Barcelona commonly known as Barça is a professional football club based in Barcelona, Catalonia, Spain. FC Barcelona is renowned for its famous youth development system and positive values such as respect, effort, ambition, teamwork and modesty.</p><br>
			<p>Barça Academy follows the FC Barcelona methodology & youth development system which believes in inculcating a creative and attacking brand of football among its players. The players are given the same education which has developed players like Lionel Messi, Andrés Iniesta, Sergio Busquets & Gerard Piqué among many others. Barça Academy is present in 23 cities around the world and has branches in Delhi NCR and Mumbai.</p><br>
			<p>If you're in search for a premier Football academy in Delhi NCR, which will provide your kids with the best training and conditioning, look no further!
			</p>
		</div>
	</div>
</div>

<div class="section relative minHeight flex" id="supervision">

	<div class="pull-left yellow-bg escola-w50 padding50" style="flex:1;">
		<div class="escola-title black fw700"><strong>FCB</strong> Affiliation</div>
		<div class="escola-title black fw700 mt40 f26">TECHNICAL DIRECTOR</div>
		<div class="escola-content text-justify">
			<p>Barça Academy DelhiNCR programs are managed by a technical Director from FC Barcelona (currently Aitor Olmo Ibañez). He is responsible for overseeing the daily operations of the academy and ensuring that the syllabus of FC Barcelona is being coached and incorporated into the training sessions correctly. They also plan training programmes to specifically suit and cater to our players of different ages.</p>
		</div>
		<div class="escola-content">
			<a href="javascript:;" rel="aitor">
				<div data-event-category="Barça-Academy-techincal-directors" data-event-action="click" data-event-name="aitor olmo ibanez" class="coach-btn coach-btn-active relative">
					Aitor Olmo Ibañez <span class="sprite-new caret-right"></span>
				</div>
			</a>
			<!-- <a href="javascript:;" rel="albert">
				<div data-event-category="fcbescola-techincal-directors" data-event-action="click" data-event-name="Albert Moratalla Guerrero" class="coach-btn relative">
					Albert Moratalla Guerrero <span class="sprite-new caret-right"></span>
				</div>
			</a> -->
		</div>
	</div>
	<div class="pull-right yellow-bg-dark escola-w50 padding50">
		<div class="escola-title black fw700 mt60 f26">COACHES</div>
		<div class="escola-content text-justify">
			<p>The Technical Director are also responsible for selecting coaches who conduct the training sessions. The coaches undergo a stringent process of interviews before selected, to ensure that our coaches are capable and passionate.</p>
			<p>They all hold different AIFF, AFC coaching licenses and are committed in coaching and bringing out the best in youth players. Coaches are specifically designated to different age groups, to cater to the varying development stages.</p>
		</div>

		<div class="coach-info-details absolute" id="aitor" style="display:none;">
			<div class="escola-w50 pull-left text-center">
				<img src="/fcbescola_delhi/images/aitor.jpg" class="img-responsive" style="margin:0 auto;">
			</div>
			<div class="escola-w50 pull-left">
				<div class="escola-title black fw600">Aitor Olmo Ibanez</div>
				<br/>
				<div class="coach-desg black fw700">(Technical Director, Barça Academy Delhi NCR)</div>
				<br/>
				<ul>
					<li>&bull;&nbsp;9 years as a Professional Player (Spanish 2nd Division)</li>
					<li>&bull;&nbsp;Degree in Business Administration (UPC)</li>
					<li>&bull;&nbsp;Master in SIC (UOC)</li>
					<li>&bull;&nbsp;Licensed to Coach Football (RFEF)</li>
					<li>&bull;&nbsp;International Camps Coordinator</li>
					<li>&bull;&nbsp;2 seasons as a Technical Director Barça Academy Fukuoka</li>
					<li>&bull;&nbsp;1 season as a Technical Director Barça Academy Tokyo</li>
					<li>&bull;&nbsp;6 seasons at Barça Academy</li>
				</ul>
			</div>
			<div class="sprite-new close-btn absolute"></div>
		</div>
		<div class="coach-info-details absolute" id="albert"  style="display:none;">
			<div class="escola-w50 pull-left text-center">
				<img src="/fcbescola_delhi/images/Albert-Moratalla-Guerrero.jpg" class="img-responsive" style="margin:0 auto;">
			</div>
			<div class="escola-w50 pull-left">
				<div class="escola-title black fw600">Albert Moratalla Guerrero</div>
				<br/>
				<div class="coach-desg black fw700">(Technical Director, Barça Academy Mumbai)</div>
				<br/>
				<ul>
					<li>&bull;&nbsp;UEFA “A” License Coach (Catalan Football Federation)</li>
					<li>&bull;&nbsp;Degree in Project Management (Construction)</li>
					<li>&bull;&nbsp;4 seasons at Barça Academy</li>
					<li>&bull;&nbsp;3 seasons at Barça Academy Barcelona</li>
					<li>&bull;&nbsp;1 season as Technical Director Barça Academy Qingdao (China)</li>
					<li>&bull;&nbsp;Head coach at Barça Academy Camps for 2 year (8 cities)</li>
				</ul>
			</div>
			<div class="sprite-new close-btn absolute"></div>
		</div>
	</div>
	<br clear="all" />
</div>
<div class="section bg-white hide-in-mobile show-in-desktop minHeight minHeight relative"  id="training">
	<div class="escola-container">
		<div class="escola-title yellow fw700">COACHING HIGHLIGHTS</div>
		<div class="escola-content">
			<div class="highlights-tabs">
				<a data-event-category="fcbescola-training-highlights" data-event-action="click" data-event-name="training sessions" class="highlights-btn highlights-btn-active text-center" rel="training-sessions" href="javascript:;">Coaching<br>Sessions</a>
				<a data-event-category="fcbescola-training-highlights" data-event-action="click" data-event-name="play regular" class="highlights-btn text-center" rel="play-regular" href="javascript:;">Internal<br>Leagues</a>
				<a data-event-category="fcbescola-training-highlights" data-event-action="click" data-event-name="participate in matches" class="highlights-btn text-center" rel="participate" href="javascript:;">Domestic<br/>Exposure</a>
				<a data-event-category="fcbescola-training-highlights" data-event-action="click" data-event-name="represents fcbescola" class="highlights-btn text-center" rel="represent-escola" href="javascript:;">International<br/>Exposure</a>
				<a data-event-category="fcbescola-training-highlights" data-event-action="click" data-event-name="more than the training" class="highlights-btn text-center" rel="more-than" href="javascript:;">More than <br/>Football</a>
			</div>
		</div>
		<div class="highlights-content" id="training-sessions">
			<div class="highlights-title">Coaching Sessions </div>
			<div class="escola-content text-justify w85">
				<p>Each of our training sessions lasts 75 minutes to ensure quality time to learn and adapt to the philosophies of FC Barcelona. In this duration, each player will be taught on the famed syllabus of FC Barcelona with our specialised coaches who are hand-picked by our Technical Director. Each training group contains between 8-14 players which ensures that each and every player receives quality attention from all of our coaches.</p>
			</div>
		</div>
		<div class="highlights-content" id="play-regular" style="display:none;">
			<div class="highlights-title">Internal Leagues</div>
			<div class="escola-content text-justify w85">
				<p>We believe that competition is important for a player’s development, as it is important to implements all that’s been practiced during the sessions. The Barça Academy program aims to give a competition experience, not merely a competition focused on a score or a classification. To inculcate this philosophy and to give continuous match day practice to our players, we organise an 8-week long league in every cycle of this season to keep the competitive spirit up in its players.</p>
			</div>
		</div>
		<div class="highlights-content" id="participate" style="display:none;">
			<div class="highlights-title">Domestic Exposure</div>
			<div class="escola-content text-justify w85">
				<p>To give more exposure to its players, Barça Academy plays friendlies against a host of football schools and participates in external leagues and tournaments. We regularly play friendlies against PSG Academy India, BBFS Football Schools and RSA. These friendlies are played with the aim of giving match practice to our players ahead of important tournaments that we participate in.<br>
				As per domestic tournaments we have participated and won the RSA cup for the last 2 years consecutively.
				</p>
			</div>
		</div>
		<div class="highlights-content" id="represent-escola" style="display:none;">
			<div class="highlights-title">International Exposure</div>
			<div class="escola-content text-justify w85">
				<p>We select players for our Top Squad every season which represents Barça Academy at various international tournaments. Special training sessions are held on Fridays for the top squad which alternates monthly between the Escola centers.<br>
					Every year we participate in the Barça Academy International tournament which is held in Barcelona and is the most prestigious event of our season. Apart from that we also participate in Dubai Super Cup and Singa Cup.

				</p>
			</div>
		</div>
		<div class="highlights-content" id="more-than" style="display:none;">
			<div class="highlights-title">More than Football</div>
			<div class="escola-content text-justify w85">
				<p>We recognize the importance of different aspects required in player development. Apart from football training and matches, physical conditioning plays a very important and integral part, thus we have a value added program mandatory for every player.<br>
					These sessions are conducted in addition to the regular sessions. The main objective of these programs is to improve the performance of our players and give them the best knowledge and training.
				</p>
			</div>
		</div>
		<div class="relative">
			<div class="thumbnail-wrapper relative" >
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/Coaching_Sessions.jpg" class="training1">
						<img src="/fcbescola_delhi/images/Coaching_Sessions.jpg" class="img-responsive lazy">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/Coaching_Sessions2.jpg" class="training1">
						<img src="/fcbescola_delhi/images/Coaching_Sessions2.jpg" class="img-responsive lazy">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/Internal-Leagues.jpg" class="training1">
						<img src="/fcbescola_delhi/images/Internal-Leagues.jpg" class="img-responsive lazy">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/Domestic-Exposure.jpg" class="training1">
						<img src="/fcbescola_delhi/images/Domestic-Exposure.jpg" class="img-responsive lazy">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/International-Exposure.jpg" class="training1">
						<img src="/fcbescola_delhi/images/International-Exposure.jpg" class="img-responsive">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/More-than-Football.jpg" class="training1">
						<img src="/fcbescola_delhi/images/More-than-Football.jpg" class="img-responsive">
					</a>
				</div>
				<div class="thumbnail-box pull-left">
					<a href="/fcbescola_delhi/images/More-than-Football2.jpg" class="training1">
						<img src="/fcbescola_delhi/images/More-than-Football2.jpg" class="img-responsive">
					</a>
				</div>
			</div>
			<p class="absolute home-slider-controls"><span id="home-slider-prev"><a class="bx-prev" href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></span> <span id="home-slider-next"><a class="bx-next" href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></span></p>
		</div>
	</div>
	<br clear="all" />
</div>

<div class="section escola-gray-bg show-in-mobile minHeight" id="training-highlights">
<br/><br/><br/>
	<div class="escola-container"><div class="escola-title yellow fw700">COACHING HIGHLIGHTS</div>
	<br/>
	<div class="accordian-escola">
		<div class="accordian-wrapper">
			<button class="accordion">
				<span class="acc-content">Coaching Sessions</span>
			</button>
			<div class="panel text-justify">
				<p>Each of our training sessions lasts 75 minutes to ensure quality time to learn and adapt to the philosophies of FC Barcelona. In this duration, each player will be taught on the famed syllabus of FC Barcelona with our specialised coaches who are hand-picked by our Technical Director. Each training group contains between 8-14 players which ensures that each and every player receives quality attention from all of our coaches.</p>
			</div>
		</div>
	</div>
	<div class="accordian-escola">
		<div class="accordian-wrapper">
			<button class="accordion">
				<span class="acc-content">Internal Leagues</span>
			</button>
			<div class="panel text-justify">
				<p>We believe that competition is important for a player’s development, as it is important to implements all that’s been practiced during the sessions. The Barça Academy program aims to give a competition experience, not merely a competition focused on a score or a classification. To inculcate this philosophy and to give continuous match day practice to our players, we organise an 8-week long league in every cycle of this season to keep the competitive spirit up in its players.</p>
			</div>
		</div>
	</div>
	<div class="accordian-escola">
		<div class="accordian-wrapper">
			<button class="accordion">
				<span class="acc-content">Domestic Exposure</span>
			</button>
			<div class="panel text-justify">
				<p>To give more exposure to its players, Barça Academy plays friendlies against a host of football schools and participates in external leagues and tournaments. We regularly play friendlies against PSG Academy India, BBFS Football Schools and RSA. These friendlies are played with the aim of giving match practice to our players ahead of important tournaments that we participate in.<br><br>
				As per domestic tournaments we have participated and won the RSA cup for the last 2 years consecutively.
</p>
			</div>
		</div>
	</div>
	<div class="accordian-escola">
		<div class="accordian-wrapper">
			<button class="accordion">
				<span class="acc-content">International Exposure</span>
			</button>
			<div class="panel text-justify">
				<p>We select players for our Top Squad every season which represents Barça Academy at various international tournaments. Special training sessions are held on Fridays for the top squad which alternates monthly between the Escola centers.</p><br>
				<p>Every year we participate in the Barça Academy International tournament which is held in Barcelona and is the most prestigious event of our season. Apart from that we also participate in Dubai Super Cup and Singa Cup.</p>
			</div>
		</div>
	</div>
	<div class="accordian-escola">
		<div class="accordian-wrapper">
			<button class="accordion">
				<span class="acc-content">More than Football</span>
			</button>
			<div class="panel text-justify">
				<p>We recognize the importance of different aspects required in player development. Apart from football training and matches, physical conditioning plays a very important and integral part, thus we have a value added program mandatory for every player.</p><br>
				<p>These sessions are conducted in addition to the regular sessions. The main objective of these programs is to improve the performance of our players and give them the best knowledge and training.</p>
			</div>
		</div>
	</div></div>

</div>
<div class="section escola-gray-bg minHeight" id="programs">
	<div class="escola-container">
		<br clear="all" />
		<div class="escola-title yellow fw700">PROGRAMS</div>
		<div class="escola-content text-justify">
			For any player to join Barça Academy, he would have to first give a trial at any of our centres where the technical director from FCB will assess the child’s performance and recommend an appropriate program for the player according to his skill and age.
		</div>

		<div class="escola-subtitle">FORMATIVE (BEGINNER)</div>
		<div class="escola-content text-justify">
			Formative program has been custom designed to fulfil the needs of those players who need to focus on their own individual development & role in the game. The program is crafted to impact both skills and personality aspects of individual player development. Attention is given to coordination skills, both General Dynamic Coordination (with our own body) and Special Dynamic Coordination (movement interacting with mobile objects) and sharpening of Motor Skills to use them more effectively in the game.<br><br>
			The Formative program is a year long commitment and runs over 36 weeks. To accommodate various festivals and academic calendar of various schools and for a player’s convenience we have three 12week modules per season with two coaching sessions per week of 75 minutes each.<br><br>
			<!-- Our coaches regularly monitor the player’s progress in the Formative program and try to move them to the Escola program if they deem him fit for the Escola program.<br> <br> -->

		</div>
		<hr/>
		<div class="escola-subtitle">Escola (Advanced)</div>
		<div class="escola-content text-justify">
			This is the flagship program of Barça Academy designed not only to enhance the individual skills, but also to develop players as part of the team. The program is offered to young talented girls and boys selected after extensive trials. Barça Academy Delhi NCR top squads are carved out of the Escola program; top squads are given opportunities to participate in national and international tournaments.<br><br>
			The Escola program includes 36 weeks of intensive coaching. To accommodate various festivals and academic calendar of various schools and for a player’s convenience we have three 12 weeks modules per season with three coaching sessions per week of 75 minutes with one of them marked as a match-day.<br/><br/>
		</div>
		<!--<div class="age-category">Age Categories: U6, U8, U10, U12, U14, U16, U18</div>-->
	</div>
</div>

<div class="section minHeight" id="venue-details">
	<div class=" escola-title escola-venue-title yellow fw700 yellow">VENUE DETAILS</div>
	<div class="pull-left wrapper  mh900 venue-content">


		<div class="venue-right-content">
			<div class="escola-title yellow text-center fw700">DELHI NCR</div>
			<div class="escola-content white text-center h240">
				<div class="centers-delhi">
					<a href="javascript:;" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-gurgaon" rel="gurgaon" class="active-center">Gurgaon</a> | <a href="javascript:;" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-saket" rel="saket">Saket</a> | <a href="javascript:;" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-noida" rel="noida">Noida</a> <!-- | <a href="javascript:;" rel="westdelhi" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-west-delhi">West Delhi</a> -->  | <a href="javascript:;" rel="vasantkunj" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-vasant-kunj">Vasant Kunj</a>| <a href="javascript:;" rel="dwarka" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="dwarka">Dwarka</a> |
					<a href="javascript:;" rel="centraldelhi" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="centraldelhi">Central Delhi</a> |
					<a href="javascript:;" rel="rohini" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="rohini">Rohini</a>
				</div>

				<div class="venue-details-delhi" id="gurgaon">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp;Gurgaon</span><br/><span>Gate No. 4, Barça Academy Ground, <br/>The Heritage School, Sector-62, Gurgaon.</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i></span>&nbsp;Monday, Wednesday & Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM</div>
				</div>

			<!-- 	<div class="venue-details-delhi" id="westdelhi" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;</span> West Delhi</span><br/><span>  IOS Maidan, Centre for Sports Excellence at<br/> Shivaji College, Near Raja Garden, New Delhi</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span>Tuesday, Thursday, Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM</div>
				</div>
 -->

				<div class="venue-details-delhi" id="saket" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp;Saket</span><br/><span>Gate no. 4,  Gyan Bharti School,<br> Saket, New Delhi</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Tuesday, Thursday, Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM</div>
				</div>

				<div class="venue-details-delhi" id="noida" style="display:none;">
					<div class="center">
						<!-- <span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Noida</span><br/><span> Gate No. 2, Amity International School,<br> Sector 44, Noida</span> -->
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Noida</span><br/><span> Gate No. 6A, Barça Academy Ground, Amity University,<br> Sector 125, Noida</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Monday, Wednesday, Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM </div>
				</div>

				<div class="venue-details-delhi" id="vasantkunj" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Vasant Kunj</span><br/><span> The Heritage School, Vasant Kunj</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Saturday, Sunday </div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 8:00 AM - 9:15 AM & 9:20 AM - 10:35 AM </div>
				</div>

				<div class="venue-details-delhi" id="dwarka" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Dwarka</span><br/><span>Delhi International School, Sector 23</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Tuesday, Thursday, Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4.45 PM to 6.00 PM </div>
				</div>
				<div class="venue-details-delhi" id="centraldelhi" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Central Delhi</span><br/><span>Football Ground DTEA School, <br/>Pusa Road, New Delhi</span>
					</div>
					<!-- <div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span></div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span></div> -->
				</div>
				<div class="venue-details-delhi" id="rohini" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp; Rohini</span><br/><span>The Heritage School, Sector 23, Rohini </span>
					</div>
					<!-- <div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Tuesday, Thursday, Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4.45 PM to 6.00 PM </div> -->
				</div>

			</div>
		</div>
		<div class="venue-left-content hide-in-mobile">
			<div class="delhi-ncr-bg map-container ">
				<iframe data-src="https://www.google.com/maps/d/embed?mid=1cGE-hS5bWTGt_bZCFWAl13GoDZ0" width="100%" height="400" class="lazy"></iframe>
				<!-- <iframe data-src="https://www.google.com/maps/d/embed?mid=1cGE-hS5bWTGt_bZCFWAl13GoDZ0" width="100%" height="400" class="lazy"></iframe> -->
			</div>
		</div>
		<div class="clear"></div>
		<div class="">
			<a href="https://www.google.com/maps/d/embed?mid=1cGE-hS5bWTGt_bZCFWAl13GoDZ0" class="hide-in-desktop gmap-btn">Google Maps</a>
		</div>

	</div>
	<!-- <div class="pull-right escola-w50">

		<div class="padding50">
			<div class="escola-title yellow text-center fw700">MUMBAI</div>
			<div class="escola-content white text-center h240">
				<div class="centers-mumbai">
					<a href="javascript:;" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-Matunga" rel="matunga" class="active-center">Matunga</a> | <a href="javascript:;" data-event-category="fcbescola-venue-details" data-event-action="click" data-event-name="venue-andheri east" rel="andherieast">Andheri East</a>
				</div>

				<div class="venue-details-mumbai" id="matunga">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp;Matunga</span><br/><span>Don Bosco School, Matunga, Mumbai</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Monday, Tuesday, Wednesday,<br/> Thursday & Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM</div>
				</div>

				<div class="venue-details-mumbai" id="andherieast" style="display:none;">
					<div class="center">
						<span class="f24"><span class="yellow"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp;Andheri East</span><br/><span> St. Dominic Savio High School,<br/> Andheri East, Mumbai</span>
					</div>
					<div class="opearting-days"><span class="yellow"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</span> Monday, Wednesday & Saturday</div>
					<div class="batches"><span class="yellow"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;</span> 4:45 PM - 6 PM & 6:05 PM - 7:20 PM</div>
				</div>
			</div>
		</div>
		<div class="mumbai-ncr-bg map-container hide-in-mobile">
			<iframe data-src="https://www.google.com/maps/d/u/0/embed?mid=1kCv9u-2vPS6eV60PwcucC89Woq8" width="100%" height="300" class="lazy"></iframe>
		</div>
		<a href="https://www.google.com/maps/d/u/0/embed?mid=1kCv9u-2vPS6eV60PwcucC89Woq8" class="hide-in-desktop gmap-btn">Google Maps</a>
	</div> -->
	<br clear="all" />
</div>

<div class="section minHeight relative" id="admissions">
	<div class="absolute escola-banner-content">
		<div class="escola-title black fw700">
			ADMISSIONS PROCESS
		</div>
	</div>
	<div class="escola-banner slide slide-auto">
		<div class="process-container">
			<div class="circle circle1">
				<img data-src="/fcbescola_delhi/images/Circle1.png" class="img-responsive lazy">
			</div>
			<div class="circle">
				<img data-src="/fcbescola_delhi/images/Circle2.png" class="img-responsive lazy">
			</div>
			<div class="circle">
				<img data-src="/fcbescola_delhi/images/Circle3.png" class="img-responsive lazy">
			</div>
			<div class="clear"></div>
			<div class="process-footer">
				<div class="footer-content pull-left">
					Welcome to Barça Academy Delhi
				</div>
				<div class="footer-logo pull-right">
					<img data-src="/fcbescola_delhi/images/FCBLogo_DELHI-jun.png" class="img-responsive lazy">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<div class="section escola-gray-bg minHeight" id="faq">

	<div class="escola-container minHeight">
		<div class="escola-title yellow fw700">FAQs</div>
		<br/>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 1" class="acc-content">Can my child have a trial session to see if he/she likes it?</span>
				</button>
				<div class="panel">
					<p>Yes, we give an opportunity to children to have a trial. Please fill in the registration form or contact the center of interest with this enquiry and we can arrange an appropriate session for your child to attend</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 2" class="acc-content">What needs to be brought to each session?</span>
				</button>
				<div class="panel">
					<p>Footwear suitable for the surface, shin guards, named water bottle, tracksuit top/sweatshirt in winter period if necessary. Each player must wear an appropriate uniform (provided) for match day or a regular training session.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 3" class="acc-content">Can parents stay and watch?</span>
				</button>
				<div class="panel">
					<p>Yes, at Barça Academy Delhi NCR venues parents are permitted to remain onsite whenever training sessions/matches take place. However, parents must be outside the football pitch and are strictly not allowed to cross the field when sessions take place, or speak to the players during the training session.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 4" class="acc-content">Can I enroll my child for a short-term program?</span>
				</button>
				<div class="panel">
					<p>No, unfortunately we do not run short-term programs. FC Barcelona offers 3 types of memberships depending on the duration of the program: 3, 6 and 9 months memberships.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 5" class="acc-content">Can I transfer my child from one branch to another?</span>
				</button>
				<div class="panel">
					<p>Yes, however it depends on the availability in a desired branch for your child’s specific age group. Should you have such enquiry, please feel free to contact the respective venue coordinator to arrange for the transfer or a waiting list.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 6" class="acc-content">What are the payment options do I have and can  I pay for the memberships in several installments?</span>
				</button>
				<div class="panel">
					<p>Payment can be made by either Cash or Cheque. Membership payments are to be made at once upon registration. No installments option is available. But the player can choose the membership duration as per their payment comfort.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 7" class="acc-content">Will my child’s performance on the field be improved?</span>
				</button>
				<div class="panel">
					<p>It is our aim for every child to gain success at their individual as well as a team level. Our coaching staff are specifically trained to pass on how FC Barcelona players are trained. Our specially designed coaching programs help improve the skill levels in all children.</p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion">
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 8" class="acc-content">Is Barça Academy a residential academy?</span>
				</button>
				<div class="panel">
					<p>No, Barça Academy is an after-school programme and not a residential academy. </p>
				</div>
			</div>
		</div>
		<div class="accordian-escola">
			<div class="accordian-wrapper">
				<button class="accordion" >
					<span data-event-category="fcbescola-faq" data-event-action="click" data-event-name="faq 9" class="acc-content">Is transportation provided by Barça Academy?</span>
				</button>
				<div class="panel">
					<p>No, the players need to commute on their own.</p>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
</div>

