<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @metatitles %></title>
	<meta name="keywords" content="<%= @metakeywords %>"/>
	<meta name="description" content="<%= @metadescription %>"/>
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="stylesheet" href="/fcbescola/stylesheets/colorbox.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		 <link rel="stylesheet" href="/fcbescola/stylesheets/intlTelInput.css">
<!--[if  IE ]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body { 
	border:0; margin:0; padding:0;
	font-family: 'Roboto', sans-serif; font-size: 15px; 
	line-height: 25px;
	color: #000;
	font-weight: 400;
}


a{
	border: 0;
	outline: 0;
	    text-decoration: none;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

/*.sibling-text{margin-top: 12px;}*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(247,192,52,0.8); 
	background:rgba(247,192,52,0.8);
}

.clear { 
	clear:both; 
}
.white{
	color: #fff !important;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section{
	width: 100%;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
	width: 60px;
	margin: 0 auto;
}

.virtual-number-mobile{
	display: none;
}

.header-wrapper{
	width: 100%;
	background: rgba(0,0,0,1);
	padding: 10px 20px;
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.header-wrapper-scrolled{
	width: 100%;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.img-responsive{
	max-width: 100%;
}
.f22{
	    font-size: 34px;
    line-height: 45px;
    font-weight: 700;
}
.main-banner{
	background: url(/fcbescola/images/Registration-IMg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 100px;
    
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}


.banner-title {
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 31px;

    
    top: 0;
    background: rgba(0, 0, 0, 0.55);
}
.tt{text-transform: uppercase;}
.banner-title ul li{
	list-style-type: none;
}
.banner-title ul{
	    margin-top: 6%;
	        padding: 0;
	        color: #fff
}

.yellow{
	color:#F9BF1E !important;	
}

.form-wrapper{
	width: 50%;
}

.details-wrapper{
	width: 50%;
	padding: 0px 20px;
}

.details-wrapper li{
	 list-style-type: none;
    padding: 0px 0px 15px 0px;
    font-size: 15px;
}

.details-wrapper ul{
	padding-left: 0px;
	margin:0;
}

.details-wrapper li img{
	display: inline-block;
	margin-right: 10px;
}

.details-wrapper li span{
	display: block;
	vertical-align: top;
	float: left;
}

.video-box{
	width: 95%;
    /*height: 325px;
    background-image: url(/images/Video-Thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.padding50{
	padding: 50px 0px;
}

.form-btn{
	color: #000;
	font-size: 16px;
	border: 1px solid #ecf0f1;
	padding: 10px 0px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 50%;
}


.barcalonaclinicHd {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin-bottom: 25px;
}

.virtual-number{
	    width: 250px;
    background-color: #f9c136;
    position: fixed;
    right: -200px;
    top: 10%;
    z-index: 999;
    padding: 10px;
    font-size: 16px;
    transition:0.6s;
    cursor: pointer;
}

.number {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 0px;
    margin-left: 5px;
}
/*Normal Form*/
.check-mark{
	background-color: #d9130e;
	border-radius: 100%;
	color: #fff;
	width: 26px;
	height: 26px;
	text-align: center;	
	margin-right: 5px;
}

.pointers{
	width: 84%;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #cccccc !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    height: 32px !important;
}
.form-container {
    padding: 20px 40px;
    background-color: #ecf0f1;
}
.lable-text {
    font-size: 12px;
    font-weight: bold;
}
.form-fields {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.logo img{
	border: 0; text-decoration: none;
}
.form-style {
display: block;
    width: 98%;
    height: 34px;
    font-size: 12px;
    line-height: 1.42857143;
    padding: 6px 12px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-style:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
label.error {
    position: absolute;
    top: 90%;
    font-size: 10px;
}
.form-fields .lable-text span, .form-sub-title span, .form-fields span, label.error {
    color: #f00;
}
.clearfix{
	clear: both;
}
.col-6{
	float: left;
	width: 50%;
}
.show-siblings{
	cursor: pointer;
}
.sibling-text,.sibling-text span{
	color: #000;
	font-weight: bolder;
	font-size: 12px;
}
#sibling-field{
	display: none;
}
.submit-btn {
    background-color: #f8c034;
    padding: 8px 15px;
    width: 200px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	font-size: 12px;
}
.country span{
	color: #333;
}
.intl-tel-input{
	width: 100%;
}
#form-success{
	color: #000;
	padding: 50px 20px;
	font-size: 18px;
}
@media (max-width: 1024px){
.details-wrapper li{
		padding: 0px 0px 15px 0px;
	}

.details-wrapper li span{
	font-size: 14px;
}
/*
.video-box{
	height: 270px;
}*/

	/*.details-wrapper li img{
		display: none;
	}*/
}


@media (max-width: 786px){
	.banner-title ul {
    margin-top: 18%;}
.details-wrapper li{
		padding: 0px 0px 15px 0px;
	}

	/*.details-wrapper li img{
		display: none;
	}*/
/*
	.video-box{
		height: 200px;
	}
*/
	.main-banner{
		margin-top: 74px;
	}
}

@media (max-width: 700px){
	.banner-title ul {
    margin-top: 20%;}
	.banner-title {

    font-size: 18px;
    line-height: 28px;
    
}
	.f22{
		    font-size: 22px;
	    line-height: 34px;
	    font-weight: 700;
	}
	.form-wrapper, .details-wrapper{
		width: 100%;
	}
   .header-wrapper{ padding: 2px 20px; }
	.logo{
		width: 20%;
	}
	.details-wrapper ul{
		margin-top: 20px;
	}

	.details-wrapper li{
		padding: 5px 0px 5px 0px;
		font-size: 16px;
	}

	.virtual-number{
		display: none;
		
	}

	.virtual-number-mobile{
		display: block;
	    width: 100%;
	    position: fixed;
	    background: rgb(53, 53, 53);
	    right: 0;
	    bottom: 0px;
	    z-index: 999;
	    padding: 0px;
	    font-size: 20px;
	    text-align: center;
	    color: #fff;
	 }

	 .number-mobile{
	 	width: 100%;
    	font-size: 16px;
	 }

	 .main-banner{
	 	margin-top: 76px;
	 }

	 .form-container {
	    padding: 20px 20px;
	}
/*
	.video-box {
		height: 170px;
	}*/
/*
	.details-wrapper li img{
		display: none;
	}*/
 .col-6{
 	width: 100%;
 }
  .form-fields{
  	margin-bottom: 10px;
  }
 .form-fields .col-6{
 	margin-bottom: 15px;
 }	
}

</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93759358-1', 'auto');
ga('send', 'pageview');
ga('require', 'displayfeatures');
ga('require', 'ecommerce', 'ecommerce.js'); 
</script>
</head>
<body>
<div class="virtual-number">
		<div class="pull-left number" data-event-category="fcbescola-number-button" data-event-action="click" data-event-name="phone icon">
			<i class="fa fa-phone" aria-hidden="true"></i>
		</div>
		<div class="pull-left virtual-number-wrapper">
			<span>&nbsp;<!-- Delhi NCR: --> <span class="sell_do_virtual_numbers"></span></span> <br/>
		</div>
		<div class="clear"></div>
	</div>
	<div class="virtual-number-mobile">
		<div class="pull-left number-mobile  virtual-number-wrapper">
			<span>&nbsp;	<!-- Delhi NCR: --> <span class="sell_do_virtual_numbers"></span></span> <br/>
		</div>
		<div class="clear"></div>
	</div>
<div class="header-wrapper">
	<div class="container">
		<div class="logo">
			<a href="/" ><img src="/fcbescola/images/conscient_football_logo.png" class="img-responsive"></a>
		</div>
	</div>
</div>
<div class="section main-banner slide relative">
	<div class="absolute banner-title ">
		<ul>
		<li class="yellow tt f22">FCBEscola Dwarka Open Trial</li>
		<li>Venue: Delhi International School, Sec-23, Dwarka</li>
		<li>Trial Date: 26th November, 2017</li>
		<li>Age: 5-14 years</li>
		<li>Time: 9:00 A.M onwards</li>
		</ul>
	</div>
</div>
<div class="section padding50">
	<div class="container">

		<div class="form-wrapper pull-right">
			<!-- <div class="form-title">
				<a href="javascript:;" class="form-btn active-form-btn" rel="minor">IF (MINOR)</a><a href="javascript:;" rel="parent" class="form-btn">IF (PARENTS)</a>
			</div> -->
			<div class="form-container" id="minor">
				<div class="barcalonaclinicHd">TRIAL REGISTRATION</div>
			<div id="form-field-wrapper">
				<div class="clinic-form" id="form_fields">
					<form action="/regsubmit_dwarka" class="registration_form" name="registration_form" id="registration_form" method="post" novalidate="novalidate">
						<div class="pull-left form-fields">
							<label class="lable-text">Player's Name <span>*</span></label><br/>
							<input type="text" name="reg[fullname]" class="form-style required letterswithbasicpunc validname" tabindex="1" id="participant_name" placeholder="Player" maxlength="120">
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
							<label class="lable-text">Guardian's Phone <span>*</span></label><br/>
							<input type="text" name="reg[guardians_phone]" class="form-style required" value="+91" tabindex="2"   placeholder="Guardian Phone" id="phone_number"> 
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
							<label class="lable-text">Guardian's Email <span>*</span></label><br/>
							<input type="text" name="reg[guardians_email]" class="form-style required email" tabindex="3" placeholder="Guardian Email" id="guardian_email" maxlength="120">
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
							<div class="col-6">
								<label class="lable-text">Gender <span>*</span></label><br/>
								<input type="radio" name="reg[gender]" class="radio-style required" tabindex="4" value="male"><label>Male</label><br/>
								<input type="radio" name="reg[gender]" class="radio-style required" tabindex="4" value="female"><label>Female</label>
							</div>
							<div class="col-6">
								<label class="lable-text">Date of Birth <span>*</span></label><br/>
								<input type="text" name="reg[date_of_birth]" class="form-style required datepicker" tabindex="5" placeholder="Select Date" readonly>
								<div style="font-size:11px;color:#000;line-height:14px;">Children between 5 - 14 years of age can only apply.</div>	
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
							<div class="col-6">
								<!-- <label class="lable-text">City <span>*</span></label><br/>
								<select  name="reg[city]" class="form-style required" tabindex="6">
									<option value="">Select</option>
									<option value="Mumbai">Mumbai</option>
									<option value="Delhi">Delhi</option>
								</select> -->
								<input type="hidden"  name="reg[city]" value="Delhi" >
							</div>
							<div class="col-6">
								<label class="lable-text">Preferred Center <span>*</span></label><br/>
								<select name="reg[preferred_center]" class="form-style required" tabindex="7">
								<!-- 	<option value="">Select</option> -->
								<!-- 	<option value="573e9be0a7a0396c6f00011e">Noida Center</option>
									<option value="573e99825413856c68000146">South Delhi Center</option>
									<option value="573e9a64a7a0396c6f0000ef">Gurgaon Center</option>
									<option value="573e99fd3bb2f81091000095">West Delhi Center</option> -->
									<option value="5a0573777c0dac55d576035d" selected="">Dwarka Center</option>
<!-- 									<option value="573e9c803bb2f8a95d00002e">Andheri East Center</option>
									<option value="573e9c375413853d070000e8">Matunga Center</option>
									<option value="59703f94541385984000029e">South Mumbai</option> -->
								</select>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
								<label class="lable-text">School Name <span>*</span></label><br/>
								<select  name="reg[school_name]" class="form-style required" tabindex="8">
								</select>
								<div style="font-size:11px;color:#000;line-height:14px;">
									Incase your School name is missing, input your school name in the box and press enter.
								</div>
						</div>
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
							<label class="sibling-text">
								Have a sibling who is also interested? 
								<span class="show-siblings" style="text-decoration:underline;">Click Here</span>	
							</label>
						<div class="clearfix"></div>
						</div>
						
						<div class="pull-left form-fields" id="sibling-field">
							<div class="col-6">
								<label class="lable-text">Sibling Name </label>
								<input type="text" name="reg[sibling_name]" class="form-style required validname sibling-text" tabindex="9" placeholder="Sibling Name" maxlength="120">
							</div>
							<div class="col-6">
								<label class="lable-text">Sibling Number</label>
								<input type="text" name="reg[sibling_number]" class="form-style required number" tabindex="10"  placeholder="Sibling Number" maxlength="14">
							</div>
						</div>	
						<div class="clearfix"></div>
						<div class="pull-left form-fields">
								<input class="bgyellow submit-btn" type="submit" value="Submit">
						</div>
						<div class="clearfix"></div>

					</form>
				</div>
			</div>
			<div id="form-success" style="display:none;">
				Thank you for submitting your details. We will get in touch with you soon.
			</div>						


			</div>
			<!-- <div class="form-container" id="parent" style="display:none;">
				<script src='//trkr.scdn1.secure.raxcdn.com/t/forms/573c82f7541385bf32000033/58b915ec3bb2f8073a000861.js' data-form-id='58b915ec3bb2f8073a000861'></script>
			</div> -->
		</div>
		<div class="details-wrapper pull-left">
			<ul>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Official Football School of FC Barcelona started in 2011</span>
				<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Coaching for players between 5-14 years of age</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Permanently stationed technical director from FC Barcelona</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Centres in Gurgaon, Rajouri Garden, Saket, Noida & Vasant Kunj</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Free Trial Session</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Small Training groups (8-14 players)</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Internal Leagues & Friendly Matches</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Chance to represent FCBEscola in the annual EIT tournament in Barcelona, Spain.</span>
					<div class="clear"></div>
				</li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span  class="pointers">Players receive the same education as Lionel Messi, Andrés Iniesta, Sergio Busquets & Gerard Piqué, among other FCB legends.
				</span>
					<div class="clear"></div>
				</li>
			</ul>
			<a class="video-box" href="javascript:;" style="display:block">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/m7V87laf_IE" frameborder="0" allowfullscreen></iframe>
			</a>
			
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="footer text-center yellow">
	&copy; Copyright 2017. All Rights Reserved
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="/javascripts/jquery.colorbox.js"></script>	
<script src='//trkr.scdn1.secure.raxcdn.com/t/573c82f7541385bf32000033.js'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/fcbescola/javascripts/intlTelInput.js"></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script>

<script>
$(document).ready(function(){
    var countryData = $.fn.intlTelInput.getCountryData()
    var countryCode='in';
    $("#dial_code").val('91');
telInput = $("#phone_number"),
addressDropdown = $("#country_list");
// init plugin
telInput.intlTelInput({initialCountry: "in",nationalMode: true,utilsScript: "/fcbescola/javascripts/utils.js"});
// populate the country dropdown
$.each(countryData, function(i, country) {
addressDropdown.append($("<option></option>").attr("value", country.iso2).attr("data-country-name", country.name.split("(")[0]).attr("data-dial-code", country.dialCode).text(country.name.split("(")[0]));
});
// set it's initial value
var initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
addressDropdown.val(initialCountry);

// listen to the telephone input for changes
telInput.on("countrychange", function(e, countryData) {
    addressDropdown.val(countryData.iso2);
    $("#phone_number").val('+'+countryData.dialCode);
});

// listen to the address dropdown for changes
addressDropdown.change(function() {
    telInput.intlTelInput("setCountry", $(this).val());
    $("#phone_number").val($(this).find("option:selected").data("dial-code"));
    //$("#countryname").val($.trim($("#country_list").find("option:selected").data("country-name")));
});
});
</script>

<script type="text/javascript">
$(document).ready(function(){
	$('.show-siblings').on('click',function(){
		$('#sibling-field').slideToggle();
	});

   var ht = $(window).height();              
  $.validator.setDefaults({
            submitHandler: function() {
             $('#form_fields').hide();

             $('#form-success').show();
             
             $("html, body").animate({scrollTop:$(".form-container").offset().top-180},"slow");

              trackecommerce("UA-93759358-1","", "Conscient fcbescola", $("#guardian_email").val(), $("#phone_number").val());
 			 try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}
 			 
  			 $.ajax({
                type:"POST",
                dataType:"json",
                url:$("#registration_form").attr("action"),
                data:$("#registration_form").serialize(),
                success: function(resp, status, xhr){
                  if(resp.status == "success"){
                 
                  }
                  else{
                  }
                },
                error: function(resp, status, xhr){
                }
              });
            }
  });
  $("#registration_form").validate();


$(".datepicker").datepicker({yearRange: '2003:2012',changeYear: true,changeMonth: true,defaultDate: '01/01/2012',dateFormat: 'dd/mm/yy'});
$(document).on('change', 'select[name="reg[city]"]', function(){
	//console.log('ss');	
	if($('select[name="reg[city]"] option:selected' ).val()=='Mumbai'){
		$('select[name="reg[preferred_center]"]' ).html('<option value="">Select</option><option value="573e9c803bb2f8a95d00002e">Andheri East Center</option><option value="573e9c375413853d070000e8">Matunga Center</option><option value="59703f94541385984000029e">South Mumbai</option>');
		
	}else if($('select[name="reg[city]"] option:selected' ).val()=='Delhi'){
		$('select[name="reg[preferred_center]"]').html('<option value="">Select</option><option value="573e9be0a7a0396c6f00011e">Noida Center</option><option value="573e99825413856c68000146">South Delhi Center</option><option value="573e9a64a7a0396c6f0000ef">Gurgaon Center</option><option value="573e99fd3bb2f81091000095">West Delhi Center</option>');
		
	}else{
		$('select[name="reg[preferred_center]"]').html('<option value="">Select</option><option value="573e9be0a7a0396c6f00011e">Noida Center</option><option value="573e99825413856c68000146">South Delhi Center</option><option value="573e9a64a7a0396c6f0000ef">Gurgaon Center</option><option value="573e99fd3bb2f81091000095">West Delhi Center</option><option value="573e9c803bb2f8a95d00002e">Andheri East Center</option><option value="573e9c375413853d070000e8">Matunga Center</option><option value="59703f94541385984000029e">South Mumbai</option>');
			
	}
});
   var school_array=["","MBS International School", "J M International School", "Shanti Gyan Niketan Senior Secondary Public School", "Vandana Kindergarten ", "ADARSH WORLD SCHOOL ", "Itl Public School ", "Icon International School ", "Abhinav Global School ", "Bal Bharti Public School",  "Basava International School", "Modern Convent School", "Shanti Gyan Vidyapeeth Goyal (Dwarka)", "St Mary School", "Kamal International School", "Shiksha Bharti Public School", "GD Goenka Public School", "Vandana Intl School", "OPG World School", "SAM International School", "Delhi International School ", "The Indian Heights School", "Gyan Sagar Public School", "KAMAL MODEL SR. SEC. SCHOOL", "Queen's Valley School", "Delhi Community College", "MDH International School", "Jinvani Bharti Public School", "Bal Bhavan International School", "Modern International School", "O P G School",  "Indraprastha Intl School", "Paramount International School", "Saraswati Model School", "Rajkiya Pratibha Vikas Vidyalaya", "BGS International Public School", "Kendriya Vidyalaya", "New Era Public School", "Jindal Public School", "Delhi international school", "N K Bagrodia Public School", "Vishwa Bharti Public School", "M R Vivekanand Public Model School", "R.D. RAJPAL PUBLIC SCHOOL", "School Of Symphony", "Bhaskar Acharya College Of Applied Sciences", "EuroKids", "Diwakar Navotkarsh Special School", "Royal Presidency School", "Bharathiya Vidya Bhavan Public School", "Mount Carmel School", "Great Mission Public School", "Arun College for Coaching", "Rishikul Intl School", "St Thomas School", "Delhi E College", "Akash Institute", "Shiv Vani Model Sr. Sec. School", "Nirmal Bhartia Public School", "St Gregorios School", "Delhi Public School", "Vishweshraiya College Vcet", "Bhavan's Public School", "Pragati Public School", "RSRD College of Professional Studies", "Shri Venkateshwara Intl School", "Saty Public School", "Dav Public School", "Little Garden (Rose)", "Dwarka International School", "Venkateshwar International School", "Spring Meadows Public School"];
			fLen = school_array.length;
			var text='';
			for (i = 0; i < fLen; i++) {
			   if(school_array[i] == ""){
					text += '<option value="">Select School</option>';
				}
				else{
					text += '<option value="'+school_array[i]+'">' + school_array[i] + '</option>';
				}
			}
			$('select[name="reg[school_name]"]').html(text);
			$('select[name="reg[school_name]"]').select2({tags:true});

});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		var wht=$(window).height();
		var pageSectiionHeight=wht/2;
		$('.slide').height(pageSectiionHeight);
		$(".form-title a").click(function(){
			$(".form-container").hide();
			var link = $(this).attr("rel");
			$("a.form-btn").removeClass("active-form-btn");
			$(this).addClass("active-form-btn");
			$("#"+link).fadeIn();

		});
		$(window).scroll(function() {    
		    var scroll = $(window).scrollTop();
		    if (scroll >= 50) {
		        //clearHeader, not clearheader - caps H
		        $(".header-wrapper").addClass("header-wrapper-scrolled");
		    }else{
		    	$(".header-wrapper").removeClass("header-wrapper-scrolled");	
		    }
		});


	    $(".virtual-number").click(function(){
	  		if($(".virtual-number").css("right") === "-200px"){
	    		$(".virtual-number").css("right", "0px");	
	    	}
	    	else{
	    		$(".virtual-number").css("right", "-200px");
	    	}
	    	
	    });
	if($(window).width()<=700){
		  x = setInterval(function(){
		      if($(".sell_do_virtual_numbers").html().indexOf("+91 11 6661 9488") != -1){
		        clearInterval(x);
		        $(".virtual-number-wrapper").html("<span>Call: <span>+91 11 6661 9488</span></span>");
		      }
		  }, 100);
	}else{
	x = setInterval(function(){
	if($(".sell_do_virtual_numbers").html() == "+91 11 6661 9488"){
		clearInterval(x);
		$(".virtual-number-wrapper").html("<span>Call: <span>+91 11 6661 9488</span></span>");
		}
	}, 100);
	}	

});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WL6C8P');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WL6C8P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- End Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');</script>
<!-- End Google Tag Manager -->
</body>
</html>