<style type="text/css">
	.cpflWrapper{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin-top: 10px;
	}

	.cpflWrapper h3:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		background-color: #f8c135;
		height: 1px;
	}
</style>
<!-- <div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Terms and Conditions</span></a></li>
	</ul>
</div> -->
	<div class="" style="background-color:#1b1b1b;position:relative;">
		<div class="cpflWrapper white">
			<div class="programTitle">
				Terms and Conditions
			</div><br/><br/>
			<p>
				These terms and conditions of use in accordance with the Information Technology Act, 2000 and such rules stated are applicable for amendment under provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000.	
			</p>
			<p>
				This document is concerned with the subject matter of the provisions mentioned in the Rule 3(1) of the Information Technology Act, 2000 for the purpose of enabling the access to the website by publishing the rules and regulations, privacy policy and terms of use for public access or usage of www.conscientfootball.com website.
			</p>
			<p>
				The website www.conscientfootball.com (the ‘website’) is owned & operated by Conscient Football Pvt. Ltd.(‘we’ or ‘us’).
			</p>
			<p>
				Conscient Football Pvt Ltd is registered at 0th Floor,, Tower D, Global Business Park, Gurgaon, Haryana 122002. In these terms and conditions, ‘you’ and ‘your’ means you as the user of the website.
			</p>
			<p>
				These terms and conditions (‘terms and conditions’) govern your use of the Website and by accessing the website, you agree to these terms and conditions.
			</p>
			<p>
				The privacy of your personal information (such as your name, e-mail address, address and other contact details) is important to us. Please see our Privacy Policy details of how we may process your personal information.
			</p>
			<p>
				These terms and conditions, together with the Privacy Policy and the terms and conditions that apply to your use of particular areas of the website shall be collectively referred to as the ‘Agreement’. This Agreement constitutes the entire agreement between you and us.
			</p>
			<p>
				We may from time to time make changes to the terms of this Agreement and all changes shall be posted on the website. Please review these terms and conditions regularly to ensure that you are aware of any changes made to the Agreement. Upon accessing the website, you agree to be bound by those terms and conditions as applicable at that time including any changes, which have been made.
			</p>
			<p>
				Access to the website is permitted on a temporary basis and we reserve the right to withdraw or amend any or all of the website without notice. We may suspend access to the website periodically to carry out emergency or scheduled maintenance or for any other reason at any time. Access to the website is dependent upon availability of the worldwide web and we accept no responsibility for your inability to access the website arising out of any circumstances. We reserve the right to disable your access to the website at any time if, in our opinion, you have failed to comply with any of the provisions of this Agreement.
			</p>
			<p>
				Subject to the terms of this Agreement, we grant to you a non-exclusive, non-transferable, revocable, limited right to access, view, and print out one copy of this website and all data, information, software graphics, images, text, posts and other content on the website (‘materials’) on a single device strictly in accordance with this Agreement.
			</p>
			<p>
				You may only view, print out and use the website and the materials for your own personal, non-commercial use. We expressly reserve all intellectual property rights in and to the website and the materials and your use of the website and materials is subject to the following restrictions. You must not:
			</p>
			<ul>
				<li>(a) Remove any copyright or other proprietary notices contained in the materials;</li>
				<li>(b) Modify the materials in any way or reproduce or publicly display, perform, or distribute or otherwise use them for any public or commercial purpose;</li>
				<li>(c) Transfer the materials to any other person;</li>
				<li>(d) Use any materials from the website in any manner that may infringe any intellectual property right, proprietary right, or property right of us or any third parties; or</li>
				<li>(e) Reproduce, modify, display, perform, publish, distribute, disseminate, broadcast, frame, communicate to the public or circulate to any third party or exploit this website and/or the materials in any way; without our prior written consent.</li>
			</ul>
			<br/>
			<p>
				If you find any content on the website to be in any way offensive, obscene, defamatory, racist, harmful, inaccurate, unlawful, illegal, infringing of any third party rights, deceptive in any way or otherwise in breach of our content standards, please notify us through an email to <a href="mailto:info@conscientfootball.com" style="color:#f9bf1e">info@conscientfootball.com</a> and using the subject heading ‘Unacceptable Content’.
			</p>
			<p>
				We take complaints seriously and on receipt of your complaint we will investigate whether the content breaches our content standards and we may, at our discretion, take appropriate action.
			</p>

			<p>
				We realize and understand that due to the nature of our company and services, many children will visit the website but we recommend all persons under the age of 18 years to consult with their parents or legal guardian before submitting any content or information to this website. Although anyone under the age of 18 years is able to participate in competitions and promotions conducted by us, all notifications of a win or prize will be sent directly to the parent or legal guardian identified in the initial registration process. Any publication of a competition winner’s personal details for visitors under the age of 18 years will require parental or legal guardian consent during registration.
			</p>
			<p>
				We expressly reserve all rights in and to the domain name <a href="http://www.conscientfootball.com" target="_blank" style="color:#f9bf1e">www.conscientfootball.com</a> All trademarks of Conscient Football including but not limited to the CF logo, are owned by Conscient Football Pvt Ltd. Other trademarks, products and company names mentioned on the website may be trademarks of their respective owners or licensors and the rights in such marks are expressly reserved to the respective owners or licensors.
			</p>
			<p>
				You may, upon prior approval from us, provide or host a link to our home page, provided you do so in a way that is fair and legal and which does not damage our reputation in any manner whatsoever. You must not link to the website in such a way as to suggest any form of association, partnership or endorsement on our part without our prior written consent. You must not remove or obscure by framing or otherwise, advertisements, copyright notices, or other information published on the website. The website must not be framed on any other site. To avoid any doubt, you must not link to website from a linking site, which contains any adult or illegal material, or any material that is offensive, harassing or otherwise objectionable in our opinion. Such a permission to link to the website is completely at our discretion and may be revoked at any time without notice or reason.
			</p>
			<p>
				The website and/or the materials may contain links to third party websites. If you decide to visit any third party site, you do so at your own risk. We are not responsible for the content, accuracy or opinions expressed on such other websites. Links do not imply that we or this website is/are affiliated or associated with any such external sites. Third party content may appear on the website or may be accessible via links from the website. We are not responsible for and assume no liability for such content.
			</p>
			<p>
				We have provided a facility of making online payment of football training subscriptions by hiring the services of a online payment gateway service provider. 
			</p>
			<br/>
			<br/><br/>
			<a href="/fcbescola" class="footer-registernow">Back</a>




		</div>
	</div>