<h1>Listing facilities</h1>

<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Location</th>
    <th>Sport</th>
    <th>Venue</th>
    <th>Time</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= facility.mobile %></td>
    <td><%= facility.email %></td>
    <td><%= facility.phone %></td>
    <td><%= facility.location %></td>
    <td><%= facility.sport %></td>
    <td><%= facility.venue %></td>
    <td><%= facility.time %></td>
    <td><%= facility.comment %></td>
    <td><%= link_to 'Show', facility %></td>
    <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
    <td><%= link_to 'Destroy', facility, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facility', new_facility_path %>
