<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Mobile:</b>
  <%= @facility.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @facility.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @facility.phone %>
</p>

<p>
  <b>Location:</b>
  <%= @facility.location %>
</p>

<p>
  <b>Sport:</b>
  <%= @facility.sport %>
</p>

<p>
  <b>Venue:</b>
  <%= @facility.venue %>
</p>

<p>
  <b>Time:</b>
  <%= @facility.time %>
</p>

<p>
  <b>Comment:</b>
  <%= @facility.comment %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
