<div class="admin-sub-title">Users</div>
<p>
   <% form_tag "/admin/assign" do %>
	   <% for user in User.all do %>
		<div class="user-box">
		<img src="<%= user.user.url :thumb%>" width="100%"/>
		 <%= check_box_tag "project[user_project_ids][]", user.id, @project.users.include?(user) %>
		 <%= user.name %><br/>
		 </div>
	   <% end %>
		<input type="hidden" value="<%= @project.cached_slug %>" name="entity_id">
		<input type="hidden" value="<%= @project.class.to_s.downcase %>" name="entity_type">
		<br clear="all"/>
	   <p align="center"><%= submit_tag "Assign" %></p>
   <% end %>
   <br clear="all"/>
   <div class="clr"></div>
</p>
