<%= form_for(@project, :html => {:multipart=>true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Required fields are marked with a *.</h3>
  <div class="field">
    <%= f.label :name %> <em> * </em><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :selldocrmid %> <em> * </em><br />
    <%= f.text_field :selldocrmid %>
  </div>

  <div class="field">
    <%= f.label :show_order %> <em> * </em><br />
    <%= f.text_field :show_order %>
  </div>


  
    <div class="field">
    <%= f.label :tagline %> <em> * </em><br />
    <%= f.text_field :tagline %>
  </div>

   <div class="field">
    <%= f.label :short_description %><em> * </em> (ex. 2/3/4 BHK Apartments starting from ...... )<br />
    <%= f.text_area :short_description  %>
    </div>
  
  <div class="field">
    <%= f.label :description %><em> * </em> <br />
    <%= f.text_area :description , :class => :mceEditor %>
   </div>

   <div class="field">
    <%= f.label :started_at %><br />
    <%= f.text_field :started_at %> 
  </div>  
  
   <div class="field">
    <%= f.label :completion_date %><br />
    <%= f.text_field :completion_date %> 
  </div>  
  
   <div class="field">
    <%= f.label :project_category %><em> * </em><br />
    <%= f.select :project_category, PROJECT_CATEGORY.collect{|x| x.titleize} , :prompt => 'Select ' %> 
  </div>  
  
   <div class="field">
    <%= f.label :project_status %><br />
    <%= f.select :project_status, PROJECT_STATUS.collect{|x| x.titleize} , :prompt => 'Select' %> 
  </div>  
  
    <div class="field">
    <%= f.label :project_selling_type %><br />
    <%= f.select :project_selling_type, PROJECT_SELLING_TYPE.collect{|x| x.titleize} , :prompt => 'Select' %> 
  </div>  
 
  <div class="field">
    <%= f.label :project_type %><em> * </em>(ex. 2BHK, 3BHK etc. comma separated value used in form dropdown/project search. Should match exactly with query parameter. If blank or a space introduced like 3 BHK, project will not appear in search results.)<br />
    <%= f.text_field :project_type %> 
  </div> 


    <div class="field">
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </div>

   <div class="field">
    Approved (Show on site)<br />
    <%= f.check_box :show_on_website %>
  </div> 
  
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
    
    <div class="field">
    <%= f.label :meta_title %><br />
    <%= f.text_field :meta_title %>
    </div>
    
    <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description %>
    </div>
    
    <div class="field">
    <%= f.label :meta_keywords %><br />
    <%= f.text_area :meta_keywords %>
    </div>

   <div class="field">
    <%= f.label :address %><em> * </em><br />
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :city %> <br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
 
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :latitude %><em> * </em><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><em> * </em><br />
    <%= f.text_field :longitude %>
  </div>
    <div class="field">
    <%= f.label :map_description %><em> * </em><br />
    <%= f.text_area :map_description %>
  </div>
  <br/><br/>
<% f.fields_for :tuples do |tuple_form| %>
        
    	 <%= render 'tuples/tuple_fields', :f => tuple_form %>
    <% end %>
    <p><%= link_to_add_fields_with_callback("Add Tuple", f, :tuples, nil, "init_editor") %></p>
  
   <br/><br/>

  <div class="actions">
  <br/>
    <%= f.submit %>
  </div>
<% end %>
