<% @projects.each_with_index do |project, index| %>
<tr class="ui-state-default" id="main_holding_li_<%= project.id %>">
    <td width="8%"><%= project.show_order.to_i+1 %></td>
    <td width="20%"><%= project.name %></td>
    <td width="10%"><%= project.show_on_website? ? "Approved" : "Unapproved" %></td>	
    <td width="10%"><%= project.featured? ? "Yes" : "No" %></td>
    <td width="10"><a href="/projects/assets/<%= project.id%>" class="round button1">Add Images</a></td>
    <td width="10"><%= link_to 'Show', project, :class=>"round button2" %></td>
    <td width="10"><%= link_to 'Edit', edit_project_path(project), :class=>"round button3" %></td>
    <td width="10"><%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete, :class=>"round button4" %></td>
</tr>
<% end %>