<h1>File Uploads</h1>
<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@project , :url => '/projects/upload_brochure', :method => 'post', :html => {:multipart=>true}) do |f| %>
   <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  	 <%= f.file_field :brochure %>
  	 <input type="hidden" name="project_id", value = "<%= @project.id %> %>
  </p>
  <p align="center">
    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


