<h1 class="top-round">Editing Project</h1>
<div class="adminShowDiv">
<br/>
<%= render 'form' %>
<br/>
<%= link_to 'Show', @project, :class=> "button" %> &nbsp; 
<%= link_to 'Back', projects_path, :class=> "button" %>
</div>

