<h1 class="top-round">Listing Projects <%= link_to 'New Project', new_project_path %> </h1>

<table class="table table-striped table-bordered"  width="100%"  cellpadding="10" style="margin-bottom:0px">
   <tbody>
   <tr style="background:#886F97; color:#fff">
        <td width="8%">Order</td>
        <td width="20%">Name</td>
        <td width="10%">Approved?</td>	
        <td width="10%">Featured?</td>
        <td colspan="4">Actions</td>

    </tr>
   </tbody>
</table>
<table class="table table-striped table-bordered"  width="100%"  cellpadding="10">
   <tbody id="sortable" class="ui-sortable" unselectable="on">
    <%= render :partial => "projectresult"%>
   </tbody>
</table>
<a href="#" class="reorder btn">Reorder</a>

<br />


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 

<script>
  $(function() {
    $( "#sortable" ).sortable();
    $("#sortable").disableSelection();  
    $(".reorder").click(function(){
                var order = [];
  		order = jQuery("#sortable").sortable('toArray');
                console.log(order);
  		var final_order = "";
                for (x = 0; x < order.length; x++){
                      var temp = order[x].substring(16, order[x].length);
                      final_order +=  (temp + ",");
                } 
            if(final_order != ""){	
                    var query = "order_string=" + final_order.substring(0, final_order.length - 1);
                    <%= remote_function(:url => {:controller => :projects, :action => :reorder}, :with => "query") %>
            }
    
    
      });
  });
  
 </script>
 









