<html>
<head>
<% a = AmuraMap::AMap.new(@product, :id => "map", :zoom => "18") %>
<% 
		a.add_pinpoints
		a.create_map
%> 
<%= a.out %>
</head>
<body>
<div id='map' style='position:relative; width:250px; height:300px;'></div>
</body>
</html>
