$("#sortable").html("<%= escape_javascript(render 'projectresult' ) %>")
$(".flash-notice-js").hide().html("Records Updated Successfully").fadeIn(function(){
    setTimeout(function(){
        $(".flash-notice-js").fadeOut();
    },2000);
});