<div class="adminShowDiv">
<p id="notice"><%= notice %></p>
<p class="notice"><%= flash[:notice_for_assignment] %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Approved (Show on site):</b>
  <%= @project.show_on_website? ? "Yes" : "No" %>
</p>

<p>
  <b>Featured:</b>
  <%= @project.featured? ? "Yes" : "No" %>
</p>
 
<br/>
<%= link_to 'Edit', edit_project_path(@project) , :class=> "button"%> &nbsp; 
<%= link_to 'Back', projects_path , :class=> "button"%>

<br clear="all"/>
<br clear="all"/>

<%#= render :partial => "extras" %>
</div>

<hr style="color:#444"/>

<table width="100%" border="1" cellpadding="5" cellspacing="0" bordercolor="#ddd">
<tr>
<td>Name</td>
<td>Description</td>
<td>Action</td>
 </tr>
<% @project.tuples.all.each do |a|%>
<tr>
<td><strong style="font-size:15px"><%= a.key %></strong></td>
<td><%= a.value[0..100] %></td>
<td><%= link_to "Destroy", "/admin/destroy_tuple?id=#{a.id}&proj=#{@project.id}", :remote=>:true %></td>
 </tr>
<% end %>
</table>


<hr style="color:#444"/>
