<% if(RAILS_ENV == 'development') %>
<% host= 'http://192.168.0.187:3649' %>
<% else %>
<% host= 'http://conscient_cpfl.amura.in' %>
<% end %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Conscient CPFL Registration</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="5" cellspacing="0" style="border: 1px solid #000; padding:15px; background :#000; color: #fff ">
  <tr>
    <td width="30%"><a href="" target="_blank"><img src="http://conscientfootball.amura.in/images/conscient_football_logo.png" /></a></td>
    <td width="70%" style="background-color:#32374D ; color:#fff; font-size:14px; padding:25px; line-height:20px; text-align:center">
      <strong>You have been successfully registered at Conscient CPFL.</strong><br/><br/> Please <a href="<%=host%>/payment/<%=@registration.order_id%>" style="color:#F9BF1E"><b>Click Here</b></a> to pay and Confirm your registration at Conscient CPFL.
    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#000000" style="padding:10px 0px; font-size:12px; color:#fff" >
      &nbsp;&nbsp;Copyright &copy; 2017. All rights reserved
    </td>
  </tr>
</table>

</body>
</html>