
<html>
<head><title>Thank you for registering</title></head>
<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000; border:solid 1px #ddd; padding-bottom:20px;">
	<tr>
	<td valign="top">
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px #ddd;">
		<tr>
		<td height="48"><strong style="font-size:24px; color:#000;">CPFL Registration Form </strong></td>
		</tr>
		</table>
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#000;">
		<tr>
		<td style="padding:20px 0 20px 0px;">
	<table cellspacing="1" bgcolor="#FFFFFF" cellpadding="10" border="0" style="margin:0px 10px 0 17px;" width="94%">
	<tr>
		<td bgcolor="#888888" ><strong>name  </strong></td>
		<td bgcolor="#ddd" ><%=@registration.name %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Gender</strong></td>
		<td bgcolor="#ddd" ><%=@registration.gender %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Email</strong></td>
		<td bgcolor="#ddd" ><%=@registration.email %></td>
	</tr>	

	<tr>
		<td bgcolor="#888888" ><strong>Date Of Birth   </strong></td>
		<td bgcolor="#ddd" ><%=@registration.dob %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Mobile No</strong></td>
		<td bgcolor="#ddd" ><%=@registration.phone %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Name of School</strong></td>
		<td bgcolor="#ddd" ><%=@registration.school %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Class</strong></td>
		<td bgcolor="#ddd" ><%=@registration.standard %></td>
	</tr>

	<tr>
		<td bgcolor="#888888" ><strong>kit size</strong></td>
		<td bgcolor="#ddd" ><%=@registration.kit_size %></td>
	</tr>


</table>
        </td>
      </tr>
    </table>
   </td>
  </tr>
</table>
</body>
</html>