<li class="ui-state-default" id="main_holding_li_<%= asset.id %>">
	<div class="upload fl" id="main_holdeing_div_<%= asset.id %>">
	 <a href="<%=  asset.data.url %>" target="_blank"><%= image_tag asset.data.url, :style => "width:80px;" %></a><br/> <%= asset.name %><br/>
	 <%= link_to "Remove", {:controller => :assets, :action => :destroy, :id => asset.id},  :method => :delete, :confirm => "Are you sure want to delete?" ,  :remote => true %>
		|
	  
	 <a href="#div_for_asset_update_form_<%= asset.group_id %>" onclick="show_update_asset_<%= asset.group_id %>('<%= asset.id %>');" rel="#div_for_asset_update_form_<%= asset.group_id %>"  class="edit_asset" >Edit</a>
	<br/><br/>
	</div>
</li>
