  <% if not entity.new_record? %>
  <% type = asset_method.to_s %>
	<div id="main_assets_for_<%= for_class.downcase %>" >
	<% type = "assets_#{type}" %>
	<div>

	<div>
		<%= asset_method.titleize %><br/>
		<% existing = eval("entity.#{asset_method}")%>
		<% if existing %>
			<a href="#"><%= existing %></a>&nbsp;&nbsp;&nbsp;<!--<a href="#">Delete</a>-->
		<% end %>
	</div>
	
	<script>
	function show_update_asset_<%= type %>(asset_id){
		var query = "asset_id=" + asset_id;
		<%= remote_function :url => {:controller => "assets", :action => "show_update_asset"}, :with => "query", :update => "div_for_asset_update_form_#{type}" %>
	}
	</script>

	<script type="text/javascript" charset="utf-8">
		<%- session_key = Rails.application.config.session_options[:key] -%> 
		jQuery(document).ready(function($) {

			$('#asset_<%= type %>').click(function(event){
		    event.preventDefault();
		  });
			$('#asset_<%= type %>').uploadify({
				'uploader'  		: '/javascripts/uploadify/uploadify.swf',
				'script'    		: '/assets/add_asset_to_class',
				'multi'      		: false,
				'cancelImg'			: '/admin/images/cancel.png',
				'auto'				: true,
				onComplete : function(event, queueID, fileObj, response, data) { 
					alert(response);
				},
				scriptData: {
					   '_method': 'post',
						'_http_accept': 'application/javascript',
				      '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
			       'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
			       'user_id'                 : '<%= current_user.id %>',
						'format'                  : 'text',
						'attachable_id'			  : '<%= entity.id %>',
						'attachable_type'			  : '<%= for_class %>',
						'group_id'					  : '<%= type %>',
				   }
			});
			$('#asset_submit_<%= type %>').click(function(event){
		    event.preventDefault();
		    $('#asset_<%= type %>').uploadifyUpload();
		  });
		});
		
	</script>	  
	<% form_for Asset.new, :url => '/assets/add', :html => {:multipart => true} do |f| %>
		  <p>
		  <%= f.file_field :data, :id => "asset_#{type}" %>
		</p>
	<% end %>

	</div>
<% else %>
	First create the <%= entity.class.to_s.titleize %>.You can upload the <%= asset_method.titleize %> later from the edit page.<br/>
<% end %>