<h4 class="f16 blue" align="center">SINGLE IMAGE</h4>
<div style="margin:auto">
<% klass = entity.class %>
<% asset_types.each do |type| %>


<script>

function show_update_asset_<%= type %>(asset_id){
	
	var query = "asset_id=" + asset_id;
	<%= remote_function :url => {:controller => "assets", :action => "show_update_asset"}, :with => "query", :update => "div_for_asset_update_form_#{type}" %>
}
</script>



<div class="admin-asset-box">
	<div class="admin-sub-title"><%= type.titleize %></div>
	<script type="text/javascript" charset="utf-8">
		<%- session_key = Rails.application.config.session_options[:key] -%> 
		jQuery(document).ready(function($) {
			$('#<%= type %>').click(function(event){
		    event.preventDefault();
		  });
			$('#<%= type %>').uploadify({
				'uploader'  		: '/admin/javascripts/uploadify/uploadify.swf',
				'script'    		: '/assets/add_logo',
				'multi'      		: false,
				'cancelImg'		: '/admin/images/cancel.png',
				'auto'			: false,
				onComplete : function(event, queueID, fileObj, response, data) { 
					var dat = eval('(' + response + ')');
					if(dat.result == "success"){
						var dat = eval('(' + response + ')');
						jQuery.getScript(dat.asset);
					}else{
						var errors =  dat.asset.split(',');
						var error_message = "";
						for(var i = 0; i < errors.length; i++){
							error_message += "<li>" + errors[i] + "</li>"
						}
						jQuery("#upload_errors_<%= type %>s").html("<ul>" + error_message + "</ul>");
					}
			},
				scriptData: {
					   '_method': 'post',
					   'format' : 'json',
					   'attachable_id' : '<%= entity.id %>',
					   'group_id' : '<%= type %>',
					   'attachable_type' : '<%= entity.class.to_s %>',
						'_http_accept': 'application/javascript',
				      '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
			       'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
			       'user_id' : '<%= current_user.id %>',
				   }
			});
			$('#submit_<%= type %>').click(function(event){
		    event.preventDefault();
		    $('#<%= type %>').uploadifyUpload();
		  });
		});
		
	</script>	  
	<div>
		<div id="upload_errors_<%= type %>">	</div>
		<div id="image_<%= type %>">
		<ul id="sortable_assets_<%= type %>" class="ui-sortable" unselectable="on">
			<% if eval("entity.#{type}") %>
				<%= render :partial => "assets/asset", :locals => {:asset => eval("entity.#{type}")} %>
			<% end %>
			</ul>
		</div>

		<div id="div_for_asset_update_form_<%= type %>" class="update_assets round"></div><br clear="all"/><br/>
		<% form_for Asset.new, :url => '/assets/add_logo',:remote => true, :html => {:multipart => true} do |f| %>
			<p>
			 	<%= f.file_field "#{type}".to_sym, :id => "#{type}" %>
			</p>
			<p>
				<%= f.submit "Upload", :id => "submit_#{type}", :class => "green-button round" %>
			</p>
		<% end %>
	</div>
	<br clear="all"/>
</div>
<% end %>
</div>
<br clear="all"/><br clear="all"/>


