<% if params[:singular] == 'true' %>
    jQuery('#sortable_assets_<%= @asset.group_id %>').html("<%= escape_javascript(render(:partial => "assets/asset", :locals => {:asset => @asset})) %>");
<% else %>
    jQuery('#sortable_assets_<%= @asset.group_id %>').prepend("<%= escape_javascript(render(:partial => "assets/asset", :locals => {:asset => @asset})) %>");
<% end %>