<div style="padding:10px; background:#f7f7f7; border:solid 1px #ddd; width:90%" id="asset_edit_form_<%= @asset.id %>">
Asset Id: <%= @asset.id %> <br/>
<span id="asset_<%= @asset.id %>"></span>
<br />
<form></form>
<% form_for @asset, :remote => true, :id => "asset_edit" do |fo| %>
<table width="99%" cellpadding="10">
<tr><td width="20%" valign="top"> Name :</td> <td> <%= fo.text_field :name %> <br/><br/></td></tr>
<tr><td width="20%" valign="top"> Alt Text :</td> <td> <%= fo.text_field :alt_text %> <br/><br/></td></tr>
<tr><td width="20%" valign="top"> Category :</td> <td>
   <%= fo.select :category_id, Category.all.collect{|x| ["#{x.name} - #{x.category_group} #{x.category_type}", x.id] } %>
   
   <br/><br/></td></tr>
<tr><td valign="top"> Description : </td> <td><%= fo.text_area :description , :rows => 2 %> <br/><br/></td></tr>
<tr><td></td><td><%= fo.submit "Save" %></td></tr>
</table>
<% end %>
</div>

<script>
jQuery(document).ready(function($){
   $('#asset_edit:submit').click(function(event){
      event.preventDefault();
      $.ajax({url: "asset/<%= @asset.id %>",
			data: { id: <%= @asset.id %>, asset: <%= @asset %> },
				dataType: 'script'});
    });
    
});
</script>

