<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin</title>
	<link rel="stylesheet" type="text/css" href="/admin/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/admin/stylesheets/admin.css"/>

	<%= javascript_include_tag :defaults %>
	

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script type="text/javascript">
	jQuery.noConflict();
	</script>
	

<%= javascript_include_tag "/admin/javascripts/uploadify/swfobject", "/admin/javascripts/uploadify/jquery.uploadify.v2.1.0.js" %>

<%= csrf_meta_tag %>
<script src="/admin/javascripts/tiny_mce/tiny_mce.js?1426765634" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
tinyMCE.init({
browsers : "msie,gecko,safari",
cleanup : true,
cleanup_on_startup : true,
convert_fonts_to_spans : true,
convert_urls : false,
editor_selector : 'mceEditor',
extended_valid_elements : 'img[class|src|flashvars|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name|obj|param|embed|scale|wmode|salign|style],embed[src|quality|scale|salign|wmode|bgcolor|width|height|name|align|type|pluginspage|flashvars],object[align<bottom?left?middle?right?top|archive|border|class|classid|codebase|codetype|data|declare|dir<ltr?rtl|height|hspace|id|lang|name|style|tabindex|title|type|usemap|vspace|width]',
mode : 'textareas',
plugin_media_handler_url : '/attachments/manage',
plugin_preview_height : '650',
plugin_preview_pageurl : '../../../../../../posts/preview',
plugin_preview_width : '950',
plugins : "media,preview,curblyadvimage,inlinepopups,safari,paste",
relative_urls : false,
theme : 'advanced',
theme_advanced_buttons1 : "bold,italic,underline,separator,justifyleft,justifycenter,justifyright,indent,outdent,separator,bullist,numlist,separator,link,unlink,image,media,separator,undo,redo,help,code,separator,pasteword",
theme_advanced_buttons2 : "",
theme_advanced_buttons3 : "",
theme_advanced_layout_manager : 'SimpleLayout',
theme_advanced_resize_horizontal : false,
theme_advanced_resizing : true,
theme_advanced_statusbar_location : 'bottom',
theme_advanced_toolbar_align : 'left',
theme_advanced_toolbar_location : 'top'
});
//]]>
</script>    
<script src="/admin/javascripts/admin.js" type="text/javascript"></script> 
</head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WELCOME <%= current_user.email %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Dashboard</a></li>
	          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete , :style => "color:#fff"%></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= params[:controller] == "admin"? "active":"" %>"><a href="/admin"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <span class="sr-only">(current)</span></a></li>
            <li class="navbar-title">Content <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> </li>
            <li class="<%= params[:controller] == "registrations"? "active":"" %>"><a href="/registrations"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Registrations</a></li>	
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      		<% if flash[:notice] %>
      		<div class="flash-notice" align="center"><span style="position:absolute; padding:4px; background:#FFEFC1; color:#000; left:40%"><%= flash[:notice] %></span></div>
      		<% end %>
      		<% if flash[:error] %>
      		<div class="flash-notice" align="center"><span style="position:absolute; padding:4px; background:#FFEFC1; color:#000;  left:40"><%= flash[:error] %></span></div>
      		<% end %>
          <div class="table-responsive">
      		  <div class="flash-notice-js" align="center" style="background: #FF7E19; color: #fff; font-size: 14px;"></div>
      			 <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>





