<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/admin/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/admin/stylesheets/admin.css"/>
<link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.1.8' type='text/css' media='all' />
</head>
  <body style="background: #f1f1f1">
    <div class="container">
      <div class="well col-md-4 col-md-offset-4" style="background: #fff; margin-top: 100px; ">
        <%= yield %>
        </div>
    </div>
  </body>
</html>
