<h1>Listing careers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @careers.each do |career| %>
  <tr>
    <td><%= career.name %></td>
    <td><%= career.email %></td>
    <td><%= career.phone %></td>
    <td><%= link_to 'Show', career %></td>
    <td><%= link_to 'Edit', edit_career_path(career) %></td>
    <td><%= link_to 'Destroy', career, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Career', new_career_path %>
