<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @career.name %>
</p>

<p>
  <b>Email:</b>
  <%= @career.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @career.phone %>
</p>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
