body
{
color: #777;
font-size: 12px;
font-family: "Open Sans", monospace;
font-size: 12px;
}


input[type="text"], input[type="email"], input[type="password"], textarea, select
{
font-size: 15px !important;
width: 99% !important;
padding: 5px !important;
margin: 2px 6px 16px 0;
background: #fbfbfb;
border: 1px solid #ddd;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
background-color: #fff;
color: #333;
outline: 0;
-webkit-transition: .05s border-color ease-in-out;
transition: .05s border-color ease-in-out;
}


input[type="submit"], input[type="button"]
{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}


.btn
{
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}

a{ color: #000; font-weight: bold}


textarea{ height: 50px}
h1{ text-transform: uppercase}
h1 a{ font-size: 14px ; background:#428bca; color: #fff; padding:5px 10px;  border-radius: 2px; border: solid 1px #4878A5 }
h1 a:hover{ color: #fff; text-decoration: none }
h1 a::after{content: "+"; color: #fff; text-decoration: none }
h3{ font-size: 12px}

ul{ list-style: none}
li{ list-style: none}
.admin-asset-box{ background: #f5f5f5; border: solid 1px #eee; padding: 20px; margin: 10px 0 }
.admin-sub-title { font-size: 16px ; font-weight: bold; text-align: center}



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.ui-sortable li{ background:#fff;padding:10px;border-radius:5px; border:solid 1px #ddd ; width: 120px;
text-align: center;}
.ui-sortable li img{ height:75px; background:#fff; border-radius:5px; border:solid 1px #ddd; margin:10px 0 0 0}
.nav-sidebar a:hover{
  background-color: #428bca !important ;
}
.navbar-title{background: #335390;
color: #97C0E3;
padding: 5px;
text-transform: uppercase;
text-align: center;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2A3B55;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
    color: #fff;
}
.nav-sidebar > a:hover,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}