<h1>Listing blogs</h1>

<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Published on</th>
    <th>Category</th>
     <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.status %></td>
    <td><%= blog.published_on %></td>
    <td><%= blog.category %></td>
    <td><a href="/blogs/assets/<%= blog.id%>" class="round button1">Add Images</a></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Blog', new_blog_path %>
