<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>

<p>
  <b>Short description:</b>
  <%= @blog.short_description %>
</p>

<p>
  <b>Slug:</b>
  <%= @blog.slug %>
</p>

<p>
  <b>Status:</b>
  <%= @blog.status %>
</p>

<p>
  <b>Published on:</b>
  <%= @blog.published_on %>
</p>

<p>
  <b>Category:</b>
  <%= @blog.category %>
</p>

<p>
  <b>Metatitle:</b>
  <%= @blog.metatitle %>
</p>

<p>
  <b>Metakeyword:</b>
  <%= @blog.metakeyword %>
</p>

<p>
  <b>Metadescription:</b>
  <%= @blog.metadescription %>
</p>




<h1>Listing comments</h1>

<table class="scaffolded" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Comment</th>
    <th>Blog</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog.comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.email %></td>
    <td><%= comment.comment %></td>
    <td><%= comment.blog_id %></td>
    <td><%= comment.approved %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>