<h1>
    Listing trial_registrations 
    <select id="change-center" style="width:25% !important; vertical-align:middle">
        <option value="">Select Center</option>
        <option value="5a5c3edf923d4a1737c37442">Juhu</option>
        <option value="573e9c375413853d070000e8">Matunga</option>
        <option value="59703f94541385984000029e">South Mumbai</option>
        <option value="573e9c803bb2f8a95d00002e">Andheri</option>
        <option value="573e9be0a7a0396c6f00011e">Noida Center</option>
        <option value="573e99825413856c68000146">South Delhi Center</option>
        <option value="573e99fd3bb2f81091000095">West Delhi Center</option>
        <option value="5a0573777c0dac55d576035d">Dwarka Center</option>
        <option value="599426973bb2f8755300154e">Vasant Kunj Center</option>
    </select>
    <a href="/admin/export_excel" class="excel-export btn btn-large" style="vertical-align:middle;margin-top:-10px;">Export</a>
</h1>

<table class="table table-striped table-responsive">
  <tr>
    <th>Fullname</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Guardians phone</th>
    <th>Guardians email</th>
    <th>Gender</th>
    <th>Date of birth</th>
    <th>City</th>
    <th>Preferred center</th>
    <th>School name</th>
    <th>Utm source</th>
    <th>Utm campaign</th>
    <th>Utm medium</th>
    <th>Utm term</th>
    <th>Utm content</th>
    <th>Srd</th>
    <th>Project</th>
    <th>Url</th>
    <th>Device</th>
    <th>Sibling name</th>
    <th>Sibling number</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trial_registrations.each do |trial_registration| %>
  <tr>
    <td><%= trial_registration.fullname %></td>
    <td><%= trial_registration.first_name %></td>
    <td><%= trial_registration.last_name %></td>
    <td><%= trial_registration.email %></td>
    <td><%= trial_registration.guardians_phone %></td>
    <td><%= trial_registration.guardians_email %></td>
    <td><%= trial_registration.gender %></td>
    <td><%= trial_registration.date_of_birth %></td>
    <td><%= trial_registration.city %></td>
    <td><%= trial_registration.preferred_center %></td>
    <td><%= trial_registration.school_name %></td>
    <td><%= trial_registration.utm_source %></td>
    <td><%= trial_registration.utm_campaign %></td>
    <td><%= trial_registration.utm_medium %></td>
    <td><%= trial_registration.utm_term %></td>
    <td><%= trial_registration.utm_content %></td>
    <td><%= trial_registration.srd %></td>
    <td><%= trial_registration.project %></td>
    <td><%= trial_registration.url %></td>
    <td><%= trial_registration.device %></td>
    <td><%= trial_registration.sibling_name %></td>
    <td><%= trial_registration.sibling_number %></td>
    <td><%= trial_registration.comments %></td>
    <td><%= link_to 'Show', trial_registration %></td>
    <td><%= link_to 'Edit', edit_trial_registration_path(trial_registration) %></td>
    <td><%= link_to 'Destroy', trial_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial registration', new_trial_registration_path %>
