

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <h2 class="form-signin-heading" align="center">Please sign in</h2>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
<br />
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" , :class=>"btn btn-primary"%></div>
<% end %>
<br/>
<div class="text-center">
<%#= render :partial => "devise/shared/links" %>
</div>
