.pageWrapper {
padding-left: 253px;
width: 100%;
}

.section{
width: 100%;
float: left;
}

.pageWrapper{

}

.hide-in-mobile{
display: block;
}

.header-mobile{
display: none;
}

.show-in-desktop{
display: block;
}

.show-in-mobile{
display: none;
}

.footer-mobile{
display: none;
}

.menuWrapper li a{
text-transform: none;
}

.accordian-wrapper {
border-bottom: 1px solid #e2e2e2;
margin-bottom: 10px;
}

.map-container iframe.clicked{
pointer-events: auto;
}

.thumbnail-box{
width: 28%;
margin-right: 20px;
margin-bottom: 20px;
}

.explore-gallery{
width: 40px;
height: 40px;
background-color: #f9c136;
float: right;
padding: 6px 16px;
font-size: 30px;
text-align: center;
line-height: 23px;
color: #000;
position: absolute;
top: 38%;
right: 0;

}


.mt60{
margin-top: 60px;
}


.mt40{
margin-top: 40px;
}

.thumbnail-wrapper{
padding: 50px 0px;
position: relative;
}

.virtual-number{
width: 345px;
background-color: #f9c136;
position: fixed;
right: -300px;
top: 10%;
z-index: 999;
padding: 10px;
font-size: 20px;
transition:0.6s;
cursor: pointer;
}

.number{
font-size: 25px;
margin-right: 20px;
margin-top: 0px;
margin-left: 5px;
}

.f26{
font-size: 26px;
}

.text-justify{
text-align: justify;
}

.venue-details-delhi .fa, .venue-details-mumbai .fa{
font-size: 16px !important;
}

.sell_do_virtual_numbers {
width: 160px !important;
text-align: center !important;
font-size: 18px !important;
}

.centers-mumbai a, .centers-delhi a {
color: #888;
font-size: 13px;
display: inline-block;
padding: 0px 15px;
line-height: 15px;
}

.active-center {
color: #000 !important;
background: #f9c136;
height: 25px;
padding: 15px 16px;
line-height:24px !important;
}

.venue-details-mumbai, .venue-details-delhi{
margin-top: 30px;
height: 200px;
}

.f24{
font-size: 24px;
}

.opearting-days{
margin: 10px 0px;
font-size: 18px;
}

.batches{
font-size: 18px;
}

.virtual-number-mobile{
display: none;
}

.escola-venue-title{
width: 100%;
margin: 0px auto;
padding-top: 60px;
text-align: center;
/*padding-left: 60px;*/
}


.nav-arrow-up{
width: 40px;
background: rgba(0,0,0,0.8);
position: fixed;
bottom: 45px;
right: 20px;
text-align: center;
z-index: 999;
color: #f1b92e;
height: 40px;
font-size: 30px;
line-height: 40px;
display: none;
cursor: pointer;
}

.text-justify{
text-align: justify;
}

.w85{
width: 85%;
}

.f26{
font-size: 26px;
}

.flex{
display: flex;
display: -webkit-flex;
display: -ms-flexbox;
}

@media only screen and (min-width:1920px){
.escola-content{
	font-size: 20px;
	line-height: 34px;
}	

.age-category{
	font-size: 20px;
}

button.accordian{
	font-size: 20px;
	line-height: 33px;
}
}

@media only screen and (min-width: 1600px) and (max-width: 1680px){
.highlights-btn{
	font-size: 16px;
	width: 200px;
}

.escola-banner{
	margin-top: 225px;
}

.escola-banner-content{
	top: 10%;
}

}

@media only screen and (min-width: 1400px) and (max-width: 1480px){
.f26 {
	font-size: 25px;
}

.highlights-btn{
	font-size: 16px;
	width: 180px;
}

.highlights-content {
    margin-top: 30px;
}
.thumbnail-wrapper {
    padding: 10px 0px;
}

.escola-content{
	font-size: 16px;
}

.highlights-title {
font-size: 26px;
line-height: 22px;
}

.age-category{
	margin: 10px 0px;
}
.padding50 {
padding: 52px 40px 16px 40px;
}

.escola-container{
padding: 60px 60px;
}


.escola-banner{

margin-top: 150px;
}

}

@media (max-width: 1366px){
.f26 {
	font-size: 25px;
}

.highlights-content {
    margin-top: 30px;
}

.thumbnail-wrapper {
    padding: 10px 0px;
}

.escola-content{
	font-size: 16px;
}

.highlights-title {
font-size: 26px;
line-height: 22px;
}

.age-category{
	margin: 10px 0px;
}

.padding50 {
padding: 52px 40px 16px 40px;
}

.escola-container{
padding: 60px 60px;
}


.escola-banner{

margin-top: 150px;
}

}

@media (max-width: 1280px){
.centers-mumbai a, .centers-delhi a{
padding: 0 10px;
}
.highlights-btn{
width: 155px;
font-size:14px;
}

.escola-content{
	font-size: 16px;
}

.highlights-title {
font-size: 26px;
line-height: 22px;
}

.escola-banner{

margin-top: 0px;
}

.fcbescola-bg{
background-position: 13%;
}


.escola-banner{
height: 600px !important;
}


}

@media (max-width: 1024px){

.escola-banner{
	height: 400px !important;
}

.escola-banner-content {
top: 12%;
left: 4%;
}

.coach-btn{
	width: 270px;
}	

.highlights-btn {
width: 115px;
font-size: 11px;
line-height: 17px;
}

.padding50 {
	padding: 28px;
}

.coach-info-details{
	padding:50px 20px;
}
button.accordion{
	font-size: 12px;
}

.centers-mumbai a, .centers-delhi a {
    padding: 0 5px;
}

.fcbescola-bg{
	/*background-image: url(/images/Banner-Mobile-IMG.jpg);*/
}


.escola-banner{

margin-top: 70px;
}
}


@media (max-width: 786px){
div#supervision{
	display: block !important;
}

.escola-w50 {
	width: 100%;
}

.escola-banner-content {
    top: 14%;
    left: 3%;
}

.padding50 {
	padding: 40px;
}

.highlights-btn {
width: 160px;
font-size: 15px;
}
.thumbnail-box{
width: 40%;
}

#faq button.accordion {
font-size: 12px;
}

#faq button.accordion:after{
float: right;
}



.highlights-title{
line-height: 30px;
}
.escola-title {
	font-size: 32px;
	margin-top: 20px;
}

button.accordion{
	font-size: 13px;
}

.fcbescola-bg{
	background-image: url(/images/Banner-Mobile-IMG.jpg);
	background-position: 53%;
}

.escola-banner {
background-image: url(/images/Admissions-Process-Creative-02.jpg);
}

@media (max-width: 700px){
.header{
	display: none;
}

.pageWrapper{
	padding-left: 0px;
}



.fcbescola-bg{
	background-image: url(/images/Banner-Mobile-IMG.jpg);
}

.escola-container {
	width: 100%;
	padding: 10px 20px;
}
div.panel p {
    padding: 0 30px;
    font-size: 15px;
    line-height: 25px;
}
.coach-info-details{
	top: 40%;
}

.centers-mumbai a, .centers-delhi a{
	padding: 0px 1px;
}

.escola-w50 {
	width: 100%;
}

.padding50 {
	padding: 74px 30px;
}

.escola-title {
	font-size: 28px;
}
div#supervision{
	display: block !important;
}

.coach-btn{
	width: 250px;
}

.hide-in-mobile{
	display: none;
}

.show-in-mobile{
	display: block;
}

button.accordion{
	position: relative;
}

button.accordion:after {
	content: '\02795';
	font-size: 12px;
	color: #36becd;
	float: right;
	margin-left: 0px;
	background-color: transparent;
	padding: 11px 9px;
	position: absolute;
	right: 0;
	top: -16px;
}

.banner-content {
	font-size: 17px;
	line-height: 26px;
}

.explore-btn{
	font-size: 17px;
	width: 210px;
	margin-top: 30px;
	border: 1px solid #fff;
	padding: 5px 7px;
}

.footer{
	display: none;
}

.header-mobile{
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	padding: 10px;
	z-index: 9999;
	display: block;

}

.mobile-logo{
	width: 20%;
}
.mobile-menu{
	margin-top: 10px;
	cursor: pointer;
}
.mobile-menu span{
	display: block;
	width: 28px;
	height: 3px;
	background-color: #f8c034;
	margin-bottom: 5px;

}

.menuWrapper-mobile
{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.8);
	left: 0;
	top: 95%;
	display: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	padding: 10px 0px;
	margin: auto;
}

.menuWrapper-mobile li {
	padding: 7px 0px;
}

.menuWrapper-mobile li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
}

.footer-mobile{
	position: fixed;
	width: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	bottom: 0;
	left: 0;
	display: block;
	padding: 3px 5px;
}

.footer-mobile a{
	color: #f8c034;
	text-align: center;
}

.footer-left, .footer-right{
	width: 50%;
	text-align: center;
}

.acc-content{
	padding: 12px;
}

.coach-info-details{
	padding: 30px 30px;
}

.close-btn{
	right: 6px;
	top: 1%;
}

.centers-mumbai a, .centers-delhi a {
	color: #888;
	font-size: 13px;
}

.f24 {
	font-size: 20px;
}

.opearting-days, .batches {
	font-size: 16px;
}

div.panel p{
	padding: 0px; 
}

.virtual-number{
	display: none;

}

.virtual-number-mobile{
	display: none;
	width: 100%;
	background-color: #f9c136;
	position: fixed;
	right: 0;
	bottom: 31px;
	z-index: 999;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.number-mobile{
	width: 100%;
	font-size: 16px;
}

.escola-title {
    font-size: 25px;
}
.padding50 {
    padding: 74px 20px;
}

.venue-details-mumbai, .venue-details-delhi{
	height: 280px;
}

.slide-mobile{
	height: auto !important;
}

#training-highlights button.accordion:after{
	top: 0px;
}

.escola-banner{
	background-image: url(/images/Admissions-Process-Creative-02.jpg);
	height: 900px;
	background-size: contain;
}


.mumbai-ncr-bg {
	padding: 20px 10px 0px 10px;
}

.delhi-ncr-bg {
	padding: 20px 10px 0px 10px;
}

.escola-banner-content{
	display: none;
}

/*.escola-content{
	padding-top: 5px;
}*/
}
