<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @metatitles %></title>
	<meta name="keywords" content="<%= @metakeywords %>"/>
	<meta name="description" content="<%= @metadescription %>"/>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/colorbox.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/style_addon.css" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
	<link rel="stylesheet" href="/stylesheets/jquery.bxslider.css" />
	
	
<!--[if  IE ]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93759358-1', 'auto');
ga('send', 'pageview');
ga('require', 'displayfeatures');
ga('require', 'ecommerce', 'ecommerce.js'); 
</script>

</head>
<body>
 
<!-- <div class="wrapper"> -->
	<div class="header pull-left">
		<table align="center" cellpadding="0" cellspacing="0" height="100%" width="100%">
			<tbody>
				<tr style="height:25%;">
					<td  align="center" valign="top">
						<div class="headerLogo">
							<a href="http://conscientfootball.com/"><img src="/images/conscient_football_logo.png"></a>
						</div>
					</td>
				</tr>
				
				<tr style="height:70%;">
					<td align="center" valign="top">
						<% if params[:action] !='index' %>
						<ul class="menuWrapper nav-link">
							<li>
								<a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="FCBEscola" href="/?rel=fcbescola" rel="fcbescola" >FCBESCOLA</a>
							</li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="FCB Supervision" href="/?rel=supervision" rel="supervision" >FCB AFFILIATION</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="training" href="/?rel=training" rel="training">COACHING</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="programs" href="/?rel=programs" rel="programs">PROGRAMS</a></li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="venue details" href="/?rel=venue-details" rel="venue-details">VENUE DETAILS</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="admission" href="/?rel=admissions" rel="admissions">ADMISSIONS</a></li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="faqs" href="/?rel=faq" rel="faq">FAQs</a></li>
							
						</ul>
						<% else %>
						<ul class="menuWrapper nav-link">
							<li>
								<a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="FCBEscola" rel="fcbescola" class="current">FCBESCOLA</a>
							</li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="FCB Supervision" rel="supervision">FCB AFFILIATION</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="training" rel="training">COACHING</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="programs" rel="programs">PROGRAMS</a></li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="venue details" rel="venue-details">VENUE DETAILS</a></li>
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="admission" rel="admissions">ADMISSIONS</a></li>
							
							<li><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="faqs" rel="faq">FAQs</a></li>
							
						</ul>

						<% end %>
						<br/>
						<div><a data-event-category="fcbescola-menu" data-event-action="click" data-event-name="book a trial" href="/trial-registration" class="footer-registernow">BOOK A TRIAL</a></div>
						 
					</td>
				</tr>

				
				<tr style="height:10%;">
					<td style="padding-bottom:30px;" align="center" valign="top">
						
						<div class="socialWrapper">
							<ul>
								<li><a href="https://www.facebook.com/ConscientFootball/" target="_blank"><img src="/images/fb_icon.png"></a></li>
								<li><a href="https://twitter.com/conscientfootb" target="_blank"><img src="/images/twitter_icon.png"></a></li>
								<li><a href="https://www.youtube.com/user/ConscientFootball" target="_blank"><img src="/images/playIcon.png"></a></li>
							</ul>
						</div>
						<!-- <div class="copyRight"> Created By: <a href="http://amuratech.com/" target="_blank" style="color:#f9bf1e;text-decoration:none;">Amura</div> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<!-- </div> -->
<div class="nav-arrow-up">
	<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<a class="home" href="http://conscientfootball.com/"> 
	<i class="fa fa-home" aria-hidden="true"></i>
</a>
<div class="header-mobile">
<div class="mobile-logo pull-left">
	<a href="http://conscientfootball.com/"><img src="/images/conscient_football_logo.png" class="img-responsive"></a>
</div>
<div class="mobile-menu pull-right">
	<span></span>
	<span></span>
	<span></span>
</div>
<% if params[:action] !='index' %>
<ul class="menuWrapper-mobile">
	
	<li><a href="/#fcbescola" rel="fcbescola">FCBESCOLA</a></li>
	<li><a href="/#supervision" rel="supervision">FCB AFFILIATION</a></li>
	<li><a href="/#training-highlights" rel="training-highlights">COACHING</a></li>
	<li><a href="/#programs" rel="programs">PROGRAMS</a></li>
	<li><a href="/#venue-details" rel="venue-details">VENUE DETAILS</a></li>
	<li><a href="/#admissions" rel="admissions">ADMISSIONS</a></li>
	<li><a href="/#faq" rel="faq">FAQs</a></li>
	
</ul>
<% else %>

<ul class="menuWrapper-mobile">
	
	<li><a href="javascript:void(0);" class="current" rel="fcbescola">FCBESCOLA</a></li>
	<li><a href="javascript:void(0);" rel="supervision">FCB SUPERVISION</a></li>
	<li><a href="javascript:void(0);" rel="training-highlights">COACHING</a></li>
	<li><a href="javascript:void(0);" rel="programs">PROGRAMS</a></li>
	<li><a href="javascript:void(0);" rel="venue-details">VENUE DETAILS</a></li>
	<li><a href="javascript:void(0);" rel="admissions">ADMISSIONS</a></li>
	<li><a href="javascript:void(0);" rel="faq">FAQs</a></li>
	
	
</ul>
<% end %>
<div class="clearfix"></div>
</div>

<div class="footer-mobile">
<div class="pull-left footer-left">
	<a href="javascript:;" class="call-numbers"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Call</a>
</div>
<div class="pull-right footer-right">
	<a href="/trial-registration">Book A Trial</a>
</div>
</div>	

<div class="virtual-number">
<div class="pull-left number" data-event-category="fcbescola-number-button" data-event-action="click" data-event-name="phone icon">
	<i class="fa fa-phone" aria-hidden="true"></i>
</div>
<div class="pull-left virtual-number-wrapper">
	<span><!-- Delhi NCR: -->&nbsp; <span class="sell_do_virtual_numbers"></span></span> <br/>
</div>
<div class="clear"></div>
</div>

<div class="virtual-number-mobile">

<div class="pull-left number-mobile virtual-number-wrapper">
	<span>&nbsp;<!-- Delhi NCR: --> <span class="sell_do_virtual_numbers"></span></span> <br/>
</div>
<div class="clear"></div>
</div>
<div class="pageWrapper pull-right relative">
<%= yield %>
</div>
<div class="footer">
		<div class="pull-left">
			<!-- <span>Follow Us On:</span>
			<img src="/images/fb_icon.png" class="social-icon">
			<img src="/images/twitter_icon.png" class="social-icon">
			<img src="/images/insta_icon.png" class="social-icon"> -->
			<!-- <span><a href="javascript:;" class="footer-registernow">Register Now</a></span> -->
		</div>
		<div class="pull-right white">
			<!-- <a href="<%= url_careers %>" class="copyRight">Careers</a> |  --><a href="<%= url_social_responsibility %>" class="copyRight">Social Responsibility</a> |
			<% if params[:action] =='fcbescolanew' %>
				<a href="<%= url_terms_condition %>" class="copyRight">Terms and Conditions</a> 
			<% elsif params[:action] =='fcbclinics' %>
			 	<a href="<%= url_terms_condition_clinics %>" class="copyRight">Terms and Conditions</a> 
			<% else %>
				<a href="<%= url_terms_condition %>" class="copyRight">Terms and Conditions</a> 
			<% end %>
			 | <a href="/privacy-policy" class="copyRight">Privacy Policy</a> | <span class="copyRight">&nbsp; &copy; Copyright 2017. All Rights Reserved </span>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="clear"></div>
	</div>

<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="/javascripts/jquery.smint.js"></script>
<script src="/javascripts/jquery.colorbox.js"></script>	
<!-- <script src="/javascripts/customOnePageScroll.js"></script>	 -->
<script src="/javascripts/jquery.bxslider.js"></script>	
<script src='//trkr.scdn1.secure.raxcdn.com/t/573c82f7541385bf32000033.js'></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script>
<script src="/javascripts/app.js"></script>
<% if params[:rel].present? && params[:rel] != ''%>
<script type="text/javascript">
	$(document).ready(function(){
		$('html,body').animate({
			scrollTop: $('#<%= params[:rel]%>').offset().top + 2
		}, 1000);
	})
</script>
<% end %>

<script>
$(document).ready(function(){

if($(window).width()<=700){
	  x = setInterval(function(){
	      if($(".sell_do_virtual_numbers").html().indexOf("+91 11 6661 9488") != -1){
	        clearInterval(x);
	        $(".virtual-number-wrapper").html("<span>Delhi NCR: <a href='tel:+911166619488' style='color:#000'>+91 11 6661 9488</a></span><br/><span>Mumbai: <a href='tel:+912261739769 ' style='color:#000'>+91 22 6173 9769 </a></span> <br/>");
	      }
	  }, 100);
}else{
x = setInterval(function(){
if($(".sell_do_virtual_numbers").html() == "+91 11 6661 9488"){
	clearInterval(x);
	$(".virtual-number-wrapper").html("<span>Delhi NCR: <span>+91 11 6661 9488</span></span><br/><span>Mumbai: <span>+91 22 6173 9769 </span></span> <br/>");
	}
}, 100);
}	


/*var _selldo = [];
_selldo.push({project_id : ''});*/
window.sell_do_form_successfully_submitted = function(data, event){

    try{
      dataLayer.push({
         'event' : 'selldo_form_submitted'
      });
    }catch(err){}
}
  window.sell_do_form_rendered = function(){

  };
});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSG2874');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSG2874"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>
