@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body { 
	border:0; margin:0; padding:0;
	font-family: 'Roboto', sans-serif; font-size: 15px; 
	line-height: 25px;
	color: #000;
	font-weight: 400;
}
html{
	background-color: #000;
}
.current{
	color:#F9BF1E !important;
}
h1, h2, h3, h4, p {
	font-weight:normal; 
	margin:0px;
	padding:0px;
}
ul, li { 
	list-style:none;
	margin:0px; 
	padding:0px; 
}
form { 
	display:inline; 
	margin:0; 
	padding:0;
}
input:focus, select:focus { 
	outline:none; 
}
a {	
	color:#4b4b4b; 
	cursor:pointer; 
	outline:none; 
	text-decoration:none; 
}
img{ 
	border:none; 
	outline:none;
	display:block;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

/*::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(247,192,52,0.8); 
	background:rgba(247,192,52,0.8);
}*/

.text-center{
	text-align: center;
}

.wrapper{
	width: 100%;
}
.clear { 
	clear:both; 
}
.f20{
	font-size: 20px;
}

.white{
	color: #fff !important;
}
.absolute{
	position: absolute;
}

.mh-150{
	min-height: 150px;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.white,.white-color{
	color: #fff;
}

.about-us-container{
	color: #fff;
	width: 95%;
	float: left;
	padding-left: 50px;
}

.tile{
	float:left; width:24%; margin-right:9px;
}
.about-section-1{
	background-image: url(/images/Annual_Calendar_BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 100%;
}

.banner-title{
	position: relative;
	top: 40%;
	width: 100%;
}

.page-title{
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
	position: relative;
	font-weight: 700;
}

.page-title:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #f8c135;
	bottom: -6px;
	left: 3px;
}

.scroll-btn{
	position: absolute;
	bottom: 8%;
	right: 50%;
	cursor: pointer;
}
.about-content-wrapper{
	background-image: url(/images/texture.jpg);
	background-repeat: repeat;
} 

.about-content-padding{
	padding: 120px;
}

.introduction {
	font-size: 60px;
	margin-bottom: 60px;
	font-weight: bold;

}

.about-content-wrapper .text {
	overflow: hidden;
	padding-right: 5%;
	color: #c7c7c7;
}

.about-content-wrapper .text {
	width: 45%;
	float: left;
	text-align: justify;
	font-size: 16px;
	line-height: 26px;
}

.cream-color{
	color: #c7c7c7;
}

.about-content-wrapper .aboutUsPagesmallHd{
	font-size: 20px;
	color: #F9BF1E;
	line-height: 27px;
	margin-bottom: 10px;
	font-weight: 400;
}

.about-content-wrapper{
	color: #cfcfcf !important;
}

.fw300{
	font-weight: 300;
}

.fw400{
	font-weight: 400;
}

.fw700{
	font-weight: 700;
}

.parallax{
	height: 400px;
}

.subtitle{
	color: #fff;
	width: 35%;
	margin: 0 auto;
	padding: 25px 0px;
	text-align: center;
}

.img-responsive{
	max-width: 100%;
}

/* faq*/

.accordian-wrapper{
	border-bottom: 1px solid #ecf0f1;
	margin-bottom: 10px;
}

button.accordion {
	background-color: transparent;
	color: #000;
	cursor: pointer;
	padding: 0px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 17px;
	transition: 0.4s;
	/*padding: 10px;*/
}

div.panel p{
	padding: 0 30px;
    font-size: 17px;
    line-height: 28px;
}

/*button.accordion.active, button.accordion:hover {
	background-color: #cacaca;
}*/
button.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #f7c034;
	float: left;
	margin-left: 0px;
	/*background-color: #f7c034;*/
	padding: 12px 15px;
}
button.accordion.active:after {
	content: "\2796";
}
div.panel {
	padding: 0 18px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
	color: #000;
}
div.panel.show {
	opacity: 1;
	max-height: 675px;
	padding: 20px 20px;  
}
.active-menu{
	color: #F9BF1E;
}
#acc1{
	display: block;
}

#acc2,#acc3, #acc4,#acc5, #acc6{
	display: none;
}
.active-down{
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

.acc-content{
	display: inline-block;	
	padding: 10px;
}
.table{
	display:table;width:100%;height:100%;
}
.table-cell{
	display:table-cell;vertical-align:middle;
}
.pull-left{
	float:left;
}	
.pull-right{
	float:right;
}	
.relative{
	position:relative;
}	
.callWrapper
{
	position: fixed;
	top: 0px;
	right: 20px;
	background-color:#F90; 
	display: inline-block;
	padding: 10px 10px;
	border-radius: 5px;
}

.callMe .call-me-btn {
	width: 280px;
	float: left;
}
.call-me-btn .thankyou{
	margin-top: 7px;
	color: #fff;
	font-size: 14px !important;
	font-weight: normal !important;
}
.call-me-btn
{
	float: left;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.call-me-btn .help-block
{
	position: absolute;
	top: 35px;
	margin-bottom: 0px !important;
}
.call-me-btn .sell_do_ctc_input_c
{
	margin-bottom: 5px !important;
}
.callNumber{
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.callNumber .sell_do_virtual_numbers
{
	color: #fff;
	font-size: 16px;  
	font-weight: bold !important;
}

.about-content-wrapper{
	background-image: url(/images/texture.jpg);
	background-repeat: repeat;
}

.pageLoader{
	background: url(/images/loader_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	z-index:99;
	left:0px;
	top:0px;
	width:100%;
	text-align:center;
}
.pageLoader img{
	margin:auto;
}

.pageWrapper{
	padding-left: 253px;
	width: 100%;
}
.header{
	position:fixed;
	width:253px;
	left:0;
	top:0;
	background:url('/images/texture.jpg');
	height:100%;
	z-index:9;
}
.headerLogo
{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.headerLogo img{
	    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.headerL
{
	width: 84%;
	margin-left: 8%;
	margin-top: 30%;  
}
.menuWrapper{
	width:55%;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	text-align: center;
	padding:10px 0px;
	margin: auto;
}
.menuWrapper li{
	padding:7px 0px;
}
.menuWrapper li a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	font-size: 15px;
	font-weight: 300;
}

.mainmenuWrapper{
	width:55%;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	text-align: center;
	padding:10px 0px;
	margin: auto;
}
.mainmenuWrapper li{
	padding:7px 0px;
}
.mainmenuWrapper li a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	font-size: 15px;
	font-weight: 300;
}

/*.menuWrapper li span{
visibility: hidden;
opacity: 0
}

.menuWrapper li:hover span{
visibility: visible;
opacity: 1;
}*/

.sub-menu{
	display: none;
	padding: 10px 0px;
}

.menuWrapper li a:hover{
	color: #F9BF1E !important;
}
.mainmenuWrapper li a:hover{
	color: #F9BF1E !important;
}



.footerWrapper{
	position:absolute;
	bottom:0px;
	width:100%;
}

.socialWrapper ul{
	width:100%;
}
.socialWrapper ul li{
	display:inline-block;

}
.copyRight{
	color:#fff;
	font-size:12px;
}

/*home page Wrap*/
.homepageWrapper{
	background: url(/images/home_bg_main_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.homePageFirst{
	width:50%;
	float:left;
	position:relative;
	height:100%;
	background: url(/images/CF_Template_1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.homePageSecond{
	width:50%;
	float:left;
	position:relative;
	height:100%;
	background: url(/images/CF_Template_2.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.homePageThird{
	width:50%;
	float:left;
	position:relative;
	height:100%;
	background: url(/images/CF_Template_3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.second-col{
	width:25%;
	float:left;
}
.homePageSecondTop{
	top:0px;
	width: 100%;
	background: url(/images/home_bg_03.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
}
.homePageSecondBottom{
	bottom:0px;
	width: 100%;
	background: url(/images/home_bg_02.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;			
}
.third-col{
	width:25%;
	float:right;
}
.homePageThirdTop{
	width: 100%;
	background: url(/images/home_bg_04.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;			
}
.grey-filter50{
	-webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
	filter: grayscale(50%);	
}

.breadcrumb-wrapper{
	color: #f8c135;
	position: absolute;
	z-index: 99;
	left: 15%;
	top: 10px;
	font-size: 13px;
}

.breadcrumb-wrapper .breadcrumbs-list{

	border-bottom: ;


	display: inline-block;
	margin: 15px -11px 4px 6px;
	position: relative;
	text-transform: capitalize;
	z-index: 0;
}

.breadcrumb-wrapper .breadcrumbs-list:before{
	background: transparent;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transform: skewX(25deg);
	transform: skewX(25deg);
	width: 100%;
	z-index: -1;
	border-right: 3px solid;
	border-top: 3px solid;
}
.breadcrumb-wrapper .breadcrumbs-list:last-child::before{
	background-color: #f9bf1e;
}



.breadcrumb-wrapper li a{
	color: #fff;
	display: block;
	padding: 4px 10px 0px 10px;
	white-space: nowrap;
}

.breadcrumb-wrapper .breadcrumbs-list:last-child a{
	color: #000 !important;
}

.breadcrumb-wrapper span{
	display: inline-block;
}


.shadow-page-title{
	text-shadow: 2px 1px #000;
}

.grey-filter{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);	
}

.grey-filter:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
	filter: grayscale(0%);	
}

/*.grey-filter-home{
-webkit-filter: grayscale(0%); 
filter: grayscale(0%);	
}

.grey-filter-home:hover{
-webkit-filter: grayscale(100%); 
filter: grayscale(100%);	
}*/

.grey-filter-home:hover .homePageCaptionBtnW{
	opacity: 1;
	margin-top: -5px;
}

#home-slider-prev a {
        left: -55px;
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    padding: 3px 10px;
    background-color: #f9bf1e;
    text-align: center;
    color: #3e3e3e;
   
}
#home-slider-next a {
    right: -51px;
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    padding: 3px 10px;
    background-color: #f9bf1e;
    text-align: center;
    color: #3e3e3e;
}

.home-slider-controls {
   bottom: 57%;
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    transition:0.4s;
    
}

.bx-wrapper{
	margin: 0px !important;
}



.homePageFirst:hover .home-slider-controls{
	opacity: 1;
	visibility: 1;
	bottom: 50%;
}

.accordianCareers{
	float: left;
	width: 65%;
}

.enquire-btn{
	cursor: pointer;
	color: #000;
	background: #F8C034;
	padding: 5px;
	display: block;
	width: 120px;
	font-size: 16px;
	margin: 10px auto;
}

.footer{
	width: 100%;
	background-color: #000;
	padding: 0px 0px;
	position: fixed;
	z-index: 9;
	bottom: 0;
	left: 0;
}

.footer .pull-right a{
	color: #fff;
	display: inline-block;
	padding: 0 10px;
}

.footer .pull-right a:hover{
	color: #f8c135;
}

.footer-registernow{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #F9BF1E;
	padding: 2px 3px;
	background-color: #F9BF1E;
	font-size: 14px;
	display: block;
	width: 140px;
	text-align: center;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 5px;
}

.footer span{
	color: #f8c135;
	vertical-align: top;	
}

.footer .social-icon{
	display: inline-block;
	margin-right: 5px;
}

/*.homePageSecondTop .homePageSecondBottom {

filter: grayscale(0%);	
}

.homePageSecondTop:hover ,.homePageSecondBottom:hover{

filter: grayscale(100%);		
}*/

/* form */
	.submit-btn{
		width: 100%;
		cursor: pointer;
	}
	.location-wrapper{
		width: 100%;
		margin-top: 30px;
	}

	.location-box{
		width: 28%;
	    float: left;
	    text-align: center;
	    border: 1px solid #fff;
	    padding: 20px;
	    margin-right: 30px;
	    margin-bottom: 30px;
	}
	.contactWrapper{
		padding: 120px 0px;
	}
	.form{
		padding: 20px;
	}
	.form-style{
		width: 100%;
		margin-bottom: 15px;
	}

	#cboxClose{
		top: 0 !important;
	}
/* sell do form */

.selldof label{
	display: none !important;
}

.selldo .sell_do_ctc .sell_do_ctc_btn{
  font-size: 14px !important;
}

.sell_do_verify_container{
  line-height: 0px !important;
}

.selldof .title{
  display: none;
}
.sell_do_virtual_number_mobile {
    color: #fff !important;
    font-size: 15px !important;
}
.sell_do_virtual_numbers{
  font-family: 'Roboto', sans-serif !important; font-size: 15px !important; 
  width: 135px !important;
  display: inline-block !important;
  margin-bottom: 0px !important;
}

.selldof .form-group{
  margin-bottom: 0px !important;
}
.selldof_row{
  margin-bottom: 20px !important;
}

.selldo{
  width: 20%;
  padding-top: 5px;
  padding-right: 20px;
}

.selldof .btn, .sell_do_ctc_btn, .selldof .btn, .sell_do_verify_btn{
	background-color: #f8c034;
    padding: 8px 15px;
    width: 100%;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}
.sell_do_virtual_numbers{
  width: 140px !important;
  font-size: 16px !important;
}

.selldof .form-control, .sell_do_form_control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 12px;
    line-height: 1.42857143;
    padding: 6px 12px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.home-padding-content-120{
	padding: 0 120px;
}

.homePageSecondBottom{

}

.homePageCaptionWrapper{
	position:absolute;
	top:35%;
	margin-top:-50px;
	text-align:center;
	width:100%;
	z-index: 9;
}
.homePageCaptionHd{
	font-size:32px;
	font-weight:bolder;
	color:#fff;
	text-transform: uppercase;
	line-height: 42px;
	margin-bottom: 20px;
}
.homePageCaptionHd:after {
	content: ' ';
	display: block;
	border-top: 0.1px solid #F9BF1E;
	width: 20%;
	margin: auto;
	position: absolute;
	left: 40%;
	top: 40px;
	height: 1px;
}
.homePageCaptionBtn{
	border: 1px solid #F9BF1E;
	display:inline-block;
	padding:5px 20px;
	color:#000;
	cursor:pointer;
	background-color:#F9BF1E;
	text-transform:uppercase;	
}

/*.homePageCaptionBtn:hover{
background-color:transparent;
border: 1px solid #fff;
color:#fff;

}*/
.homePageCaptionBtnW{
	background-color:#F9BF1E;
	border: 1px solid #F9BF1E;
	color:#000;
	display:inline-block;
	padding:5px 20px;
	cursor:pointer;
	text-transform:uppercase;
	opacity: 0;
	transition:0.4s;

}
/*
.homePageCaptionBtnW:hover{
background-color:#F9BF1E;
border: 1px solid #F9BF1E;
color:#000;

}*/

.contactpageWrapper{
	background: url(/images/contact_us_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-left:8%;
}	
.contactUsHd{
	font-size:32px;
	line-height:42px;
	text-transform:uppercase;
	color:#fff;
	position:relative;
	font-weight: 700;
}
.contactUsHd:after {
	content: ' ';
	display: block;
	border-top: 0.1px solid #F9BF1E;
	width: 100px;
	position: absolute;
	left: 0%;
	top: 45px;
	height: 1px;
}
.contactUsWrapper{
	width:70%;

}	
.contactUsLeft{
	width:60%;
	float:left;

}
.contactUsRight{
	width:40%;
	float:left;
}
.contactUsSubHd{
	font-size:24px;
	line-height:44px;
	color:#F9BF1E;
}	
.contactUsAddress{
	color:#fff;
}	
.contactUsAddress span{
	color:#F9BF1E;
}	
.contactDisc{
	font-size:14px;
	color:#fff;
}
.ourprogramWrapper{
	/*background-color:red;*/
	margin-left: 0px;
}	
.ourProgramSection{
	float:left;
	width:33.33%;
	height:100%;
	position:relative;
}	
.ourprogramFirst{
	width: 100%;
	background: url(/images/our_program_bg_01.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}


.trainingFirst{
	width: 100%;
	background: url(/images/our_program_bg_01.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float:
}

.trainingSecond{
	width: 100%;
	background: url(/images/our_program_bg_02.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float:
}


.ourprogramSecond{
	background: url(/images/our_program_bg_02.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	width: 50%;
}


.ourprogramThird{
	background: url(/images/our_program_bg_03.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 50%;
}
.ourprogramCaptionWrap{
	position:absolute;
	top:35%;
	text-align:center;
	left:0px;
	margin-top:-50px;
	width:100%;
}
.ourprogramCaptionHd{
	font-size:32px;
	font-weight:bolder;
	line-height:32px;
	text-transform:uppercase;
	color:#fff;
	position: relative;
}	
.ourprogramCaptionHd:after {
	content: ' ';
	display: block;
	border-top: 0.1px solid #F9BF1E;
	width: 20%;
	margin: auto;
	position: absolute;
	left: 40%;
	top: 40px;
	height: 1px;
}
.ourprogramCaptionBtn{
	margin-top:20px;
}	
.ourprogramCaptionBtn a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #fff;
	padding:5px 15px;

}
.ourprogramCaptionBtn a:hover{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #F9BF1E;
	padding:5px 15px;
	background-color:#F9BF1E;		
}


/*our program training*/

.ourProgramTrainingSection{
	float:left;
	width:50%;
	height:100%;
	position:relative;
}	
.ourprograrTrainingFirst{
	background: url(/images/training_bg_01.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ourprogramrTrainingSecond{
	background: url(/images/training_bg_01.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.ourprogramTrainingCaptionWrap{
	position:absolute;
	top:50%;
	text-align:center;
	left:0px;
	margin-top:-80px;
	width:100%;
}
.ourprogramTrainingCaptionHd{
	font-size:32px;
	font-weight:bolder;
	line-height:32px;
	text-transform:uppercase;
	color:#000;
}	

.ourprogramrTrainingCaptionBtn{
	margin-top:20px;
}	
.ourprogramTrainingCaptionBtn a{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #fff;
	padding:5px 15px;
	background-color:#fff;
	width: 115px;
	display: inline-block;

}
.ourprogramCaptionBtn a:hover{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #F9BF1E;
	padding:5px 15px;
	background-color:#F9BF1E;		
}

.how-we-train-content{
	color:#fff;
	width:90%;
	padding-left:50px;
}

/*about us page hd */
.aboutUsWrapper{
	background: url(/images/texture.jpg); 
	background-repeat: repeat;
	/*background-attachment:fixed;*/
}	
.aboutUsContent{
	color:#fff;
	width:100%;
	float:left;
	/*margin: 0 auto;*/
	padding:0px 50px;
}	
.aboutUsPageSubHd{
	color:#F9BF1E;
	font-size:24px;
	line-height:36px;
	font-weight:bold;

}
.aboutUsPagesmallHd{
	color:#F9BF1E;
}
.list{
	color:#cfcfcf;
	margin-left:15px;

}
.list li{
	list-style: disc;
	color: #cfcfcf;
}	
.yellowColor{
	color:#F9BF1E;	
}	
.aboutusNavigation{
	float:right;
	height:100%;
	position:fixed;
	right:15px;

}
.nav-links{
	position:relative;
}

.why-join .nav-links:before{	
	position: absolute;
	content: "";
	border: 1px solid #fff;
	height: 90%;
	top: 5%;
	left: 4px;
}

.nav-links:before{	
	position: absolute;
	content: "";
	border: 1px solid #fff;
	height: 75%;
	top: 13%;
	left: 4px;
}
.nav-links li {
	padding:30px 0px;
}
.nav-links li a {
	color: #fff;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
	text-decoration:none;
}
.nav-links li a::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.nav-links li a:hover::after, .nav-links li a.active::after {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	border: 1px solid #FFBC2D;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.media-wrapper{

}
.media-wrapper a{
	overflow: hidden;
	width: 25%;
	display: block;
	float: left;
}
.media-img-section{
	width: 100%;
	background-image: url(/images/01.jpg) 
	background-repeat:no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	position: relative;	
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
}
.media-wrapper a:hover > .media-img-section {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);    
}
.media-cap-section{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	background-color: transparent;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
	background-image: -webkit-gradient(linear,0,100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,.9)));
	background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
	background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
	background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e6000000', GradientType=0);
	background-repeat: repeat-x;
	color: #f8c034;
	text-align: center;
}
.media-caption {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
	width: 100%;
	height: 100%;
	transform: translateY(200px);
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	-ms-transform: translateY(200px);
	-o-transform: translateY(200px);	
}
.media-wrapper a:hover .media-caption {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);		
}	
.media-caption .blur {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
	width: 100%;
	z-index: 5;
	position: absolute;
}
.media-wrapper .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 50%;
	margin-top: -10px;
}	
.caption-read-more{
	display: inline-block;
	border: 1px solid #fff;
	padding: 3px 10px;
}
.wrapper-margin-top{
	margin-top: 100px;
}
.media-details-wrap{
	text-align: justify;
}
.media-details-wrap img{
	float: left;
	margin-right: 20px;
}
/*	.mediaWrapper{

}	
.mediaLeft{
float:left;
width:15%;
background-color:#999;
position:fixed;
}
.mediaRight{
float:left;
margin-left:15%;
width:70%;
height:100%;
background-color:#FFBC2D;
}
.mediaContentWrapper{
padding:20px 50px;
}	
.mediaBox{
border:5px solid #000;
color:#fff;
padding:10px 5px;
margin:10px 0px;	
position:relative;
cursor:pointer;
box-shadow: 0px 5px 4px 0px #333;
}	
.mediaPageHd{
color:#000;
font-size:32px;
line-height:42px;
font-weight:bold;
}	
.mediaContentDate{
}	
.mediaBoxWrapper{
width:94%;
}	
.mediaBoxContainer{
display:none;
}	
#mediaBox1{
display:block;
}	
.mediaBox.active{
background-color:#FFBC2D;
color:#000;
}	
.mediaBox:before {
width: 0; 
height: 0; 
border-top: 9px solid transparent;
border-bottom: 9px solid transparent;
border-left: 9px solid #000;
content:'';
position:absolute;
right:-14px;
top:44%;
}
*/
/* gallery */
.galleryWrapper{
	background: url(/images/media_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
}

.galleryContent{
	color:#fff;
	width:90%;
	margin: 0 auto;
/*float:left;
padding-left:50px;*/
}



.galleryCaptionWrap {
    position: absolute;
    top: 45%;
    text-align: center;
    left: 0px;
    margin-top: -50px;
    width: 100%;
}

.gallery-year-title {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
}

.gallery-subtitle{
	color: #fff;
    font-size: 25px;
    font-weight: 400;	
    margin-bottom: 40px;
}

.careersContent{
	color: #c7c7c7;
	width: 90%;
	margin: 0 auto;
	padding: 100px 0px;
}

.mediaContent{
	color: #c7c7c7;
	width: 90%;
	margin: 0 auto;
	padding: 100px 0px;
}

.albumWrapper{
	width: 100%;
	margin-top: 50px;

}

.albumBox{
	width: 24%;
	float: left;
	margin: 0 9px 10px 0px;
	position: relative;
	display: block;
	overflow: hidden;
}

.contact-form{
	margin-left: 50px;
}

.contact-form .form-style{
	width: 45%;
}
.success-cover{
	background-size: cover;
	height: 200px;
	background-position: center top;	
}
.success-story-image{
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.ablum-cover1{
	background-image: url('/images/photoalbum_thumb_01.jpg');
	background-size: cover;
	height: 200px;
}

.ablum-cover2{
	background-image: url('/images/photoalbum_thumb_02.jpg');
	background-size: cover;
	height: 200px;
}

.ablum-cover3{
	background-image: url('/images/photoalbum_thumb_03.jpg');
	background-size: cover;
	height: 200px;
}


.ablum-cover4{
	background-image: url('/images/photoalbum_thumb_04.jpg');
	background-size: cover;
	height: 200px;
}

.ablum-cover5{
	background-image: url('/images/photoalbum_thumb_05.jpg');
	background-size: cover;
	height: 200px;
}

.ablum-cover6{
	background-image: url('/images/photoalbum_thumb_06.jpg');
	background-size: cover;
	height: 200px;
}
.ablum-cover7{
	background-image: url('/images/photoalbum_thumb_07.jpg');
	background-size: cover;
	height: 200px;
}

.ablum-cover8{
	background-image: url('/images/photoalbum_thumb_08.jpg');
	background-size: cover;
	height: 200px;
}

.albumBox .caption{
	text-align: center;
	background-color: #4f4f4f;

	position: absolute;
	bottom: 0;
	width: 100%;
}

.albumBox .bold{
	font-weight: bold;
}

.albumWrapper a{
	color: #fff !important;
}

.yellow{
	color: #f8c034;

}

.albumBox .f13{
	font-size: 13px;
}

/* gallery details*/

.photoContent{
	color:#fff;
	width:100%;
	margin: 0 auto;
/*float:left;
padding-left:50px;*/
}

.yellow{
	color: #f8c034;
}

.bold{
	font-weight: bold;
}

.grey{
	color: #A9A9A9;
}

.photoWrapper{
	width: 100%;

}

.photo{
	width: 25%;
	float: left;

}

.greylayer{
	background-color: #0d0d0d;
	height: 200px;
	opacity: 0.8;
	transition:0.4s;
}

.photo:hover .greylayer{
	opacity: 0;
}


.album-tab{
	width: 99%;

	margin-bottom: 20px;
	padding-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.album-tab:after{
	content: ' ';
	display: block;
	border-top: 0.1px solid #FFF;
	width: 100%;
	position: absolute;
	left: 0%;
	bottom: 20px;
	height: 1px;
	z-index: 0;
}



.list-year{
	width: 5%;
	margin: 0px 60px;
	float: left;
	position: relative;
	z-index: 9;
	text-align: center;

}

.league-location{
	width: 30%;
	position: absolute;
	bottom: 40%;
	left: 11%;
	font-size: 25px;
}

.league-division{
	width: 30%;
	position: absolute;
	bottom: 40%;
	right: 0%;
	font-size: 25px;
}

.league-location div, .league-division div{
	margin-bottom: 10px;
}	

.league-location .padding-select,.league-division .padding-select {
	padding: 8px 15px;
	background-color: transparent;
	color: #000;
	border: 1px solid #000;
	width: 60%;
	}.sprite{background-image: url('/images/Polygone_Sprite.png');width: 21px;height: 24px;margin:0 auto; cursor: pointer;background-repeat: no-repeat;    background-position: 0px -113px;}
	.album1 {background-repeat:no-repeat; background-position:  0px -113px;}
	.album1:hover{background-repeat:no-repeat; background-position: 0 0px;}
	.album2 {background-repeat:no-repeat; background-position: 0px -113px;}
	.album2:hover{background-repeat:no-repeat; background-position: 0px 0px;}
	.album3 {background-repeat:no-repeat; background-position: 0px -113px;}
	.album3:hover{background-repeat:no-repeat; background-position: 0px 0px;}
	.album4{background-repeat:no-repeat; background-position: 0px -113px}
	.album4:hover{background-repeat:no-repeat; background-position: 0px 0px}
	.album5{ background-repeat:no-repeat; background-position: 0px -113px}
	.album5:hover{background-repeat:no-repeat; background-position: 0px 0px}
	.active-album{background-repeat:no-repeat; background-position: 0px 0px}

#album-2016{
	display: block;
}

#album-2015{
	display: none;
}

#album-2014{
	display: none;
}

#album-2013{
	display: none;
}

#album-2012{
	display: none;
}

.albumBox:hover .greylayer{
	opacity: 0;
}

.adviceVideo{
	width: 100%;
}

.video{
	width: 25%;
	float: left;
	height: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.video-thumb1{
	background-image:url('/images/careers_video_thumb_01.png');
	background-repeat:no-repeat;
	background-size:cover;
}

.video-thumb2{
	background-image:url('/images/careers_video_thumb_03.png');
	background-repeat:no-repeat;
	background-size:cover;
}

.video-thumb3{
	background-image:url('/images/careers_video_thumb_02.png');
	background-repeat:no-repeat;
	background-size:cover;
}

.toUpper{
	text-transform: uppercase;
}

.loadMore{
	width: 15%;
	position: absolute;
	right: 40px;
	bottom: 15px;

}

.back-btn{
	display: none;
	text-decoration: none;
	width: 15%;
	position: fixed;
	right: 40px;
	bottom: 30px;
}	
.faqWrapper{
	width: 100%
}

.shortcodes{
	width: 30%;
	float: left;
}

.accordianFaq{
	width: 65%;
	float: right;
}

.listShortCodes li{
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
	padding-top: 20px;

}

.ourprogramTop{
	width: 50%;
	background-image: url(/images/our-program_barcelona-clinic_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	position: relative;
}

.ourprogramBottom{
	width: 50%;
	background-image: url(/images/our-program_football-camps_bg.jpg);
	background-size: cover;	
	background-position: center;
	float: right;
	position: relative;
}

.programTitle{
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	position: relative;
	text-align: center;
	padding-top: 150px;
}

.programTitle:after {
	content: ' ';
	display: block;
	border-top: 1px solid #F9BF1E;
	width: 20%;
	margin: auto;
	position: absolute;
	left: 40%;
	top: 190px;
	height: 1px;
}


.programButtons{
	width: 35%;
	margin: 0 auto;
	padding-top: 30px;
}


.programbottomButtons{
	width: 10%;
	margin: 0 auto;
	padding-top: 30px;	
}
.buttons{
    width: 125px;
    float: left;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 5px 0px;
    margin-right: 20px;
}

.programButtons .buttons:hover{
	color: #000;
	border: 1px solid #f8c034;
	background-color: #f8c034;
}

.programbottomButtons .buttons:hover{
	color: #000;
	border: 1px solid #f8c034;
	background-color: #f8c034;
}

.bgyellow{
	background-color: #f8c034;
	border: 1px solid #f8c034
}

.black{
	color: #000 !important;
}

.clinic-form{
	width: 100%;
}

.clinic-form form{
	color: #808080;
}

.form-style{
	padding: 10px 20px;
	margin-right: 20px;
	width: 100%;
	background-color: transparent;
	border: 1px solid #2f2f2f;
	color: #808080;
	margin-bottom: 10px;
}
select{
	border: 1px solid #2f2f2f;
}
.padding-select{
	padding: 8px 15px;
	background-color: transparent;
	color: #808080;
}

.submit-btn{
	background-color: #f8c034;
	padding: 8px 15px; 
	width: 230px;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
}

.barcalonaclinicHd{
	font-size:32px;
	line-height:42px;
	text-transform:uppercase;
	color:#fff;
	position:relative;
}

.barcalonaclinicHd:after {
	content: ' ';
	display: block;
	border-top: 0.1px solid #F9BF1E;
	width: 100px;
	position: absolute;
	left: 0%;
	top: 150px;
	height: 1px;
}

/* view center */
	.delhiWrapper{
		width: 50%;
		float: left;background-image: url(/images/training_bg_01.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: grayscale(80%);

	}

	.mumbaiWrapper{
		width: 50%;
		float: right;
		background-image: url(/images/training_bg_02.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: grayscale(80%);

	}

	.delhiWrapper .title, .mumbaiWrapper .title{
		color: #000;
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}

	.delhiWrapper .viewButtons, .mumbaiWrapper .viewButtons{
		    width: 30%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    display: block;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    /* margin-bottom: 20px; */
    margin: auto;


	}
.delhiWrapper .postion-middle{
	 position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;

}

.mumbaiWrapper .postion-middle{
	 position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;

}

/* cpfl */

.cpfl-wrapper{
		width: 50%;
		float: left;background-image: url(/images/our_program_bg_02.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.qatarWrapper{
		width: 50%;
		float: right;
		background-image: url(/images/our_program_bg_01.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.cpfl-wrapper .title, .qatarWrapper .title{
		color: #fff;
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}

	.cpfl-wrapper p, .qatarWrapper p{
		color: #fff;
	}

	.cpfl-wrapper table, .qatarWrapper table{
		color: #fff;
		text-align: left;
	}

	.cpfl-wrapper .viewButtons, .qatarWrapper .viewButtons{
		    width: 30%;
    background-color: #fff;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    /* margin-bottom: 20px; */
    margin: auto;


	}
.cpfl-wrapper .postion-middle{
	 position: absolute;
    left: 0%;
    top: 20%;
    width: 100%;

}

.qatarWrapper .postion-middle{
	 position: absolute;
    left: 0%;
    top: 20%;
    width: 100%;

}



.football{
	max-width: 56%;
	background-image: url(/images/our-program_schedule_bg_02.png);
	height: 450px;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-size: contain;
}

.league-table-football {
	max-width: 76%;
	background-image: url(/images/our-program_schedule_bg_02.png);
	height: 450px;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-size: contain;
}

.scheduleWrapper{
	width: 75%;
	margin: auto;
	padding: 150px 0px;
}

.scheduleHd{
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.knowmore{
	width: 15%;
	margin: auto;
	text-align: center;
	color: #000;
	font-size: 20px;
	background-color: #f8c034;
	padding: 10px;
	cursor: pointer;
}

.cpflWrapper {
	width: 85%;
	margin: auto;
	padding: 150px 0px;
}

.buttonsCpfl{
	width: 30%;
	float: left;
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	padding: 10px 0px;
	margin-right: 10px;
	font-weight: bold;
	text-decoration: none;display: block;text-decoration: none;color: #fff;
}

.programButtons .buttonsCpfl:hover{
	color: #000;
	background-color: #f8c034;
	border: 1px solid #f8c034;
}

.programbottomButtons .buttonsCpfl:hover{
	color: #000;
	background-color: #f8c034;
	border: 1px solid #f8c034;
}

.button-know-more .buttonsCpfl:hover{
	color: #000;
	background-color: #f8c034;
	border: 1px solid #f8c034;
}


/* schedule */
.campScheduleWrapper {
	background: url(/images/IMG_4.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.schedule-col{
	width: 23%;
	float: left;
	margin-right: 10px;
}

.table-schedule table td{
	padding: 20px 0px;
	border-bottom: 1px solid #fff;
}


/* upcoming event*/

.upcomingEventsWrapper {
	background: url(/images/IMG_1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.upcomingEventsWrapper .upcoming-event-list{
	margin-bottom: 40px;
}

.upcomingEventsWrapper .upcoming-event-list .event-list{
	width: 100%;
}

.upcomingEventsWrapper .upcoming-event-list .event-list .event-image{
	width: 30%;
	float: left;
	margin-right:20px;
}

.upcomingEventsWrapper .upcoming-event-list .event-list .event-detail{
	width: 60%;
	margin-right: 20px;
	float: left;
	padding-bottom: 20px;
	border-bottom: 1px solid #565656;
}

.upcomingEventsWrapper .upcoming-event-list .event-list .event-detail .event-title{
	font-size: 20px;
}

.upcomingEventsWrapper .upcoming-event-list .event-list .event-detail .event-date{
	width: 30%;
	float: left;
}

.upcomingEventsWrapper .upcoming-event-list .event-list .event-detail .button-know-more{
	width: 30%;
	float: right;
}

.button-know-more .buttonsCpfl{
	width: 80%;
	text-align: center;
	padding: 5px 0px;
}

/* Overview */
.overviewWrapper{
	background: url(/images/overview_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
}	

.fcbsWrapper{
	background: url(/images/FCBEscola_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
}	


.fcbescola-bg{
	background: url(/images/Banner-IMG1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	background-position: top center;
}	

.fcbclinics-bg{
	background: url(/images/Clinic-Head-Img.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	background-position: top;
}

.escola-container{
	width: 95%;
    padding: 75px 75px;
}

.escola-title{
	font-size: 32px;
}

.bg-white{
	background-color: #fff;
}

.escola-content{
	padding-top: 20px;
	font-size: 17px;
	line-height: 27px;
	color: #232323;
}

.escola-w50{
	width: 50%;
}

.escola-w50 ul{
	font-size: 21px;
	line-height: 32px;	
	color: #494949;
}

.coach-desg{
	font-size: 24px;
}

.yellow-bg{
	background-color: #f9c136;
}

.yellow-bg-dark{
	background-color: #f1b92e;
}

.padding50{
	padding: 75px;
}

.mh900{
	min-height: 511px;
}

.highlights-tabs{
	margin: 30px 0px;
    width: 100%;
    display: block;
}

.highlights-title{
	font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.highlights-content{
	margin-top: 70px;
    margin-bottom: 30px;
}

.coach-info-details ul{
	font-size: 17px;
}

.accordian-escola{
	width: 100%;
}

.escola-gray-bg{
	background-color: #ecf0f1;
}

.striped{
	background-color: #f5f8f7;
}

.table-header-red{
	background-color: #d9130e;
	color: #fff;
	border-right: 1px solid #ecf0f1;
	width: 25%;
    padding: 10px 0px;
    font-weight: normal;
    font-size: 17px;
}

.table-register-btn{
	background: #000;
    padding: 10px 40px;
    color: #fff;
    border-radius: 10px;
}

.table-cell-wrapper{
	padding: 20px 10px;
    border: 1px solid #ddd;
}

.about-w20{
	width: 20%;
	/*margin: 0px 20px;*/
}

.about-w20 img{
	display: inline-block;
}

.white-box{
	margin-right: 20px;
}

.about-w70{
	width: 76%;
}

.clinics-content{
	font-size: 16px;
	line-height: 26px;
}

.yellow-box-wrapper{
	padding: 35px 30px !important;
}

.about-us-box{
	margin: 20px 0px;
	padding: 35px 0px;
}

.clinics-wrapper{
	padding: 0px 75px 75px 75px;
}

.clinics-container{
	max-width: 1500px;
	margin: 0 auto;
}


.delhi-ncr-bg{
	/*background-image: url(/images/Delhi-Map.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 420px;*/
	padding: 20px 0px 0px 0px;
}

.mumbai-ncr-bg{
	/*background-image: url(/images/Mumbai-Map.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
	height: 420px;*/
	padding: 20px 0px 0px 20px;
}
.highlights-btn{
	    display: inline-block;
    font-size: 19px;
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
    padding: 5px 0px;
    width: 250px;
    margin: 5px 0;
}



.escola-banner{
	background-image: url(/images/background-admission.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;

}
.escola-banner-content .logo{
	width: 50%;
}


.banner-content{
	font-size: 24px;
    line-height: 35px;
}

.explore-btn{
	display: block;
    font-size: 22px;
    border: 2px solid #fff;
    width: 270px;
    color: #fff;
    padding: 0 10px;
    margin-top: 40px;
}

.escola-subtitle{
	color: #494949;
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
}

.explore-btn span{
	display: inline-block;
	margin-left: 30px;
}

.age-category{
	font-weight: 600;
	font-size: 17px;
	color: #494949;
	margin: 20px 0px;
}

.escola-banner-content{
	top: 10%;
    left: 3%;
    margin-top: -35px;
}

.sprite-new{
	background-image: url(/images/Sprit-Icon.png) ;
	background-repeat: no-repeat;
	
}

.close-btn{
	width: 16px;
    height: 16px;
    background-position: -17px 0;
    right: 60px;
    top: 5%;
    cursor: pointer;
}

.coach-info-details{
	background-color: #f1b92e;
    padding: 100px;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.caret-right{
	background-position: 0 -1px;
	width: 8px;
	height: 12px;
}

.highlights-btn-active{
	background-color: #000 !important;
}

.coach-btn{
	background-color: #000;
    color: #fff;
    width: 310px;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.coach-btn span{
	display: inline-block;
	margin-left: 30px;
	position: absolute;
    right: 26px;
    top: 20px;
}

.coach-btn-active{
	background-color: #ea0001 !important;
}

.coach-btn:after{
	content: '';
	position: absolute;
	right: 0;
	top: 10px;
}

.overviewFaq{
	background: url(/images/faq_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
}


.trainingWrapper{
	width: 100%;
	text-align: center;
}
.escolaProgram{
	width: 50%;
	background-image: url(/images/training_escola_bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	float: left;

}

.escolaProgram .trainingTitle{
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	line-height: 36px;
	position: relative;
}

.formativeProgram .trainingTitle{
	color: #f8c034;
	font-size: 35px;
	font-weight: bold;
	line-height: 36px;	
	position: relative;
}

.formativeProgram .trainingTitle:after {
	content: ' ';
	display: block;
	border-top: 1px solid #F9BF1E;
	width: 40%;
	margin: auto;
	position: absolute;
	left: 30%;
	bottom: 0px;
	height: 1px;
}

.contentTraining {
	position: absolute;
	top: 20%;
}

.escolaProgram .trainingTitle:after {
	content: ' ';
	display: block;
	border-top: 1px solid #fff;
	width: 40%;
	margin: auto;
	position: absolute;
	left: 30%;
	bottom: 0px;
	height: 1px;
}

.formativeProgram{
	color: #fff;
}


.formativeProgram{
	width: 50%;
	background-image: url(/images/training_formative_bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	float: right;

}

.escolaProgram p, .formativeProgram p{
	padding: 15px 30px;
}

.faqbgWrapper{
	background: url(/images/our-program_camps_faq_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
	padding: 100px 0px;
}

.campsregisterWrapper{
	background: url(/images/our-program_camps_mumbai_register_bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
	height:100%;
	padding: 100px 0px;
}

.fcbWrapper{
	width: 100%;
	background-image: url(/images/FCBEsocla_venues_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	text-align: center;

}

.fcbContent {
	width: 80%;
	margin:0 auto;
	padding-top: 30%;
}

.fcbContent .venueTitle{
	color: #fff;
	font-weight: bold;
	font-size: 45px;
	position: relative;
}

.fcbContent .venueTitle:after {
	content: ' ';
	display: block;
	border-top: 1px solid #F9BF1E;
	width: 20%;
	margin: auto;
	position: absolute;
	right: 40%;
	top: 40px;
	height: 1px;
}
.fcbWrapper .viewCenterBtn{
	width: 15%;
	background-color: #f8c135;
	display: block;
	line-height: 40px;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	position: absolute;
	bottom: 10%;
	left: 42%;

}

.rules-regulation-bg{
	background-image: url(/images/Rules_Regulation_BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.rules-regulation-bg .scheduleWrapper {
	width: 75%;
	margin: auto;
	padding-top: 150px;
	text-align: center;
}


.rules-regulation-bg .buttons {
	width: 25%;
	float: left;
	color: #fff;
	font-size: 18px;
	border: 1px solid #fff;
	padding: 5px 20px;
	margin-right: 20px;
	font-weight: bold;
}

.annual-calendar-bg{
	background-image: url(/images/Annual_Calendar_BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.annual-calendar-bg .scheduleWrapper{
	width: 80%;
	margin: auto;
	padding-top: 150px;
}

.annual-calendar-bg .calendar{
	width: 100%;

}
.annual-calendar-bg .calendar .calendar-list{
	background-image: url(/images/Calendar_Tab_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 45px;

}

.annual-calendar-bg .scheduleWrapper .programTitle{
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	position: relative;
	text-align: center;
	padding-top: 90px;
}

.annual-calendar-bg .programTitle:after {
	content: ' ';
	display: block;
	border-top: 1px solid #F9BF1E;
	width: 20%;
	margin: auto;
	position: absolute;
	left: 40%;
	top: 130px;
	height: 1px;
}

.season{
	width: 50%;
	position: absolute;
	left: 10%;
	bottom: 10px;
}

.date{
	width: 50%;
	right: -5%;
	position: absolute;
	bottom: 11px;
}

.why-join-intro{
	font-size: 40px;
	margin-bottom: 25px;
	font-weight: bold;
	line-height: 55px;
	text-align: left;
}
.form-sub-title{
margin: 10px 0px;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
}

.form-fields{
width: 35%;
margin-right: 30px;
}
.form-fields textarea{
	resize: none;
}
.form-style{
width: 100%;
}

.padding-select-form {
padding: 10px 21px;
background-color: transparent;
color: #808080;
}
.aboutUsContent{
padding: 50px 50px;
}
.submit-btn{
cursor: pointer;
}
.form-fields .lable-text{
font-size: 14px;
color: #fff;
}
.form-fields .lable-text span,.form-sub-title span,.form-fields span,label.error{
color: #f00;
}
label.error{
font-size: 11px;
}
#form-success{
display: none;
color: #fff;
font-size: 28px;
line-height: 36px;
text-align: center;
padding: 100px 0;	
}
.form-wrapper-section{
width: 80%;
margin: auto;	
}
.help-text{
color: #f8c034 !important;
font-size: 11px;
}
.kit-size-label{
cursor: pointer;
}
.kit-size td{
padding: 0 30px;
}
.kit-size td:first-child{
padding: 0;	
}
.form-wrapper-section{
	width: 80%;
	margin: auto;	
}
	@media only screen and (min-width:1300px) and (max-width:1366px){
/*.scheduleWrapper{
padding-top: 40px;
}	*/
.football{
	max-width: 80%;
	height: 320px;
}



.mh900 {
    min-height: 619px;
}

.menuWrapper li {
    padding: 5px 0px;
}

.mainmenuWrapper li {
    padding: 5px 0px;
}

.highlights-btn{
	    font-size: 15px;
    width: 150px;
    margin-right: 4px;
    line-height: 22px;
}

.escola-banner-content{
	bottom: 23%;
}

/*.banner-content {
    font-size: 26px;
    line-height: 38px;
}
*/
.pageWrapper{
	width: 100%;
}

.mh-150{
	min-height: 100px;
}

.escolaProgram{
	padding-left: 60px;
}

.breadcrumb-wrapper{
	left: 21%;
}

.programButtons{
	width: 53%;
}

.careersContent, .mediaContent{
	padding: 100px 30px;
}

.galleryContent{
	padding: 0 30px;
}

/*.ourprogramWrapper{
	margin-left: 75px;
}
*/
.list-year{
	margin: 0 22px;
}
.list-year span {
	position: absolute;
	left: 25% !important;
	top: 15px;
	width: 300px;
	text-align: left;
}

.why-join-nav .list-year{
	padding: 14px 56px !important;
}

.list-year span{
	top: 14px !important;
}

.league-location{
	bottom: 55%;
}

.league-division{
	bottom: 55%;
}

.league-location div, .league-division div {
	font-size: 18px;
}
}

@media all and (max-width:1024px){

	.homePageCaptionHd{
		font-size: 25px;
	}

	.scheduleWrapper{
		padding-top: 50px;
	}
	.football{
		margin-left: 0;
		background-size: contain;
	}
	.programButtons{
		width: 85%;
	}

	.submit-btn{
		width: 25%;
	}

	.list-year{
		margin: 0px 55px;
	}

	.video-thumb1{
		background-image:url('/images/careers_video_thumb_01.png');
		background-repeat:no-repeat;
		background-size:contain;
	}

	.video-thumb2{
		background-image:url('/images/careers_video_thumb_03.png');
		background-repeat:no-repeat;
		background-size:contain;
	}

	.video-thumb3{
		background-image:url('/images/careers_video_thumb_02.png');
		background-repeat:no-repeat;
		background-size:contain;
	}
	.mediaLeft{
		width: 23%;
	}

	.mediaRight{
		margin-left: 28%;
	}

	.video{
		height: 125px;
	}

	.escola-container{
		padding: 40px 30px;
	}

}

@media all and (max-width: 768px){

	.escola-container {
        padding: 40px 30px;
	}

	.about-w20{
		width: 63%;
	}



	.about-w70 {
	    width: 100%;
	}

	.knowmore{
		width: 23%;
	}
	.form-style{
		width: 35%;
		margin-bottom: 10px;
	}

	.cpflWrapper{
		width: 95%;
		padding-top: 100px;
	}

	.programButtons{
		width: 100%;
	}
	.fcbWrapper .viewCenterBtn{
		width: 25%;
		left: 37%;
	}
	.list-year {
		margin: 0px 40px;
	}

	.albumBox {
		width: 45%;
	}

	.mediaLeft{
		width: 26%;
	}

	.mediaRight{
		margin-left: 32%;
	}

	.video {
		height: 90px;

	}

	.loadMore{
		right: 20px;
	}

	.photo{
		width: 33%;
		margin-left: 2px;
	}


}

@media all and (max-width: 1030px){
  #home-slider-prev a {
    left: -17px;
 }
 #home-slider-next a {
    right: -17px;
}
}