<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %> *(Youtube embeded URL)<br />
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :show_order %><br />
    <%= f.text_field :show_order %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br />
    <%= f.date_select :published_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
