<h1 class="top-round">Listing videos <%= link_to 'New Video', new_video_path %></h1>
<table class="table table-striped table-bordered" width="100%" cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Status</th>
    <th>Published date</th>
    <!-- <th></th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.title %></td>
    <td><%= video.url %></td>
    <td><%= video.status %></td>
    <td><%= video.published_date %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

