<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Status:</b>
  <%= @video.status %>
</p>

<p>
  <b>Published date:</b>
  <%= @video.published_date %>
</p>




<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
