



<%= form_for @news, :html => { :multipart => true } do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Document %>(only pdf file)<br />
    <%= f.file_field :doc %>  <br class="clear">
    <% if @news.doc.present?%>
      <a href="<%=@news.doc.url%>" target="_target">View Document</a>
    <%end%> <br/><br class="clear">
  </div>
<!--   <div class="field">
    <%= f.label :published_date %><br />
    <%= f.text_field :published_date  %>
  </div>  -->
    <div class="field">
    <%= f.label :published_date %><br />
    <%= f.date_select :published_date %>
  </div>
  <div class="field">
    <%= f.label :show_order %><br />
    <%= f.text_field :show_order %>
  </div>  
    <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
