<h1>File Uploads</h1>
<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@news , :url => '/assets/add', :method => 'post', :html => {:multipart=>true}) do |f| %>
    <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input name="entity_id" value="<%= @news.id %>" type="hidden" />
   <h5 style="color:red;width:95%;margin:auto"> Dimension of image : width=200px and height =200px </h5> 
  <%#= render :partial => "assets/assets", :locals => {:for_class => "News", :entity => @news} %>
  <%= render :partial => "assets/singular_assets", :locals => {:for_class => "News", :entity => @news, :asset_types => ["main_image"]} %>
    <br clear="all"/>    <br clear="all"/>
  <p align="center">
    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


