
<h1 class="top-round">Listing news <%= link_to 'New News', new_news_path %></h1>
<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Published Date</th>
    <th>Status</th>
    <th>Images</th>
    <th colspan="4">Action</th>
   
  </tr>

<% @news.each do |news| %>
 <tr class="<%= cycle ("scaffolded-odd","scaffolded-even") %>">
    <td><%= news.title[0..20] %></td>
    <td><%= news.status %></td>
    <td><%= news.published_date %></td>
    <td><a href="/news/assets/<%= news.id%>" class="round button1">Add Images</a></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
