<%= form_for(@trial_registration) do |f| %>
  <% if @trial_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial_registration.errors.count, "error") %> prohibited this trial_registration from being saved:</h2>

      <ul>
      <% @trial_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :guardians_phone %><br />
    <%= f.text_field :guardians_phone %>
  </div>
  <div class="field">
    <%= f.label :guardians_email %><br />
    <%= f.text_field :guardians_email %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.text_field :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :preferred_center %><br />
    <%= f.text_field :preferred_center %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :utm_source %><br />
    <%= f.text_field :utm_source %>
  </div>
  <div class="field">
    <%= f.label :utm_campaign %><br />
    <%= f.text_field :utm_campaign %>
  </div>
  <div class="field">
    <%= f.label :utm_medium %><br />
    <%= f.text_field :utm_medium %>
  </div>
  <div class="field">
    <%= f.label :utm_term %><br />
    <%= f.text_field :utm_term %>
  </div>
  <div class="field">
    <%= f.label :utm_content %><br />
    <%= f.text_field :utm_content %>
  </div>
  <div class="field">
    <%= f.label :srd %><br />
    <%= f.text_field :srd %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :sibling_name %><br />
    <%= f.text_field :sibling_name %>
  </div>
  <div class="field">
    <%= f.label :sibling_number %><br />
    <%= f.text_field :sibling_number %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
