<h1>Listing trial_registrations</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Guardians phone</th>
    <th>Guardians email</th>
    <th>Gender</th>
    <th>Date of birth</th>
    <th>City</th>
    <th>Preferred center</th>
    <th>School name</th>
    <th>Utm source</th>
    <th>Utm campaign</th>
    <th>Utm medium</th>
    <th>Utm term</th>
    <th>Utm content</th>
    <th>Srd</th>
    <th>Project</th>
    <th>Url</th>
    <th>Device</th>
    <th>Sibling name</th>
    <th>Sibling number</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trial_registrations.each do |trial_registration| %>
  <tr>
    <td><%= trial_registration.fullname %></td>
    <td><%= trial_registration.first_name %></td>
    <td><%= trial_registration.last_name %></td>
    <td><%= trial_registration.email %></td>
    <td><%= trial_registration.guardians_phone %></td>
    <td><%= trial_registration.guardians_email %></td>
    <td><%= trial_registration.gender %></td>
    <td><%= trial_registration.date_of_birth %></td>
    <td><%= trial_registration.city %></td>
    <td><%= trial_registration.preferred_center %></td>
    <td><%= trial_registration.school_name %></td>
    <td><%= trial_registration.utm_source %></td>
    <td><%= trial_registration.utm_campaign %></td>
    <td><%= trial_registration.utm_medium %></td>
    <td><%= trial_registration.utm_term %></td>
    <td><%= trial_registration.utm_content %></td>
    <td><%= trial_registration.srd %></td>
    <td><%= trial_registration.project %></td>
    <td><%= trial_registration.url %></td>
    <td><%= trial_registration.device %></td>
    <td><%= trial_registration.sibling_name %></td>
    <td><%= trial_registration.sibling_number %></td>
    <td><%= trial_registration.comments %></td>
    <td><%= link_to 'Show', trial_registration %></td>
    <td><%= link_to 'Edit', edit_trial_registration_path(trial_registration) %></td>
    <td><%= link_to 'Destroy', trial_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial registration', new_trial_registration_path %>
