<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @trial_registration.fullname %>
</p>

<p>
  <b>First name:</b>
  <%= @trial_registration.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @trial_registration.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @trial_registration.email %>
</p>

<p>
  <b>Guardians phone:</b>
  <%= @trial_registration.guardians_phone %>
</p>

<p>
  <b>Guardians email:</b>
  <%= @trial_registration.guardians_email %>
</p>

<p>
  <b>Gender:</b>
  <%= @trial_registration.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @trial_registration.date_of_birth %>
</p>

<p>
  <b>City:</b>
  <%= @trial_registration.city %>
</p>

<p>
  <b>Preferred center:</b>
  <%= @trial_registration.preferred_center %>
</p>

<p>
  <b>School name:</b>
  <%= @trial_registration.school_name %>
</p>

<p>
  <b>Utm source:</b>
  <%= @trial_registration.utm_source %>
</p>

<p>
  <b>Utm campaign:</b>
  <%= @trial_registration.utm_campaign %>
</p>

<p>
  <b>Utm medium:</b>
  <%= @trial_registration.utm_medium %>
</p>

<p>
  <b>Utm term:</b>
  <%= @trial_registration.utm_term %>
</p>

<p>
  <b>Utm content:</b>
  <%= @trial_registration.utm_content %>
</p>

<p>
  <b>Srd:</b>
  <%= @trial_registration.srd %>
</p>

<p>
  <b>Project:</b>
  <%= @trial_registration.project %>
</p>

<p>
  <b>Url:</b>
  <%= @trial_registration.url %>
</p>

<p>
  <b>Device:</b>
  <%= @trial_registration.device %>
</p>

<p>
  <b>Sibling name:</b>
  <%= @trial_registration.sibling_name %>
</p>

<p>
  <b>Sibling number:</b>
  <%= @trial_registration.sibling_number %>
</p>

<p>
  <b>Comments:</b>
  <%= @trial_registration.comments %>
</p>


<%= link_to 'Edit', edit_trial_registration_path(@trial_registration) %> |
<%= link_to 'Back', trial_registrations_path %>
