<%= form_for(@metacontent) do |f| %>
  <% if @metacontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metacontent.errors.count, "error") %> prohibited this metacontent from being saved:</h2>

      <ul>
      <% @metacontent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>	
  <div class="field">
    <%= f.label :meta_titles %><br />
    <%= f.text_area :meta_titles %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br />
    <%= f.text_area :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description %>
  </div>
  <div class="field">
    <%= f.label :meta_content %><br />
    <%= f.text_area :meta_content %>
  </div>
  <div class="field">
    <%= f.label :meta_text %><br />
    <%= f.text_area :meta_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
