<h1>Listing metacontents <%= link_to 'New Metacontent', new_metacontent_path%></h1>


<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
	
    <th>Url</th>
    <th>Meta Titles</th>
    <th>Meta Keywords</th>
    <th>Meta Description</th>
    <th>Meta Content</th>
    <th>Meta Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metacontents.each do |metacontent| %>
  <tr>
    <td><%= metacontent.url %></td>
    <td><%= metacontent.meta_titles %></td>
    <td><%= metacontent.meta_keywords %></td>
    <td><%= metacontent.meta_description %></td>
    <td><%= metacontent.meta_content %></td>
    <td><%= metacontent.meta_text %></td>
    <td><%= link_to 'Show', metacontent %></td>
    <td><%= link_to 'Edit', edit_metacontent_path(metacontent) %></td>
    <td><%= link_to 'Destroy', metacontent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


