<p id="notice"><%= notice %></p>

<p>
  <b>Meta titles:</b>
  <%= @metacontent.meta_titles %>
</p>

<p>
  <b>Meta keywords:</b>
  <%= @metacontent.meta_keywords %>
</p>

<p>
  <b>Meta description:</b>
  <%= @metacontent.meta_description %>
</p>

<p>
  <b>Meta content:</b>
  <%= @metacontent.meta_content %>
</p>

<p>
  <b>Meta text:</b>
  <%= @metacontent.meta_text %>
</p>


<%= link_to 'Edit', edit_metacontent_path(@metacontent) %> |
<%= link_to 'Back', metacontents_path %>
