<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="yellow form-sub-title">Participant's Details</div>
<div class="clinic-form">
<form action="/site/ccavRequestHandler" id="ccavenueformsubmit" method="post">
	<input type="hidden" name="merchant_id"  value="295"/>
	<input type="hidden" name="order_id" id="order_id" value=""/>
	<input type="hidden" name="currency" value="INR"/>
	<input type="hidden" name="billing_country" value="India"/>
	<input type="hidden" name="redirect_url" value="http://<%= request.host %>/site/ccavResponseHandler"/>
	<input type="hidden" name="cancel_url" value="http://<%= request.host %>/site/ccavResponseHandler"/>
	<input type="hidden" name="amount" value="" id="amount" />
	<input type="hidden" name="billing_name" value="" id="billing_name" />
	<input type="hidden" name="billing_tel" value="" id="billing_tel" />
	<input type="hidden" name="billing_email" value="" id="billing_email" />
	<input style="display: none;" type="submit" value="Proceed to Pay">
</form>
<form accept-charset="UTF-8" action="/site/cpflenquireForm" id="contact_us" method="post" novalidate="novalidate" enctype="multipart/form-data"	>
<div class="pull-left form-fields">
<label class="lable-text">Participant Full Name <span>*</span></label><br/>
<input type="text" name="contact[name]" class="form-style required letterswithbasicpunc" tabindex="1" id="participant_name">
</div>
<div class="pull-left form-fields">
<label class="lable-text">Gender: <span>*</span></label><br/>
<select name="contact[gender]" class="form-style required" tabindex="2">
<option value="">--Select--</option>
<option value="Male">Male</option>
<option value="Female">Female</option>			
</select> 
</div>
<div class="clear"><br/></div>
<div class="pull-left form-fields">
<label class="lable-text">DOB <span>*</span></label><br/>
<input type="text" name="contact[dob]" class="form-style required" id="datepicker" tabindex="3">
</div>
<div class="pull-left form-fields">
<label class="lable-text">Name of School <span>*</span></label><br/>
<input type="text" name="contact[school_name]" class="form-style required letterswithbasicpunc" tabindex="4">
</div>
<div class="clear"><br/></div>

<div class="pull-left form-fields">
<label class="lable-text">Class</label><br/>
<input type="text" name="contact[standard]" class="form-style" tabindex="5">	
</div>
<div class="pull-left form-fields">
<label class="lable-text">Preferred Mobile No. <span>*</span></label><br/>
<input type="text" name="contact[mobile_no]" class="form-style number required" tabindex="6" id="participant_mobile">	
</div>
<div class="clear"><br/></div>
<div class="pull-left form-fields">
<label class="lable-text">Preferred E-Mail Id <span>*</span></label><br/>
<input type="text" name="contact[email]"  class="form-style email required " tabindex="7" id="participant_email">
<div class="help-text">(Please note all communication will be forwarded on the preferred E-mail ID and Mobile No.)</div>
</div>
<div class="pull-left form-fields">
<label class="lable-text">Upload Photo<span>*</span></label><br/>
<input id="photo_attachment" name="contact[data]" type="file" class="required" tabindex="8"/><br/>	
</div>
<div class="clear"><br/></div>
<div class="yellow form-sub-title">Kit Size</div>

<div class="pull-left form-fields" style="width: 100%">
<label class="lable-text">Youth size <span>*</span></label><br/>
<table class="kit-size">
<tr>
<td align="center">
<label for="kit_s" class="kit-size-label"><img src="/images/s.jpg" tabindex="9"></label>
<input id="kit_s" value="s" name="contact[youth_kit_size]" type="radio" class="required" />
</td>
<td align="center">
<label for="kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
<input id="kit_m" value="m" name="contact[youth_kit_size]" type="radio" class="required" />
</td>
<td align="center">
<label for="kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
<input id="kit_l" value="l" name="contact[youth_kit_size]" type="radio" class="required" />
</td>	 			 			 		
</tr>
</table>
</div>
<div class="clear"><br/></div>
<div class="pull-left form-fields" style="width: 100%">
<label class="lable-text">Adult size <span>*</span></label><br/>
<table class="kit-size">
<tr>
<td align="center">
<label for="ad_kit_s" class="kit-size-label"><img src="/images/s.jpg" ></label>
<input id="ad_kit_s" value="s" name="contact[adult_kit_size]" type="radio" class="required" />
</td>
<td align="center">
<label for="ad_kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
<input id="ad_kit_m" value="m" name="contact[adult_kit_size]" type="radio" class="required" />
</td>
<td align="center">	
<label for="ad_kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
<input id="ad_kit_l" value="l" name="contact[adult_kit_size]" type="radio" class="required" />
</td>	 			 			 		
</tr>
</table>
</div>
<!-- <div class="yellow form-sub-title">Fee Structure :<span>*</span></div>
<input  type="hidden" value="Mumbai" name="contact[city]">
<table width="72%" style="color:#fff; text-align:left;" cellpadding="10" cellspacing="0" border="1">
<tr>
<th class="yellow">Category</th>
<th  class="yellow">Fees</th>
</tr>
<tr>
<td><input style="color:#808080" type="radio" name="contact[fee_structure]" value="6000"><label for="">&nbsp;&nbsp;&nbsp;Siblings (for both participants)</label></td>
<td>Rs. 6000/-	</td>
</tr>
<tr>
<td><input style="color:#808080" type="radio" name="contact[fee_structure]" value="3500">&nbsp;&nbsp;&nbsp; General (1st October to 15th October)</td>
<td>Rs. 3500/-</td>
</tr>
</table> -->
<br/>
<div class="clear"><br/></div>
<input  name="contact[amount_pay]" type="hidden" class="" value="200000"  id="participant_amount" />
<input type="hidden" name="contact[order_id]" id="bill_order_id" value="<%= rand(999999999).to_s %>"/>
<input class="bgyellow submit-btn" type="submit" value="Proceed to Pay">
</form>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
<script type="text/javascript" src="/javascripts/jquery.form.js"></script>

<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script> 		
<script type="text/javascript">
$(document).ready(function(){
$( "#datepicker" ).datepicker({yearRange: '2000:2017',changeYear: true,changeMonth: true});
$.validator.setDefaults({
submitHandler: function() {
$('#form-field-wrapper').hide();
$('#form-success').show();				
$("#contact_us").ajaxSubmit({
success:formResponse,
dataType: 'json'
});
}
});
$("#contact_us").validate();
function formResponse(responseText, statusText) {
    $("#amount").val($('#participant_amount').val());
    $("#billing_name").val($('#participant_name').val());
    $("#billing_tel").val($('#participant_mobile').val());
    $("#billing_email").val($('#participant_email').val());
    $("#order_id").val($('#bill_order_id').val());
    $("#ccavenueformsubmit").submit();     
if(statusText == 'success') {
if(responseText.status == 'success') {
$("#notify").attr("class","success").text("Your application has been sent successfully.").fadeIn(function(){
$('#cboxLoadedContent').animate({scrollTop: 0}, 100);
});
$("#resume-form")[0].reset();
} else {           
var error = "";
$.each(responseText.error_messages, function(key, value){
error += '<li>'+value+'</li>';
});
$("#notify").attr("class","error").html('<p>Following errors sending your application:</p><ul>'+error+'</ul>').fadeIn(function(){
$('#cboxLoadedContent').animate({scrollTop: 0}, 100);
});
}
} else {
$("#notify").attr("class","error").text("Something went wrong. Please try again later.").fadeIn(function(){
$('#cboxLoadedContent').animate({scrollTop: 0}, 100);
});
}
}	
});
</script>