<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css">
.form-sub-title{
	margin: 10px 0px;
	text-transform: uppercase;
}

.form-fields{
	width: 35%;
	margin-right: 30px;
}

.form-style{
	width: 100%;
}

.padding-select-form {
	padding: 10px 21px;
	background-color: transparent;
	color: #808080;
}
.aboutUsContent{
	padding: 50px 50px;
}
.submit-btn{
	cursor: pointer;
}
.form-fields .lable-text{
	font-size: 14px;
	color: #fff;
}
.form-fields .lable-text span,.form-sub-title span,.form-fields span,label.error{
	color: #f00;
}
label.error{
	font-size: 11px;
}
#form-success{
	display: none;
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	padding: 100px 0;	
}
.form-wrapper-section{
	width: 80%;
	margin: auto;	
}

</style>
<div class="yellow form-sub-title">PLAYER INFORMATION</div>
<div class="clinic-form">
 <form accept-charset="UTF-8" action="/site/enquireForm" id="contact_us" method="post" novalidate="novalidate">
	<div class="pull-left form-fields">
		<label class="lable-text">First Name <span>*</span></label><br/>
		<input type="text" name="contact[first_name]" class="form-style required letterswithbasicpunc">
	</div>
	<div class="pull-left form-fields">
		<label class="lable-text">Last Name <span>*</span></label><br/>
		<input type="text" name="contact[last_name]" class="form-style letterswithbasicpunc">
	</div>
	<div class="clear"><br/></div>
	<div class="pull-left form-fields">
		<label class="lable-text">Birth Date <span>*</span></label><br/>
		<input type="text" name="contact[dob]" class="form-style required" id="datepicker">
<!-- 	<select class="padding-select-form">
		<option value="">Date</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option value="30">30</option>
		<option value="31">31</option>
	</select>
	<select class="padding-select-form">
		<option value="contact[dob]">Jan</option>
		<option value="contact[dob]">Feb</option>
		<option value="contact[dob]">Mar</option>
		<option value="contact[dob]">Apr</option>
	</select>
	<select class="padding-select-form">
		<option value="contact[dob]">2013</option>
		<option value="contact[dob]">2014</option>
		<option value="contact[dob]">2015</option>
		<option value="contact[dob]">2016</option>
	</select> -->
</div>
<div class="pull-left form-fields">
<label class="lable-text">School <span>*</span></label><br/>
	<input type="text" name="contact[school_name]" class="form-style required letterswithbasicpunc">
</div>
<div class="clear"><br/></div>

<div class="pull-left form-fields">
<label class="lable-text">Home Phone</label><br/>
	<input type="text" name="contact[home_phone]" class="form-style">	
</div>
<div class="pull-left form-fields">
<label class="lable-text">Mobile <span>*</span></label><br/>
	<input type="text" name="contact[mobile_no]" class="form-style number required">	
</div>
<div class="clear"><br/></div>
<div class="pull-left form-fields">
<label class="lable-text">Email <span>*</span></label><br/>
	<input type="text" name="contact[email]"  class="form-style email required ">
</div>
<div class="clear"><br/></div>
<div class="yellow form-sub-title">Preferred Training Venue <span>*</span></div>
<% if params[:action]=='fcbescola_preregistration_delhi' %>
<input  type="hidden" value="Delhi" name="contact[city]">
<table width="72%" style="color:#fff; text-align:left;" cellpadding="10" cellspacing="0" border="1">
	<tr>
		<th class="yellow">Area</th>
		<th  class="yellow">Venue</th>
		<th  class="yellow">Phone Number</th>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Delhi - West Delhi IOS Maidan, Shivaji college, Nr. Raja Gerden 8860064041">&nbsp;&nbsp;&nbsp;West Delhi</td>
		<td>IOS Maidan, Shivaji college, Nr. Raja Gerden</td>
		<td>8860064041</td>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Delhi - Gurgaon East The Heritage School Sector 62 Gurgaon 8860007341">&nbsp;&nbsp;&nbsp;Gurgaon</td>
		<td>The Heritage School, Sector 62, Gurgaon</td>
		<td>8291605145</td>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Delhi - South Delhi Gyan Bharti School Saket 8860007321">&nbsp;&nbsp;&nbsp;South Delhi</td>
		<td>Gyan Bharti School, Saket</td>
		<td>8860007321</td>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Delhi - Noida Amity University, Sector 125, Noida 9650445657">&nbsp;&nbsp;&nbsp;Noida</td>
		<td>Amity University, Sector 125, Noida</td>
		<td>9650445657</td>
	</tr>
</table>
<% else %>
<input  type="hidden" value="Mumbai" name="contact[city]">
<table width="72%" style="color:#fff; text-align:left;" cellpadding="10" cellspacing="0" border="1">
	<tr>
		<th class="yellow">Area</th>
		<th  class="yellow">Venue</th>
		<th  class="yellow">Phone Number</th>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Mumbai - West Delhi IOS Maidan, Shivaji college, Nr. Raja Gerden 8860064041">&nbsp;&nbsp;&nbsp;Matunga</td>
		<td>Don Bosco School, Matunga	</td>
		<td>8291605144</td>
	</tr>
	<tr>
		<td><input style="color:#808080" type="radio" name="contact[traning_venue]" value="Mumbai - Gurgaon East The Heritage School Sector 62 Gurgaon 8860007341">&nbsp;&nbsp;&nbsp;Andheri East	</td>
		<td>St. Dominic Savio High School, Andheri East	</td>
		<td>8291605145</td>
	</tr>
</table>
<% end %>
<br/>
<div class="pull-left form-fields">
<% if params[:action]=='fcbescola_preregistration_delhi' %>
	Where did you hear about the Trial <br/>for the FCBEscola Delhi NCR? <span>*</span>
<% else %>
	Where did you hear about the Trial <br/>for the FCBEscola Mumbai? <span>*</span>
<% end %>	
</div>
<div class="pull-left form-fields">
	<select class="padding-select-form required" name="contact[hear_about]"  style="width: 100%;">
		<option value="">--Select--</option>
		<option value="Facebook">Facebook</option>
		<option value="Google Search">Google Search</option>
		<option value="School">School</option>
		<option value="Locality">Locality</option>
		<option value="Hoarding">Hoarding</option>
		<option value="Email">Email</option>
		<option value="Mail">Mail</option>
	</select>
</div>
<div class="clear"><br/></div>
<div class="yellow form-sub-title">GUARDIAN INFORMATION</div>
<div class="pull-left form-fields">
	<label class="lable-text">First Name <span>*</span></label><br/>
	<input type="text" name="contact[guardian_first_name]" class="form-style required letterswithbasicpunc">
</div>
<div class="pull-left form-fields">
	<label class="lable-text">Last Name</label><br/>
	<input type="text" name="contact[guardian_last_name]" class="form-style">
</div>
<div class="clear"><br/></div>
<div class="pull-left form-fields">
<label class="lable-text">Contact Mobile (SMS OR Call) <span>*</span></label><br/>
	<input type="text" name="contact[guardian_mobile]" class="form-style required number">	
</div>
<div class="pull-left form-fields">
<label class="lable-text">Email <span>*</span></label><br/>
	<input type="text" name="contact[guardian_email]"  class="form-style required email">
</div>
<div class="clear"><br/></div>
<input class="bgyellow submit-btn" type="submit" value="Submit">
</form>
</div>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script> 
<script type="text/javascript">
$(document).ready(function($){  
	$( "#datepicker" ).datepicker({yearRange: '2000:2017',changeYear: true,changeMonth: true});
$.validator.setDefaults({
	submitHandler: function() {
	$('#form-field-wrapper').hide();
	$('#form-success').show();
	// alert($("#contact_us").serialize());
	//trackecommerce("","", "conscientfootball", $("#contact_email1").val(), $("#contact_phone1").val());
	//try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}
	$.ajax({
	type:"POST",
	dataType:"json",
	url:$("#contact_us").attr("action"),
	data:$("#contact_us").serialize(),
	success: function(resp, status, xhr){
		if(resp.status == "success"){
		}
		else{
		}
	},
	error: function(resp, status, xhr){}
	});
}
});		
$("#contact_us").validate();
});
</script>					