<div class="form-feild">
	<h3 class="yellowColor">Kindly fill out the form below </h3><br/>
	<div class="clinic-form">
		<form accept-charset="UTF-8" action="/site/create_registration" method="post" class="registration" novalidate="novalidate">
			<input type="text" name="school_registration[school_name]"  placeholder="NAME OF SCHOOL" class="form-style required">
			<input type="text" name="school_registration[address]"  placeholder="ADDRESS" class="form-style required">
			<input type="email" name="school_registration[email]"  placeholder="EMAIL" class="form-style required" id="participant_email">
			<input type="text" name="school_registration[mobile]"  placeholder="MOBILE NUMBER" class="form-style required digit"  id="participant_mobile">		

			<input type="number" name="school_registration[no_of_participation]"  placeholder="EXPECTED  PARTICIPATION NUMBERS" class="form-style required digit" min="1">

			<% if params[:action]=='summer_camps' %>
			<input type="hidden" name="school_registration[enquire_type]" value="Summer Camps" id="form_type"> 
			<% elsif params[:action]=='fcbescola_goals'%>
			<input type="hidden" name="school_registration[enquire_type]" value="Fcbescola Goals" id="form_type"> 
			<% else %>
			<input type="hidden" name="school_registration[enquire_type]" value="Football Camps" id="form_type"> 
			<% end %>
			<br clear="all" />
			<button class="bgyellow submit-btn" type="submit"  value="Submit">Submit</button>
		</form>
	</div>	
</div>
<div class="form-success" style="display:none;color:#f9c136;">
	Thank you for showing interest in Conscient Football.<br/>
	Our customer care executive will get in touch with you shortly.
</div>