<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>About Us</span></a></li>
	</ul>
</div>
<div class="about-section-1 slide">
	<div class="banner-title">
		<div class="page-title">About Conscient Football</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		<h2 class="introduction yellow">Who We are</h2>
		<div class="text fw300">
		 Conscient Football is a grassroots development initiative undertaken by the Conscient Group with the Heritage Schools network in Delhi NCR; the latter being a part of its ventures in the education sector, as an extension of its wider portfolio. <br/>
		 Conscient Football is dedicated to raising the bar in football programming at the grassroots level by reaching out to children across Delhi NCR in the initial years, and its exclusive collaboration with one of the world's greatest football clubs- FC Barcelona is one of the various steps taken in that direction. <br/>
		 The greater aim is to establish a nationwide footprint with its football development activities over the next few years whilst establishing the foundation in terms of a feeder program for Barça Academy- the world-class football school imparting high-class football education catering to the best players found within its programs. The Barça Academy which will be at the apex of CF's football development pyramid, and will be run by Technical Director from FC Barcelona and will aim to put forth the best football players in the country who aspire to pursue the game professionally at the elite level.
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Vision</h3>
			<ul class="white list">
				<li>Make Indian youth achieve world football standards</li>
				<li>Create centres of excellence in football</li>
				<li>Make students and parents aware of need for physical exercise and enjoying a good game.</li>
			</ul>
			<br/>
			<h3 class="aboutUsPagesmallHd">Values</h3>
			<ul  class="cream-color list fw300">
				<li><span>Inclusion</span> - irrespective of talent, gender, handicap, minority, age etc.</li>
				<li><span>Cooperation</span> - playing football leads to helping others and get help oneself</li>
				<li><span>Participation</span> - parents are invaluable support and essential for success </li>
				<li><span>Good sportmanship</span> - Learning mutual respect rather than win-at-all costs</li>
				<li><span>Excellence</span> - supporting students with special talent for football</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="parallax parallax-image"></div>
	<div class="about-content-padding">
		<h2 class="introduction yellow">FC Barcelona Tie Up</h2>
		<div class="text fw300">
			Conscient Football is the official partner of FC Barcelona in India and has an exclusive tie-up with FC Barcelona to handle the operations of Barça Academy India Chapter. Barça Academy is the official after-school program of FC Barcelona which provides quality football development for players in the age group of 5-17 years.<br/>
			Apart from Barça Academy, the flagship program of FC Barcelona, Conscient Football is also responsible for the FCB Escola clinic program held in Barcelona, Spain. 

		</div>

		<div class="text">
			Conscient Football through all its activities tries to inculcate the same philosophy, values, skills and vision taught by FC Barcelona to their players. It surely provides the best way to have a true Barcelona experience in India.
			<div class="fc-logo-block">
				<img src="images/fcbarcelona-logo.png" >
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="parallax parallax-image"></div>
	<div class="about-content-padding">
		<h2 class="introduction yellow text-center">Customer Testimonials</h2>
		<div class="double-quote">
			<img src="images/doubleicon2.png">
		</div>
		<div class="testimonial-slider-wrapper">
			<div class="testimonial-slider">
				<div class="slide testimonial-content">
					<p>"Coca-Cola India has always believed in promoting a healthy, active lifestyle through sports. We believe that Indian football has all the potential to make a mark on the global football map. However, the need is to tap budding talent and nurture them well to bring them up to the international standards and Conscient Football is doing just that”</p>
					<div class="testimonial-author">- Mr. Shourav Mukherjee, Director, Coca-Cola India</div>
				</div>
				<div class="slide testimonial-content">
					<p>"Joining hands with Conscient Football is a playful experience, watching kids playing in a safe environment and developing their skills is a joyous experience which gives Max Healthcare immense pleasure and a sense of pride."</p>
					<div class="testimonial-author">- Mr. Sumit Chadha, Asst. Manager, Marketing, Max Healthcare</div>
				</div>
				<div class="slide testimonial-content">
					<p>A big thank you to Barça Academy Delhi NCR for taking care of Dhruv Arora during Singa Cup 2016. He shared with us the overwhelming care taken and made him strong to stay and be with the team.</p>
					<div class="testimonial-author">- Father of Dhruv Arora (Barça Academy player)
					</div>
				</div>
				<div class="slide testimonial-content">
					<p>I play 2 years for escola. IN this between 2 years i got a brilliant football caoching from my brilliant coaches. I love Barça, fcb escola and shantnu sir.</p>
					<div class="testimonial-author">- Mr. Anurag Shishodia</div>
				</div>
				<div class="slide testimonial-content">
					<p>Both my boys are loving the game and the academy... A wonderful exposure, good training and a healthy atmosphere... That's what i was looking for and got it an FSBescola. Keep it up.</p>
					<div class="testimonial-author"> -Miss. Shreya S Singal</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

