<!--<script src="/javascripts/jquery.smint.js" ></script> -->
<style>
	html, body{
		overflow:auto !important;
	}
	html { 
		background: url(/images/media_bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.aboutwrapper{
		display: none;
	}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>About Us</span></a></li>
	</ul>
</div>
<div class="aboutUsWrapper">
	<div class="aboutUsContent">	
		<div class="contactUsHd" style="margin-top:100px;">Conscient Football</div><br/>
		<div id="aboutConscient" class="aboutConscient aboutwrapper" style="display:block;">
			<div class="aboutUsPageSubHd">Who We are</div>
			<div class="yellowColor">
				Conscient Football is a grassroots development initiative undertaken by the Conscient Group with the Heritage Schools network in Delhi NCR; the latter being a part of its ventures in the education sector, as an extension of its wider portfolio.
			</div><br/>
			Conscient Football is dedicated to raising the bar in football programming at the grassroots level by reaching out to children across Delhi NCR in the initial years, and the exclusive collaboration with one of the world's greatest football clubs- FCBarcelona is one of the various steps taken in that direction. The greater aim is to establish a nationwide footprint with its football development activities over the next few years whilst establishing the foundation in terms of a feeder program for FCBEscola- the world-class football school imparting high-class football education catering to the best players found within its programs. The FCBEscola which will be at the apex of CF's football development pyramid, and will be run by Technical Director from FCBarcelona and will aim to put forth the best football players in the country who aspire to pursue the game professionally at the elite level.<br/> <br/>
			<h3 class="aboutUsPagesmallHd">Vision</h3>
			<ul class="list">
				<li>Make Indian youth achieve world football standards </li>
				<li>Create centres of excellence in football </li>
				<li>Make students and parents aware of need for physical exercise and enjoying a good game</li>
			</ul>
			<br/>
			<h3 class="aboutUsPagesmallHd">Values</h3>
			<ul class="list">
				<li><strong>Inclusion</strong> - irrespective of talent, gender, handicap, minority, age etc.</li>
				<li><strong>Cooperation</strong> - playing football leads to helping others and get help oneself</li>
				<li><strong>Participation</strong> - parents are invaluable support and essential for success </li>
				<li><strong>Good sportmanship</strong> - Learning mutual respect rather than win-at-all costs</li>
				<li><strong>Excellence</strong> - supporting students with special talent for football</li>
			</ul>
		</div>
		<div id="aboutPhilosophy" class="aboutPhilosophy aboutwrapper">
			
			<div class="aboutUsPageSubHd">Philosophy</div>
			Conscient Football encourages children to be actively involved in the game by playing on the pitch - which is why we mandate that every player on every team must play at least 50% of every game. It's no fun to spend the game on the bench - and that's no way to learn football!<br/><br/>
			Conscient Football believes such principles will encourage participation in football -<br/>
			<ul class="list">
				<li>Positive reinforcement to all students from all staff and parents</li>
				<li>Participants should play well and realize their potential, irrespective of goals and losses</li>
				<li>Parents must respect all decisions by the referees and coaches</li>
			</ul>
			It is important that players understand the game by learning, knowing and applying the rules of the game. On the pitch, the referee interprets the rules and applies them. We encourage the acceptance of the referee's decision as being final.<br/><br/>
			<h3 class="yellowColor">Conscient Football insists on excellent manners to be exuded by all players, spectators and parents.</h3>
			<ul class="list">
				<li>Players must show courtesy to teammates, the team management, to the opposite team and to the referees.</li>
				<li>Players shake hands with the opposite team at the end of a match. </li>
				<li>The CPFL stresses on players turning up for practice and to let the team manager/coach know well in advance if not, with good reason. </li>
				<li>Players are expected to arrive on time, and to be there with the complete kit, shin pads and water. </li>
				<li>Players who do not show up for two sessions (match/practice) will be taken off the League and replaced with other players on the waiting list.</li>
				<li>Players are expected to do their best, to show positive energy and to encourage good team spirit.</li>
				<li>Players are also expected to understand that different players come with different degrees of experience, and different levels of skill, and to accept this. All will get a chance to play.</li>
				<li>Cancellations due to weather etc. is decided by Conscient Football and the Coaches</li>
				<li>Rules of conduct for players, staff, parents follows the FIFA guidelines</li>
			</ul>
		</div>
		<div id="aboutConscientGroup" class="aboutConscientGroup aboutwrapper">
			
			<div class="aboutUsPageSubHd">Conscient Football</div>
			The Group Conscient is a widely respected real estate investment company in India with diverse ventures in infrastructure including commercial property in India, telecom, education and spiritual centres, with Conscient Infrastructure Pvt. Ltd. as its flagship. With 30 years of experience, the group has earned a remarkable reputation for dependability.<br/><br/>
			<h3 class="aboutUsPagesmallHd">Inception</h3>
			<p>Conscient evolved from Bharat Construction Co., or BCC. Founded in 1978, over the years it acquired a formidable reputation as a trustworthy developer and partner in real estate and construction. During this period, BCC successfully completed several commercial, institutional and residential projects. It also has to its credit the construction of the Siri Fort Auditorium during the prestigious Asian Games held in 1982. </p>
			<br/>
			<h3 class="aboutUsPagesmallHd">Value</h3>
			<p>Honesty and Integrity- these core values are reflected in every single venture of Conscient. Irrespective of the industry, our benchmarks remain unwavering. Through our commitment to these values, we aim to deliver value to every project and all the clients involved therein.</p>
			<br/>
			<h3 class="aboutUsPagesmallHd">Mission</h3>
			<p>Conscient aspires to nurture an organization that is progressive and all-embracing. Our purpose lies beyond mere profit; it addresses performance, perfection and saaglowtisfaction. True to its name, Conscient exemplifies soulful living - a place where intellect, actions and spirit align to deliver world-class products and services. Sincerity is integral to our work culture and all team members are trained to fulfill Conscient's responsibility toward the community, posterity and the environment, earnestly. In light of fulfilling responsibilities on one hand and accomplishing milestones on the other, with respect to real estate investments in India, Conscient is steadily and surely headed toward a promising future - one that is  with the wisdom and fortitude of a conscious spirit.</p>
		</div>
		<div id="aboutConscientFoundation" class="aboutConscientFoundation aboutwrapper">
			
			<div class="aboutUsPageSubHd">Conscient Foundation</div>
			<p>
				Conscient Foundation is a non-profit organisation launched by the Conscient Group.<br/><br/>
				Change Reaction is the sports wing of the Foundation run through Conscient Football, that promotes & develops grassroots sport & supports the use of sport to create positive social change across the country.<br/><br/>
				Conscient Football seeks to identify those highly talented youngsters , both players & coaches, from the EWS (Economically Weaker Section) that need help in realizing their true potential through sport</p> 
				<br/>
				<h3 class="aboutUsPagesmallHd">Background</h3>
				<p>The “Change Reaction” has been part of the Conscient Football landscape since the beginning. Participants in our programs have been encouraged to share outgrown kits and equipment with less advantaged children.</p>
				<p>Open Trials for admission to the FCBEscola Delhi NCR were held in January 2014 as part of the selection process. Hundreds of players in the age group of 6 - 17, including a number from the EWS, participated in the trials and the enthusiasm and passion for football was evident on the field. Among the EWS youngsters, we have identified some who are highly talented and deserve to be trained at the Escola.
				</p>
				<p>To stay true to our vision of giving back to society and accommodate & encourage participation from the economically weaker section, the Conscient Foundation has been giving out scholarships to these players to train at the FCBEscola.</p><br/>
				<h3 class="aboutUsPagesmallHd">Our Values In Action</h3>
				Here are some of the ongoing activities under Change Reaction:
				<ul class="list">
					<li>Scholarships in our coaching programs and inclusion     in tournaments in India and abroad. </li>
					<li>Coaches supported with subsidizing their licence course costs. </li>
					<li> Young footballers from NGO’s such as My Angel’s Academy given practical experience as coordinators  for leagues &amp; events.</li>
					<li>Participants of our leagues &amp; coaching programs share outgrown kits &amp; equipment with EWS children.</li>
				</ul>
				<br/>		
				<h3 class="aboutUsPagesmallHd">How You Can Help!</h3>
				<p>We would like to request your support in partnering with us to contribute generously towards scholarships for highly talented children from the EWS. These contributions will change the lives of these children and give them a fighting chance to reach their goals and live up to their full potential.
				</p><p>
				As you know, the FCBEscola sends two teams to compete at the FCBEscola International Tournament in Barcelona. We would like to send a highly talented child with a similar background to participate in the tournament each year. The exposure provided by participating in this tournament in Barcelona will be, as you can imagine, a phenomenal experience & step forward for such a child.</p>
				<p>
					If you would like to contribute to any of the activities of Change Reaction, please contact us at the Conscient Football office.
				</p><p>Thank you so much for your generosity of spirit and your inclusion of those less advantaged.</p>
				<p><strong>“We make a living by what we get. We make a life by what we give.”</strong><br/>
					<strong>― Winston S. Churchill</strong></p>
					<br/><br/><br/>
				</div>	
			</div>
			<!-- about us content end  -->	
			<div class="aboutusNavigation">
				<div class="table">	
					<div class="table-cell">
						<ul class="nav-links" id="menu_nav">
							<li class="active"><a rel="aboutConscient" class="active">Conscient Football</a></li>
							<li class=""><a rel="aboutPhilosophy" class="">Philosophy</a></li>
							<li class=""><a rel="aboutConscientGroup" class="">Conscient Group</a></li>
							<li class=""><a rel="aboutConscientFoundation" class="">Conscient Foundation</a></li>
						</ul>
					</div>	
				</div>	
			</div>
			<!--  navigation end-->
		</div>
<script type="text/javascript">
    $(document).ready(function() {
    		
  $('.nav-links a').click(function(e){
  		/*$("div .active-album").removeClass("active-album");
  		$(this).addClass("active-album");*/
  		  var rel = $(this).attr('rel');
  		  console.log(rel);
          $(".aboutwrapper").hide();
          $('#'+rel).fadeIn();
    })

  

  
});
</script> 
<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
});
</script>