

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/" style="padding-left:0px;"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>About Barcalona Clinic</span></a></li>
	</ul>
</div>

	<div class="about-content-wrapper slide">
		<div class="scheduleWrapper">
			<div class="scheduleHd">
				ABOUT BARCALONA CLINIC
			</div>
			<br/>
			<div class="yellow text-center">
					<p>Enjoy exclusive access to FC Barcelona’s training methods for the true Barça experience, at their official home in Spain. You’ll play at the Miniestadi or Ciutat Esportiva, visit the Camp Nou, and have football workshops to learn about Barcelona’s strategies, tactics, pre- and post-game analysis, sports nutrition and psychology.</p>
 					<p>The Barça model is expanding around the world, and the FCB Clinics are the finest example of this growing interest in learning more about the 						Barça model through hands-on experience. FCB Clinics are the responsibility of FCBEscola, Official Football School of FCBarcelona. They provide the 					coaches and work program, and establish the directives to be observed during these events.</p>
					<p>The FCB Clinics are organized at world-class facilities, including FC Barcelona’s official training grounds in Spain, the Ciutat Esportiva Joan Gamper — the home of La Masia, the first team’s coaching, dining, and training facilities, and 9 world-class pitches or at Miniestadi, the home to FC Barcelona B & Women’s team.</p>
					<p>The Residential FCB Clinic will give players a chance to truly live and experience the Barca life! </p>
					<p>This is an exclusive opportunity to learn the unique Barça style - the same successful methodology where players such as Messi, Iniesta, Xavi, Piqué & Busquets emerged from. The training sessions of the FC Barcelona Football Camp have been designed for players to improve the underlying techniques of football accurately, consistently and at match tempo. Players will not only broaden their knowledge of the beautiful game, but also add FC Barcelona methodologies to their technical background.</p>
			</div>
			
		</div>
	</div>
<a href="/camps" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.slide').height(wht);
	
});
</script>



