
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Annual Calendar</span></a></li>
		<li></li>
	</ul>
</div>
<div class="annual-calendar-bg">
	<div class="scheduleWrapper">
			<div class="programTitle">
				ANNUAL CALENDAR 2016 - 2017
		
			</div>
			<br/>
			<div class="yellow">
					lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
			</div>
			<br/>
			<div class="calendar">
				<div class="calendar-list relative">
					<div class="season">
						Season 2016 - 17 Kick Off
					</div>
					<div class="date">
						25<sup>th</sup> July, 2016
					</div>
				</div>
				<br/>
				<div class="calendar-list relative">
					<div class="season">
						Season 2016 - 17 Kick Off
					</div>
					<div class="date">
						25<sup>th</sup> July, 2016
					</div>
				</div>
				<br/>
				<div class="calendar-list relative">
					<div class="season">
						Season 2016 - 17 Kick Off
					</div>
					<div class="date">
						25<sup>th</sup> July, 2016
					</div>
				</div>
				<br/>
				<div class="calendar-list relative">
					<div class="season">
						Season 2016 - 17 Kick Off
					</div>
					<div class="date">
						25<sup>th</sup> July, 2016
					</div>
				</div>
				<br/>
				<div class="calendar-list relative">
					<div class="season">
						Season 2016 - 17 Kick Off
					</div>
					<div class="date">
						25<sup>th</sup> July, 2016
					</div>
				</div>
			</div>
			
	</div>
	<a href="<%= url_training %>" class="back-btn yellow bold" align="right">
		Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
	</a>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.annual-calendar-bg').css({'min-height':wht});
		
});
</script>