<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Clinics and Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Football Camps</span></a></li>
	</ul>
</div>	
<div class="about-section-1 slide">
	<div class="banner-title">
		<div class="page-title">Football Camps</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		<h2 class="introduction yellow">Football Camps</h2>
		<div class="text fw300">
		 Barça Academy Offers short football camps to various schools and clubs during the year. Barça Academy offers world class training right in your school premise. A team of Barça Academy India coaches are in charge of the training using the same successful methodology that has produced leading football starts like Lionel Messi, Iniesta, Pique &amp; Busquets amongst others.
		</div>
		<div class="text fw300">
			The duration of the camps varies as per the requirement of the school/club. Each session varies from 1.5 hours to 3 hours of top-quality training daily for each participants. Theory sessions are also provided to help the participants understand the tactical aspects of the beautiful game.
		</div>
		<div class="clear"></div>
		<div class="text fw300">
			Each participant is provided the official Barça Academy Camp kits and a completion certificate.
		</div>

		<div class="text fw700">
			In case of any queries/concerns please contact us on <a href="tel:+919192338839" style="text-decoration:none;color:#f9c136">+91- 9192338839</a> or write to us on <a href="mailto:camps@conscientfootball.com" style="text-decoration:none;color:#f9c136">camps@conscientfootball.com</a>
		</div>
		<br clear="all" />
		<br clear="all" />
		<div class="clear"></div>
		<br clear="all" />

		<%= render 'football_camps_form'%>
	</div>
</div>

