<style type="text/css">
	.back-btn{
		position: absolute;
		float: right;
		bottom: 0;
		margin-right: 20px;
	}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_media %>"><span>Media</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Media Details</span></a></li>
	</ul>
</div>
<div class="media-wrapper wrapper-margin-top">
<div class="galleryContent">

<div class="contactUsHd" style="color:#fff;"><%=@blog.title%></div>
<br/>
<!-- <div class="aboutUsPageSubHd">Hindubusinessline.com</div>
<br/><br/> -->
	<div class="media-details-wrap">
	<!-- <img src="<%#=@blog.main_image.url rescue "" %>"> -->

		<div class="contactUsSubHd" style="color:#fff;">Published On, <%=@blog.published_on.strftime("%B %Y  ")%></div>			
		<%=@blog.description.html_safe rescue "" %>
	</div>
</div>								
</div>
<br/><br/>
<!-- <a href="<%= url_media %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a> -->
<br/><br/>