<script src="/javascripts/jquery.smint.js" ></script>
<style>
/*html, body{
overflow:auto !important;
}*/


.aboutUsContent{
	width: 100%;
}
</style>


<div class="campScheduleWrapper">
	<div class="aboutUsContent">	
		<div class="contactUsHd" style="margin-top:100px;">Schedule</div><br/>
		<div class="white">
				FCBarcelona camps will soon be conducted in the following cities
		</div><br/>
		
		<div class="table-schedule">
			<table width="100%" cellpadding="5" cellpadding="5">
				<tr>
					<th>
						<img src="/images/1.png">
					</th>
					<th>
						<img src="/images/2.png">
					</th>
					<th>
						<img src="/images/3.png">
					</th>
					<th>
						<img src="/images/4.png">
					</th>
				</tr>

				<tr>
					<td>
						Mumbai
					</td>
					<td>
						29th March - 2nd April 2015
					</td>
					<td>
						Oberoi International School, <br/>
						Oberoi Garden City, Near Oberoi Mall, Goregoan East.
					</td>
					<td class="yellowColor">
						Camp Closed
					</td>
				</tr>

				<tr>
					<td>
						Mumbai
					</td>
					<td>
						29th March - 2nd April 2015
					</td>
					<td>
						Oberoi International School, <br/>
						Oberoi Garden City, Near Oberoi Mall, Goregoan East.
					</td>
					<td class="yellowColor">
						Camp Closed
					</td>
				</tr>


				<tr>
					<td>
						Mumbai
					</td>
					<td>
						29th March - 2nd April 2015
					</td>
					<td>
						Oberoi International School, <br/>
						Oberoi Garden City, Near Oberoi Mall, Goregoan East.
					</td>
					<td>
						Register Now
					</td>
				</tr>

				<tr>
					<td>
						Mumbai
					</td>
					<td>
						29th March - 2nd April 2015
					</td>
					<td>
						Oberoi International School, <br/>
						Oberoi Garden City, Near Oberoi Mall, Goregoan East.
					</td>
					<td class="yellowColor">
						Camp Closed
					</td>
				</tr>
			</table>
		</div>
		
		
		
	</div>


<a href="<%= url_cpfl %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	
});
</script>