<style type="text/css">
	.campsSecond , .campsThird{width: 50%; float: left;}
	.programbottomButtons {
    width: 25%;
    margin: 0 auto;
    padding-top: 9px;
}
.campsFirst .programbottomButtons {
    width: 11%;}
    .buttons {

    padding: 5px 8px;}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Clinics and Camps</span></a></li>
	</ul>
</div>
<div class="top-program campsFirst relative half-height">
	<a href="http://fcbclinics.conscientfootball.com/" style="text-decoration:none;" class="block_link">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">BARCELONA CLINIC</div><br>
			<div class="text-center white">
				<div class="blk-ptch2">
				Clinics are created in order to satisfy the needs of small groups of players that want to enjoy a 100% Barça experience. Players that enrol for clinics learn about high level training and leisure activities related with football and Barça.
				</div>
			</div>
			<div class="programbottomButtons" align="center">
					
					<span class="buttons">
						KNOW MORE
					</span>
					<div class="clear"></div>
			</div>
		</div>
		</a>
</div>
<div class="top-program campsSecond relative half-height">
	<a href="<%= url_barcelona_clinic %>" style="text-decoration:none;" class="block_link">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">FOOTBALL CAMPS</div><br>
			<div class="text-center white">
				<div class="blk-ptch2">							
				For the India Camps, the Barça Academy Technical Team will travel from Spain to oversee preparation and execution for all Camps hosted in the country.
				</div>
			</div>
			<div class="programbottomButtons" align="center">
					<span  class="buttons">
						KNOW MORE
					</span>
					<div class="clear"></div>
			</div>
		</div>
	</a>
</div>
<div class="top-program campsThird relative half-height">
		<a href="<%= url_summercamps %>" style="text-decoration:none;" class="block_link">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">SUMMER CAMPS</div><br>
			<div class="text-center white">
				<div class="blk-ptch2">			
				With the sun blazing down, it's time to experience<br/> specialised FCB Summer Camps.
				</div>
			</div>
			<div class="programbottomButtons" align="center">
					<span class="buttons">
						KNOW MORE
					</span>
					<div class="clear"></div>
			</div>
		</div>
	</a>
</div>
</div>


<a href="<%= url_ourprogram %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper, .ourprogramWrapper').height(wht);
	$('.ourprogramTop, .ourprogramBottom').height(wht);

});
</script>