
<style>

.apply_btn {
    float: right;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    background: #f8bf1e;
    border-radius: 4px;
    text-decoration: none;
}
.mediaContent-career{
	padding: 30px 30px;
	color: #c7c7c7;
    width: 90%;
    margin: 0 auto;
}
.media-tabs{
	margin-bottom: 5px;
}
.careersContent{
	padding: 0px !important;
}

div.panel{
	color: #fff;
}

button.accordion{
	color: #fff;
}

div.panel.show{
	overflow-y: scroll;
	padding: 20px 10px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(247,192,52,0.8); 
    background:rgba(247,192,52,0.8);
}

.career{
	padding: 20px 20px;
	width: 90%;
	margin: 0 auto;
}

.clinic-form {
    width: 100%;
}
.para-content p{
	font-size: 16px;
	color: #fff;
    line-height: 26px;
    margin-bottom: 10px;
}
.media-tabs{
	width: 100%;
    margin-top: 80px;
    padding-left: 0px;
}
button.accordion:after {
	content: '+';
	font-size: 20px;
}
button.accordion.active:after {
    content: "-";
}
.contactUsHd{
	margin-bottom:10px;
}
@media all and (max-width:768px){
	.mediaContent-career{
		padding: 30px 30px;
	}
}
@media only screen and (max-width: 700px){
	.mediaContent-career{
		padding: 30px 30px 515px !important;
	}
	.galleryWrapper{
		height: auto !important; 
	}
	.submit-btn {
	    width: auto;
	    display: inline-block;
	}
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Join Us</span></a></li>
	</ul>
</div>
<div class="galleryWrapper">
	<div class="mediaContent-career">
		<ul class="media-tabs">
	      <li style="padding-left:0px;"><a rel="join-us" class="active-media">Join Our Team</a></li>
	      <li><a rel="career-in-caoching" class="">Career In Coaching</a></li>
	    </ul>
		<div style="clear:both;"></div>
	
		<div class="galleryWrapper slide specification-tab-container" style="padding:20px 0px;" id="join-us">
			<!-- <div class="careersContent"> -->
				<div class="contactUsHd">Join Our Team</div>
				<div class="accordianCareers">
					<div style="margin-bottom:10px">
						<button class="accordion">
							<span class="acc-content">Marketing</span>
						</button>
						<div class="panel">
						    <p>Currently there are no opening in the team! But you can apply here, and we will get back to you whenever there is an opening which suits your profile</p>
						</div>
					</div>
				</div>

				<div class="accordianCareers">
					<div style="margin-bottom:10px">
						<button class="accordion">
							<span class="acc-content">Operations</span>
						</button>
						<div class="panel">
						    <p>Currently there are no opening in the team! But you can apply here, and we will get back to you whenever there is an opening which suits your profile</p>
						</div>
					</div>
				</div>

				<div class="accordianCareers">
					<div style="margin-bottom:10px">
						<button class="accordion">
							<span class="acc-content">Coaching</span>
						</button>
						<div class="panel">
							<ul class="inner">
								<li>
		                            <h3><a href="#" class="intoggle" style="color:#fff;">Coach/Assistant Coach</a></h3>
		                            <div class="accordian-content" style="padding-right:20px; display: block;">
		                            	<ul>                                                 
		                                	<li> <strong>Job Title :</strong></li>
		                                    <li>Coach/Assistant Coach Conscient Football/FCBEscola Football Schools</li>
		                                </ul>
		                              	<ul>                                                 
		                                	<li> <strong>Recommended Qualification :</strong></li>
		                                    <li>Graduate AIFF D/AFC C/AFC B/AFC A License</li>
		                                </ul>
		                                <ul>                                                 
		                                	<li> <strong>Experience :</strong></li>
		                                    <li>1-7 years of experience</li>
		                                </ul>		
		                                <ul>                                                 
		                                	<li><strong>Job Description	 :</strong></li>
											<li>
											<ul class="inner-desc">
										   <li>Plan, Prepare and Deliver coaching programme and drills in collaboration with the Technical Directors from FCBarcelona</li>
											<li>Responsible for material handling and ground set-up before, during and after the matches and during training sessions</li>
											<li>You will be required to undertake work outside of your coaching skills e.g. Operations, Event Management</li>
											<li>Reporting: Prepare and submit periodic reports e.g. Attendance Reports of teams, Performance reports of Individual Player etc.</li>
											</ul>
											</li>
		                                </ul>
		                                 <ul>                                   
		                                	<li> <strong>Profile :</strong></li>
		                                      <li><ul class="inner-desc">
												<li>Good interpersonal skill</li>
												<li>Spoken and Written English.</li>
												<li>Basic computer skills (Word, Excel, Power point ...)</li>
												</ul>
												</li>
		                                </ul>
		                                <a href="#careers-form" class="apply_btn career-popup-form open-join-us">Apply</a>
		                             </div>
		                        </li>
								
							 </ul>
						</div>
					</div>
				</div>
				<div style="display:none;">
					<div id="careers-form" class="career">
						<div class="form-feild">
							<h3 class="yellowColor">Kindly fill out the form below </h3><br/>
							<div class="clinic-form">
								<form accept-charset="UTF-8" action="/site/create_career" method="post" class="resume-form" novalidate="novalidate" enctype="multipart/form-data">
									<input type="text" name="career[name]"  placeholder="NAME " class="form-style required name">
									<input type="email" name="career[email]"  placeholder="EMAIL" class="form-style required">
									<input type="text" name="career[phone]"  placeholder="MOBILE NUMBER" class="form-style required digit">
									<br/>			
						          	<span>Upload your CV(pdf/doc/txt/html format)</span>
						          	<input id="resume" name="career[resume]" type="file" class="required" style="width:100%" /><br /><br /> 
									<button class="bgyellow submit-btn" type="submit"  value="Submit">Submit</button>
								</form>
							</div>	
						</div>
						<div class="form-success" style="display:none">Thank You for showing your intrest</div>
					</div>
				<!-- </div> -->
			</div>
		</div>

		<div class="specification-tab-container galleryWrapper slide" id="career-in-caoching" style="padding:50px 0px;display:none;">
			<!-- <div class="careersContent"> -->
				<div class="contactUsHd">Coaches Education</div><br/><br/>
				<div class="para-content">
					<p>Coaching Education is a unique endeavor that Conscient Football considers integral to ensure the future success of football in India. The aim is to develop quality local coaches with the assistance of our Technical Director Mr. Eric Jones and the All India Football Federation.</p>
					<p>This is in accordance with Conscient Football's vision of imparting football knowledge in all hemispheres of the game. It is open to all of you who wish to make a difference to youth regardless of your prior footballing experience.</p>
					<p>Conscient Football will offer introductory, refresher and advanced courses throughout the year.</p>
					<p>In September '11, Conscient Football along with the AIFF conducted the first ever 'D'- license coaching education program in which 22 budding coaches were trained on various aspects of the game. The 6-day introductory program was an ideal step for those willing to take up coaching and learn the nuances of the game, both on and off the field. AIFF Director of Coaching, Mr. Gabriel Joseph designed and executed the course with the assistance of Instructor, Mr. Charles Joseph. Participants were introduced to the coaching profession through lessons on session planning, organized and individual coaching, football technique and skills, age-group training, coaching methodology, basic goalkeeping, sports safety, effective communication and match analysis. Video training and presentations were also included in the curriculum.</p>
					<div class="pull-left">
						<a href="#careers-form" class="apply_btn career-popup-form">Apply</a>
					</div>
				</div>		
		</div>
		<!-- </div> -->
	</div>
</div>
<div class="clearfix"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.mediaContent-career li a').click(function(e){
              var box = $(this).attr('rel');
              $('.mediaContent-career li a').removeClass('active-media');
              $(this).addClass('active-media');
              $(".specification-tab-container").hide(); 
              $("#"+box).fadeIn();              
        });
        $('.open-join-us').on('click',function(){
        	$('a[rel=join-us]').trigger("click");
        })
	});
</script>




