<html>
<head>
<title> Iframe</title>
</head>
<body>
<center>
<%
  merchantData=""
  #working_key="39274DFAAC4A2137FD65D3E85058F5A0" 
    #Put in the 32 Bit Working Key provided by CCAVENUES.  
  #access_code="OWGEIVZVFTFAMOTC" 
    #Put in the Access Code in quotes provided by CCAVENUES.
    
    working_key="82117D2FD02D73B7078F3D968781318E" 
    #Put in the 32 Bit Working Key provided by CCAVENUES.  
    access_code="AVHL00EB88BD74LHDB" 
    #Put in the Access Code in quotes provided by CCAVENUES.
  params.each do |key,value|
      merchantData += key+"="+value+"&" 
  end
  
  crypto = Crypto.new
  encrypted_data = crypto.encrypt(merchantData,working_key)
  
%>
  <form method="post" name="redirect" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction"> 
    <input type="hidden" name="encRequest" value="<%=encrypted_data%>" />
    <input type="hidden" name="access_code" value="<%=access_code%>" />
  </form>
</center>
<script language="javascript">document.redirect.submit();</script>
</body>
</html>

