<div class="clear"></div>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>CPFL - Registeration</span></a></li>
	</ul>
</div>
<div class="aboutUsWrapper">
	<div class="aboutUsContent">	
	<div class="form-wrapper-section">	
		<div class="barcalonaclinicHd" style="padding-top:100px;">CPFL Online Registration</div><br/>
		<h3 class="yellow">"Filling all fields is mandatory, please do not leave any field blank.".</h3><br/>
		<div id="form-field-wrapper">
		<%= render :partial => '/site/cpfl_form' %>
		</div>
		<div id="form-success">
				Please Wait....
		</div>
	</div>	
	</div>
</div>