<style type="text/css">
	.buttons {
    /* width: 125px; */
    /* float: left; */
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 5px 15px;
    /* margin-right: 20px; */
}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Tournaments and Leagues</span></a></li>
	</ul>
</div>

<div class="top-program cpflFirst relative half-height">
 <a href="http://cpfl.conscientfootball.com/" style="text-decoration:none;" target="_blank" class="block_link">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">CPFL</div><br>
			<div class="text-center white">
			<div class="blk-ptch2">
				The Conscient Premier Football League (CPFL) is a grassroots development<br/> initiative undertaken by the Conscient Group to help the Indian youth<br/> establish a concrete foundation for a world class competitive<br/> level while enhancing the bar in the country as well
			</div>

			</div>
			
			<div class="programbottomButtons" align="center">
					<!-- <a href="<%= url_about_barca_clinic %>" style="text-decoration:none;" class="buttons">
						ABOUT
					</a>
					<a href="<%= url_schedule %>" style="text-decoration:none;" class="buttons">
						SCHEDULE
					</a>

					<a href="<%= url_faq %>" style="text-decoration:none;" class="buttons">
						FAQs
					</a> -->

					<span class="buttons">
						KNOW MORE
					</span>
					<div class="clear"></div>
			</div>
		</div>
		</a>
</div>
<div class="top-program cpflSecond relative half-height">
	<a href="http://qaff.conscientfootball.com/" style="text-decoration:none;" class="block_link" target="_blank">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">QATAR Football</div><br>
			<div class="text-center white">
				<div class="blk-ptch2">
				The Qatar Airways Barça Academy Fooball Fiesta<br/> is an annual 5 a side indoor Futsal tournament.<br/> Players can register for U8, U12, U15 &amp; U18.<br/> To check out highlights from last season please click here.
				</div>
			</div>
			<div class="programbottomButtons" align="center">
					<span class="buttons">
						KNOW MORE
					</span>
					<div class="clear"></div>
			</div>
		</div>
		</a>
</div>
	<!-- <div class="about-content-wrapper slide">
		<div class="cpflWrapper">
			<div class="scheduleHd">
				CPFL
			</div>
			<br/>
			<div class="white text-center">
				The Conscient Premier Football League (CPFL) is a grassroots development initiative undertaken by the Conscient Group to help the Indian youth establish a concrete foundation for a world class competitive level while enhancing the bar in the country as well. The league was incorporated as a continuation of the Heritage Soccer League, run by The Heritage Schools in Delhi/NCR from 2007, as a base to provide the best football facilities as well as build a platform for the promotion of high quality football in India.<br/>
				Encompassing weekly matches, scoreboard systems, lush green fields and professional referees, the league aims to provide an undisrupted game experience and assures the zenith level of proficiency.
			</div>
			<br/><br/>
		<div class="programButtons" align="center">
			<a href="<%= url_schedule %>" class="buttonsCpfl">
				MATCH SCHEDULE
			</a>

			<a href="" class="buttonsCpfl">
				TEAMS & FIXTURES
			</a>

			<a href="<%= url_league_table %>" class="buttonsCpfl">
				LEAGUE TABLE
			</a>
			<div class="clear"></div>
		</div>

		<div class="programButtons" align="center">
			<a href="<%= url_rules_regulations %>" class="buttonsCpfl">
				RULES & REGULATIONS 
			</a>

			<a href="<%= url_cpfl_form %>" class="buttonsCpfl">
				REGISTRATION
			</a>

			<a class="buttonsCpfl">
				PAST EDITOR
			</a>
			<div class="clear"></div>
		</div>
			
		</div>

	</div> -->

<a href="/ourprogram" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>




