<html>
<head>
</head>
<body>
	<form method="POST" name="customerData" action="/site/ccavRequestHandler">
		<table width="40%" height="1" border='1' align="center"><caption><font size="4" color="blue"><b>Integration Kit</b></font></caption></table>
			<table width="40%" height="100" border='1' align="center">
				<tr>
					<td>Parameter Name:</td><td>Parameter Value:</td>
				</tr>
				<tr>
					<td colspan="2"> Compulsory information</td>
				</tr>
				<tr>
					<td>Merchant Id	:</td><td><input type="text" name="merchant_id" value="295"/></td>
				</tr>
				<tr>
					<td>Order Id	:</td><td><input type="text" name="order_id" value="123654749"/></td>
				</tr>
				<tr>
					<td>Amount	:</td><td><input type="text" name="amount" value="10.00"/></td>
				</tr>
				<tr>
					<td>Currency	:</td><td><input type="text" name="currency" value="INR"/></td>
				</tr>
				<tr>
					<td>Redirect URL	:</td><td><input type="text" name="redirect_url" value="http://conscientfootball.amura.in/site/ccavResponseHandler"/></td>
				</tr>
			 	<tr>
			 		<td>Cancel URL	:</td><td><input type="text" name="cancel_url" value="http://conscientfootball.amura.in/site/ccavResponseHandler"/></td>
			 	</tr>



<!-- 		 		<tr>
		        	<td>Integration Type	:</td><td><input type="text" name="integration_type" value="iframe_normal"/></td>
		        </tr> -->
		        <tr>
		        	<td></td><td><INPUT TYPE="submit" value="CheckOut"></td>
		        </tr>
	      	</table>
	      </form>
	      <br/><br/><br/><br/><br/>
	</body>
</html>

