<script src="/javascripts/jquery.smint.js" ></script>
<style>
html, body{

}
html { 
  background: url(/images/our-program_camps_faq_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>FAQs</span></a></li>
	</ul>
</div>
	<div class="faqbgWrapper">
		<div class="galleryContent">
			<div class="contactUsHd" style="margin-top:100px;">Frequently Asked Questions</div><br/>
			<!-- <div class="yellowColor">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</div> -->
			<br/>
			<div class="faqWrapper">
				<div class="aboutUsPageSubHd toUpper">shortcodes</div><br/>	
				<div class="shortcodes">
					
					<div class="listShortCodes">
						<ul class="menu">
							<li class="change active-menu" rel="acc1">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right  active-down f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc2">
								<div class="pull-left">Shortcode_2</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc3">
								<div class="pull-left">Shortcode_3</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc4">
								<div class="pull-left">Shortcode_4</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc5">
								<div class="pull-left">Shortcode_5</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc6">
								<div class="pull-left">Shortcode_6</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc7">
								<div class="pull-left">Shortcode_7</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
						</ul>
					</div>
				</div>

				<div class="accordianFaq" id="acc1">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Can my child have a trial session to see if he/she likes it?</span>
					</button>
					<div class="panel">
					  <p>Yes, we give an opportunity to children to have a trial. Please fill in the registration form or contact the center of interest with this enquiry and we can arrange an appropriate session for your child to attend</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>

				<div class="accordianFaq" id="acc2">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">What needs to be brought to each session?</span>
					</button>
					<div class="panel">
					  <p>Footwear suitable for the surface, shin guards, named water bottle, tracksuit top/sweatshirt in winter period if necessary. Each player must wear an appropriate uniform (provided) for match day or a regular training session.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>

				<div class="accordianFaq" id="acc3">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Can parents stay and watch?</span>
					</button>
					<div class="panel">
					  <p>Yes, at FCBEscola Delhi NCR venues parents are permitted to remain onsite whenever training sessions/matches take place. However, parents must be outside the football pitch and are strictly not allowed to cross the field when sessions take place, or speak to the players during the training session.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>

				<div class="accordianFaq" id="acc4">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Can I enroll my child for a short-term program?</span>
					</button>
					<div class="panel">
					  <p>No, unfortunately we do not run short-term programs. FC Barcelona offers 3 types of memberships depending on the duration of the program: 3, 6 and 9 months memberships.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>

				<div class="accordianFaq" id="acc5">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Can I transfer my child from one branch to another?</span>
					</button>
					<div class="panel">
					  <p>Yes, however it depends on the availability in a desired branch for your child’s specific age group. Should you have such enquiry, please feel free to contact the respective venue coordinator to arrange for the transfer or a waiting list.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>

				<div class="accordianFaq" id="acc6">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">What are the payment options do I have and can I pay for the memberships in several installments?</span>
					</button>
					<div class="panel">
					  <p>Payment can be made by either Cash, Cheque. Membership payments are to be made at once upon registration. No installments option is not available. But the player can choose the membership duration as per their payment comfort.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>
				<div class="accordianFaq" id="acc7">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Will my child’s performance on the field be improved?</span>
					</button>
					<div class="panel">
					  <p>It is our aim for every child to gain success at their individual as well as a team level. Our coaching staff are specifically trained to pass on how FC Barcelona players are trained. Our specially designed coaching programs help improve the skill levels in all children.</p>
					</div>
					</div>
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
					<!-- <div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div> -->
				</div>
			
			
			

			
			

				<!-- <div class="loadMore yellow bold" align="right">
					LOAD MORE&nbsp;&nbsp;&nbsp;<img src="/images/load_more_icon.png" valign="middle" style="display:inline-block">
				</div> -->
				<div class="clear"></div>
			</div>
		
</div>
<a href="/camps" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
            $(".change").click(function(){
            
            $('.menu li').removeClass('active-menu');
            $('.fa').removeClass('active-down')
            $(this).addClass('active-menu');
            $('.active-menu .fa').addClass('active-down')
            var rel = $(this).attr('rel');
            $(".accordianFaq").hide();
            $('#'+rel).fadeIn();
          });
        });
</script>

