<script src="/javascripts/jquery.smint.js" ></script>
<style>
html, body{

}
html { 
  background: url(/images/faq_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>FAQs</span></a></li>
	</ul>
</div>
	<div class="overviewFaq">
		<div class="galleryContent">
			<div class="contactUsHd" style="margin-top:100px;">Frequently Asked Questions</div><br/>
			<div class="yellowColor">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</div>
			<br/>
			<div class="faqWrapper">
				<div class="aboutUsPageSubHd toUpper">shortcodes</div><br/>	
				<div class="shortcodes">
					
					<div class="listShortCodes">
						<ul class="menu">
							<li class="change active-menu" rel="acc1">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right active-down f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc2">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc3">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc4">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc5">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f20" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
							<li class="change" rel="acc6">
								<div class="pull-left">Shortcode_1</div>
								<div class="pull-right" class="grey-arrow"><i class="fa fa-caret-right f2" aria-hidden="true"></i>

								</div>
								<div class="clear"></div>
							</li>
						</ul>
					</div>
				</div>

				<div class="accordianFaq" id="acc1">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>

				<div class="accordianFaq" id="acc2">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>

				<div class="accordianFaq" id="acc3">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>

				<div class="accordianFaq" id="acc4">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>

				<div class="accordianFaq" id="acc5">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>

				<div class="accordianFaq" id="acc6">
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
					<div style="margin-bottom:10px">
					<button class="accordion">
						<span class="acc-content">Lorem ipsum</span>
					</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					</div>
				</div>
			
			
			

			
			

				<a href="/overview" class="back-btn yellow bold" align="right">
					Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
				</a>
				<div class="clear"></div>
			</div>
		
</div>




<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
            $(".change").click(function(){
            
            $('.menu li').removeClass('active-menu');
            $('.fa').removeClass('active-down')
            $(this).addClass('active-menu');
            $('.active-menu .fa').addClass('active-down')
            var rel = $(this).attr('rel');
            $(".accordianFaq").hide();
            $('#'+rel).fadeIn();
          });
        });
</script>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
