<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Programs</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_training %>"><span>Coaching</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>FCBEscola Goal</span></a></li>
	</ul>
</div>

<div class="fcbescola-goals-banner slide">
	<div class="banner-title">
		<div class="page-title">FCBEscola Goal</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		<h2 class="introduction yellow">FCBEscola Goal</h2>
		<div class="text fw300">
		 FCBEscola Goal is an after school program designed for schools especially. Schools in Delhi NCR and Mumbai can register for the goal programme and get it’s students trained by Indian coaches according to the same successful methodology of FC Barcelona.
		</div>
		<div class="text fw300">
			Goal training consists of 2 one hour-long sessions every week. For registration and further enquiries please fill out the form below or contact us on <br/>
			<a href="tel:+919958788768" style="text-decoration:none;color:#F9BF1E">+91-9958788768</a> (Delhi) or <a href="tel:+918860006878" style="text-decoration:none;color:#F9BF1E">+91-8860006878</a> (Mumbai)
		</div>	
		<div class="clear"><br/></div>
		<div class="clear"><br/></div>
		<%= render 'football_camps_form'%>
	</div>
</div>

