
<div class="about-section-1 slide">
	<div class="banner-title">
		<div class="page-title">FCBEscola</div>
		<!-- <div class="subtitle">Conscient Football is a grassroots development initiative undertaken by the Conscient Group with the Heritage Schools network in Delhi NCR; the latter being a part of its ventures in the education sector, as an extension of its wider portfolio.</div> -->
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		<h2 class="introduction yellow">About Us</h2>
		<div class="text fw300">
		 Welcome to <strong>FCB</strong>Escola India, the official football school of <strong>FC B</strong>arcelona in India! <strong>FCB</strong>Escola India provides quality football development for players in the age group of 5-17 years. Players train under the same successful methodology learned by Lionel Messi, Andrés Iniesta, Sergio Busquets & Gerard Piqué, among others, which consists of a progressive series of exercises related to each cognitive stage. <br/>
		The aim of the <strong>FCB</strong>Escola is to bring <strong>FCB’s</strong> proven methodology for success to as many people as possible, ensuring an excellent image and offering work of the highest quality.
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Training is based on:</h3>
			<ul class="white list">
				<li>Teaching players the basics of football so they can successfully face up to the sporting challenges they may face in the future.</li>
				<li>Transmitting the values that <strong>FC B</strong>arcelona stands for: Respect, Effort, Ambition, Teamwork, Humility</li>
				</ul>
			<br/>
			<strong>FCB</strong>Escola is present in x cities around the world and 2 cities in India. <strong>FCB</strong>Escola has presence in India with 6 centers in Delhi and Mumbai. 
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="about-content-padding">
		<h2 class="introduction yellow"><strong>FCB</strong> SUPERVISION</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Technical Directors</h3>
			<strong>FCB</strong>Escola India programs are managed by Technical Directors from <strong>FC B</strong>arcelona. Aitor Olmo and Albert Moratalla Guerrero from <strong>FC B</strong>arcelona are the Technical Directors in <strong>FCB</strong>Escola Delhi and FCBEscola Mumbai respectively. They are responsible for overseeing the daily operations of the academy and ensuring that the syllabus of <strong>FC B</strong>arcelona is being coached and incorporated into the training sessions correctly. They also plan training programmes to specifically suit and cater to our players of different ages.<br/><br/>
			<h3 class="aboutUsPagesmallHd">Coaches</h3>
			The Technical Directors are also responsible for selecting coaches who conduct the training sessions. The coaches undergo a stringent process of interviews before selected, to ensure that our coaches are capable and passionate.<br/>
			They all hold different AIFF, AFC coaching licenses and are committed in coaching and bringing out the best in youth players. Coaches are specifically designated to different age groups, to cater to the varying development stages.
			<br/><br/>
			Conscient Football through all its activities tries to inculcate the same philosophy, values, skills and vision taught by <strong>FC B</strong>>arcelona to their players. It surely provides the best way to have a true Barcelona experience in India.
		</div>

		<div class="text">
			<h3 class="aboutUsPagesmallHd">Aitor Olmo Ibañez (Technical Director <strong>FCB</strong>Escola Delhi NCR)</h3>
			<ul>
				<li>1. 9 years as a Professional Player (Spanish 2nd Division)</li>
				<li>2. Degree in Business Administration (UPC)</li>
				<li>3. Master in SIC (UOC)</li>
				<li>4. Licensed to Coach Football (RFEF)</li>
				<li>5. International Camps Coordinator</li>
				<li>6. 2 seasons as a Technical Director <strong>FCB</strong>Escola Fukuoka</li>
				<li>7. 1 season as a Technical Director <strong>FCB</strong>Escola Tokyo</li>
				<li>8. 6 seasons at <strong>FCB</strong>Escola </li>
			</ul><br/><br/>
			<h3 class="aboutUsPagesmallHd">Albert Moratalla Guerrero (Technical Director <strong>FCB</strong>Escola Mumbai)</h3>
			<ul>
				<li>1. UEFA “A” License Coach (Catalan Football Federation)</li>
				<li>2. Degree in Project Management (Construction)</li>
				<li>3. 4 seasons at <strong>FCB</strong>Escola</li>
				<li>4. 3 seasons at <strong>FCB</strong>Escola Barcelona</li>
				<li>5. 1 season as Technical Director <strong>FCB</strong>Escola  Qingdao (China)</li>
				<li>6. Head coach at <strong>FCB</strong>Escola Camps for 2 year (8 cities)</li>
			</ul>
		</div>
		<div class="clear"></div>

	</div>

	<div class="parallax about-section-1"></div>
	<div class="about-content-padding">
		<h2 class="introduction yellow">Curriculum</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Syllabus and Values</h3>
			All of <strong>FCB</strong>Escola India’s football syllabus comes from <strong>FC B</strong>arcelona. These are the same syllabus that produced household names in world football such as Lionel Messi, Xavi Hernandez, Andres Iniesta and Sergio Busquets. <br/>
			Our training sessions are conducted by specific coaches who incorporate the syllabus into the training programme for the day. These individual groups will be closely monitored by our Technical Directors. Our Technical Directors reports back to <strong>FC B</strong>arcelona on our training sessions and will receive updates on new training syllabus or methodologies periodically.
			<br/>
			<strong>FCB</strong>Escola is more than just a football academy. It inculcates and instil proper life values that can be learnt and gained through the game, and will be invaluable to the player both on and off the pitch.<br/>
			

		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">What we teach at <strong>FCB</strong>Escola:</h3>
			<ul>
				<li>We mainly focus on developing physical, interpersonal and social skills along with improving the player’s skills and enhancing his/her level</li>
				<li>FCBEscola teaches techniques that will help them enhance their confidence and correct their attitude, on and off the pitch</li>
				<li>We provide the players with the best learning environment where they can gain experience from professional coaches while maintaining a safe, positive and fun learning atmosphere</li>
				<li>We teach our students that football is a team game and not an individual sport</li>
				<li>Players learn to play football like their idols and learn and share the values that FC Barcelona represents worldwide: - 
					<ul>
						<li>1. Respect</li>
						<li>2. Humility</li>
						<li>3. Team work</li>
						<li>4. Effort</li>
						<li>5. Ambition</li>	
					</ul>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="parallax about-section-1"></div>
	<div class="about-content-padding">
		<h2 class="introduction yellow">Player Development</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Training Sessions – Small Training Groups</h3>
			Each of our training sessions lasts 75 minutes to ensure quality time to learn and adapt to the philosophies of <strong>FC B</strong>arcelona. In this duration, each player will be taught on the famed syllabus of FC Barcelona with our specialised coaches who are hand-picked by our Technical Directors. Each age group has a different capacity, which varies from 8 players up to 14 players to ensure that each and every player receives quality attention from all of our coaches.<br/><br/>
			
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Play Regular Internal Matches</h3>
			Internal matches are held between different <strong>FCB</strong>Escola training centers and players get a chance to compete against each other. This is to ensure that the players receive playing time, which will improve their game, as well as provide an opportunity for the players to implement what they have learnt over the past weeks. The players will enjoy the Barca experience, and at the same time, play under professional conditions, with a proper team entrances and match referees!
		</div>
		<div class="clear"></div>
	</div>
	<div class="about-content-padding">
		<h2 class="introduction yellow">Opportunities & Exposure</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Participate in Matches</h3>
			To provide match exposure for all our players, <strong>FCB</strong>Escola India participates in external leagues and tournaments. This allows our players to pit themselves against other players their age, from all over the country. These external competitions are competitive, yet at the same time, provides an opportunity for the players to witness and experience playing against different levels and styles of football.<br/><br/>
			
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Represent <strong>FCB</strong>Escola!</h3>
			Once a year, our players stand an opportunity to be selected to represent <strong>FCB</strong>Escola India in the Annual <strong>FCB</strong>Escola International tournament in Barcelona, Spain. In this tournament, <strong>FCB</strong>Escolas from all over the world, compete against one another in the real <strong>FC B</strong>arcelona setting. <br/>
			<i>Experiencing <strong>FC B</strong>arcelona does not get any better than this!</i>
		</div>
		<div class="clear"></div>
	</div>
	<div class="parallax about-section-1"></div>
	<div class="about-content-padding">
		<h2 class="introduction yellow">Venue Details</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Delhi NCR</h3>
			FCBEscola Delhi NCR operates from four venues across Delhi NCR.<br/>
			<a href="/view-center" class="yellow">Read More</a>
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Mumbai NCR</h3>
			 FCBEscola Mumbai operates from two venues in Mumbai.<br/>
			<a href="/view-center" class="yellow">Read More</a>
		</div>
		<div class="clear"></div>
	</div>

	<div class="about-content-padding">
		<h2 class="introduction yellow">Programs</h2>
		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Escola</h3>
			Flagship program of FCBEscola India designed to not only to enhance the individual skills, but also to develop players as part of the team. <br/>
			<a href="/training-program" class="yellow">Read More</a>
		</div>

		<div class="text fw300">
			<h3 class="aboutUsPagesmallHd">Formative</h3>
			 Formative program has been custom designed to fulfil the needs of those players who need to focus on their own individual development & role in the game. <br/>
			<a href="/training-program" class="yellow">Read More</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="about-content-padding text-center">
		<a href="" class="footer-registernow" style="margin:0 auto;">Register Now</a>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	/*var pageSectiionHeight=wht/2;*/
	$('.slide').height(wht);
	/*$('.ourprogramWrapper, .ourprogramFirst, .ourprogramSecond, .ourprogramThird').height(pageSectiionHeight)*/
	$("a.scroll-btn").click(function(){
		$("html, body").animate({ scrollTop: $('#section-one').offset().top }, 1000);
	})

});
</script>