<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Delhi NCR Trial Registration Season 2016-17</span></a></li>
	</ul>
</div>
<div class="aboutUsWrapper">
	<div class="aboutUsContent">	
	<div class="form-wrapper-section">	
		<div class="barcalonaclinicHd" style="padding-top:100px;">Delhi NCR Trial Registration Season 2016-17</div><br/>
		<h3 class="yellow">"Kindly fill out the form below to register for Trials at one of FCBEscola's venues".</h3><br/>
		<div id="form-field-wrapper">
		<%= render :partial => '/site/fcbescola_preregistrationform' %>
		</div>
		<div id="form-success">
				Thank you for your interest. <br> We will contact you soon
		</div>
	</div>	
	</div>
</div>