<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>FCBEscola Venue</span></a></li>
	</ul>
</div>

<div class="fcbWrapper">
	<div class="fcbContent">
		<div class="venueTitle">
		FCBEscola VENUES
		</div>
		<br/>
		<div class="yellow">FCBEscola training is conducted at the following venues in Delhi NCR & Mumbai</div>
	</div>

	<a href="/view_center" class="viewCenterBtn">VIEW CENTER</a>
<a href="/overview" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
</div>