<div class="clear"></div>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>">Our Program</a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Clinics and Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Football Camps</span></a></li>
	</ul>
</div>
	<div class="campsregisterWrapper slide">
		<div class="galleryContent">
			<div class="barcalonaclinicHd">Football Camps</div><br/>
			<div class="yellow">
				<p>FCBEscola Offers short football camps to various schools and clubs during the year. FCBEscola offers world class training right in your school premise. A team of FCBEscola India coaches are in charge of the training using the same successful methodology that has produced leading football starts like Lionel Messi, Iniesta, Pique & Busquets amongst others. </p>
				<p>The duration of the camps varies as per the requirement of the school/club. Each session varies from 1.5 hours to 3 hours of top-quality training daily for each participants. Theory sessions are also provided to help the participants understand the tactical aspects of the beautiful game.</p>
				<p>Each participant is provided the official FCBEscola Camp kits and a completion certificate. </p>
			</div>
			<div class="yellowColor">
				Kindly fill out the form below 
			</div>
			<br/>
			<div class="clinic-form">
					<form action="" method="">
						<input type="text" name="schoolname"  placeholder="NAME OF SCHOOL" class="form-style">
						<input type="text" name="address"  placeholder="ADDRESS" class="form-style">
						<input type="email" name="email"  placeholder="EMAIL" class="form-style">
						<input type="number" name="mobile"  placeholder="MOBILE NUMBER" class="form-style">
						<br/><br/>
						<p class="yellow">Expected Participation Numbers</p>
						<br/>
						<select class="padding-select">
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
						</select>
						

						<button class="bgyellow submit-btn" type="submit" form="form1" value="Submit">Submit</button>
					</form>

			</div>
		</div>
	</div>
<a href="/camps" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.slide').css({'height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>