<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Gallery</span></a></li>
	</ul>
</div>


<div class="ourprogramWrapper">
	<a href="<%=url_gallery_detail(@years[0])%>" class="block_link">
	<div class="top-program relative">
		<div>
			<ul class="gallery-slider">
				<li class="gallery-banner1 half-height"></li>
				<li class="gallery-banner2 half-height"></li>
				<li class="gallery-banner3 half-height"></li>
			</ul>

			<div class="galleryCaptionWrap">
			<div class="gallery-subtitle">Season</div>
			<div class="gallery-year-title"><%=@years[0]%></div><br/>
		</div>
	</div>
	</div>
	</a>
</div>
<div class="ourprogramWrapper">
	<div class="ourprogramSecond pull-left half-height relative layer-on">
	  <a href="<%=url_gallery_detail(@years[1] )%>" class="block_link">
		<div class="scale">
			<div class="galleryCaptionWrap">
				<div class="gallery-subtitle">Season</div>
				<div class="gallery-year-title">			
				<%=@years[1] rescue ''%>
				</div><br/>
			</div>
		</div>
		<div class="grey-scale half-height"></div>
	  </a>
	</div>	
	<div class="ourprogramThird pull-left half-height relative layer-on">
		<a href="<%=url_gallery_detail(@years[2] )%>" class="block_link">
			<div class="scale">
				<div class="galleryCaptionWrap">
					<div class="gallery-subtitle">Season</div>
					<div class="gallery-year-title">			
					<%=@years[2] rescue ''%>
					</div><br/>
				</div>
			</div>
			<div class="grey-scale half-height"></div>
		</a>
		<!-- <#%@years.each_with_index do|y,i| %>
			<#% if i !=0 && i!=1%>
				<a href="<%#=url_gallery_detail(y)%>">
					<div class="galleryCaptionWrap">
						<div class="gallery-subtitle">Season</div>
						<%#=@years[2] rescue ''%>
					</div>
					<div class="grey-scale half-height"></div>
				</a>
			<%# end%>
		<%#end%> -->
	</div>
</div>

