<script src="/javascripts/jquery.smint.js" ></script>

<style>
	html { 
		background: url(/images/media_bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_gallery %>"><span>Gallery</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Gallery Details</span></a></li>
	</ul>
</div>
<div class="galleryWrapper">
	<div class="galleryContent">
		<div class="contactUsHd" style="margin-top:100px;">Photo album tital_02</div><br/>

		<div class="sub-heading">
			<span class="yellow bold">2016</span> <span class="grey bold">&nbsp;&nbsp;- &nbsp;&nbsp;Photo album tital_02</span>
		</div>

		<div class="photoWrapper" style="margin-top: 20px;">
			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_01.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_02.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_03.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_04.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>




			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_01.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_02.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_03.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_04.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>




			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_01.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_02.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_03.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_04.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>




			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_01.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_02.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_03.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>

			<a class="group3 photo" href="/images/photoalbum_thumb_01.jpg" style="background-image:url('/images/photoalbum_thumb_04.jpg'); height:200px; background-size:cover;display:block " title="Photo">
				<div class="greylayer"></div>
			</a>
			<div style="clear:both;"></div>
		</div>
	</div>

</div>
<br/>
<a href="/gallery" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
<br/><br/>
<script type="text/javascript">
	$(document).ready(function(){
		var wht=$(window).height();
		$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
		$('.aboutusNavigation').height(wht);

	});
</script>


<script>
	$(document).ready(function(){

		$(".group3").colorbox({rel:'group3', transition:"fade"});

	});
</script>