<style type="text/css">
	html{
		overflow: hidden;
	}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Gallery</span></a></li>
	</ul>
</div>


<div class="ourprogramWrapper">
	<a href="javascript:;">
	<div class="top-program ourprogramFirst relative">
		<div class="galleryCaptionWrap">
		<div class="gallery-subtitle">Year</div>
		<a href="<%=url_gallery_detail(@years[0])%>"><div class="gallery-year-title"><%=@years[0]%></div></a><br/>

		</div>
	</div>
	</a>
</div>
<div class="ourprogramWrapper">
	<a href="javascript:;">
	<div class="ourprogramSecond pull-left  relative">
		<div class="scale">
			<div class="galleryCaptionWrap">
				<div class="gallery-subtitle">Year</div>
				<a href="<%=url_gallery_detail(@years[1])%>"><div class="gallery-year-title"><%=@years[1]%></div></a><br/>
			</div>
		</div>
	</a>
	</div>
	<div class="ourprogramThird pull-left  relative">
		<a href="javascript:;">
			<div class="galleryCaptionWrap">
				<div class="gallery-subtitle">Year</div>
				<a href="<%=url_gallery_detail(@years[2])%>"><div class="gallery-year-title"><%=@years[2] %></div></a><br/>
			</div>
		</a>
	</div>
</div>


