<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript">
    $(document).ready(function() {	    		
	  	$('.list-year div').click(function(e){
	  		$("div .active-album").removeClass("active-album");
	  		$(this).addClass("active-album");
	  		var rel = $(this).attr('rel');
            $(".albumWrapper").hide();
            $('#'+rel).fadeIn();
	    })
		  <% if @year%>
		  	 $('#album-'+"<%=@year%>").fadeIn();
		  <% else %>
		  	  $(".albumWrapper").show();
		  <% end %>

		// $(".group3").colorbox({rel:'group3', transition:"fade", maxWidth:'90%', maxHeight:'90%'});
	});
</script>
<style>
html, body{
}
html { 
  background: url(/images/media_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="/gallery"><span>Gallery</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Gallery Details</span></a></li>
	</ul>
</div>
<div class="galleryWrapper">
	<div class="galleryContent">
		<div class="contactUsHd" style="margin-top:100px;">Photo Gallery</div><br/>
		<div class="album-tab">
			<% @years.each_with_index do |y,i| %>				
				<div class="list-year">
					<%=y%><div rel="album-<%=y%>" align="center" class="album<%=i%> sprite <%if @year==y%> active-album <%end%> "></div>
				</div>				
			<% end %>				
			<div style="clear:both;"></div>
		</div>
		<% @years.each_with_index do |y,i | %>
			<div class="albumWrapper" id="album-<%= y %>" style="<%='display:none !important' if @year!=y %>" >
				<div>
				<% get_gallery(y).each_with_index do |g,i| %>
					<a href="<%= g.main_image.url rescue "" %>" class="albumBox group3<%= i %><%= y %> ablum-cover1" style="background-image: url('<%= g.main_image.url rescue "" %>');">
						<div class="caption">
							<span class="yellow bold"><%= g.title %></span><br/>
							<span class="white f13"><%=g.published_date.strftime("%d %B %Y") %></span>
						</div>
						<!-- <div class="greylayer"></div> -->
					</a>
					<div style="display: none;">
					<% g.assets_gallery.each do |ga| %>
						 <a class="albumBox group3<%= i %><%= y %>" href="<%= ga.url %>"></a>
					<% end %>	    
					</div>	
				<% end %> 
				</div>
			</div><div style="clear:both;"></div>
			<% get_gallery(y).each_with_index do |g,i| %>
				<script type="text/javascript">
					$(document).ready(function(){
						$(".group3<%= i %><%= y %>").colorbox({rel:'group3<%= i %><%= y %>', transition:"fade",maxWidth:'850px',width:'100%'});
					});
				</script>
			<% end %>
		<% end %>
		<div style="clear:both;"></div><br/><br/>
	</div>
	
</div>

