<style type="text/css">
	html{
		overflow: hidden;
	}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Gallery</span></a></li>
	</ul>
</div>


<div class="ourprogramWrapper">
	<a href="javascript:;">
	<div class="top-program ourprogramFirst relative">
		<div class="galleryCaptionWrap">
		<div class="gallery-subtitle">Year</div>
		<div class="gallery-year-title">2017</div><br/>
		<!-- 
			<div class="text-center white mh-150">Yearlong training programmes conducted under the supervision<br/> of coaches from FC Barcelona provide quality football development<br/> for players in the age group of 5 to 17 years.</div>
			<div class="ourprogramCaptionBtn"><a href="<%= url_training %>">Know More</a></div> -->
		</div>
	</div>
	</a>
</div>
<div class="ourprogramWrapper">
	<a href="javascript:;">
	<div class="ourprogramSecond pull-left  relative">
		<div class="scale">
			<div class="galleryCaptionWrap">
				<div class="gallery-subtitle">Year</div>
				<div class="gallery-year-title">2016</div><br/>
				<!-- <div class="text-center white mh-150">Participate in competitions designed<br/> to help the youth establish a concrete foundation<br/> on a world class competitive level<br/> while enhancing the bar of football in India.</div>
				<div class="ourprogramCaptionBtn"><a href="<%= url_cpfl %>">Know More</a></div> -->
			</div>
		</div>
	</a>
	</div>
	<div class="ourprogramThird pull-left  relative">
		<a href="javascript:;">
			<div class="galleryCaptionWrap">
				<div class="gallery-subtitle">Year</div>
				<div class="gallery-year-title">2015</div><br/>
					<!-- <div class="white text-center mh-150">
						Short duration official FC Barcelona Soccer Camps offers <br/>a unique and exciting opportunity to experience<br/> specialized soccer training through an official partnership with the<br/> world’s most successful soccer team and their expert coaches. 
					</div>
					<div class="ourprogramCaptionBtn"><a href="<%= url_camps %>">Know More</a></div>	 -->
			</div>
		</a>
	</div>
</div>


