<script src="/javascripts/jquery.smint.js" ></script>
<style>
html, body{
overflow:auto !important;
}
html { 
  background: url(/images/media_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_training %>"><span>Training</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>How We Train</span></a></li>
	</ul>
</div>
<div class="aboutUsWrapper">
	<div class="how-we-train-content">	
	<div class="contactUsHd" style="margin-top:100px;">HOW WE TRAIN</div><br/>
		<div id="aboutConscient" class="aboutConscient">
		<div class="aboutUsPageSubHd">In FCBEscola</div>
			<div class="yellowColor">
			In FCBEscola India we work in the same way as other FCBEscolas around the world and follow the direction set by FCBEscola Barcelona. The trainings are based on the methodology devised many years ago in FCBarcelona for the first teams and youth teams.
			</div><br/>
		With this methodology the club has been growing and improving players like Messi, Xavi, Iniesta, Piqué & Busquets among others. All of them previously were part of “La Masia” and most of them currently play in the first team and various national teams worldwide. <br/>
		One part of the training is based on the application of the technical elements in real game situations. We also work towards developing main tactical concepts of football always associated with the FC Barcelona style of play.<br/>
		Through our training we aim at our players being able to make their own decisions during the game; if a player makes a wrong decision we can use this to enhance his/her learning process and ensure the right decision is made next time. Of course we also try to get our players to enjoy doing what they love – playing football.<br/>
		Under guidance of the coach, during training sessions different technical and tactical skills are worked on, providing assistance to kids on different tools to solve the various footballing situations. On the match days, our objective is for the players to apply everything they’ve learnt during the week.<br/><br/>
		<div class="aboutUsPageSubHd">Regular attendance is very important to:</div>
		
		<ul class="yellowColor">
			<li>- Give players a core training routine, essential for progress</li>
			<li>- Ensure they are assimilated in their team (team mates and coach)</li>
			<li>- Make it easy for them to keep up the work and learning process</li>
			<li>- Achieve all our sporting objectives</li>
		</ul> 
	</div>
		
</div>
<a href="<%= url_training %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	
});
</script>