<link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" type="text/css" />
 <script src="/javascripts/jquery.bxslider.js"></script>
<div class="homepageWrapper">
	<div class="homePageFirst">
		<div class="homePageCaptionWrapper">
			<a href="<%= url_upcoming_events %>" style="text-decoration:none;">
			<div class="homePageCaptionHd">Upcoming Event</div>
			<br/>
			<div class="homePageCaptionBtn">Live Event</div>
			</a>
		</div>	
		<ul class="bxslider">
			<li class="homePageFirst"></li>	
			<li class="homePageFirst"></li>	
			<li class="homePageFirst"></li>	
		</ul>
	
	</div>
	<div class="homePageSecond">
	<table style="height:100%;width:100%;">
		<tr><td align="center" valign="top" height="50%" class="homePageSecondTop">
				<div class="relative">
					<a href="<%= url_camps %>" style="text-decoration:none;">
						<img src="/images/home_bg_03.jpg" width="100%">
						<div class="homePageCaptionWrapper">
							<div class="homePageCaptionHd">Camps</div>
							<br/>
							<div class="homePageCaptionBtnW">Book Now</div>
						</div>			
					</a>
				</div>
		</td></tr>
		<tr><td align="center" valign="bottom" height="50%" class="homePageSecondBottom">
					<div class="relative">
						<a href="<%= url_cpfl %>" style="text-decoration:none;">
						<img src="/images/home_bg_02.jpg" width="100%">
						<div class="homePageCaptionWrapper">
							<div class="homePageCaptionHd">Competitions</div>
							<br/>
							<div class="homePageCaptionBtnW">Know More</div>
						</div>	
						</a>		
					</div>			
		</td></tr>
	</table>
		
		
	</div>
	<div class="homePageThird">
		<table style="height:100%;width:100%;">
		<tr><td align="center" valign="middle" height="100%" class="homePageSecondBottom">
				<div class="relative">
					<a href="<%= url_training %>" style="text-decoration:none;">
						<img src="/images/home_bg_04.jpg" width="100%">
						<div class="homePageCaptionWrapper">
						<div class="homePageCaptionHd">Training</div>
						<br/>
						<div class="homePageCaptionBtnW">Register For Trial</div>
					</div>					
					</div>			
				</div>			
		</td></tr>
	</table>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var window_ht = $(window).height();
	var window_wt = $(window).width();
	var footer_ht = $('.footer').height();
	$('.homePageFirst').css('height',window_ht);  
	$('.bxslider').bxSlider({auto: true,pager:false, controls:false,pause: 3000});
});
</script> 