<style type="text/css">
	.homePageSecondTop{
		width: 50%;
	}
	.homePageSecondBottom{
		width: 25%;
	}
	.homePageThirdTop{
		width: 25%;
		right: 0;
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: 100px;
		width: 100%;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
		background: #eeb71f;
	}

	.bx-wrapper .bx-pager.bx-default-pager a{ 
		width: 10px; 
		height: 10px;
	}
</style>
<div class="homepageWrapper relative">
	<div class="w50 relative pull-left home-banner">
		
		<div class="bxslider relative">
			<a href="https://www.youtube.com/embed/BcHZnowpR9c?rel=0&autoplay=1" style="text-decoration:none;" class="video-popup">
				<div class="homePageFourth window-height">
					<div class="homePageCaptionWrapperslide">
						<div class="homePageCaptionBtnW">
							Know More
						</div>
					</div>
				</div>
			</a>
			<a href="http://fcbclinics.conscientfootball.com/" target="_blank" style="text-decoration:none;">
				<div class="homePageFirst">
					<div class="homePageCaptionWrapperslide">
						<div class="homePageCaptionBtnW">
							Know More
						</div>
					</div>
				</div>	
			</a>
			<a href="http://fcbescola.conscientfootball.com/" target="_blank" style="text-decoration:none;">
				<div class="homePageSecond">
					<div class="homePageCaptionWrapperslide">
						<div class="homePageCaptionBtnW">
							Know More
						</div>
					</div>
				</div>	
			</a>
			<a href="http://fcbescola.conscientfootball.com/" target="_blank" style="text-decoration:none;">
				<div class="homePageThird">
					<div class="homePageCaptionWrapperslide">
							<div class="homePageCaptionBtnW">
								Know More
							</div>
						</div>
				</div>
			</a>
		</div>
		
		<p class="absolute home-slider-controls"><span id="home-slider-prev"><a class="bx-prev" href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></span> <span id="home-slider-next"><a class="bx-next" href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></span></p>
	</div>
	<div class="home-right pull-left">
		<a href="<%= url_training %>" class="absolute homePageSecondTop grey-filter-home">
			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd">
					Coaching
				</div>
				<div class="text-center white home-padding-content-120">
					Learn to play <br/>the Barcelona way.
				</div>
				<br/>
				<div class="homePageCaptionBtnW">
					 Enroll
				</div>
			</div>			

		</a>
		<div class="clearfix"></div>
		<a href="<%= url_cpfl %>" class="absolute homePageSecondBottom grey-filter-home">
			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd ">
					Tournaments <br>& Leagues
				</div>
				<!-- <div class="text-center white">
					Compete with the<br/> best in India.
				</div> -->
				<br/>
				<div class="homePageCaptionBtnW">
					Participate
				</div>
			</div>			
		</a>
		<a href="<%= url_camps %>" class="absolute homePageThirdTop grey-filter-home">

			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd">
					Clinics <br>& Camps
				</div>
				<!-- <div class="text-center white">
					Pure FC <br/>Barcelona experience.
				</div> -->
				<br/>
				<div class="homePageCaptionBtnW">
					Book
				</div>
			</div>
		</a>
		<div class="clearfix"></div>
	</div>
	<br clear="all" />
	<div class="mobile-bottom-wrapper">
		<a href="<%= url_training %>" class="grey-filter-home homePageSecondTop">
			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd">
					Training
				</div>
				<div class="text-center white home-padding-content-120">
					Learn to play <br/>the Barcelona way.
				</div>
				<br/>
				<div class="homePageCaptionBtnW">
					Enroll
				</div>
			</div>			

		</a>
		<div class="clearfix"></div>
		<a href="<%= url_cpfl %>" class="grey-filter-home homePageSecondBottom">
			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd">
					Tournaments <br>& Leagues
				</div>
				<!-- <div class="text-center white">
					Compete with the<br/> best in India.
				</div> -->
				<br/>
				<div class="homePageCaptionBtnW">
					Participate
				</div>
			</div>			
		</a>
		<a href="<%= url_camps %>" class="grey-filter-home homePageThirdTop">

			<div class="homePageCaptionWrapper">
				<div class="homePageCaptionHd">
					Clinics <br>& Camps
				</div>
				<!-- <div class="text-center white">
					Pure FC <br/>Barcelona experience.
				</div> -->
				<br/>
				<div class="homePageCaptionBtnW">
					Book
				</div>
			</div>
		</a>
	</div>
	<div class="clearfix"></div>
</div>
