
<style>
html, body{
	overflow-y:hidden; 
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_cpfl %>"><span>cpfl</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>league table</span></a></li>
	</ul>
</div>
	<div class="galleryWrapper" style="background-image:url(/images/League_Table_BG.jpg);background-repeat:no-repeat; background-size:cover;position:relative;">
		<div class="scheduleWrapper">
			<div class="scheduleHd">
				LEAGUE TABLE
			</div>
			<br/>
			<div class="yellow text-center">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
			</div>
			<div class="league-table-football relative">
			<div class="league-location">
				<div>LOCATION</div>
				<select class="padding-select">
							  <option value="2013">Gurgoan</option>
							  <option value="2014">Delhi</option>
							  <option value="2015">Mumbai</option>
							  
				</select>
			</div>
			<div class="league-division">
				<div>DIVISION</div>
				<select class="padding-select">
							  <option value="2013">1</option>
							  <option value="2014">2</option>
							  <option value="2015">3</option>
							  <option value="2016">4</option>
				</select>
			</div>
		</div>

		<div class="knowmore">
			GO
		</div>
		</div>
	</div>
<a href="<%= url_cpfl %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.galleryWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>



