<style type="text/css">
	.back-btn{
		position: absolute;
		float: right;
		bottom: 0;
		margin-right: 20px;
	}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_media %>"><span>Media</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Media Details</span></a></li>
	</ul>
</div>
<div class="media-wrapper wrapper-margin-top">
<div class="galleryContent">

<div class="contactUsHd">FC Barcelona teams up with Conscient for football school</div>
<br/>
<div class="aboutUsPageSubHd">Hindubusinessline.com</div>
<br/><br/>
	<div class="media-details-wrap">
	<img src="/images/05_Expand.jpg">
		<div class="contactUsSubHd">NEW DELHI, MAY 16:</div>			
		<p>New Delhi, May 16 FC Barcelona and Conscient Football will be launching the club’s first official football school in New Delhi. FCBEscola is the school model of the club which is exported internationally with the idea of extending the Barca brand to other parts of the world.</p>

		<p>The academy will be operational in 2012 and will be equipped to train 300 players between 6-14 years of age. Mr Xevi Marce, Director of FCBEscola said, “This is one of the most ambitious projects for FCBEscola worldwide and we hope to train 10,000 young footballers in the next three years.”</p>
		<br/>
		<p>The Delhi football academy will operate in the Heritage School campus. The club will station one of its technical directors in Delhi.</p>
		<br/>
		<p>Ms Anupama Jain, Director, Conscient Football said, “We will collaborate with schools to expand the academy’s presence in other regions such as Bangalore, Pune, Ahmedabad and Goa, among others.”</p>
		<br/>
		<p>Earlier, the football club had announced its partnership with the company to launch training camps in October.</p>
		<br/>

	</div>
</div>								
</div>
<br/>
<br/>
