<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript">
    $(document).ready(function() {	    		
		$(".popup-media").colorbox({rel:'popup-media', transition:"fade", maxWidth:'90%', maxHeight:'90%', iframe:true});
	});
</script>
<style type="text/css">	
	#album-2014 .dte,#album-2016 .dte{    
		position: absolute;
	    top:0px;
	    background: rgba(0, 0, 0, 0.52);
	    padding: 2px 5px;
	    right: 0;}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Media</span></a></li>
	</ul>
</div>
<div class="galleryWrapper">
	<div class="mediaContent">
		<div class="contactUsHd">Media</div><br/>
		<div>
			<ul class="media-tabs">
		      <li style="padding-left:0px;"><a rel="album-2016" class="active-media">News</a></li>
		      <li><a rel="album-2015" class="">Videos</a></li>
		      <li><a rel="album-2014" class="">Online Coverage</a></li>
		      <li><a rel="album-2013" class="">Blog</a></li>
		    </ul>
			<div style="clear:both;"></div>
		</div>		
		<div class="albumWrapper" id="album-2016">
			<div>
				<%@news.each do |news|%>
				<a href="<%=news.doc.url rescue '#' %>" rel="nofollow"  target="_blank"  class="albumBox ablum-cover1 " style="background-image: url('<%= news.main_image.url rescue "" %>');">
				  <%time = news.published_date rescue ''%>
					<%if time!=''%>
						<span class="white dte" style="float:right"><%=time.strftime(" #{time.day.ordinalize} %b %Y") rescue '' %></span><br/>
					<%end%>
					<div class="caption">
						<span class="yellow"><%=news.title%></span><br/>
						<span class="white">Read More</span><br/>
					</div>
				</a>
				<%end%>					
				<div class="clear"></div>
			</div>
		</div>
		<div class="albumWrapper" id="album-2015">
			<div>
				<%@videos.each do |video|%> 
				<a href="<%=video.url rescue ''%>" rel="nofollow" class="albumBox video-popup"  rel="nofollow" >					
					<iframe width="100%" height="200px" src="<%=video.url rescue ''%>" frameborder="0" allowfullscreen></iframe>
					<div class="caption">
						<span class="yellow"><%=video.title%></span><br/>
						<span class="white">Read More</span><br/>
					</div>
					<div style="position:absolute; top:0; height:100%; width:100%; z-index:9999">
					</div>
				</a>
				<%end%>
				<div class="clear"></div>
			</div>			
		</div>

		<div class="albumWrapper" id="album-2014">
			<div>
				<%@press_release.each do |press_releas|%>
				<a href="<%=press_releas.url%>" rel="nofollow" class="albumBox ablum-cover1" style="background-image: url(<%=press_releas.main_image.url rescue ''%>)" target="_blank">
					<%time = press_releas.published_date rescue ''%>
					<%if time!=''%>
					<span class="white dte" style="float:right"><%=time.strftime(" #{time.day.ordinalize} %b %Y") rescue ''  %></span><br/>
					<%end%>
					<div class="caption">						
						<span class="yellow"><%=press_releas.title%></span><br/>
						<span class="white">Read More</span><br/>
					</div>
				</a>
				<%end%>
				<div class="clear"></div>
			</div>
		</div>
		<div class="albumWrapper" id="album-2013">
			<div>
				<%@blogs.each do |blog|%>
				<a href="<%=url_blog(blog)%>" rel="nofollow" class="albumBox ablum-cover1" style="background-image: url(<%=blog.main_image.url rescue ''%>)">
					<div class="caption">
						<span class="yellow"><%=blog.title%></span><br/>
						<span class="white">Read More</span><br/>
					</div>
				</a>
				<%end%>
				<div class="clear"></div>
			</div>	
		</div>	
	</div>
	
</div>




