<style type="text/css">
	.banner-title {
	    position: absolute;
	    top: 40%;
	    width: 100%;
	}
	.mgmt1{
		background-image: url(/images/c1.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.mgmt2{
		background-image: url(/images/c2.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.mgmt3{
		background-image: url(/images/c3.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.mgmt4{
		background-image: url(/images/c4.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.mgmt5{
		background-image: url(/images/c5.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
.scroll-btn {
   
    bottom: 22%;
 }
 .clinic-form{
 	width: 100%
 }
 .number {
    font-size: 13px;
    margin-right: 20px;
     margin-top: 0px; 
    margin-left: 0px;
}
.f25{
	width: 21%
}
.f25 .form-style {
    padding: 10px 10px;
}
.introduction {
  
    line-height: 75px;
}

@media all and (max-width: 700px){
.form-fields {
    width: 100%;
}
.number{
	margin-left:0px 
}


}



</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Facility management</span></a></li>
	</ul>
</div>
<div class="about-section slide relative" >
	<div class="mgmt-slider">
		<div class="mgmt1 slide">
			
		</div>
		<div class="mgmt2 slide">
			
		</div>
		<div class="mgmt3 slide">
			
		</div>
		<div class="mgmt4 slide">
			
		</div>
		<div class="mgmt5 slide">
			
		</div>

	</div>
	<div class="banner-title">
		<div class="page-title">Facility Management</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		<h2 class="introduction yellow">About Facility Management</h2>

	<div class="text fw300">Conscient sports is an organisation that has an aim to build a sports ecosystem in Delhi that helps people by providing top notch playing facility to practice the sport they love.</div>
	<div class="text fw300">We are currently present in Gurgaon and Vasant Kunj<br/>
	For more information please contact – Mr. Ravi Sharma – 9650764123</div><br/>
	<div class="clearfix"></div>
	<p>Please fill in the below form to book your slot – </p>

		<div class="clear"></div>
		<div class="clinic-form">

			<form accept-charset="UTF-8" action="/site/facility" id="contact_us" method="post" novalidate="novalidate" >
				<div class="pull-left form-fields">
				<label class="lable-text">Name <span>*</span></label><br/>
				<input type="text" name="contact[name]" class="form-style required letterswithbasicpunc" tabindex="1" id="participant_name">
				</div>
				<div class="clear"><br/></div>
				<div class="pull-left form-fields">
				<label class="lable-text"> Mobile No. <span>*</span></label><br/>
				<input type="text" name="contact[mobile]" class="form-style number required" tabindex="2" id="participant_mobile">	
				</div>

				<div class="clear"><br/></div>
				<div class="pull-left form-fields">
				<label class="lable-text"> E-Mail Id <span>*</span></label><br/>
				<input type="text" name="contact[email]"  class="form-style email required " tabindex="3" id="participant_email">
				<div class="help-text">(Please note all communication will be forwarded on the preferred E-mail ID and Mobile No.)</div>
				</div>

				<div class="clear"><br/></div>

				<div class="pull-left form-fields f25">
				<label class="lable-text">Location</label><br/>
					
					<select name="contact[location]" class="form-style required" tabindex="4">
						<option value="">Select</option>
						<option value="1">Gurgaon</option>
						<option value="2">Vasant Kunj</option>
					</select>	
				</div>

				<div class="pull-left form-fields f25">
				<label class="lable-text">Sport</label><br/>
					<select name="contact[sport]" class="form-style required" tabindex="5">
						<option value="">Select</option>
						<option value="Football">Football</option>
						<option value="Basketball">Basketball</option>
						<option value="Table Tennis">Table Tennis</option>
						<option value="Badminton">Badminton</option>
					</select>	
				</div>

				<div class="pull-left form-fields f25">
				<label class="lable-text">Venue</label><br/>
					<select name="contact[venue]" class="form-style required" tabindex="6">
						<option value="">Select</option>
						<option value="7 A Side">7 A Side</option>
						<option value="11 A Side (Natural Grass)">11 A Side (Natural Grass)</option>
						<option value="11 A Side (Astro Turf)">11 A Side (Astro Turf)</option>
						<option value="TT Hall">TT Hall</option>
						<option value="Badminton Court">Badminton Court</option>
						<option value="Basketball Court">Basketball Court</option>
					</select>	
				</div>

				<div class="pull-left form-fields f25">
				<label class="lable-text">Time</label><br/>
					<!-- <input type="text" name="contact[time]" class="form-style" tabindex="7" min="9:00" max="18:00"> -->

					<select name="contact[time]" class="form-style" tabindex="7" >
						<option value="">Preferred Visit Time</option>
						<option value="12:00 AM">12:00 AM</option>
						<option value="1:00 AM">01:00 AM</option>
						<option value="1:30 AM">01:30 AM</option>
						<option value="2:00 AM">02:00 AM</option>
						<option value="2:30 AM">02:30 AM</option>
						<option value="3:00 AM">03:00 AM</option>
						<option value="3:30 AM">03:30 AM</option>
						<option value="4:00 AM">04:00 AM</option>
						<option value="4:30 AM">04:30 AM</option>
						<option value="5:00 AM">05:00 AM</option>
						<option value="5:30 AM">05:30 AM</option>
						<option value="6:00 AM">06:00 AM</option>
						<option value="6:30 AM">06:30 AM</option>
						<option value="7:00 AM">07:00 AM</option>
						<option value="7:30 AM">07:30 AM</option>
						<option value="8:00 AM">08:00 AM</option>
						<option value="8:30 AM">08:30 AM</option>
						<option value="9:00 AM">09:00 AM</option>
						<option value="9:30 AM">09:30 AM</option>
						<option value="10:00 AM">10:00 AM</option>
						<option value="10:30 AM">10:30 AM</option>
						<option value="11:00 AM">11:00 AM</option>
						<option value="11:30 AM">11:30 AM</option>
						<option value="12:00 PM">12:00 PM</option>
						<option value="12:30 PM">12:30 PM</option>
						<option value="1:00 PM">01:00 PM</option>
						<option value="1:30 PM">01:30 PM</option>
						<option value="2:00 PM">02:00 PM</option>
						<option value="2:30 PM">02:30 PM</option>
						<option value="3:00 PM">03:00 PM</option>
						<option value="3:30 PM">03:30 PM</option>
						<option value="4:00 PM">04:00 PM</option>
						<option value="4:30 PM">04:30 PM</option>
						<option value="5:00 PM">05:00 PM</option>
						<option value="5:30 PM">05:30 PM</option>
						<option value="6:00 PM">06:00 PM</option>
						<option value="6:30 PM">06:30 PM</option>
						<option value="7:00 PM">07:00 PM</option>
						<option value="7:30 PM">07:30 PM</option>
						<option value="8:00 PM">08:00 PM</option>
						<option value="8:30 PM">08:30 PM</option>
						<option value="9:00 PM">09:00 PM</option>
						<option value="9:30 PM">09:30 PM</option>
						<option value="10:00 PM">10:00 PM</option>
						<option value="10:30 PM">10:30 PM</option>
						<option value="11:00 PM">11:00 PM</option>
						<option value="11:30 PM">11:30 PM</option>
					</select>
				</div>
			

				<div class="clear"><br/></div>
				
				<br/>
				<div class="clear"><br/></div>
				<input class="bgyellow submit-btn" type="submit" value="Submit">
			</form>
		</div>
		<div id="form_success1" style="font-size:14px; padding:50px 10px; text-align:center;color:#fff; display:none">
              <span>Your request has been submitted successfully.</span><br><br>
              <span>We will get back to you soon.</span>
          </div>
	</div>



</div>


<script type="text/javascript">
$(document).ready(function(){
	$.validator.setDefaults({
		submitHandler: function() {
			$('.clinic-form').hide();
			$('#form_success1').css("display","block");

			// $("#contact_us").ajaxSubmit({
			// 	success:formResponse,
			// 	dataType: 'json'
			// });
			$.ajax({
                    type:"POST",
                    dataType:"json",
                    url:$("#contact_us").attr("action"),
                    data:$("#contact_us").serialize(),
                    success: function(resp, status, xhr){
                        if(resp.status == "success"){

                        }
                        else{

                        }
                    },
                    error: function(resp, status, xhr){
                    }
                });

		}
	});
	$("#contact_us").validate();

	$(document).on('change', 'select[name="contact[location]"]', function(){

		

		if($('select[name="contact[location]"] option:selected' ).val()=='1'){
			$('select[name="contact[sport]"]' ).html('<option value="">Select</option><option value="Football">Football</option><option value="Basketball">Basketball</option><option value="Table Tennis">Table Tennis</option><option value="Badminton">Badminton</option>');

			$('select[name="contact[venue]"]').html('<option value="">Select</option><option value="7 A Side">7 A Side</option><option value="11 A Side (Natural Grass)">11 A Side (Natural Grass)</option><option value="11 A Side (Astro Turf)">11 A Side (Astro Turf)</option><option value="TT Hall">TT Hall</option><option value="Badminton Court">Badminton Court</option><option value="Basketball Court">Basketball Court</option>');

		}else{
			$('select[name="contact[sport]"]').html('<option value="">Select</option><option value="Football">Football</option><option value="Basketball">Basketball</option>');
			$('select[name="contact[venue]"]').html('<option value="">Select</option><option value="11 A Side (Astro Turf)">11 A Side (Astro Turf)</option><option value="Basketball Court">Basketball Court</option>');
		}

		// else{
		// 	$('select[name="contact[sport]"]').html('<option value="">Select</option><option value="Football">Football</option><option value="Basketball">Basketball</option><option value="Table Tennis">Table Tennis</option><option value="Badminton">Badminton</option>');

		// 	$('select[name="contact[venue]"]').html('<option value="">Select</option><option value="7 A Side">7 A Side</option><option value="11 A Side (Natural Grass)">11 A Side (Natural Grass)</option><option value="11 A Side (Astro Turf)">11 A Side (Astro Turf)</option><option value="TT Hall">TT Hall</option><option value="Badminton Court">Badminton Court</option><option value="Basketball Court">Basketball Court</option>');
		// }
	});



});
</script>
