<style type="text/css">
	.about-us-wrapper{
		width: 100%;
	}

	.aboutwrapper{
		margin-top: 60px;
	}
	.conscient-football{
		background-image: url(/images/our_program_bg_02.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.section{
		padding: 50px 30px;
		color: #fff;
		position: relative;
	}

	.scroll-btn{
		position: absolute;
	    bottom: 15%;
	    right: 50%;
	    cursor: pointer;
	}

	.scroll-btn-one{
		bottom: 20%;
		position: absolute;
	    right: 50%;
	    cursor: pointer;
	}
	.scroll-up-btn{
		-ms-transform: rotate(180deg); /* IE 9 */
	    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	    transform: rotate(180deg);	
	    position: absolute;
	    bottom: 5%;
	    right: 50%;
	    cursor: pointer;
	}
	

	@media only screen and (min-width:1300px) and (max-width:1366px){
		.section{
			padding: 100px 90px;
			color: #fff;
			position: relative;
		}
	}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>404</span></a></li>
	</ul>
</div>
<div class="about-us-wrapper">
	<div class="conscient-football slide section" id="aboutConscient">
		<br/><br/><br/>
		<div class="contactUsHd">Error: 404. Page not found!</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	/*var pageSectiionHeight=wht/2;*/
	$('.slide').height(wht);
	/*$('.ourprogramWrapper, .ourprogramFirst, .ourprogramSecond, .ourprogramThird').height(pageSectiionHeight)*/
	$("a.scroll-btn, a.scroll-btn-one").click(function(){
		var rel = $(this).attr('rel');
		console.log(rel);
		$("html, body").animate({ scrollTop: $('#'+rel).offset().top }, 1000);
	})

	$("a.scroll-up-btn").click(function(){
		$("html, body").animate({ scrollTop: $('#aboutConscient').offset().top }, 1000);
	})
});
</script>