
<div class="ourprogramWrapper">
<div class="ourprograrTrainingFirst ourProgramTrainingSection">
	<div class="ourprogramTrainingCaptionWrap">
		<div class="ourprogramTrainingCaptionHd">Delhi</div><br/>
		<div class="ourprogramTrainingCaptionBtn"><a href="">View Centers</a></div><br/>
		<div class="ourprogramTrainingCaptionBtn"><a href="">View Team</a></div>
	</div>
</div>
<div class="ourprogramrTrainingSecond ourProgramTrainingSection">
	<div class="ourprogramTrainingCaptionWrap">
		<div class="ourprogramTrainingCaptionHd">Mumbai</div><br/>
		<div class="ourprogramTrainingCaptionBtn"><a href="">View Centers</a></div><br/>
		<div class="ourprogramTrainingCaptionBtn"><a href="">View Team</a></div>
	</div>
</div>


</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.ourprogramWrapper').height(wht);
});
</script>