<style type="text/css">

.ourprogramCaptionBtn a:hover {
    color: #000;
    border: 1px solid #f8c034;
    background-color: #f8c034;
}
.ourprogramCaptionWrap{
        text-shadow: 0px 13px 27px #000;}

</style>
<script type="text/javascript">
  $(document).ready(function(){
    $(".ourprogramFirst").hover(function(){
       $(this).css("background","url('images/coach1.jpg'),url('images/coach2.jpg')"); 
    });

    $(".ourprogramFirst").mouseout(function(){
       $(this).css("background","url('images/coach2.jpg'),url('images/coach3.jpg')"); 
    });
  })
</script>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Our Programs</span></a></li>
	</ul>
</div>

<div class="ourprogramWrapper">
<a href="<%= url_training %>" class="block_link" >
	<div class="top-program ourprogramFirst relative">
		<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">     Coaching</div><br/>
			<div class="text-center white mh-150">
        <div class="blk-ptch">
        Yearlong coaching programmes conducted under the supervision<br/> of coaches from FC Barcelona provide quality football development<br/> for players in the age group of 5 to 17 years.
        </div>
      </div>
			<div class="ourprogramCaptionBtn">
			  <span class="hvr-bounce-to-bottom">Know More</span>
			</div>		
	</div>
	</div>
 </a>
</div>

<div class="ourprogramWrapper">
	<div class="ourprogramSecond pull-left  relative">
	<a href="<%= url_cpfl %>" class="block_link">
		<div class="ourprogramCaptionWrap">
			<div class="ourprogramCaptionHd">Tournaments & Leagues</div><br/>
			<div class="text-center white mh-150">
        <div class="blk-ptch1">
        Participate in competitions designed<br/> to help the youth establish a concrete foundation<br/> on a world class competitive level<br/>
        </div>
      </div>
			<div class="ourprogramCaptionBtn"><span class="hvr-bounce-to-bottom">Know More</span></div>
		</div>
		</a>
	</div>
	<div class="ourprogramThird pull-left  relative">
	<a href="<%= url_camps %>" class="block_link">
		<div class="ourprogramCaptionWrap">
			<div class="ourprogramCaptionHd">Clinics & Camps</div><br/>
				<div class="white text-center mh-150">
					<div class="blk-ptch1">
          Short duration official FC Barcelona Soccer Camps offers <br/>a unique and exciting opportunity to experience<br/> specialized soccer training 
          </div>
				</div>
				<div class="ourprogramCaptionBtn"><span class="hvr-bounce-to-bottom">Know More</span></div>	
		</div>
		</a>
	</div>
</div>
