
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Our Program</span></a></li>
	</ul>
</div>
<div class="ourprogramWrapper">
<div class="ourprogramFirst ourProgramSection grey-filter">
	<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">Training</div><br/>
		<div class="white text-center mh-150">
			Yearlong training programmes conducted under the supervision<br/> of coaches from FC Barcelona provide quality football development<br/> for players in the age group of 5 to 17 years.
		</div>
		<div class="ourprogramCaptionBtn"><a href="<%= url_training %>">Know More</a></div>
		
	</div>
</div>
<div class="ourprogramSecond ourProgramSection grey-filter">
	<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">Competition</div><br/>
		<div class="text-center white mh-150">Participate in competitions designed<br/> to help the youth establish a concrete foundation<br/> on a world class competitive level<br/> while enhancing the bar of football in India.</div>
		<div class="ourprogramCaptionBtn"><a href="<%= url_cpfl %>">Know More</a></div>
	</div>
</div>

<div class="ourprogramThird ourProgramSection grey-filter">
	<div class="ourprogramCaptionWrap">
		<div class="ourprogramCaptionHd">Camps</div><br/>
		<div class="white text-center mh-150">
			Short duration official FC Barcelona Soccer Camps offers <br/>a unique and exciting opportunity to experience<br/> specialized soccer training through an official partnership with the<br/> world’s most successful soccer team and their expert coaches. 
		</div>
		<div class="ourprogramCaptionBtn"><a href="<%= url_camps %>">Know More</a></div>
	</div>
</div>

</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.ourprogramWrapper').height(wht);
});
</script>