<script src="/javascripts/jquery.smint.js" ></script>
<style>
html, body{
overflow:auto !important;
}
html { 
  background: url(/images/FCBEscola_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_overview_fcbescola %>"><span>Overview</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Overview FCBEscola</span></a></li>
	</ul>
</div>

<div class="overviewWrapper">
	<div class="aboutUsContent">	
	<div class="contactUsHd" style="margin-top:100px;">About FCBE<span style="text-transform:lowercase">scola</span></div><br/>
		<div id="aboutConscient" class="aboutConscient">
		<div class="aboutUsPageSubHd">The FCBEscola</div>
		<div class="yellow">
			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		</div>
			<br/>
		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>

		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>
		
	    </div>
		<div id="aboutPhilosophy" class="aboutPhilosophy">
		<br/><br/><br/>
			<div class="aboutUsPageSubHd">Technical Direction</div><br/>
			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>

			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>
		</div>
		<div id="aboutConscientGroup" class="aboutConscientGroup">
		<br/><br/><br/>
			<div class="aboutUsPageSubHd">FCBEscola Worldwide</div>
			
			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>

			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/>
		</div>
		<div id="aboutConscientFoundation" class="aboutConscientFoundation">
		<br/><br/><br/>
		<div class="aboutUsPageSubHd">Social Values</div>
		<p>
		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br/></p> 
<br/>
	
	<h3 class="aboutUsPagesmallHd">How You Can Help!</h3>
<p>We would like to request your support in partnering with us to contribute generously towards scholarships for highly talented children from the EWS. These contributions will change the lives of these children and give them a fighting chance to reach their goals and live up to their full potential.
</p><p>
As you know, the FCBEscola sends two teams to compete at the FCBEscola International Tournament in Barcelona. We would like to send a highly talented child with a similar background to participate in the tournament each year. The exposure provided by participating in this tournament in Barcelona will be, as you can imagine, a phenomenal experience & step forward for such a child.</p>
<p>
If you would like to contribute to any of the activities of Change Reaction, please contact us at the Conscient Football office.
</p><p>Thank you so much for your generosity of spirit and your inclusion of those less advantaged.</p>
<p><strong>“We make a living by what we get. We make a life by what we give.”</strong><br/>
<strong>― Winston S. Churchill</strong></p>
<br/><br/><br/>
		</div>
		
</div>
<!-- about us content end  -->	
	<div class="aboutusNavigation">
		<div class="table">	
		<div class="table-cell">
				<ul class="nav-links" id="menu_nav">
					<li class="active"><a rel="aboutConscient" class="active">Objective</a></li>
					<li class=""><a rel="aboutPhilosophy" class="">Technical Direction</a></li>
					<li class=""><a rel="aboutConscientGroup" class="">FCBEscola Worldwide</a></li>
					<li class=""><a rel="aboutConscientFoundation" class="">Social Values</a></li>
				</ul>
		</div>	
		</div>	
	</div>
	<!--  navigation end-->
	
</div>

<a href="/overview" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	
});
</script>