<script src="/javascripts/jquery.smint.js" ></script>
<style>
html, body{
overflow:auto !important;
}
html { 
  background: url(/images/overview_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Overview</span></a></li>
	</ul>
</div>

<div class="overviewWrapper">
	<div class="aboutUsContent">	
	<div class="contactUsHd" style="margin-top:100px;">Overview</div><br/>
		<div id="aboutConscient" class="aboutConscient">
		<div class="aboutUsPageSubHd">FCBEscola</div>
			<br/>
		The FCBEscola reflects the famed youth development system of FC Barcelona in Spain, globally recognized for its ability to identify, groom and nurture talent such as Lionel Messi, Xavi Hernandez, Gerard Pique and Andres Iniesta among others. The club plays an integral role in its country's global football success, with many players currently in the Spanish national team.<br/>

Mr. David Jaray and Mr. Aitor Olmo, Technical Directors of the FCBEscola India Project are here to oversee the first-of-its-kind football school in India and also to oversee the training at every FCB program in the country, ensuring that the quality of the curriculum remains the same as that being executed at the FCBEscola back in Spain. This official football school is a sustainable platform where the best young footballers of the country are receiving an opportunity to train in arguably, the most successful methodology in the world over long periods of time. The Escola trains young footballers in the age group of 5-17 years with programs running around the year.<br/>

Under the project, different programs are offered that are tailored for all age groups, skill levels and type of youth development possible. The Escola students have specially designed Health, Nutrition, Fitness and Conditioning sessions as well as participation in various domestic and International tournaments.&nbsp;&nbsp;<a href="/overview_fcbescola" class="yellow" style="text-decoration:none;"><strong>Read More</strong>	</a><br/> <br/>
		
	    </div>
		<!-- <div id="aboutPhilosophy" class="aboutPhilosophy">
		<br/><br/><br/>
			<div class="aboutUsPageSubHd">Training</div><br/>
			FCBEscola, the Official Football School of FCBarcelona, offers top quality training to select upcoming footballers. It is our flagship program offered to the true cream of youth football in the city selected after extensive trials. The program is designed to not only enhance individual skills, but to develop players as part of a team. Squads made out of FCBEScola Delhi NCR will have opportunities to participate in national and international tournaments.<br/>

			"Escola" literally means 'school' in Catalan, and like a school, participants graduate to the next year at the end of a year's program.
			<br/>
			Duration:Year Long Program. Season 2016-17 begins 25th July 2016 and ends 20th May 2017.
			<br/>
			Schedule: 3 times a week
		</div> -->
		<!--<div id="aboutConscientGroup" class="aboutConscientGroup">
		<br/><br/><br/>
			<div class="aboutUsPageSubHd">Venues</div>
			The Group Conscient is a widely respected real estate investment company in India with diverse ventures in infrastructure including commercial property in India, telecom, education and spiritual centres, with Conscient Infrastructure Pvt. Ltd. as its flagship. With 30 years of experience, the group has earned a remarkable reputation for dependability.<br/><br/>
			<h3 class="aboutUsPagesmallHd">Inception</h3>
			<p>Conscient evolved from Bharat Construction Co., or BCC. Founded in 1978, over the years it acquired a formidable reputation as a trustworthy developer and partner in real estate and construction. During this period, BCC successfully completed several commercial, institutional and residential projects. It also has to its credit the construction of the Siri Fort Auditorium during the prestigious Asian Games held in 1982. </p>
			<br/>
			<h3 class="aboutUsPagesmallHd">Value</h3>
			<p>Honesty and Integrity- these core values are reflected in every single venture of Conscient. Irrespective of the industry, our benchmarks remain unwavering. Through our commitment to these values, we aim to deliver value to every project and all the clients involved therein.</p>
			<br/>
			<h3 class="aboutUsPagesmallHd">Mission</h3>
			<p>Conscient aspires to nurture an organization that is progressive and all-embracing. Our purpose lies beyond mere profit; it addresses performance, perfection and saaglowtisfaction. True to its name, Conscient exemplifies soulful living - a place where intellect, actions and spirit align to deliver world-class products and services. Sincerity is integral to our work culture and all team members are trained to fulfill Conscient's responsibility toward the community, posterity and the environment, earnestly. In light of fulfilling responsibilities on one hand and accomplishing milestones on the other, with respect to real estate investments in India, Conscient is steadily and surely headed toward a promising future - one that is  with the wisdom and fortitude of a conscious spirit.</p>
		</div> -->
		<!--<div id="aboutConscientFoundation" class="aboutConscientFoundation">
		<br/><br/><br/>
		<div class="aboutUsPageSubHd">FAQ</div>
		<p>
		Conscient Foundation is a non-profit organisation launched by the Conscient Group.<br/><br/>
Change Reaction is the sports wing of the Foundation run through Conscient Football, that promotes & develops grassroots sport & supports the use of sport to create positive social change across the country.<br/><br/>
Conscient Football seeks to identify those highly talented youngsters , both players & coaches, from the EWS (Economically Weaker Section) that need help in realizing their true potential through sport</p> 
<br/>
<h3 class="aboutUsPagesmallHd">Background</h3>
	<p>The “Change Reaction” has been part of the Conscient Football landscape since the beginning. Participants in our programs have been encouraged to share outgrown kits and equipment with less advantaged children.</p>
	<p>Open Trials for admission to the FCBEscola Delhi NCR were held in January 2014 as part of the selection process. Hundreds of players in the age group of 6 - 17, including a number from the EWS, participated in the trials and the enthusiasm and passion for football was evident on the field. Among the EWS youngsters, we have identified some who are highly talented and deserve to be trained at the Escola.
	</p>
	<p>To stay true to our vision of giving back to society and accommodate & encourage participation from the economically weaker section, the Conscient Foundation has been giving out scholarships to these players to train at the FCBEscola.</p><br/>
	<h3 class="aboutUsPagesmallHd">Our Values In Action</h3>
	Here are some of the ongoing activities under Change Reaction:
			<ul class="list">
              <li>Scholarships in our coaching programs and inclusion     in tournaments in India and abroad. </li>
              <li>Coaches supported with subsidizing their licence course costs. </li>
              <li> Young footballers from NGO’s such as My Angel’s Academy given practical experience as coordinators  for leagues &amp; events.</li>
              <li>Participants of our leagues &amp; coaching programs share outgrown kits &amp; equipment with EWS children.</li>
            </ul>
<br/>		
	<h3 class="aboutUsPagesmallHd">How You Can Help!</h3>
<p>We would like to request your support in partnering with us to contribute generously towards scholarships for highly talented children from the EWS. These contributions will change the lives of these children and give them a fighting chance to reach their goals and live up to their full potential.
</p><p>
As you know, the FCBEscola sends two teams to compete at the FCBEscola International Tournament in Barcelona. We would like to send a highly talented child with a similar background to participate in the tournament each year. The exposure provided by participating in this tournament in Barcelona will be, as you can imagine, a phenomenal experience & step forward for such a child.</p>
<p>
If you would like to contribute to any of the activities of Change Reaction, please contact us at the Conscient Football office.
</p><p>Thank you so much for your generosity of spirit and your inclusion of those less advantaged.</p>
<p><strong>“We make a living by what we get. We make a life by what we give.”</strong><br/>
<strong>― Winston S. Churchill</strong></p>
<br/><br/><br/>
		</div> -->
		
</div>
<!-- about us content end  -->	
	<div class="aboutusNavigation">
		<div class="table">	
		<div class="table-cell">
				<ul class="nav-links" id="menu_nav">
					<li class="active"><a href="/overview_fcbescola" rel="aboutConscient" class="active">About Us</a></li>
					<li class=""><a href="/training" rel="aboutPhilosophy" class="">Training</a></li>
					<li class=""><a href="/fcbse_venue" rel="aboutConscientGroup" class="">Venues</a></li>
					<li class=""><a href="/faq_overview" rel="aboutConscientFoundation" class="">FAQ</a></li>
				</ul>
		</div>	
		</div>	
	</div>
	<!--  navigation end-->
	
</div>

<a href="/ourprogram" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	
});
</script>