<style type="text/css">
	.cpflWrapper{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin: 20px 0px;
		padding-left: 20px;
	}

	.cpflWrapper li{
		list-style-type: circle;
	}

/*
	.cpflWrapper h3:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		background-color: #f8c135;
		height: 1px;
	}*/
</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Privacy Policy</span></a></li>
	</ul>
</div>
<div class="slide height-auto galleryWrapper" style="position:relative;">
		<div class="cpflWrapper white">
			<div class="programTitle">
				Privacy Policy
			</div><br/><br/>
			
			<h3>This privacy policy sets out how we gather, use, manage and protect any information received from you when you use this website. You may choose to restrict the collection or use of your personal information in the following ways:</h3>	

			<ul class="text-justify">
				<li>Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes.</li>
				<li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at <a href="mailto:unsubscribe@conscientfootball.com" style="text-decoration:underline" class="yellow"><storng>unsubscribe@conscientfootball.com</storng></a>.</li>
			</ul>
			
			<p>
				We ensure that your privacy is protected. We do not sell, distribute or lease your personal information to any third party unless we have your permission or are required by law to do so.
			</p>
			<p>
				We hold the authority to change this policy from time to time in order to update this page.  
			</p>
			<br/>
			<br/><br/>
		
		</div>
	</div>