<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @metatitles %></title>
	<meta name="keywords" content="<%= @metakeywords %>"/>
	<meta name="description" content="<%= @metadescription %>"/>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/stylesheets/colorbox.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!--[if  IE ]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body { 
	border:0; margin:0; padding:0;
	font-family: 'Roboto', sans-serif; font-size: 15px; 
	line-height: 25px;
	color: #000;
	font-weight: 400;
}

a{
	border: 0;
	outline: 0;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(247,192,52,0.8); 
	background:rgba(247,192,52,0.8);
}

.clear { 
	clear:both; 
}
.white{
	color: #fff !important;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section{
	width: 100%;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
	width: 9%;
	margin: 0 auto;
}


.header-wrapper{
	width: 100%;
	background: rgba(0,0,0,1);
	padding: 10px 20px;
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.header-wrapper-scrolled{
	width: 100%;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.img-responsive{
	max-width: 100%;
}

.main-banner{
	background: url(/images/Registration-IMg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 50px;
    
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.banner-title{
	bottom: 20px; 
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.yellow{
	color:#F9BF1E;	
}

.form-wrapper{
	width: 50%;
}

.details-wrapper{
	width: 50%;
	padding: 0px 20px;
}

.details-wrapper li{
	 list-style-type: none;
    padding: 0px 0px 15px 0px;
    font-size: 15px;
}

.details-wrapper ul{
	padding-left: 0px;
	margin:0;
}

.details-wrapper li img{
	display: inline-block;
	margin-right: 10px;
}

.details-wrapper li span{
	display: block;
	vertical-align: top;
	float: left;
}

.video-box{
	width: 95%;
}

.padding50{
	padding: 50px 0px;
}

.form-btn{
	color: #000;
	font-size: 16px;
	border: 1px solid #ecf0f1;
	padding: 10px 0px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 50%;
}

.active-form-btn{
	background-color: #ecf0f1 !important;
}

.form-container{
	padding: 10px;
	/*background-color: #ecf0f1;*/
}

.selldof .title{
	display: none;
}

.footer{
	background: rgba(0,0,0,0.8);
    font-size: 12px;
    width: 100%;
}

.selldof .help-block{
	position: absolute !important;
    left: 20px !important;
    bottom: -17px !important;;
}

.selldof .bootstrap-datetimepicker-widget {
    top: 10px;
    left: 10px;
    position: absolute !important;
    background: #eee !important;
    z-index: 99 !important;
}

.title{
	font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.selldof .form-control, .sell_do_form_control{
	border-radius: 0px !important;

}

.selldof{
	font-family: 'Roboto', sans-serif !important; 
}

.selldof .btn, .sell_do_ctc_btn, .selldof .btn, .sell_do_verify_btn{
	border-radius: 0px !important;
	background-color: #000 !important;
	color: #fff !important;
	padding: 8px 45px !important;
    font-size: 14px !important;
}

.barcalonaclinicHd {
    font-size: 25px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.form-sub-title {
    margin: 8px 0px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.form-fields {
    width: 45%;
    margin-right: 26px;
    position: relative;
    
}

 label.error{
 	position: absolute;
    top: 80%;
    font-size: 10px;
    
 }

 .kit-size label.error{
 	position: absolute;
    left: 0;
    top: 90%;
 }

.form-style {
    padding: 8px 20px;
    margin-right: 20px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #2f2f2f;
    color: #808080;
    margin-bottom: 10px;
}

.kit-size-label {
    cursor: pointer;
}

.kit-size-label img{
	display: block;
}

.submit-btn {
    background-color: #f8c034;
    padding: 8px 15px;
    width: 200px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
}

.form-fields .lable-text span, .form-sub-title span, .form-fields span, label.error {
    color: #f00;
}

.lable-text{
	font-size: 12px;
}


.virtual-number{
	    width: 345px;
    background-color: #f9c136;
    position: fixed;
    right: -300px;
    top: 10%;
    z-index: 999;
    padding: 10px;
    font-size: 20px;
    transition:0.6s;
    cursor: pointer;
}

.number{
	font-size: 25px;
    margin-right: 20px;
    margin-top: 12px;
    margin-left: 5px;
}
.form-container {
    padding: 20px 40px;
    background-color: #ecf0f1;
}

@media (max-width: 1024px){
.details-wrapper li{
		padding: 0px 0px 15px 0px;
	}
}


@media (max-width: 786px){
.details-wrapper li{
		padding: 0px 0px 15px 0px;
	}
}

@media (max-width: 700px){
	.form-wrapper, .details-wrapper{
		width: 100%;
	}

	.logo{
		width: 25%;
	}
	.details-wrapper ul{
		margin-top: 20px;
	}

	.details-wrapper li{
		padding: 5px 0px 5px 0px;
		font-size: 16px;
	}

	.form-fields {
	    width: 100%;
	}

	.main-banner{
		margin-top: 78px;
	}

	.kit-size-label img{
		width: 85px;
	}

	.padding50 {
	    padding: 20px 0px;
	}

	html, body{
		overflow-x: hidden;
	}

	.video-box {
		
		margin-bottom: 50px;
	}
	.virtual-number{
		display: none;
		
	}

	.virtual-number-mobile{
		display: block;
	    width: 100%;
	    position: fixed;
	    background: rgb(53, 53, 53);
	    right: 0;
	    bottom: 0px;
	    z-index: 999;
	    padding: 0px;
	    font-size: 20px;
	    text-align: center;
	    color: #fff;
	 }

	 .number-mobile{
	 	width: 100%;
    	font-size: 16px;
	 }

	 .form-container {
	    padding: 20px 20px;
	}

}
.check-mark{
	background-color: #d9130e;
	border-radius: 100%;
	color: #fff;
	width: 26px;
	height: 26px;
	text-align: center;	
	margin-right: 5px;
}

.pointers{
	width: 84%;
}

</style>
</head>
<body>
<div class="virtual-number">
	<div class="pull-left number">
		<i class="fa fa-phone" aria-hidden="true"></i>
	</div>
	<div class="pull-left">
	<% if cookies[:srd].present? && cookies[:srd] == "1234567890" %>
		<span class="sell_do_virtual_numbers"></span> <br/>
		<span class="sell_do_virtual_numbers"></span>
	<% else %>
		<span>Delhi NCR: 011 6676 5123</span><br/>
		<span>Mumbai: 011 6676 5120</span>
	<% end %>
	</div>
	<div class="clear"></div>
</div>
<div class="virtual-number-mobile">
	
	<div class="pull-left number-mobile">
	<% if cookies[:srd].present? && cookies[:srd] == "1234567890" %>
		<span class="sell_do_virtual_numbers"></span> <br/>
		<span class="sell_do_virtual_numbers"></span>
	<% else %>
		<a href="tel:01166765123" style="color:#fff;font-size:16px;text-decoration:none;">Delhi NCR: 011 6676 5123</a><br/>
		<a href="tel:01166765120" style="color:#fff;font-size:16px;text-decoration:none;">Mumbai: 011 6676 5120</a>
	<% end %>
	</div>
	<div class="clear"></div>
</div>
<div class="header-wrapper">
	<div class="container">
		<div class="logo">
			<a href="javascript:;"><img src="/images/conscient_football_logo.png" class="img-responsive"></a>
		</div>
	</div>
</div>
<div class="section main-banner slide relative">
	<div class="absolute banner-title yellow">
		REGISTRATION 
	</div>
</div>
<div class="section padding50">
	<div class="container">
		<div class="form-wrapper pull-right">
			<div class="form-container" id="minor">
						<div class="form-wrapper-section">	
			<div class="barcalonaclinicHd">Clinic Registration Form</div>
			<h3 class="yellow">"Filling all fields is mandatory, please do not leave any field blank.".</h3>
<form action="/site/ccavRequestHandler" id="ccavenueformsubmit" method="post">
	<input type="hidden" name="merchant_id"  value="295"/>
	<input type="hidden" name="order_id" id="order_id" value=""/>
	<input type="hidden" name="currency" value="INR"/>
	<input type="hidden" name="billing_city" value=""/>
	<input type="hidden" name="billing_state" value=""/>
	<input type="hidden" name="billing_country" value="India"/>
	<input type="hidden" name="redirect_url" value="http://<%= request.host %>/site/ccavResponseHandler"/>
	<input type="hidden" name="cancel_url" value="http://<%= request.host %>/site/ccavResponseHandler_clinic"/>
	<input type="hidden" name="amount" value="" id="amount" />
	<input type="hidden" name="billing_name" value="" id="billing_name" />
	<input type="hidden" name="billing_tel" value="" id="billing_tel" />
	<input type="hidden" name="billing_email" value="" id="billing_email" />
	<input style="display: none;" type="submit" value="Proceed to Pay">
</form>
			<div id="form-field-wrapper">
				<div class="yellow form-sub-title">Applicant's Detail</div>
				<div class="clinic-form">
					<form accept-charset="UTF-8" action="/site/clinics_form" id="contact_us" method="post" novalidate="novalidate" enctype="multipart/form-data"	>
						<div class="pull-left form-fields">
							<label class="lable-text">Name <span>*</span></label><br/>
							<input type="text" name="contact[name]" class="form-style required letterswithbasicpunc" tabindex="1" id="participant_name">
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Upload recent Passport size Photo<span>*</span></label><br/>
							<input id="photo_attachment" name="contact[data]" type="file" class="required" tabindex="2"/><br/>	
						</div>						
						<div class="clear"></div>
						<div class="pull-left form-fields" style="width: 72%;">
							<label class="lable-text">Address: <span>*</span></label><br/>
							<textarea name="contact[address]" class="form-style required" style="width: 100%;" rows="1"  tabindex="3"></textarea>
						</div>
						<div class="clear"></div>				
						<div class="pull-left form-fields">
							<label class="lable-text">City <span>*</span></label><br/>
							<!-- <input type="text" name="contact[city]" class="form-style required letterswithbasicpunc" tabindex="4"> -->
							<select name="contact[city]" class="form-style required" tabindex="4">
								<option value="">--Select--</option>
								<option value="Gurgaon">Delhi NCR</option>
								<option value="West-Delhi">Mumbai</option>	
							</select>
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">State: <span>*</span></label><br/>
							<!-- <input type="text" name="contact[state]" class="form-style required letterswithbasicpunc" tabindex="5"> -->
							<select name="contact[state]" class="form-style required" tabindex="5">
								<option value="">--Select--</option>
								<option value="Delhi">Delhi</option>
								<option value="Maharashtra">Maharashtra</option>	
							</select>
						</div>
						<div class="clear"></div>	
						<div class="pull-left form-fields">
							<label class="lable-text">Pin Code <span>*</span></label><br/>
							<input type="text" name="contact[pincode]" class="form-style required letterswithbasicpunc" tabindex="6">
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Gender: <span>*</span></label><br/>
							<select name="contact[gender]" class="form-style required" tabindex="7">
								<option value="">--Select--</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>	
							</select>
						</div>
						<div class="clear"></div>	
						<div class="pull-left form-fields">
							<label class="lable-text">DOB <span>*</span></label><br/>
							<input type="text" name="contact[dob]" class="form-style required" id="datepicker" tabindex="8">
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Name of School <span>*</span></label><br/>
							<input type="text" name="contact[school_name]" class="form-style required letterswithbasicpunc" tabindex="9">
						</div>
						<div class="clear"></div>	
						<div class="pull-left form-fields">
							<label class="lable-text">Class</label><br/>
							<!-- <input type="text" name="contact[standard]" class="form-style" tabindex="10"> -->
							<select name="contact[standard]" class="form-style required" tabindex="10">
								<option value="">--Select--</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>	
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Food Preference <span>*</span></label><br/>
							<select name="contact[food_preference]" class="form-style required" tabindex="11">
								<option value="">--Select--</option>
								<option value="Veg">Veg</option>
								<option value="Non-Veg">Non-Veg</option>	
							</select>
						</div>
						<div class="clear"></div>	
						<div class="yellow form-sub-title">Guardian's Detail</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Guardian’s Name <span>*</span></label><br/>
							<input type="text" name="contact[guardian_name]" class="form-style required" tabindex="12">
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Mobile No.  <span>*</span></label><br/>
							<input type="text" name="contact[guardian_mobileno]" class="form-style required letterswithbasicpunc" tabindex="13" id="participant_mobile">
						</div>
						<div class="clear"></div>	
						<div class="pull-left form-fields">
							<label class="lable-text">Email <span>*</span></label><br/>
							<input type="text" name="contact[guardian_email]" class="form-style required" tabindex="14" id="participant_email">
						</div>
						<div class="pull-left form-fields">
							<label class="lable-text">Relationship with Applicant <span>*</span></label><br/>
							<input type="text" name="contact[guardian_relationship]" class="form-style required letterswithbasicpunc" tabindex="15">
						</div>
						<div class="clear"></div>
						<div class="yellow form-sub-title">Kit Size</div>


						<div class="pull-left form-fields" style="width: 100%">
							<label class="lable-text">Youth size <span>*</span></label><br/>
							<table class="kit-size">
								<tr>
									<td align="center">
										<label for="kit_s" class="kit-size-label"><img src="/images/s.jpg" tabindex="12"></label>
										<input id="kit_s" value="s" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>
									<td align="center">
										<label for="kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
										<input id="kit_m" value="m" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>
									<td align="center">
										<label for="kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
										<input id="kit_l" value="l" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>	 			 			 		
								</tr>
							</table>
						</div>
						<div class="clear"></div>
						<div class="pull-left form-fields" style="width: 100%">
							<label class="lable-text">Adult size <span>*</span></label><br/>
							<table class="kit-size">
								<tr>
									<td align="center">
										<label for="ad_kit_s" class="kit-size-label"><img src="/images/s.jpg" ></label>
										<input id="ad_kit_s" value="s" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>
									<td align="center">
										<label for="ad_kit_m" class="kit-size-label"><img src="/images/m.jpg" ></label>
										<input id="ad_kit_m" value="m" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>
									<td align="center">	
										<label for="ad_kit_l" class="kit-size-label"><img src="/images/l.jpg" ></label>
										<input id="ad_kit_l" value="l" name="contact[youth_kit_size]" type="radio" class="required" />
									</td>	 			 			 		
								</tr>
							</table>
						</div>	
				    	<div class="clear"></div>
						<div class="pull-left form-fields" style="width: 100%">
								<input  value="" name="contact[guardian_terms]" type="checkbox" class="required" id="guardian_terms" />&nbsp;&nbsp;<label for="guardian_terms" style="font-size:12px;">Please, as a parent or guardian of the participant, accept the</label> <a href="" target="_blank" style="color: #000;font-weight:bold">terms and conditions</a>					
						</div>
						<div class="clear"><br/></div>
						<input  name="contact[amount_pay]" type="hidden" class="" value="200000"  id="participant_amount" />
						<input type="hidden" name="contact[order_id]" id="bill_order_id" value="<%= rand(999999999).to_s %>"/>						
						<input class="bgyellow submit-btn" type="submit" value="Proceed to Pay">																						
					</form>
				</div>
			</div>
			<div id="form-success" style="display:none;">
				Please Wait....
			</div>
		</div>
			</div>
		</div>
		<div class="details-wrapper pull-left">
			<ul>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Exposure trip to Barcelona. One of a kind true Barça experience</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Exclusive access to FC Barcelona’s <br/>training methods at their official home in Spain.</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">A customary visit to the Camp Nou (the home of FC Barcelona)</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Football workshops to learn about Barcelona’s<br/> strategies, tactics, sports nutrition and psychology.</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Training will take place on FC Barcelona’s<br/> official training grounds -Ciutat Esportiva Joan Gamper</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Coaching from FC Barcelona Escola coaches<br/> — licensed, certified trainers from FC Barcelona’s youth system</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Fun Tour around the city of Barcelona.</span><div class="clear"></div></li>
				<li><span class="check-mark"><i class="fa fa-check" aria-hidden="true"></i></span><span class="pointers">Accommodation in a 3/4 star hotel close to the official FCB Training grounds.</span><div class="clear"></div></li>
			</ul>
			<a class="video-box" href="javascript:;" style="display:block">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/m7V87laf_IE" frameborder="0" allowfullscreen></iframe>
			</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="footer text-center yellow">
	© Copyright 2017. All Rights Reserved
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/jquery.colorbox.js"></script>	
<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script> 
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSG2874');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSG2874"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript">
	$(document).ready(function(){
		var wht=$(window).height();
		var pageSectiionHeight=wht/2;
		$('.slide').height(pageSectiionHeight);

		$(".form-title a").click(function(){
			$(".form-container").hide();
			var link = $(this).attr("rel");
			$("a.form-btn").removeClass("active-form-btn");
			$(this).addClass("active-form-btn");
			$("#"+link).fadeIn();

		})

		 $(".virtual-number").click(function(){
	    	if($(".virtual-number").css("right") === "-300px")
	    	{
	    		$(".virtual-number").css("right", "0px");	
	    	}
	    	else
	    	{
	    		$(".virtual-number").css("right", "-300px");
	    	}
	    	
	    })

		$(".video-popup").colorbox({iframe:true, innerWidth:640, innerHeight:390,  maxWidth:'95%',maxHeight:'50%'});

		$(window).scroll(function() {    
		    var scroll = $(window).scrollTop();
		     //>=, not <=
		    if (scroll >= 50) {
		        //clearHeader, not clearheader - caps H
		        $(".header-wrapper").addClass("header-wrapper-scrolled");
		    }
		    else{
		    	$(".header-wrapper").removeClass("header-wrapper-scrolled");	
		    }
		});

	$( "#datepicker" ).datepicker({yearRange: '2000:2017',changeYear: true,changeMonth: true});
	$.validator.setDefaults({
		submitHandler: function() {
		$('#form-field-wrapper').hide();
		$('#form-success').show();				
		$("#contact_us").ajaxSubmit({success:formResponse,dataType: 'json'});
		}
	});
$("#contact_us").validate();
function formResponse(responseText, statusText) {
$("#amount").val($('#participant_amount').val());
$("#billing_name").val($('#participant_name').val());
$("#billing_tel").val($('#participant_mobile').val());
$("#billing_email").val($('#participant_email').val());
$("#order_id").val($('#bill_order_id').val());
$("#ccavenueformsubmit").submit();     
if(statusText == 'success') {
	if(responseText.status == 'success') {
		$("#notify").attr("class","success").text("Your application has been sent successfully.").fadeIn(function(){
			$('#cboxLoadedContent').animate({scrollTop: 0}, 100);
		});
		$("#resume-form")[0].reset();
	} else {           
		var error = "";
		$.each(responseText.error_messages, function(key, value){
			error += '<li>'+value+'</li>';
		});
		$("#notify").attr("class","error").html('<p>Following errors sending your application:</p><ul>'+error+'</ul>').fadeIn(function(){
			$('#cboxLoadedContent').animate({scrollTop: 0}, 100);});
	}
}else{
	$("#notify").attr("class","error").text("Something went wrong. Please try again later.").fadeIn(function(){
		$('#cboxLoadedContent').animate({scrollTop: 0}, 100);
	});
}
}	
});
</script>
</body>
</html>
