
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_cpfl %>"><span>CPFL</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Rules and Regulations</span></a></li>
	</ul>
</div>
<div class="rules-regulation-bg">
	<div class="scheduleWrapper">
			<div class="programTitle">
				RULES & REGULATIONS
		
			</div>
			<br/>
			<div class="white">
					Please download The Hand Book for the full details of the updated rules and regulation of the CPPL
			</div>

			<div class="programbottomButtons" align="center">
			
			<a href="" style="text-decoration:none;display:block;width:100%;" class="buttons">
				Download
			</a>


			
			<div class="clear"></div>
		</div>
			
		</div>
	<a href="<%= url_cpfl %>" class="back-btn yellow bold" align="right">
		Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
	</a>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.rules-regulation-bg').css({'min-height':wht});
		
});
</script>