<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Schedule</span></a></li>
	</ul>
</div>
	<div class="galleryWrapper" style="background-image:url(/images/our-program_schedule_bg_01.jpg);background-repeat:no-repeat; background-size:cover;position:relative;">
		<div class="scheduleWrapper">
			<div class="scheduleHd">
				SCHEDULE
			</div>
			<br/>
			<div class="yellow">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			</div>
			<div class="football"></div>
			<div class="knowmore">Know More</div>
		</div>

		
	</div>
<a href="/camps" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.galleryWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	$(".loadMore").click(function(){
		$('#section2').show();
	});
	
});
</script>



