<style type="text/css">
	.cpflWrapper{
		padding: 100px 0px !important;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin: 20px 0px;
		padding-left: 20px;
	}

	.cpflWrapper li{
		list-style-type: circle;
	}

	.programTitle:after{
		top: 50px;
	}
#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: bold;
}

@media (max-width: 700px){
	.cpflWrapper {
    padding: 0px 10px !important;
}
.programTitle:after {
    top: 70px;
}
}


</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Social Responsibility</span></a></li>
	</ul>
</div>
<div class="galleryWrapper" style="position:relative;">
		<div class="cpflWrapper white">
			
			<div class="programTitle" style="padding-top:0px;">
				Social Responsibility
			</div>
			<div class="social-res">
				<div class="social-box">
					<a class="group2" href="/images/sr1-l.jpg" title="SDMC">
						<img src="/images/sr1.jpg" class="img-responsive">
						<!-- <span>I-League</span> -->
						<span>SDMC</span>
					</a>
				</div>
				<div class="social-box">
					<a class="group2" href="/images/sr2-l.jpg" title="I-League">
						<img src="/images/sr2.jpg" alt="Conscient Football Training" class="img-responsive">
						<!-- <span>NGO Referees</span> -->
						<span>I-League</span>
					</a>
				</div>
				<div class="social-box">
					<a class="group2" href="/images/sr3-l.jpg" title="Scholarship Kids">
						<img src="/images/sr3.jpg" class="img-responsive">
						<span>Scholarship Kids</span>
					</a>
				</div>
				<div class="social-box">
					<a class="group2" href="/images/sr4-l.jpg" title="NGO Referees">
						<img src="/images/sr4.jpg" alt="Conscient Premier Football League" class="img-responsive">
						<!-- <span>SDMC Pics</span> -->
						<span>NGO Referees</span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<br clear="all" />
				<h3>1. Free Coaching in Government Schools</h3>
					<p>FCBEscola coaches go to Government school and provide free training to the kids there. We have started this pilot in SDMC Primary School, New Delhi.</p>
				<br/>
				<h3>2. I-League</h3>
				<p>Kids from the economically weaker sections were clubbed together in a team with FCBEscola kids. We funded all the logistics and fees requirements for these kids.</p>
				<br/>
				<h3>3. Scholarship for the underprivileged</h3>
					<p>We provide scholarships to students who have the skill in Football but cannot join the FCBEscola program due to financial obligations.</p>
				<br/>
				<h3>4. Employment Opportunities in NGOs</h3>
					<p>We have officially tied up with My Angels Academy to provide us referees and hence enable them to become a part of the FCBEscola family. This provides employment opportunities to people who hold football close to their heart.</p>
				<br/>
				
				<h3>5. Change Reaction</h3>
					<p>On Christmas and New Year’s eve we distribute football accessories to the poor kids.</p>
				
				<br/>
			<br/><br/>
			
	</div>
</div>
<br clear="all" />