<style>

html { 
  background: url(/images/media_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.albumBox .caption-success-stories{
    text-align: center;
    background-color: #4f4f4f;
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: -25px;
    transition: 0.4s;
 
}

.albumBox:hover .caption-success-stories{
	bottom: 0px;
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Success Stories</span></a></li>
	</ul>
</div>
	<div class="galleryWrapper">
		<div class="galleryContent"  style="margin-bottom: 50px">
			<div class="contactUsHd" style="margin-top:100px;">SUCCESS STORIES</div><br/>
			
			<div class="albumWrapper" id="album-2016" style="margin-bottom: 20px">
				<div>
					<% @awards.each do |a| %>
					<a href="<%= url_success_stories_details a %>" class="albumBox success-cover" style="background-image: url('<%= a.main_image.url rescue "" %>');">
						<div class="caption-success-stories">
							<span class="yellow bold"><%= a.title %></span><br/>
							<span class="white f13"><%= a.published_date.strftime("%d %B %Y")%></span><br>
							<span class="yellow">Read More</span>
						</div>
					</a>
					<% end %>				

					<div class="clear"></div>
				</div>
			</div>
			
			
	</div>
		
</div>





