<style type="text/css">
	.galleryWrapper {
	background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.story-wrapper{
	padding: 50px 0px;
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_success_stories %>"><span>Success Stories</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Success Stories Detail</span></a></li>
	</ul>
</div>
<div class="success-stories-wrapper">
	<div class="galleryContent">
		<div class="contactUsHd" style="margin-top:100px;"><%= @award.title %></div><br/>
		<div class="success-story">
		<br/>
		<% if @award.assets_overview.present? %>
			<% @award.assets_overview.each do |o| %>
<!-- 				<div class="success-story-image">
					<img src="<%= o.url rescue "" %>" style="width:300px;">
				</div> -->
			<a class="group3 photo success-story-image success-cover" href="<%= o.url rescue "" %>" style="background-image:url('<%= o.url rescue "" %>');" title="Photo">
				
			</a>				
			<% end %>
		<% end %>
		<div class="clear"></div>	

			<div class="story-wrapper">
			<%= @award.description.html_safe %>
			</div>
		</div>
	</div>
</div>
