<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style type="text/css">
	.text-center{text-align: center;}
	.about-section-1 {background-image: url(/images/banner1366.jpg);background-repeat: no-repeat; background-size: cover; position: relative; background-attachment: initial;
    background-position: left;}
	.number{font-size: 20px !important;}
	.form-style{text-transform: uppercase;}
	.number{margin-right: 20px !important;margin-top: 0px !important; margin-left: 0px !important; }
	.dis{font-size: 10px !important;line-height: 0;}
	h2.introduction{line-height: 1.2; margin-bottom: 30px;}
	.tab-links{padding:0;margin:20px 0 20px 0;width: 100%;text-align: center;}
	.tab-links li{display:inline-block;}
	.tab-links li:first-child{margin-right: 10px;}
	.tab-links li a{display: inline-block;padding:10px;background-color: #000;color:#f8c133;font-size: 20px;font-weight: 600;}
	.tab-links li a.active{background-color: #f8c133;color: #121212;}
	p.downloadtext{margin: 20px 0;font-size: 18px;line-height: 1}
	a.downloadpdf{text-decoration: none;display: inline-block;color:#fff;font-weight: 600;}
	.number{font-size: inherit !important;}
	@media only screen and (max-width : 700px) {
		.tab-links li:first-child{margin-right: 0px;margin-bottom: 10px;}
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$('.tab-links li a').click(function(e){
	      var box = $(this).attr('rel');
	      $('.tab-links li a').removeClass('active');
	      $(this).addClass('active');
	      $(".tab-container").hide(); 
	      $("#"+box).fadeIn('slow');
	  	});


	  	$.validator.setDefaults({
	        submitHandler: function() {
	        	console.log("hi");
		        $('.form-feild1').hide();
		        $('.form-success1').fadeIn("slow");
	   			trackecommerce("UA-93759358-1","", "Conscient"+$("#form_type1").val(), $("#participant_email1").val(), $("#participant_mobile1").val());
	    		try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}			        
		        $.ajax({
		            type:"POST",
		            dataType:"json",
		            url:$(".res-registration").attr("action"),
		            data:$(".res-registration").serialize(),
		            success: function(resp, status, xhr){              
		              if(resp.status == "success"){
						
		              }else{
		                
		              }
		            },
		            error: function(resp, status, xhr){
		            }
		        });
	        }
	 	});
	    $(".res-registration").validate(); 
	});
</script>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_camps %>"><span>Clinics and Camps</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Summer Camps</span></a></li>
	</ul>
</div>	
<div class="about-section-1 slide">
	<div class="banner-title">
		<div class="page-title">Summer Camps</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		
		<ul class="tab-links">
			<li><a href="javascript:;" rel="tab1">Non-Residential Camps</a></li>
			<li><a href="javascript:;" rel="tab2">Residential Camps</a></li>
		</ul>

		<div class="tab-container" id="tab1" style="display:none;">
			<h2 class="introduction yellow">Non-Residential Camps</h2>
			<div class="text fw300">
			 With the sun blazing down and the summer break coming up, it's time to forget about homework and bring on the fun factor. To keep the spirit alive for the upcoming FIFA World Cup 2018 Barça Academy presents Barça Academy Summer Camp. A 10 days camp which will focus on technical and tactical development with focus areas including passing, dribbling, shooting and goalkeeping. Barça Academy Summer Camp 2018 is open to kids aged between 5 to 17 years so we encourage you to register your slot as soon as possible. The summer camp will aim to improve your football skills and help you get the ultimate FC Barcelona soccer experience.
			</div>
			<div class="text fw300">
				 Key highlights of the summer camp are mentioned below:
				<ul>
					<li>1. &nbsp;2 hours long training sessions</li>
					<li>2. Proper guidance under the AIFF Licensed Coaches</li>
					<li>3. Tactical training according to FCB Methodology</li>
					<li>4. &nbsp;Training sessions on dribbling, free-kicks and penalties</li>
					<li>5. &nbsp;Special sessions for Goalkeepers</li>
				</ul>
				Dates: 21nd May- 1st June 2018<br/>
				In case of any queries/concerns please contact us on <!-- <a href="tel:+919192338839" style="text-decoration:none;color:#f9c136">+91- 9192338839</a> --> 
				Saket - Mr. Saji Krishnan <a href="tel:+918860007321" style="text-decoration:none;color:#f9c136">8860007321</a>
				Gurgaon - Mr. Nikhil Rughwani <a href="tel:+918860007341" style="text-decoration:none;color:#f9c136">8860007341</a>
				Dwarka -  Mr. Nikhil Rughwani <a href="tel:+918860007341" style="text-decoration:none;color:#f9c136">8860007341</a>
				Noida - Mr. Saji Krishnan <a href="tel:+918860007321" style="text-decoration:none;color:#f9c136">8860007321</a> or write to us on 
				<a href="mailto:fcbescola.delhi@conscientfootball.com" style="text-decoration:none;color:#f9c136">fcbescola.delhi@conscientfootball.com</a>
			</div>
			<div class="clear"></div>
			<!-- <div class="text fw300">	
				 Each participant is provided the official FCBEscola Camp kits and a completion certificate.		
			</div> -->
			<div class="text fw700">
				
			</div>
			<br clear="all" />
			<br clear="all" />
			<div class="clear"></div>
			<br clear="all" />
			<!-- <#%= render 'football_camps_form'%> -->
			<div>
				<div class="form-feild">
					<h3 class="yellowColor">Kindly fill out the form below </h3><br/>
					<div class="clinic-form">
						<form accept-charset="UTF-8" action="/site/create_registration" method="post" class="registration" novalidate="novalidate">
							<input type="text" name="school_registration[participant_name]"  placeholder="NAME OF THE PARTICIPANT" class="form-style required">
							<input type="text" name="school_registration[school_name]"  placeholder="SCHOOL NAME" class="form-style required">
							<input type="email" name="school_registration[email]"  placeholder="EMAIL ADDRESS" class="form-style required" id="participant_email">
							<input type="text" name="school_registration[mobile]"  placeholder="MOBILE NUMBER" class="form-style required number"  id="participant_mobile">		
							<input name="school_registration[date_of_birth]" class="form-style required datepicker " tabindex="5" placeholder="Select Date" id="" type="text">
							<div class="dis">Children between 5 - 17 years of age can only apply.</div>
							<input type="hidden" name="school_registration[enquire_type]" value="Non-Residential Camps" id="form_type"> 
							<br clear="all" />
							<select name="school_registration[preferred_center]" class="form-style required" tabindex="4">
								<option value="">Select Center</option>
								<!-- <option value="Noida Center">Noida Center</option> -->
								<option value="Gurgaon Center">Gurgaon Center</option>
								<!-- <option value="Dwarka Center">Dwarka Center</option> -->
								<option value="Saket Center">Saket Center</option>
							</select>
							<br clear="all" />
							<button class="bgyellow submit-btn" type="submit"  value="Submit">Submit</button>
						</form>
					</div>	
				</div>
				<div class="form-success" style="display:none;color:#f9c136;">
					Thank you for showing interest in Conscient Football.<br/>
					Our customer care executive will get in touch with you shortly.
				</div>
			</div>
		</div>


		<div class="tab-container" id="tab2" style="display: none;">
			<h2 class="introduction yellow">Residential Camps</h2>
			<div class="text fw300">
			 Our Residential Program in Gurgaon, offered by Conscient Football as official partner of FC Barcelona in India, will offer a comprehensive training regime which is designed to challenge young athletes and progressively develop their skills and confidence. The players will train and stay together in a fantastic training facility which has a residential option in the same complex and provides all kinds of amenities. The facility is located at The Heritage School, Gurgaon. The participants of our residential program will be taking part in the FC Barcelona training camp during the day with 9 training sessions over 5 days, while during the evening they will participate in top of the line athlete development activities such as team building exercises like Ping Pong matches, nutritional workshops, recovery sessions in Swimming Pool and healthy food.
			</div>
			<div class="text fw300">
				More details can be found in the attached document. Due to very limited slots being available, we will be doing 2 versions of the camps. Players can give their preference for the same. The dates for the camp are 21st May - 25th May and 28th July - 1st June, 2018. Slots will be allotted on a first come first serve basis. Please note the daily itinerary and schedule is subject to change.
			</div>
			<div class="clear"></div>
			<!-- <div class="text fw300">	
				 Each participant is provided the official FCBEscola Camp kits and a completion certificate.		
			</div> -->
			<div class="text fw700">
				
			</div>
			<br clear="all" />
			<br clear="all" />
			<div class="clear"></div>
			<br clear="all" />
			<!-- <#%= render 'football_camps_form'%> -->
			<div>
				<div class="form-feild1">
					<h3 class="yellowColor">Kindly fill out the form below </h3><br/>
					<div class="clinic-form">
						<form accept-charset="UTF-8" action="/site/create_registration" method="post" class="res-registration" novalidate="novalidate">
							<input type="text" name="school_registration[participant_name]"  placeholder="NAME OF THE PARTICIPANT" class="form-style required">
							<input type="text" name="school_registration[school_name]"  placeholder="SCHOOL NAME" class="form-style required">
							<input type="email" name="school_registration[email]"  placeholder="EMAIL ADDRESS" class="form-style required" id="participant_email1">
							<input type="text" name="school_registration[mobile]"  placeholder="MOBILE NUMBER" class="form-style required number"  id="participant_mobile1">		
							<input name="school_registration[date_of_birth]" class="form-style required datepicker " tabindex="5" placeholder="Select Date" id="" type="text">
							<div class="dis">Children between 5 - 17 years of age can only apply.</div>
							<input type="hidden" name="school_registration[enquire_type]" value="Residential Camps" id="form_type1"> 
							<br clear="all" />
							<select name="school_registration[preferred_center]" class="form-style required" tabindex="4">
								<option value="">Select Center</option>
								<!-- <option value="Noida Center">Noida Center</option> -->
								<option value="Gurgaon Center" selected="selected">Gurgaon Center</option>
								<!-- <option value="Dwarka Center">Dwarka Center</option> -->
								<!-- <option value="Saket Center">Saket Center</option> -->
							</select>
							<br clear="all" />
							<button class="bgyellow submit-btn" type="submit"  value="Submit">Submit</button>
						</form>
					</div>	
				</div>
				<div class="form-success1" style="display:none;color:#f9c136;">
					Thank you for showing interest in Conscient Football.<br/>
					Our customer care executive will get in touch with you shortly.
				</div>
				<p class="downloadtext">To know more about residential camp&nbsp;<a href="/images/FCBEscola_Residential_Summer_Camp__Gurgaon.pdf" target="download" class="downloadpdf">Download PDF</a></p>
			</div>
		</div>
	</div>
</div>
