<style type="text/css">
	.cpflWrapper{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.cpflWrapper h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		position: relative;
	}

	.cpflWrapper ul{
		margin-top: 10px;
	}

	.cpflWrapper h3:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		background-color: #f8c135;
		height: 1px;
	}
</style>
<!-- <div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Terms and Conditions</span></a></li>
	</ul>
</div> -->
	<div class="" style="background-color:#1b1b1b;position:relative;">
		<div class="cpflWrapper white">
			<div class="programTitle">
				Terms and Conditions
			</div><br/><br/>

			<h2>PARTICIPANT AGREEMENT</h2><br/>
			<h3>By accepting this participant agreement, you agree to the following terms and conditions:</h3>	
			<p>Conscient Football (a Unit of Enlearn Education Pvt. Ltd.) with domicile at K-1 Green park, New Delhi (India) 110016 and PAN – AACCE3396C, provides the FC Barcelona Clinic described in the website <a href="http://www.conscientfootball.com" target="_blank" style="color:#f9bf1e">www.conscientfootball.com</a> These terms and conditions apply to the FC Barcelona Clinic named on the Registration and Payment Form (the “FC Barcelona Clinic”) and the program for this FC Barcelona Clinic (the “Itinerary”).</p><br/>
			<h3>RESERVATIONS AND DEPOSITS:</h3>
			<p>A deposit of Rs. 50,000 per participant and per session (except when otherwise noted in writing by us) , a completed online Registration Form and medical form are required with this Participant Agreement to reserve space for the FC Barcelona Clinic. The balance of the FC Barcelona Clinic payment price (“FC Barcelona Clinic Fees”) is due 60 days before the FC Barcelona Clinic start date (as listed on the Itinerary). If we do not receive full payment by 60 days prior to the FC Barcelona Clinic start date, we may cancel your reservation and retain the deposit. Unless explicitly stated in the Itinerary, you are solely responsible for any FC Barcelona Clinic -related costs that you incur.</p><br/>
			<h3>CANCELLATIONS AND REFUNDS POLICY:</h3>
			<p>If a player reserves a place on the FC Barcelona Clinic program and subsequently cancels, the following refund policy will apply: Notification of cancellation must be made in writing to FC Barcelona Soccer Camp Admissions, C/ Aragó 271 Pral 2ª, 08007 Barcelona, Spain. Cancellations are effective on the date that FC Barcelona Clinic receives written notification. There will be no refunds for players who voluntarily cancel for any reason from a FC Barcelona Clinic program, nor will there be any refund for a player who is asked to leave a program for the use of drugs or alcohol, non-notification of a serious medical condition, or gross disobedience of the rules of the program (decisions which are at the sole discretion of FC Barcelona Clinic).</p>
			<ul>
				<li>a) If the cancellation is received more than 60 days of the Clinic start date, full refund would be processed, Rs. 12,500 will be retain as a compensation for the registrations expenses and cancellation of your attendance</li>
				<li>b) If the cancellation is received less than 60 days and more than 30 days of the Clinic start date, 50% of the registration fee will be refunded</li>
				<li>c) If the cancellation is received 30 days or less of the Clinic start date, there will be no refunds for the amount paid for the Clinic.</li>
				<li>d) If the participant doesn’t show up to the clinic, there will be no refunds for the amount paid</li>
				<li>e) The registration is non-transferable</li>
				<li>f) Conscient Football reserves the right to cancel the trip due to any unforeseen reason or whatsoever in which case 100% refund shall be given to the participant</li>
				<li>g) All tournaments, activities, venues and other arrangement are subject to change according to weather, venue availability, a satisfactory level of applicants or other factors beyond our control. As such, we may cancel or change any clinic, should this be necessary for these reasons. If we do have to cancel a clinic, we will offer an alternative clinic, (if available and suitable) or a full refund of registration fee only</li>
				<li>h) Submission of Registration form does not guarantee a place for the applicant in the clinic, the decision of Conscient Football will be final in this respect. If registration form of the applicant is not accepted or the applicant is not admitted to the clinic, then only the registration fee will be refunded within 15 days of start of the clinic, apart from this, Conscient Football will have no other liability.</li>
			</ul>
			<p>We may cancel the FC Barcelona Soccer Clinic at any time before departure, including if the number of participants signed up for the FC Barcelona Soccer Clinic to be insufficient to operate such FC Barcelona Soccer Clinic. In this case we have established the minimum number of participants to operate the program in 10 participants per age group. We will make commercially reasonable efforts to keep the Itinerary as it has been published; however, the final Itinerary may vary due to factors beyond our control. We may in our sole discretion substitute services or goods of similar quality for any services or goods stated in the Itinerary. If a FC Barcelona Soccer Clinic is cancelled, our liability is limited to a full refund of your deposits and balance payments for the FC Barcelona Soccer Clinic. If for reasons beyond our control, a FC Barcelona Soccer Clinic in progress must be interrupted or cancelled, we will in good faith consider refunding a portion of the FC Barcelona Soccer Clinic depending on our actual costs incurred compared to the FC Barcelona Soccer Clinic as originally contemplated.</p><br/>
			<h3>FITNESS:</h3>
			<ul>
				<li>1. You must ensure that the applicant is physically fit and able to participate in the clinic activities and accordingly you accept all risks including injuries that may occur during the clinic.</li>
				<li>2. Failure to disclose correct medical and/or physical information may exclude the Applicant from participating in the clinic.</li>
				<li>3. Improper/wrong medical treatment being administered due to failure to disclose or provision of incorrect medical and/or physical information shall be the liability of the person/guardian/parent signing the form and Conscient Football shall not have any liability arising out of or in relation to the same.</li>
				<li>4. We may require additional information depending on the medical information supplied to us by you before we can accept your registration.</li>
				<li>5. In the event that the applicant needs medical attention during any clinic, you agree that we may provide and/or arrange for any appropriate and necessary treatment at your cost.</li>
				<li>6. Player must be of correct age at the start date of the clinic.</li>
			</ul><br/>
			<h3>General:</h3>
			<p>Any dispute related to the FC Barcelona Soccer Clinic Package shall be governed by Spanish law without regard to conflict of laws principles. The courts in Barcelona, Spain shall be the exclusive forum for any lawsuit related to the FC Barcelona Soccer Clinic Package, and you consent to the personal jurisdiction by said courts. You agree to present any claims against us within 30 days after the FC Barcelona Soccer Clinic Package ends and to file within one year of the incident, and you acknowledge that this expressly limits the applicable statute of limitations to one year. You agree to grant us (and third parties with whom we may engage in joint marketing) a worldwide, royalty-free, fully paid up license to use your photographic, video, or digital likeness solely for our promotional and/or commercial purposes. Facsimile transmission of any signed document shall be deemed delivery of an original. At our request, you shall promptly provide an original document as well. If there are any conflicts between this Participant Agreement, the Reservation Form, and the Itinerary, this Participant Agreement shall apply.</p>
			<ul>
				<li>1. The safety and well-being of all applicants attending our tournament is our primary concern, we therefore reserve the right to expel from our clinic, without refund, any applicant who is found bullying, behaving in a way that may be a danger to others or who is generally disruptive. If the player is removed from our clinic, it is your responsibility to organize and pay for any travel, accommodation or other expenses incurred</li>
				<li>2. An Acknowledgment email will be sent out before the start of the relevant clinic, to confirm whether or not your registration has been accepted. If an acknowledgement email is not received within 7 days of you placing your registration. Please call us at +91 8860006878, or e-mail us at clinics@conscientfootball.in</li>
				<li>3. You hereby grant us with the indefinite worldwide right, without the need for approval or compensation, to use the applicant’s name, photography, video or film portrayal, image, likeness, interview, voice or sound in any media whatsoever for advertising, promotional or commercial purposes</li>
				<li>4. All applicants are required to wear shin pads, footballs socks, footballs shoes (studs) and the kit during all the sessions</li>
				<li>5. Neither you nor the applicant shall disclose or use any aspect of our clinic for commercial purposes</li>
				<li>6. If you are not the applicant’s parent or guardian, you confirm that you have made such parent or guardian fully aware of this registration and of these terms and conditions and they have agreed to these terms and conditions</li>
				<li>7. These terms and conditions and your registration shall be governed by and interpreted in accordance with the laws of India and shall be subject to jurisdiction of the Delhi courts, Tribunals, Forums, Quasi-judicial authorities etc. only</li>
			</ul><br/>
			<h3>LIABILITY:</h3>
			<p>
				We act only in the capacity of agent for the suppliers of the travel services named in the Itinerary or otherwise providing services or goods in connection with the FC Barcelona Soccer Clinic Package (“the Suppliers”), such as hotels and other lodging providers, camp operators, sight-seeing trip operators, bus lines, car rental companies, driving services, restaurants, and providers of entertainment. We assume no responsibility for any personal injury, property damage, or other loss, accident, delay, inconvenience, or irregularity which may be occasioned either by reason (1) any act or omission of any of the Suppliers (2) any matter beyond our exclusive control. 
			</p>
			<p>
				We have no special knowledge regarding the financial condition of the Suppliers, unsafe conditions, health hazards, weather hazards, or climate extremes at locations to which you may travel. You assume full and complete responsibility for checking and verifying all passport and visa requirements of the destinations and for complying with all laws of the country in the Itinerary. You are also responsible for respecting the authority and following the directions of the FC Barcelona Clinic Package guide during the FC Barcelona Clinic. We may exclude you from participating in all or any part of the FC Barcelona Soccer Clinic Package if, in our sole discretion, your condition or behaviour renders you unfit for the FC Barcelona Soccer Clinic Package or unfit for continuation once the FC Barcelona Soccer Clinic Package has begun. Unfitness may include, without limitation, any behaviour that, regardless of its cause, is inappropriate or offensive or interferes with the delivery of FC Barcelona Soccer Clinic Package, or may constitute a hazard or embarrassment. In such case, our liability shall be strictly limited to a refund of the recoverable cost of any unused portion of the FC Barcelona Soccer Clinic Package. Should you decide not to participate in certain parts of the FC Barcelona Soccer Clinic Package or use certain goods included in the FC Barcelona Soccer Clinic Package, no refunds will be made for those unused parts of the FC Barcelona Soccer Clinic Package or goods. The client will be responsible for any cost, damages or losses arising out of his actions or omissions.
			</p>
			<ul>
				<li>1. The activity can be strenuous physical activities, we do not hold any responsibility of personal injury, trauma or death to the extent that it results from our gross negligence or willful misconduct. You are responsible for arranging and paying for travel to clinic venue and vice versa.</li>
				<li>2. The cost of any damage caused by you or any applicant you have booked on the tournament to any property or facilities will be passed by you.</li>
				<li>3. Not withstanding anything contained herein or otherwise, Conscient Football’s liability shall never exceed more than the amount paid as fee to it irrespective of any reason whatsoever</li>
			</ul><br/>
			<h3>ARBITRATION:</h3>
			<p>
				1. Any dispute and/or difference arising out of or in relation to the present form shall be referred to a mutually agreed arbitrator for adjudication. The proceedings shall be governed by the Arbitration and Conciliation Act, 1996. The venue of arbitration shall be New Delhi. The cost of arbitration including Arbitrator’s few be shared equally between the partie7
			</p><br/>
			<h3>PRIVACY CONSENT:</h3>
			<p>
				By submitting this form, you expressly consent that Conscient Football which is operating FC Barcelona Clinic 2017, may share your personal information (a) to provide products and services you request, (b) for consumer profiling and market research.
			</p>


		</div>
	</div>