<style type="text/css">
	.breadcrumb-wrapper .breadcrumbs-list:before{
		border-right: 1px solid #505050 !important;
    	border-top: 1px solid #505050 !important;
	}

	.contentTraining{
		position: relative !important;
		top: 0;
		padding: 150px 0px
	}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_training %>"><span>Traning</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#505050;"><span>Traning Program</span></a></li>
	</ul>
</div>
<div class="trainingWrapper">
	<div class="escolaProgram relative">
		<div class="contentTraining">
			<div class="trainingTitle">ESCOLA <br/>PROGRAM</div><br/>
			<p>Flagship program of FCBEscola India designed to not only to enhance the individual skills, but also to develop players as part of the team. The program is offered to the cream of the young talented girls and boys aged 5 to 17 years of age selected after extensive trials. Squads made out of FCBEScola India will have opportunities to participate in national and international tournaments.</p>
			<h3>Age Categories: U6, U8, U10, U12, U14, U16, U18</h3><br/>
			<h3>Schedule for Escola Program, Delhi NCR (2016 – 17)</h3><br/>
			<table width="72%" tyle="color:#000; text-align:left;border:1px solid #fff;" cellpadding="10" cellspacing="0" border="1" align="center">
				<tr>
					<th>Monday
					</th>
					<th>Tuesday
					</th>
					<th>Wednesday
					</th>
					<th>Thursday
					</th>
					<th>Friday
					</th>
					<th>Saturday
					</th>

				</tr>
				<tr>
					<td>Gurgaon
					</td>
					<td>
					</td>
					<td>Gurgaon
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>Gurgaon
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>West Delhi
					</td>
					<td>
					</td>
					<td>West Delhi
					</td>
					<td>
					</td>
					<td>West Delhi
					</td>
				</tr>
				<tr>
					<td>South Delhi

					</td>
					<td>
					</td>
					<td>South Delhi
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>South Delhi
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>Noida
					</td>
					<td>
					</td>
					<td>Noida
					</td>
					<td>
					</td>
					<td>Noida
					</td>
				</tr>
			</table>
			<br/>
			<!-- <h3>Schedule for Escola Program, Mumbai (2016 - 17) </h3><br/>
			<table width="72%" tyle="color:#000; text-align:left;border:1px solid #fff;" cellpadding="10" cellspacing="0" border="1" align="center">
				<tr>
					<th>Monday
					</th>
					<th>Tuesday
					</th>
					<th>Wednesday
					</th>
					<th>Thursday
					</th>
					<th>Friday
					</th>
					<th>Saturday
					</th>

				</tr>
				<tr>
					<td>Matunga
					</td>
					<td>Matunga
					</td>
					<td>Matunga
					</td>
					<td>Matunga
					</td>
					<td>
					</td>
					<td>Matunga
					</td>
				</tr>
				<tr>
					<td>Andheri
					</td>
					<td>
					</td>
					<td>Andheri
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>Andheri
					</td>
				</tr>
				
			</table> -->
		</div>
	</div>

	<div class="formativeProgram relative">
		<div class="contentTraining">
		<div class="trainingTitle">FORMATIVE <br/>PROGRAM</div><br/>
		<p>Formative program has been custom designed to fulfil the needs of those players who need to focus on their own individual development & role in the game. Training is designed to impact both skills and personality aspects of individual player development. Attention is given to coordination skills, both General Dynamic Coordination (with our own body) and Special Dynamic Coordination (movement interacting with mobile objects) and sharpening of Motor Skills to use them more effectively in the game.</p>
		<h3>Age Categories: U6, U8, U10, U12, U14, U16, U18</h3><br/>
		<h3>Schedule for Formative Program, Delhi NCR (2016 - 17)</h3><br/>
		<table width="72%" tyle="color:#000; text-align:left;border:1px solid #fff;" cellpadding="10" cellspacing="0" border="1" align="center">
			<table width="72%" tyle="color:#000; text-align:left;border:1px solid #fff;" cellpadding="10" cellspacing="0" border="1" align="center">
				<tr>
					<th>Monday
					</th>
					<th>Tuesday
					</th>
					<th>Wednesday
					</th>
					<th>Thursday
					</th>
					<th>Friday
					</th>
					<th>Saturday
					</th>

				</tr>
				<tr>
					<td>Gurgaon
					</td>
					<td>
					</td>
					<td>Gurgaon
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>Gurgaon
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>West Delhi
					</td>
					<td>
					</td>
					<td>West Delhi
					</td>
					<td>
					</td>
					<td>West Delhi
					</td>
				</tr>
				<tr>
					<td>South Delhi

					</td>
					<td>
					</td>
					<td>South Delhi
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>South Delhi
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>Noida
					</td>
					<td>
					</td>
					<td>Noida
					</td>
					<td>
					</td>
					<td>Noida
					</td>
				</tr>
			</table>
		</table>
		</div>
	</div>
</div>


<a href="<%= url_training %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>

<script type="text/javascript">
$(document).ready(function(){
var wht=$(window).height();
$('.escolaProgram,.formativeProgram').height(wht);

$('.pageLoader').fadeOut('slow');
});
  
</script>