<style type="text/css">
.story-wrapper{
	padding: 50px 0px;
}

</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_upcoming_events %>"><span>Upcoming Events</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Event Detail</span></a></li>
	</ul>
</div>
<div class="success-stories-wrapper">
	<div class="galleryContent">
		<div class="contactUsHd" style="margin-top:100px;"><%= @event.title %></div><br/>
		<div class="success-story">
			<img src="<%= @event.main_image.url rescue '' %>" style="width:300px;">
			<div class="story-wrapper">
			<%= @event.description.html_safe %>
			</div>
		</div>
	</div>
</div>