<script src="/javascripts/jquery.smint.js" ></script>
<style>
/*html, body{
overflow:auto !important;
}*/


.aboutUsContent{
	width: 100%;
}
</style>

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E;"><span>Upcoming Events</span></a></li>
	</ul>
</div>

<div class="upcomingEventsWrapper">
	<div class="aboutUsContent">	
		<div class="contactUsHd" style="margin-top:100px;">UPCOMING EVENTS</div><br/>
		<div class="yellowColor">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</div><br/>
<% @events.each do |event| %>
		<div class="upcoming-event-list">
			<div class="event-list">
				<div class="event-image">
					<a href="<%= url_upcoming_events_details event %>"><img src="<%= event.main_image.url rescue '' %>" class="img-full"></a>
				</div>

				<div class="event-detail">
					<a href="<%= url_upcoming_events_details event %>"><div class="event-title yellowColor">
						<%= event.title %>
					</div>
					</a>
					<div class="event-content">
						<%= event.description[0..100].html_safe %>...
					</div>
					<br/>
					<div>
						<div class="event-date">
							<%=  event.published_date.strftime("%d %B %Y") %>
						</div>

						<div class="button-know-more">
							<a href="<%= url_upcoming_events_details event %>" class="buttonsCpfl">Know More</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
<% end %>		
<!-- 		<div class="upcoming-event-list">
			<div class="event-list">
				<div class="event-image">
					<img src="/images/IMG_2.jpg" class="img-full">
				</div>

				<div class="event-detail">
					<div class="event-title yellowColor">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</div>
					<div class="event-content">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</div>
					<br/>
					<div>
						<div class="event-date">
							15th Nov 2016, Tuesday
						</div>

						<div class="button-know-more">
							<a href="" class="buttonsCpfl">Know More</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="upcoming-event-list">
			<div class="event-list">
				<div class="event-image">
					<img src="/images/IMG_3.jpg" class="img-full">
				</div>

				<div class="event-detail">
					<div class="event-title yellowColor">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</div>
					<div class="event-content">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</div>
					<br/>
					<div>
						<div class="event-date">
							15th Nov 2016, Tuesday
						</div>

						<div class="button-know-more">
							<a href="" class="buttonsCpfl">Know More</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		
		
	</div>


<a href="/" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);
	
});
</script>