<style type="text/css">

</style>

<div class="centersWrapper">
	<div class="cpflWrapper relative">
		<div class="postion-middle">
			<div class="title">
				DELHI
			</div>
			<br/>
			<p class="text-center">FCBEscola Delhi NCR operates from four venues across Delhi NCR. The training is held at the following venues:</p>
			<br/>
			<table width="72%" style="color:#000; text-align:left;" cellpadding="10" cellspacing="0" border="1" align="center">
				<tr>
					<th class="black">Area</th>
					<th  class="black">Venue</th>
					<th  class="black">Phone Number</th>
				</tr>
				<tr>
					<td>West Delhi</td>
					<td>IOS Maidan, Shivaji college, Nr. Raja Gerden</td>
					<td>8860064041</td>
				</tr>
				<tr>
					<td>Gurgaon</td>
					<td>The Heritage School, Sector 62, Gurgaon</td>
					<td>8291605145</td>
				</tr>
				<tr>
					<td>South Delhi</td>
					<td>Gyan Bharti School, Saket</td>
					<td>8860007321</td>
				</tr>
				<tr>
					<td>Noida</td>
					<td>Amity University, Sector 125, Noida</td>
					<td>9650445657</td>
				</tr>
			</table>
			<!-- <a class="viewButtons">
				VIEW CENTERS
			</a>
			<br/>
			<a class="viewButtons">
				VIEW TEAMS
			</a> -->
		</div>
	</div>
	<div class="qatarWrapper relative">
		<div class="postion-middle">
			<div class="title">
				MUMBAI
			</div>
			<br/>
			<p class="text-center">FCBEscola Mumbai operates from two venues in Mumbai. The training is held at the following venues: -</p>
			<br/>
			<table width="72%" style="color:#000; text-align:left;" cellpadding="10" cellspacing="0" border="1" align="center">
				<tr>
					<th class="black">Area</th>
					<th  class="black">Venue</th>
					<th  class="black">Phone Number</th>
				</tr>
				<tr>
					<td>Matunga</td>
					<td>Don Bosco School, Matunga	</td>
					<td>8291605144</td>
				</tr>
				<tr>
					<td>Andheri East	</td>
					<td>St. Dominic Savio High School, Andheri East	</td>
					<td>8291605145</td>
				</tr>
			</table>
			<!-- <a class="viewButtons">
				VIEW CENTERS
			</a>
			<br/>
			<a class="viewButtons">
				VIEW TEAMS
			</a> -->
		</div>
	</div>

</div>