<!-- <script src="/javascripts/jquery.smint.js" ></script> -->
<style>
html, body{
overflow:auto !important;
}
html { 
  background: url(/images/media_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.why-join-nav .list-year{
    width: 85%;
    padding: 26px 56px;
    float: none;
    position: relative;
    z-index: 9;
    text-align: center;
    color: #fff;
}

.sprite{
	margin:0;
}

.why-join-nav:before{
	content: ' ';
    display: block;
    border-left: 0.1px solid #FFF;
    width: 100%;
    position: absolute;
    left: 22%;
    bottom: 130px;
    height: 70%;
    z-index: 0;
}

.list-year span{
	position: absolute;
    left: 20%;
    top: 26px;
}


</style>
<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/" style="padding-left:0px;"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_training %>"><span>Training</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Why Join?</span></a></li>
	</ul>
</div>

<div class="aboutUsWrapper why-join">
	<div class="aboutUsContent">	
	<div class="contactUsHd" style="margin-top:100px;"> Why Join?</div><br/>
		

		<div class="albumWrapper" id="album-2016">
			<div class="aboutUsPageSubHd">Proven Record</div>
			<p>No other club has produced so many outstanding players no other club has produced so many outstanding players in the last 20 years like the FC Barcelona. In fact the best proof happened in 2010 when Messi, Iniesta & Xavi were the three finalist of the Ballon d´Or trophy. Fabregas, Piqué, Puyol, Pedro, Valdés, Busquets, Alba, Thiago, Bartra are other perfect examples. </p>
		</div>

		<div class="albumWrapper" id="album-2015" style="display:none;">
			<div class="aboutUsPageSubHd">Successful Methodology</div>
			<p>To be taught by a good coach is very important but to be taught under a successfully methodology by a good coach is the best way to learn. <strong>FCB</strong>Escola Mumbai ensures that the proven methodology is followed rigorously by all the coaches. The Technical Director stationed in Mumbai ensures the quality of training remains consistent with what is followed at the highest level. This way FCBEscola Mumbai ensures all players, a progressive performance no matter who the coach is. All our coaches are vetted and trained by Technical Director from <strong>FCB</strong>arcelona.</p>
		</div>

		<div class="albumWrapper" id="album-2014" style="display:none;">
			<div class="aboutUsPageSubHd">Direct Supervision from Barcelona</div>
			<p>
			<strong>FCB</strong>Escola Mumbai will not only be lead by a technical director from FC Barcelona who will be stationed in Mumbai but will also be regularly supervised and audited by the South East Asia <strong>FCB</strong>Escola Manager and the <strong>FCB</strong>Escola Global Director to ensure the same high standards as applied in Barcelona.</p> 
		</div>


		<div class="albumWrapper" id="album-2013" style="display:none;">
			<div class="aboutUsPageSubHd">Infrastructure</div>
			<p>
			<strong>FCB</strong>Escola Mumbai has the best infrastructure available at all its centers. Well managed natural turfs along with facility to play under lights.</p> 
		</div>

		

		<div class="albumWrapper" id="album-2012" style="display:none;">
			<div class="aboutUsPageSubHd">Training Sessions – Small Training Groups</div>
			<p>
			Each of our training sessions lasts 75 minutes to ensure quality time to learn and adapt to the philosophies of <strong>FCB</strong>arcelona. In this duration, each player will be taught on the famed syllabus of <strong>FCB</strong>arcelona with our specialise coaches who are hand-picked by our Technical Director. Each age group has a different capacity, which varies from 8 players up to 14 players to ensure that each and every player receives quality attention from all of our coaches.</p> 
		</div>


		<div class="albumWrapper" id="album-2011" style="display:none;">
			<div class="aboutUsPageSubHd">Regular Internal Matches</div>
			<p>
			Internal matches are held between different <strong>FCB</strong>Escola training centers and players get a chance to compete against each other. This is to ensure that the players receive playing time, which will improve their game, as well as provide an opportunity for the players to implement what they have learnt over the past weeks.</p> 
			<p>The players will enjoy the Barca experience, and at the same time, play under professional conditions, with a proper team entrances and match referees!</p>
		</div>

		

		<div class="albumWrapper" id="album-2010" style="display:none;">
			<div class="aboutUsPageSubHd">Participate in Matches</div>
			<p>
			To provide match exposure for all our players, <strong>FCB</strong>Escola Mumbai participates in external leagues and tournaments. This allows our players to pit themselves against other players their age, from all over the country. These external competitions are competitive, yet at the same time, provides an opportunity for the players to witness and experience playing against different levels and styles of football.</p>
		</div>

		<div class="albumWrapper" id="album-2009" style="display:none;">
			<div class="aboutUsPageSubHd">Represent FCBEscola Mumbai!</div>
			<p>
			Once a year, our players stand an opportunity to be selected to represent <strong>FCB</strong>Escola Mumbai in the Annual <strong>FCB</strong>Escola International tournament in Barcelona, Spain. In this tournament, <strong>FCB</strong>Escolas from all over the world, compete against one another in the real <strong>FCB</strong>arcelona setting. Experiencing <strong>FCB</strong>arcelona does not get any better than this!</p>

		</div>

		
</div>
	
	<div class="aboutusNavigation why-join-nav" style="width:30%;">
		<div class="table">	
		<div class="table-cell">
				<div class="list-year">
					<span>Proven Record</span>
				<div rel="album-2016" align="center" class="yellow album1 sprite active-album"></div>
				</div>

				<div class="list-year">
					<span>Successful Methodology</span>
				<div rel="album-2015" align="center" class="yellow album2 sprite"></div>
				</div>

				<div class="list-year">
					<span>Direct Supervision from Barcelona</span>
				<div rel="album-2014" align="center" class="yellow album3 sprite"></div>
				</div>

				<div class="list-year">
					<span>Infrastructure</span>
				<div rel="album-2013" align="center" class="yellow album4 sprite"></div>
				</div>

				<div class="list-year">
					<span>Training Sessions – Small Training Groups</span>
				<div rel="album-2012" align="center" class="yellow album5 sprite"></div>
				</div>

				<div class="list-year">
					<span>Regular Internal Matches</span>
				<div rel="album-2011" align="center" class="yellow album5 sprite"></div>
				</div>

				<div class="list-year">
					<span>Participate in Matches</span>
				<div rel="album-2010" align="center" class="yellow album5 sprite"></div>
				</div>

				<div class="list-year">
					<span>Represent FCBEscola Mumbai!</span>
				<div rel="album-2009" align="center" class="yellow album5 sprite"></div>
				</div>

				

				
				<div style="clear:both;"></div>
		</div>	
		</div>	
	</div>

<a href="<%= url_training %>" class="back-btn yellow bold" align="right">
	Back&nbsp;&nbsp;&nbsp;<img src="/images/back_icon.png" valign="middle" style="display:inline-block">
</a>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	$('.pageWrapper,.aboutUsWrapper').css({'min-height':wht});
	$('.aboutusNavigation').height(wht);


	
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
    		
  $('.list-year div').click(function(e){
  		$("div .active-album").removeClass("active-album");
  		$(this).addClass("active-album");
  		  var rel = $(this).attr('rel');
            $(".albumWrapper").hide();
            $('#'+rel).fadeIn();
    })

  

  
});
</script> 