

<div class="breadcrumb-wrapper">
	<ul>
		<li class="breadcrumbs-list"><a href="/" style="padding-left:0px;"><span>Home</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_ourprogram %>"><span>Our Program</span></a></li>
		<li class="breadcrumbs-list"><a href="<%= url_training %>"><span>Training</span></a></li>
		<li class="breadcrumbs-list"><a href="javascript:;" style="color:#F9BF1E"><span>Why Join?</span></a></li>
	</ul>
</div>	
<div class="about-section-1 slide">
	<div class="banner-title">
		<div class="page-title">Why Join?</div>
		<div class="subtitle">Conscient Football is a grassroots development initiative undertaken by the Conscient Group with the Heritage Schools network in Delhi NCR; the latter being a part of its ventures in the education sector, as an extension of its wider portfolio.</div>
	</div>
	<br/>
	<a class="scroll-btn" rel="philosophy"><img src="/images/arrow-50new.png" class="img-responsive" /></a>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		
		<div class="text fw300">
		<h2 class="why-join-intro yellow">Proven Record</h2>
		 <p>No other club has produced so many outstanding players no other club has produced so many outstanding players in the last 20 years like the FC Barcelona. In fact the best proof happened in 2010 when Messi, Iniesta & Xavi were the three finalist of the Ballon d´Or trophy. Fabregas, Piqué, Puyol, Pedro, Valdés, Busquets, Alba, Thiago, Bartra are other perfect examples.</p>
		</div>

		<div class="text fw300">
			<h2 class="why-join-intro yellow">Successful Methodology</h2>
			<p>To be taught by a good coach is very important but to be taught under a successfully methodology by a good coach is the best way to learn. FCBEscola Mumbai ensures that the proven methodology is followed rigorously by all the coaches. The Technical Director stationed in Mumbai ensures the quality of training remains consistent with what is followed at the highest level. This way FCBEscola Mumbai ensures all players, a progressive performance no matter who the coach is. All our coaches are vetted and trained by Technical Director from FCBarcelona.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		
		<div class="text fw300">
		<h2 class="why-join-intro yellow">Direct Supervision from Barcelona</h2>
		 <p>FCBEscola Mumbai will not only be lead by a technical director from FC Barcelona who will be stationed in Mumbai but will also be regularly supervised and audited by the South East Asia FCBEscola Manager and the FCBEscola Global Director to ensure the same high standards as applied in Barcelona.</p>
		</div>

		<div class="text fw300">
			<h2 class="why-join-intro yellow">Infrastructure</h2>
			<p>FCBEscola Mumbai has the best infrastructure available at all its centers. Well managed natural turfs along with facility to play under lights.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="parallax about-section-1"></div>	
<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		
		<div class="text fw300">
		<h2 class="why-join-intro yellow">Training Sessions – Small Training Groups</h2>
		 <p>Each of our training sessions lasts 75 minutes to ensure quality time to learn and adapt to the philosophies of FCBarcelona. In this duration, each player will be taught on the famed syllabus of FCBarcelona with our specialise coaches who are hand-picked by our Technical Director. Each age group has a different capacity, which varies from 8 players up to 14 players to ensure that each and every player receives quality attention from all of our coaches.
		</p>
		</div>

		<div class="text fw300">
			<h2 class="why-join-intro yellow">Regular Internal Matches</h2>
			<p>Internal matches are held between different FCBEscola training centers and players get a chance to compete against each other. This is to ensure that the players receive playing time, which will improve their game, as well as provide an opportunity for the players to implement what they have learnt over the past weeks.</p>
			<p>The players will enjoy the Barca experience, and at the same time, play under professional conditions, with a proper team entrances and match referees!</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="about-content-wrapper" id="section-one">
	<div class="about-content-padding">
		
		<div class="text fw300">
		<h2 class="why-join-intro yellow">Participate in Matches</h2>
		 <p>Internal matches are held between different FCBEscola training centers and players get a chance to compete against each other. This is to ensure that the players receive playing time, which will improve their game, as well as provide an opportunity for the players to implement what they have learnt over the past weeks.</p>
		<p>The players will enjoy the Barca experience, and at the same time, play under professional conditions, with a proper team entrances and match referees!</p>
		</div>

		<div class="text fw300">
			<h2 class="why-join-intro yellow">Represent FCBEscola Mumbai!</h2>
			<p>Once a year, our players stand an opportunity to be selected to represent FCBEscola Mumbai in the Annual FCBEscola International tournament in Barcelona, Spain. In this tournament, FCBEscolas from all over the world, compete against one another in the real FCBarcelona setting. Experiencing FCBarcelona does not get any better than this!</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
	


<script type="text/javascript">
$(document).ready(function(){
	var wht=$(window).height();
	/*var pageSectiionHeight=wht/2;*/
	$('.slide').height(wht);
	/*$('.ourprogramWrapper, .ourprogramFirst, .ourprogramSecond, .ourprogramThird').height(pageSectiionHeight)*/
	$("a.scroll-btn").click(function(){
		$("html, body").animate({ scrollTop: $('#section-one').offset().top }, 1000);
	})

});
</script>