<h1>Listing facebook_contacts</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Guardians phone</th>
    <th>Guardians email</th>
    <th>Gender</th>
    <th>Date of birth</th>
    <th>City</th>
    <th>Preferred center</th>
    <th>School name</th>
    <th>Utm source</th>
    <th>Utm campaign</th>
    <th>Utm medium</th>
    <th>Utm term</th>
    <th>Utm content</th>
    <th>Srd</th>
    <th>Project</th>
    <th>Url</th>
    <th>Device</th>
    <th>Sibling name</th>
    <th>Sibling number</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facebook_contacts.each do |facebook_contact| %>
  <tr>
    <td><%= facebook_contact.fullname %></td>
    <td><%= facebook_contact.first_name %></td>
    <td><%= facebook_contact.last_name %></td>
    <td><%= facebook_contact.email %></td>
    <td><%= facebook_contact.guardians_phone %></td>
    <td><%= facebook_contact.guardians_email %></td>
    <td><%= facebook_contact.gender %></td>
    <td><%= facebook_contact.date_of_birth %></td>
    <td><%= facebook_contact.city %></td>
    <td><%= facebook_contact.preferred_center %></td>
    <td><%= facebook_contact.school_name %></td>
    <td><%= facebook_contact.utm_source %></td>
    <td><%= facebook_contact.utm_campaign %></td>
    <td><%= facebook_contact.utm_medium %></td>
    <td><%= facebook_contact.utm_term %></td>
    <td><%= facebook_contact.utm_content %></td>
    <td><%= facebook_contact.srd %></td>
    <td><%= facebook_contact.project %></td>
    <td><%= facebook_contact.url %></td>
    <td><%= facebook_contact.device %></td>
    <td><%= facebook_contact.sibling_name %></td>
    <td><%= facebook_contact.sibling_number %></td>
    <td><%= facebook_contact.comments %></td>
    <td><%= link_to 'Show', facebook_contact %></td>
    <td><%= link_to 'Edit', edit_facebook_contact_path(facebook_contact) %></td>
    <td><%= link_to 'Destroy', facebook_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facebook contact', new_facebook_contact_path %>
