<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @facebook_contact.fullname %>
</p>

<p>
  <b>First name:</b>
  <%= @facebook_contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @facebook_contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @facebook_contact.email %>
</p>

<p>
  <b>Guardians phone:</b>
  <%= @facebook_contact.guardians_phone %>
</p>

<p>
  <b>Guardians email:</b>
  <%= @facebook_contact.guardians_email %>
</p>

<p>
  <b>Gender:</b>
  <%= @facebook_contact.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @facebook_contact.date_of_birth %>
</p>

<p>
  <b>City:</b>
  <%= @facebook_contact.city %>
</p>

<p>
  <b>Preferred center:</b>
  <%= @facebook_contact.preferred_center %>
</p>

<p>
  <b>School name:</b>
  <%= @facebook_contact.school_name %>
</p>

<p>
  <b>Utm source:</b>
  <%= @facebook_contact.utm_source %>
</p>

<p>
  <b>Utm campaign:</b>
  <%= @facebook_contact.utm_campaign %>
</p>

<p>
  <b>Utm medium:</b>
  <%= @facebook_contact.utm_medium %>
</p>

<p>
  <b>Utm term:</b>
  <%= @facebook_contact.utm_term %>
</p>

<p>
  <b>Utm content:</b>
  <%= @facebook_contact.utm_content %>
</p>

<p>
  <b>Srd:</b>
  <%= @facebook_contact.srd %>
</p>

<p>
  <b>Project:</b>
  <%= @facebook_contact.project %>
</p>

<p>
  <b>Url:</b>
  <%= @facebook_contact.url %>
</p>

<p>
  <b>Device:</b>
  <%= @facebook_contact.device %>
</p>

<p>
  <b>Sibling name:</b>
  <%= @facebook_contact.sibling_name %>
</p>

<p>
  <b>Sibling number:</b>
  <%= @facebook_contact.sibling_number %>
</p>

<p>
  <b>Comments:</b>
  <%= @facebook_contact.comments %>
</p>


<%= link_to 'Edit', edit_facebook_contact_path(@facebook_contact) %> |
<%= link_to 'Back', facebook_contacts_path %>
