
<html>
<head><title>Thank you for registering</title></head>
<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000; border:solid 1px #ddd; padding-bottom:20px;">
	<tr>
	<td valign="top">
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px #ddd;">
		<tr>
		<td height="48"><strong style="font-size:24px; color:#000;"> Football Camps Form Details </strong></td>
		</tr>
		</table>
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#000;">
		<tr>
		<td style="padding:20px 0 20px 0px;">
	<table cellspacing="1" bgcolor="#FFFFFF" cellpadding="10" border="0" style="margin:0px 10px 0 17px;" width="94%">
	<tr>
		<td bgcolor="#888888" ><strong>Enquire Type</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.enquire_type %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Participant Name</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.participant_name %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>School Name</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.school_name %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Preferred center</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.preferred_center %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Date of Birth</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.date_of_birth %></td>
	</tr>
	<% if @school_registration.address.present? %>
	<tr>
		<td bgcolor="#888888" ><strong>Address</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.address %></td>
	</tr>
	<% end %>	
	<tr>
		<td bgcolor="#888888" ><strong>Mobile No</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.mobile %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Email</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.email %></td>
	</tr>
	<% if @school_registration.no_of_participation.present? %>	
	<tr>
		<td bgcolor="#888888" ><strong>no_of_participation</strong></td>
		<td bgcolor="#ddd" ><%=@school_registration.no_of_participation %></td>
	</tr>	
	<% end%>							

</table>
        </td>
      </tr>
    </table>
   </td>
  </tr>
</table>
</body>
</html>