<html>
<head><title>Thank you for registering</title></head>
<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000; border:solid 1px #ddd; padding-bottom:20px;">
	<tr>
	<td valign="top">
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px #ddd;">
		<tr>
		<td height="48"><strong style="font-size:24px; color:#000;"> Enquiry Details </strong></td>
		</tr>
		</table>
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#000;">
		<tr>
		<td style="padding:20px 0 20px 0px;">
	<table cellspacing="1" bgcolor="#FFFFFF" cellpadding="10" border="0" style="margin:0px 10px 0 17px;" width="94%">
	<tr>
		<td width="35%" bgcolor="#888888" ><strong>Name :</strong></td>
		<td width="65%" bgcolor="#ddd"><%= @reg.fullname %></td>
	</tr>
	
	<tr>
		<td bgcolor="#888888" ><strong>Email :</strong></td>
		<td bgcolor="#ddd" ><%= @reg.guardians_email %></td>
	</tr>
	
	<tr>
		<td bgcolor="#888888" ><strong>Phone :</strong></td>
		<td bgcolor="#ddd" ><%= @reg.guardians_phone %></td>
	</tr>
	
	<tr>
		<td bgcolor="#888888" ><strong>Center:</strong></td>
		<td bgcolor="#ddd" >Juhu</td>
	</tr>

	<tr>
		<td bgcolor="#888888" ><strong>School Name:</strong></td>
		<td bgcolor="#ddd" ><%= @reg.school_name %></td>
	</tr>
	
	<tr>
		<td bgcolor="#888888" ><strong>Gender:</strong></td>
		<td bgcolor="#ddd" ><%= @reg.gender %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Date of Birth:</strong></td>
		<td bgcolor="#ddd" ><%= @reg.date_of_birth %></td>
	</tr>	
	



</table>
        </td>
      </tr>
    </table>
   </td>
  </tr>
</table>
</body>
</html>