<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Conscient Football</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="5" cellspacing="0" style="border: 1px solid #000; padding:15px; background :#000; color: #fff ">
  <tr>
    <td width="30%"><a href="" target="_blank"><img src="http://conscientfootball.amura.in/images/conscient_football_logo.png" /></a></td>
    <td width="70%" style="background-color:#32374D ; color:#fff; font-size:14px; padding:25px; line-height:20px; text-align:center">
      <strong>Thank you for showing interest in Conscient Football.</strong><br/><br/> Our customer care executive will get in touch with you shortly.
    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#000000" style="padding:10px 0px; font-size:12px; color:#fff" >
      &nbsp;&nbsp;Copyright &copy; 2017. All rights reserved
    </td>
  </tr>
</table>

</body>
</html>
