<html>
<head><title>Thank you for registering</title></head>
<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000; border:solid 1px #ddd; padding-bottom:20px;">
	<tr>
	<td valign="top">
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px #ddd;">
		<tr>
		<td height="48"><strong style="font-size:24px; color:#000;"> Enquiry Details </strong></td>
		</tr>
		</table>
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#000;">
		<tr>
		<td style="padding:20px 0 20px 0px;">
	<table cellspacing="1" bgcolor="#FFFFFF" cellpadding="10" border="0" style="margin:0px 10px 0 17px;" width="94%">
	<tr>
		<td bgcolor="#888888" ><strong>Traning City </strong></td>
		<td bgcolor="#ddd" ><%= @contact.city %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Traning Venue </strong></td>
		<td bgcolor="#ddd" ><%= @contact.traning_venue %></td>
	</tr>

	<tr>
		<td width="35%" bgcolor="#888888" ><strong>First Name :</strong></td>
		<td width="65%" bgcolor="#ddd"><%= @contact.first_name %></td>
	</tr>

	<tr>
		<td width="35%" bgcolor="#888888" ><strong>Last Name :</strong></td>
		<td width="65%" bgcolor="#ddd"><%= @contact.last_name %></td>
	</tr>

	<tr>
		<td bgcolor="#888888" ><strong>Dob :</strong></td>
		<td bgcolor="#ddd" ><%= @contact.dob %></td>
	</tr>
	
	<tr>
		<td bgcolor="#888888" ><strong>School Name :</strong></td>
		<td bgcolor="#ddd" ><%= @contact.school_name %></td>
	</tr>
	
	
	<tr>
		<td bgcolor="#888888" ><strong>Home Phone:</strong></td>
		<td bgcolor="#ddd" ><%= @contact.home_phone %></td>
	</tr>	
	
	<tr>
		<td bgcolor="#888888" ><strong>Mobile No </strong></td>
		<td bgcolor="#ddd" ><%= @contact.mobile_no %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Email </strong></td>
		<td bgcolor="#ddd" ><%= @contact.email %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Traning Venue </strong></td>
		<td bgcolor="#ddd" ><%= @contact.traning_venue %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Hear About </strong></td>
		<td bgcolor="#ddd" ><%= @contact.hear_about %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Guardian First Name</strong></td>
		<td bgcolor="#ddd" ><%= @contact.guardian_first_name %></td>
	</tr>	
	<tr>
		<td bgcolor="#888888" ><strong>Guardian Last Name</strong></td>
		<td bgcolor="#ddd" ><%= @contact.guardian_last_name %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Guardian Mmobile</strong></td>
		<td bgcolor="#ddd" ><%= @contact.guardian_mobile %></td>
	</tr>
	<tr>
		<td bgcolor="#888888" ><strong>Guardian Email</strong></td>
		<td bgcolor="#ddd" ><%= @contact.guardian_email %></td>
	</tr>								
</table>
        </td>
      </tr>
    </table>
   </td>
  </tr>
</table>
</body>
</html>