
<h1 class="top-round">events
<span class="fr"><%= link_to 'New Event', new_event_path, :class=>"top-buttons" %></span></h1>
<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><a href="/events/assets/<%= event.id %>" class="round button1">Add Images</td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


