<%= form_for(@cpfl_registration_news) do |f| %>
  <% if @cpfl_registration_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpfl_registration_news.errors.count, "error") %> prohibited this cpfl_registration_news from being saved:</h2>

      <ul>
      <% @cpfl_registration_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :class %><br />
    <%= f.text_field :class %>
  </div>
  <div class="field">
    <%= f.label :standard %><br />
    <%= f.text_field :standard %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br />
    <%= f.text_field :mobile_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :data_file_name %><br />
    <%= f.text_field :data_file_name %>
  </div>
  <div class="field">
    <%= f.label :data_content_type %><br />
    <%= f.text_field :data_content_type %>
  </div>
  <div class="field">
    <%= f.label :data_file_size %><br />
    <%= f.text_field :data_file_size %>
  </div>
  <div class="field">
    <%= f.label :youth_kit_size %><br />
    <%= f.text_field :youth_kit_size %>
  </div>
  <div class="field">
    <%= f.label :adult_kit_size %><br />
    <%= f.text_field :adult_kit_size %>
  </div>
  <div class="field">
    <%= f.label :amount_pay %><br />
    <%= f.text_field :amount_pay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
