<h1>Listing CPFL registration</h1>


<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
  <th>Order Id</th>
   <th>Order Status</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Mobile no</th>
    <th>Email</th>
    <th>Data file name</th>
    <th>Amount pay</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cpfl_registration_news.each do |cpfl_registration_news| %>
  <tr>
  <td><%= cpfl_registration_news.order_id %></td>
  <td><%= cpfl_registration_news.order_status %></td>
    <td><%= cpfl_registration_news.name %></td>
    <td><%= cpfl_registration_news.gender %></td>
    <td><%= cpfl_registration_news.mobile_no %></td>
    <td><%= cpfl_registration_news.email %></td>
    <td><a href="<%= cpfl_registration_news.data.url %>"><%= cpfl_registration_news.data.url %></a></td>
    <td><%= cpfl_registration_news.amount_pay %></td>
    <td><%= link_to 'Show', cpfl_registration_news %></td>
    <td><%= link_to 'Edit', edit_cpfl_registration_news_path(cpfl_registration_news) %></td>
    <td><%= link_to 'Destroy', cpfl_registration_news, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Cpfl registration new', new_cpfl_registration_news_path %>
