<p id="notice"><%= notice %></p>
<p>
  <b>Order status:</b>
  <%= @cpfl_registration_news.order_status %>
</p>
<% if @cpfl_registration_news.order_status!='Success'%>
<p>
  <b>failure message:</b>
  <%= @cpfl_registration_news.failure_message %>
</p>
<% end %>
<p>
  <b>Order Id:</b>
  <%= @cpfl_registration_news.order_id %>
</p>
<p>
  <b>Bank ref no:</b>
  <%= @cpfl_registration_news.bank_ref_no %>
</p>

<p>
  <b>Name:</b>
  <%= @cpfl_registration_news.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @cpfl_registration_news.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @cpfl_registration_news.dob.strftime("%Y-%m-%d") rescue "" %> %>
</p>

<p>
  <b>School name:</b>
  <%= @cpfl_registration_news.school_name %>
</p>

<p>
  <b>Standard:</b>
  <%= @cpfl_registration_news.standard %>
</p>


<p>
  <b>Mobile no:</b>
  <%= @cpfl_registration_news.mobile_no %>
</p>

<p>
  <b>Email:</b>
  <%= @cpfl_registration_news.email %>
</p>

<p>
  <b>Data file name:</b>
  <%= @cpfl_registration_news.data_file_name %>
</p>

<p>
  <b>Data content type:</b>
  <%= @cpfl_registration_news.data_content_type %>
</p>

<p>
  <b>Data file size:</b>
  <%= @cpfl_registration_news.data_file_size %>
</p>

<p>
  <b>Youth kit size:</b>
  <%= @cpfl_registration_news.youth_kit_size %>
</p>

<p>
  <b>Adult kit size:</b>
  <%= @cpfl_registration_news.adult_kit_size %>
</p>

<p>
  <b>Amount pay:</b>
  <%= @cpfl_registration_news.amount_pay %>
</p>

<p>
  <b>Billing Country:</b>
  <%= @cpfl_registration_news.billing_country %>
</p>
<p>
  <b>Billing Zip:</b>
  <%= @cpfl_registration_news.billing_zip %>
</p>
<p>
  <b>Billing State:</b>
  <%= @cpfl_registration_news.billing_state %>
</p>
<p>
  <b>Billing City:</b>
  <%= @cpfl_registration_news.billing_city %>
</p>
<p>
  <b>Billing Address:</b>
  <%= @cpfl_registration_news.billing_address %>
</p>



<%= link_to 'Edit', edit_cpfl_registration_news_path(@cpfl_registration_news) %> |
<%= link_to 'Back', cpfl_registration_news_path %>
