
<h1 class="top-round">Listing Suceess Stories <%= link_to 'New Story', new_award_path %></h1>
<table class="table table-striped table-bordered" width="100%"  cellpadding="10">  <tr>
    <th>Title</th>
    <th>Published Date</th>
    <th>Featured</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td><%= award.title %></td>
    <td><%= award.featured %></td>
    <td><%= award.status %></td>
    <td><a href="/awards/assets/<%= award.id%>" class="round button1">Add Images</a></td>
    <td><%= link_to 'Show', award %></td>
    <td><%= link_to 'Edit', edit_award_path(award) %></td>
    <td><%= link_to 'Destroy', award, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
