<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @award.title %>
</p>


<p>
  <b>Featured:</b>
  <%= @award.featured %>
</p>

<p>
  <b>Status:</b>
  <%= @award.status %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
