<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FCBEscola Mumbai Trial Registration | Conscient Football </title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/fcbescola_mumbai/stylesheets/style-juhu.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/fcbescola/stylesheets/intlTelInput.css">
<!--[if  IE ]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93759358-1', 'auto');
ga('send', 'pageview');
ga('require', 'displayfeatures');
ga('require', 'ecommerce', 'ecommerce.js');
</script>
</head>
<body>
<div class="virtual-number" style="right: -200px;">
	<div class="pull-left number" data-event-category="fcbescola-number-button" data-event-action="click" data-event-name="phone icon">
		<img src="/fcbescola_mumbai/images/old-handphone.png" class="img-responsive">
	</div>
	<div class="pull-left virtual-number-wrapper"><span>Call: <a href="tel:+919819825602">+91 98 1982 5602</a></span> <br></div>
	<div class="clear"></div>
</div>
<header>
	<div class="container">
		<div class="col-12 text-center">
			<a href="/" class="logo-wrapper"><img src="/fcbescola_mumbai/images/logo-juhu.png" class="img-responsive"></a>
		</div>
		<div class="clearfix"></div>
	</div>
</header>
<section>
	<div class="col-12 main">
		<div class="col-6 pull-right second">
			<div class="form-wrapper">
				<div class="barcalonaclinicHd">FCBEscola Juhu</div>
				<div class="form-container" id="minor">
						<div id="form-field-wrapper">
							<div class="clinic-form" id="form_fields">
								<form action="/reg_juhu" class="registration_form" name="registration_form" id="registration_form">
									<div class="pull-left form-fields">
										<label class="lable-text">Player's Name <span>*</span></label><br/>
										<input type="text" name="reg[fullname]" class="form-style required letterswithbasicpunc" tabindex="1" id="participant_name" placeholder="Player">
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
										<label class="lable-text">Guardian's Phone <span>*</span></label><br/>
										<input type="text" name="reg[guardians_phone]" class="form-style required" value="+91" tabindex="2" minlength="13" placeholder="Guardian Phone" id="phone_number">
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
										<label class="lable-text">Guardian's Email <span>*</span></label><br/>
										<input type="text" name="reg[guardians_email]" class="form-style required email" tabindex="3" placeholder="Guardian Email" id="guardian_email">
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
										<div class="col-6 mtop">
											<label class="lable-text">Gender <span>*</span></label><br/>
											<input type="radio" name="reg[gender]" class="radio-style required" tabindex="4" value="male"><label>Male</label><br/>
											<input type="radio" name="reg[gender]" class="radio-style required" tabindex="4" value="female"><label>Female</label>
										</div>
										<div class="col-6">
											<label class="lable-text">Date of Birth <span>*</span></label><br/>
											<input type="text" name="reg[date_of_birth]" class="form-style required datepicker" tabindex="5" placeholder="Select Date" readonly>
											<div style="font-size:11px;color:#000;line-height:14px;">Children between 5 - 17 years of age can only apply.</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
										<div class="col-6">
											<input type="hidden"  name="reg[city]" value="Mumbai" >
											<!-- <input type="hidden"  name="reg[preferred_center]" value="Juhu"> -->
										</div>
										<div class="col-6">
											<label class="lable-text">Preferred Center <span>*</span></label><br/>
											<select name="reg[preferred_center]" class="form-style required" tabindex="7">
												<option value="">Select</option>
												<option selected="1" value="5a5c3edf923d4a1737c37442">Juhu</option>
											</select>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
											<label class="lable-text">School Name <span>*</span></label><br/>
											<select  name="reg[school_name]" class="form-style required" tabindex="8">
											</select>
											<div style="font-size:11px;color:#000;line-height:14px;">
												Incase your School name is missing, input your school name in the box and press enter.
											</div>
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
										<label class="sibling-text">
											Have a sibling who is also interested?
											<span class="show-siblings" style="text-decoration:underline;">Click Here</span>
										</label>
									<div class="clearfix"></div>
									</div>

									<div class="pull-left form-fields" id="sibling-field">
										<div class="col-6">
											<label class="lable-text">Sibling Name </label><br/>
											<input type="text" name="reg[sibling_name]" class="form-style required validname" tabindex="9" placeholder="Sibling Name">
										</div>
										<div class="col-6">
											<label class="lable-text">Sibling Number</label><br/>
											<input type="text" name="reg[sibling_number]" class="form-style required" tabindex="10"  placeholder="Sibling Number" maxlength="14">
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="pull-left form-fields">
											<input class="bgyellow submit-btn" type="submit" value="Submit" data-event-category="section" data-event-action="click" data-event-name="submit">
									</div>
									<div class="clearfix"></div>

								</form>
							</div>
						</div>
						<div id="form-success" style="display:none;">
							Thank you for submitting your details. We will get in touch with you soon.
						</div>
					</div>
			</div>

		</div>
		<div class="col-6 pull-left banner-left first details-wrapper">
			<ul>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">FCBEscola Now in Juhu</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Open Trial Sessions</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Coaching for players between 5-16 years of age</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Permanently stationed technical director from FC Barcelona</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Centres in Matunga, Andheri East and South Mumbai too</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Small Training groups (8-14 players)</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Internal Leagues & Friendly Matches</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Chance to represent FCBEscola in the annual EIT tournament in Barcelona, Spain.</span>
				<div class="clearfix"></div>
				</li>
				<li><span class="check-mark"><img src="/fcbescola_mumbai/images/tick.png" class="img-responsive" /></span><span class="pointers">Players receive the same education as Lionel Messi, Andrés Iniesta, Sergio Busquets & Gerard Piqué, among other FCB legends</span>
				<div class="clearfix"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</section>
<div class="clearfix"></div>
<footer>
	<div class="col-12 text-center">
	 	&copy; Copyright 2018. All Rights Reserved
	</div>
	<div class="clearfix"></div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/fcbescola/javascripts/intlTelInput.js"></script>
<script src="http://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js" type="text/javascript"></script>

<script>
$(document).ready(function(){
    var countryData = $.fn.intlTelInput.getCountryData()
    var countryCode='in';
    $("#dial_code").val('91');
telInput = $("#phone_number"),
addressDropdown = $("#country_list");
// init plugin
telInput.intlTelInput({initialCountry: "in",nationalMode: true,utilsScript: "/fcbescola/javascripts/utils.js"});
// populate the country dropdown
$.each(countryData, function(i, country) {
addressDropdown.append($("<option></option>").attr("value", country.iso2).attr("data-country-name", country.name.split("(")[0]).attr("data-dial-code", country.dialCode).text(country.name.split("(")[0]));
});
// set it's initial value
var initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
addressDropdown.val(initialCountry);

// listen to the telephone input for changes
telInput.on("countrychange", function(e, countryData) {
    addressDropdown.val(countryData.iso2);
    $("#phone_number").val('+'+countryData.dialCode);
});

// listen to the address dropdown for changes
addressDropdown.change(function() {
    telInput.intlTelInput("setCountry", $(this).val());
    $("#phone_number").val($(this).find("option:selected").data("dial-code"));
    //$("#countryname").val($.trim($("#country_list").find("option:selected").data("country-name")));
});
});
</script>

<script type="text/javascript">
$(document).ready(function(){
	$('.show-siblings').on('click',function(){
		$('#sibling-field').slideToggle();
	});
	if($(window).width()<=1366){
		var maxHeight1 = 0;
		$(".main>.second").each(function(){
		   if ($(this).height() > maxHeight1) { maxHeight1 = $(this).height(); }
		});
		console.log(maxHeight1);
		$(".main").css('height', maxHeight1);
		$(".main>.first").height(maxHeight1);
	}
	else{
		var maxHeight1 = 0;
		$(".main>.first").each(function(){
		   if ($(this).height() > maxHeight1) { maxHeight1 = $(this).height(); }
		});
		console.log(maxHeight1);
		$(".main").css('height', maxHeight1);
		$(".main>.second").height(maxHeight1);
	}
	 $(".virtual-number").click(function(){
  		if($(".virtual-number").css("right") === "-200px"){
    		$(".virtual-number").css("right", "0px");
    	}
    	else{
    		$(".virtual-number").css("right", "-200px");
    	}

    });
   var ht = $(window).height();
   $('.main').height(ht);
  $.validator.setDefaults({
            submitHandler: function() {
             $('#form_fields').hide();

             $('#form-success').show();
             $("html, body").animate({scrollTop:$("#form-field-wrapper").offset().top-180},"slow");
              trackecommerce("UA-93759358-1","", "Conscient fcbescola", $("#guardian_email").val(), $("#phone_number").val());
 			 try{ dataLayer.push({'event' : 'selldo_form_submitted'  });}catch(err){}
  			 $.ajax({
                type:"POST",
                dataType:"json",
                url:$(".registration_form").attr("action"),
                data:$(".registration_form").serialize(),
                success: function(resp, status, xhr){
                  if(resp.status == "success"){
                  }
                  else{
                  }
                },
                error: function(resp, status, xhr){
                }
              });
            }
  });
  // $(".registration_form").validate();
   $.validator.addMethod('custNumber', function(value, element) {
	return value.match(/^\+(?:[0-9] ?){6,14}[0-9]$/);
	},'Enter Valid  phone number');
	  $(".registration_form").validate({
	  	rules: {
	  		"reg[guardians_phone]" : {
	  			custNumber : true
	  		}
	  	},
	  	messages: {
	  		"reg[guardians_phone]" : {
	  			minlength : "Please enter atleast 10 characters."
	  		}
	  	}
	});
$(".datepicker").datepicker({yearRange: '2001:2013',changeYear: true,changeMonth: true,defaultDate: '01/01/2013',dateFormat: 'dd/mm/yy'});
// $(document).on('change', 'select[name="reg[city]"]', function(){
// 	//console.log('ss');
// 	if($('select[name="reg[city]"] option:selected' ).val()=='Mumbai'){
// 		$('select[name="reg[preferred_center]"]' ).html('<option value="">Select</option><option value="573e9c803bb2f8a95d00002e">Andheri East Center</option><option value="573e9c375413853d070000e8">Matunga Center</option><option value="59703f94541385984000029e">South Mumbai</option>');

// 	}else if($('select[name="reg[city]"] option:selected' ).val()=='Delhi'){
// 		$('select[name="reg[preferred_center]"]').html('<option value="">Select</option><option value="573e9be0a7a0396c6f00011e">Noida Center</option><option value="573e99825413856c68000146">South Delhi Center</option><option value="573e9a64a7a0396c6f0000ef">Gurgaon Center</option><option value="573e99fd3bb2f81091000095">West Delhi Center</option>');

// 	}else{
// 		$('select[name="reg[preferred_center]"]').html('<option value="">Select</option><option value="573e9be0a7a0396c6f00011e">Noida Center</option><option value="573e99825413856c68000146">South Delhi Center</option><option value="573e9a64a7a0396c6f0000ef">Gurgaon Center</option><option value="573e99fd3bb2f81091000095">West Delhi Center</option><option value="573e9c803bb2f8a95d00002e">Andheri East Center</option><option value="573e9c375413853d070000e8">Matunga Center</option><option value="59703f94541385984000029e">South Mumbai</option>');

// 	}
// });
   var school_array=["","Ecole Mondiale World School",
"Utpal Shanghvi Global School",
"Besant Montessori School",
"Billabong High International School, Juhu",
"Maneckji Cooper Education Trust School",
"CP Goenka International School Mumbai",
"R N Shah International School",
"Smt RSB Arya Vidya Mandir",
"Vrajlal Parekh Vidyanidhi High School",
"Jamnabai Narsee International school",
"Rims International School And Junior College",
"Russell Square Inter School & College",
"Bhakti Vedanta Swami Mission School",
"St. Joseph English School",
"Kalyanji K. Rajpopat School",
"Hansraj Morarji Public School",
"Kamladevi Jain High School And Jr College",
"Ryan International",
"Rajhans Vidyalaya",
"Marble Arch School",
"City International School",
"Bombay Cambridge International School",
"AH Wadia",
"St. Mary's school",
"The Treehouse",
"OES International School",
"JBCN International School",
"Shree Ram Welfare Society's High School",
"Gyan Kendra High School",
"JankiDevi Public School",
"Belvedere Springs School",
"Raigad Military School",
"Parle Tilak Vidyalaya",
"H.M.Nanavati High School",
"MP Shah School",
"St. Xavier's High School",
"Orion School",
"St. Lawrence School",
"Love Dale Play School",
"R. N. Podar School",
"Billabong High International School",
"Rose Manor International School",
"St Teresa's Convent High School",
"Panbai International School",
"Jasudben M.L. School",
"Beacon High School",
"Khar Education Society",
"Rizvi Springfield High School",
"Mindstein Montessori and Activity Centre",
"Podar International School",
"Harmony Montessori",
"St. Andrew's High School, Mumbai",
"St. Stanislaus High School",
"Duruelo Convent High School",
"Saint Theresa's High School",
"Learner's Academy",
"St.Aloysius High School",
"Mount Mary Convent High School",
"Arya Vidya Mandir High School",
"MET Rishikul Vidyalaya",
"Bai Avabai Framji Petit Girls High School",
"St. Joseph’s Convent Primary School"];
			fLen = school_array.length;
			var text='';
			for (i = 0; i < fLen; i++) {
			   if(school_array[i] == ""){
					text += '<option value="">Select School</option>';
				}
				else{
					text += '<option value="'+school_array[i]+'">' + school_array[i] + '</option>';
				}
			}
			$('select[name="reg[school_name]"]').html(text);
			$('select[name="reg[school_name]"]').select2({tags:true});

});

</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WL6C8P');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WL6C8P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- End Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');</script>
<!-- End Google Tag Manager -->
</body>
</html>
