<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>Reset password token:</b>
  <%= @user.reset_password_token %>
</p>

<p>
  <b>Reset password sent at:</b>
  <%= @user.reset_password_sent_at %>
</p>

<p>
  <b>Remember created at:</b>
  <%= @user.remember_created_at %>
</p>

<p>
  <b>Sign in count:</b>
  <%= @user.sign_in_count %>
</p>

<p>
  <b>Current sign in at:</b>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <b>Last sign in at:</b>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <b>Current sign in ip:</b>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <b>Last sign in ip:</b>
  <%= @user.last_sign_in_ip %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
