<h1>File Uploads</h1>
<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@gallery , :url => '/assets/add', :method => 'post', :html => {:multipart=>true}) do |f| %>
    <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input name="entity_id" value="<%= @gallery.id %>" type="hidden" />
    <%= render :partial => "assets/singular_assets", :locals => {:for_class => "Gallery", :entity => @gallery, :asset_types => ["main_image","thumbnail"]} %>
  <%= render :partial => "assets/assets", :locals => {:for_class => "Gallery", :entity => @gallery} %>
    <br clear="all"/>    <br clear="all"/>
  <p align="center">
    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


