<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<p>
  <b>Published date:</b>
  <%= @gallery.published_date %>
</p>

<p>
  <b>Publication:</b>
  <%= @gallery.publication %>
</p>

<p>
  <b>Slug:</b>
  <%= @gallery.slug %>
</p>

<p>
  <b>Info:</b>
  <%= @gallery.info %>
</p>

<p>
  <b>Status:</b>
  <%= @gallery.status %>
</p>

<p>
  <b>Featured:</b>
  <%= @gallery.featured %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
