<h1 class="top-round">Listing contacts <a href="/admin/createexcel" class="btn btn-large">Export</a></h1> 
<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th colspan="1">Action</th>

  </tr>

<% @contacts.each do |contact| %>
<tr class="<%= cycle ("scaffolded-odd","scaffolded-even") %>">
    <td><%= contact.name %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.email %></td>
    <td><%= link_to 'Show', contact %></td>
  </tr>
<% end %>
</table>

<br />

