<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

<p>
  <b>Country:</b>
  <%= @contact.country %>
</p>

<p>
  <b>Pin:</b>
  <%= @contact.pin %>
</p>

<p>
  <b>Area code:</b>
  <%= @contact.area_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @contact.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Project:</b>
  <%= @contact.project %>
</p>

<p>
  <b>Mailer:</b>
  <%= @contact.mailer %>
</p>

<p>
  <b>Campaign:</b>
  <%= @contact.campaign %>
</p>

<p>
  <b>Occupation:</b>
  <%= @contact.occupation %>
</p>

<p>
  <b>Profession:</b>
  <%= @contact.profession %>
</p>

<p>
  <b>Organization:</b>
  <%= @contact.organization %>
</p>

<p>
  <b>Designation:</b>
  <%= @contact.designation %>
</p>

<p>
  <b>Enquiry about:</b>
  <%= @contact.enquiry_about %>
</p>

<p>
  <b>Entity type:</b>
  <%= @contact.entity_type %>
</p>

<p>
  <b>Entity:</b>
  <%= @contact.entity_id %>
</p>

<p>
  <b>Page url:</b>
  <%= @contact.page_url %>
</p>

<p>
  <b>Query:</b>
  <%= @contact.query %>
</p>

<p>
  <b>Hidden data:</b>
  <%= @contact.hidden_data %>
</p>

<p>
  <b>Department:</b>
  <%= @contact.department %>
</p>

<p>
  <b>Comments:</b>
  <%= @contact.comments %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
