@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
html, body{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
body{
	/*background-color: #ecf0f1;*/
}
a, img, button, input[type=submit]{
	text-decoration: none;
	outline: none;
	border: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	max-width: 1100px;
	margin: 0px auto;
	padding: 0 20px;
}
.clearfix{
	clear: both;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.img-responsive{
	max-width: 100%;
	height: auto;
}
.img-full{
	width: 100%;
	height: auto;
}
.center-block{
	margin: 0 auto;
}
.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333333333333%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333333%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
.col-12-5{
	width: 20%;
}
.w70{
	width: 70%;
}
.w30{
	width: 30%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{
	float: left;
}
section{
	float: left;
	width: 100%;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
header{
	width: 100%;
	padding: 10px 0px;
	background-color: #000;
}
header .logo-wrapper{
	display: block;
}
header .logo-wrapper img{
	width: 150px;
}
.form-container {
	padding: 40px 40px;
    background-color: #ecf0f1;
}
.barcalonaclinicHd {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f9c211;
    position: relative;
    margin-bottom: 25px;
}
.lable-text {
    font-size: 12px;
    font-weight: bold;
}
.form-fields .lable-text span, .form-sub-title span, .form-fields span, label.error {
    color: #f00;
}
.form-style {
    display: block;
    width: 98%;
    height: 34px;
    font-size: 12px;
    line-height: 1.42857143;
    padding: 6px 12px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-fields {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.sibling-text, .sibling-text span {
    color: #000;
    font-weight: bolder;
    font-size: 12px;
}
#sibling-field {
    display: none;
}
.submit-btn {
    background-color: #f8c034;
    padding: 8px 15px;
    width: 200px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}
.banner-left{
	width: 50%;
	height: 100%;
	background-image: url(/fcbescola_mumbai/images/banner-fcb-juhu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.form-wrapper{
	padding: 40px 40px 0px 40px;
	/*background-color: #ecf0f1;*/
}
.details-wrapper ul{
	position: absolute;
    bottom: 30px;
    left: 50px;
    padding-right: 70px;
}
  
.details-wrapper {
    width: 50%;
    padding: 0px 20px;
    padding: 30px 30px 0px 35px;
    position: relative;
}
.details-wrapper li {
	color: #fff;
	display: block;
    list-style-type: none;
    padding: 0px 0px 15px 0px;
    font-size: 15px;
    position: relative;
}

.check-mark {
	position: absolute;
	left: -35px;
	top: -5px;
/*    width: 26px;
    height: 26px;*/
    margin-right: 5px;
}
.intl-tel-input {
    width: 100%;
}
label.error {
    position: absolute;
    top: 90%;
    font-size: 10px;
}
footer{
	width: 100%;
	padding: 4px;
	color: #F9BF1E;
	position: fixed;
	bottom: 0px;
	left: 0px;
	font-size: 12px;
	background-color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
}
.virtual-number {
    width: 250px;
    background-color: #f9c136;
    position: fixed;
    right: -200px;
    top: 10%;
    z-index: 999;
    padding: 10px;
    font-size: 16px;
	transition: 0.6s;
	-moz-transition: 0.6s;
	-webkit-transition: 0.6s;
    cursor: pointer;
}
.number {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 0px;
    margin-left: 5px;
}
.virtual-number-wrapper a{
	color: #000;
}
@media all and (max-width: 1280px){
	.banner-left{
		height: 100% !important;
	}
}
@media all and (max-width: 1024px){
	.banner-left {
	     height: auto; 
	}
	.form-wrapper {
	    padding: 20px 20px 0px 20px;
	}
	.form-container {
	    padding: 20px 20px;
	}
}
@media all and (max-width: 768px){
	.form-container {
	    padding: 20px 20px;
	}
}
@media all and (max-width: 700px){
	.col-6{
		width: 100%;
	}
	.details-wrapper{
		padding: 20px;
	}
	.details-wrapper ul{
		position: relative;
		bottom: 0px;
		left: 0px;
		padding-right: 0px;
	}
	.banner-left {
	    height: auto !important;
	}
	.details-wrapper li {
	    font-size: 15px;
	    text-shadow: 1px 1px 1px #000;
	}
	.second{
		margin-bottom: 20px;
	}
	.mtop{
		margin-bottom: 20px;
	}
	.mtop label.error{
		top: 40%;
	}
	label.error {
	    top: 96%;
	}
	.virtual-number {
		width: 100%;
		background-color: #f9c136;
		position: fixed;
		right: 0px !important;
		top: 94%;
		z-index: 999;
		padding: 4px;
		font-size: 16px;
		transition: 0.6s;
		-moz-transition: 0.6s;
		-webkit-transition: 0.6s;
		cursor: pointer;
		text-align: center;
	}
	.virtual-number .number{
		display: none;
	}
	.virtual-number-wrapper{
		width: 100%;
		text-align: center;
	}
	footer{
		display: none;
	}
}