<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- <div class="field">
    <%#= f.label :parent_id %><br />
    <%#= f.select :parent_id, Page.order("title ASC").collect{|x| [x.title, x.id]}, :selected => @page.parent_id.to_i , :include_blank => "Select Parent" %>
  </div>
-->  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
   <!--<div class="field">
    <%#= f.label :slug %><br />
    <%#= f.text_field :slug %>
  </div>
  -->
    <!--<div class="field">
    <%#= f.label :tagline %><br />
    <%#= f.text_field :tagline %>
  </div>
  -->
  <div class="field">
    <%= f.label :overview %><br />
    <%= f.text_area :overview, :class => :mceEditor  %>
  </div>
 <!-- <div class="field">
    <%#= f.label :metakeywords %><br />
    <%#= f.text_area :metakeywords %>
  </div>
  <div class="field">
    <%#= f.label :metadescription %><br />
    <%#= f.text_area :metadescription %>
  </div>
  <div class="field">
    <%#= f.label :metatitle %><br />
    <%#= f.text_area :metatitle %>
  </div>
-->  
  <!--<div class="field">
    <%#= f.label :show_in_header %><br />
    <%#= f.check_box :show_in_header %>
  </div>
  <div class="field">
    <%#= f.label :show_on_site %><br />
    <%#= f.check_box :show_on_site %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
