<h1>File Uploads</h1>

<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@page , :url => '/assets/add', :method => 'post', :html => {:multipart=>true}) do |f| %>
    <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input name="entity_id" value="<%= @page.id %>" type="hidden" />
<% if params[:id]=='5' %>  <h5 style="color:red;width:95%;margin:auto"> Dimension of main image : width=951px and height =891px </h5> <% end %>

  <% if params[:id]!='1' and params[:id]!='2' %>
    <%= render :partial => "assets/singular_assets", :locals => {:for_class => "Page", :entity => @page, :asset_types => ["main_image"]} %>
  <% end %>

<% if params[:id]=='1' %>  <h5 style="color:red;width:95%;margin:auto"> Dimension of gallery images : width=1215px and height =632px </h5> <% end %>

<% if params[:id]=='2' %>  <h5 style="color:red;width:95%;margin:auto"> Dimension of gallery images : width=459px and height =652px </h5> <% end %>


  <% if params[:id]!='5' %>

  <%= render :partial => "assets/assets", :locals => {:for_class => "Page", :entity => @page} %>

 <% end %> 
    <br clear="all"/>    <br clear="all"/>
  <p align="center">
    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


