<h1 class="top-round">Listing Pages <%= link_to 'New Page', new_page_path %></h1>

<table class="table table-striped table-bordered" width="100%"  cellpadding="10" searchable_sortable="true" class_name="Project">
  <tr>
    <th>Title</th>
    <th>Show on site</th>
    <th colspan="4">Action</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.show_on_site %></td>
   
    <td>
     <% if page.id != 3 and page.id != 4 and page.id != 6  %>
     <a href="/pages/assets/<%= page.id %>" class="round button1">Add Images
     </a>
      <% end %>
      </td>

    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <!--<td><%#= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />


