<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= @page.parent_id %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Tagline:</b>
  <%= @page.tagline %>
</p>

<p>
  <b>Overview:</b>
  <%= @page.overview %>
</p>

<p>
  <b>Metakeywords:</b>
  <%= @page.metakeywords %>
</p>

<p>
  <b>Metadescription:</b>
  <%= @page.metadescription %>
</p>

<p>
  <b>Metatitle:</b>
  <%= @page.metatitle %>
</p>

<p>
  <b>Show in header:</b>
  <%= @page.show_in_header %>
</p>

<p>
  <b>Show on site:</b>
  <%= @page.show_on_site %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
