<%= form_for(@school_registration) do |f| %>
  <% if @school_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_registration.errors.count, "error") %> prohibited this school_registration from being saved:</h2>

      <ul>
      <% @school_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
    <div class="field">
    <%= f.label :enquire_type %><br />
    <%= f.text_field :enquire_type %>
  </div>
  <div class="field">
    <%= f.label :no_of_participation %><br />
    <%= f.text_field :no_of_participation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
