<h1>Listing Registrations <%= link_to 'New Registration', new_school_registration_path %></h1><br/>
<form method="post" action="/registration_data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="col-sm-3"><input type="date" name="from_date" required class="form-control">  
    </div>
     <div class="col-sm-1">TO Date
    </div>
     <div class="col-sm-3" ><input type="date" name="to_date" required class="form-control">  
    </div>
     <div class="col-sm-3"> <select name="enquire_type" class="form-control">
        <option value="">All </option>
        <option value="Summer Camps">Summer Camp </option>
        <option value="Football Camps">Football Camps</option>
        <option value="Fcbescola Goals">Fcbescola Goals</option>
    </select>
    </div>    
    <button type="submit" class="btn btn-success">Download Excel</button>

</form>
<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">

  <tr>
  	 <th> Name</th>
    <th>School name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Enquire Type</th>
  <!--   <th>No of participant</th> -->
  	<th>DOB</th>
  	  	<th>Center</th>
    <th>Added On</th>
    <th></th>
<!--     <th></th>
 --><!--     <th></th>
 -->  </tr>

<% @school_registrations.each do |school_registration| %>
  <tr>
  	<td><%= school_registration.participant_name %></td>
    <td><%= school_registration.school_name %></td>
    <td><%= school_registration.address %></td>
    <td><%= school_registration.email %></td>
    <td><%= school_registration.mobile %></td>
    <td><%= school_registration.enquire_type %></td>
    <td><%= school_registration.date_of_birth %></td>
    <td><%= school_registration.preferred_center %></td>
   <!--  <td><%= school_registration.no_of_participation %></td> -->
    
     <td><%= school_registration.created_at.strftime("%d-%m-%Y") %></td>

    <td><%= link_to 'Show', school_registration %></td>
<!--     <td><%= link_to 'Edit', edit_school_registration_path(school_registration) %></td>
 --><!--     <td><%#= link_to 'Destroy', school_registration, :confirm => 'Are you sure?', :method => :delete %></td>
 -->  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New School registration', new_school_registration_path %>
