<p id="notice"><%= notice %></p>

<p>
  <b>School name:</b>
  <%= @school_registration.school_name %>
</p>

<p>
  <b>Address:</b>
  <%= @school_registration.address %>
</p>

<p>
  <b>Email:</b>
  <%= @school_registration.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @school_registration.mobile %>
</p>
<p>
  <b>Enquire Type:</b>
  <%= @school_registration.enquire_type %>
</p>
<p>
  <b>No of participation:</b>
  <%= @school_registration.no_of_participation %>
</p>


<%= link_to 'Edit', edit_school_registration_path(@school_registration) %> |
<%= link_to 'Back', school_registrations_path %>
