<%= form_for(@site_setting, :html => {:multipart=>true}) do |f| %>
  <% if @site_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_setting.errors.count, "error") %> prohibited this site_setting from being saved:</h2>

      <ul>
      <% @site_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sitetitle %><br />
    <%= f.text_field :sitetitle %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
   <br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
   <br />
    <div class="field">
   <%= f.check_box :show_comments %> <label for="site_setting_show_comments">Show Blog Comments</label>
    
  </div>
    <br />
    <div class="field">
    <%= f.label :xmlsitemap %><br />
    <%= f.file_field :xmlsitemap %>
  </div>
    <br />
    <div class="field">
    <%= f.label :htmlsitemap %><br />
    <%= f.file_field :htmlsitemap %>
  </div>
    <br />
    <div class="field">
    <%= f.label :googlemeta %><br />
    <%= f.file_field :googlemeta %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
