<h1 class="top-round">Editing site_setting</h1>

<div class="adminShowDiv">
<%= render 'form' %>
<br />
<%= link_to 'Show', @site_setting, :class=> "button" %> &nbsp; 
<%= link_to 'Back', site_settings_path, :class=> "button" %>
</div>