<div class="adminShowDiv">
<% if @site_setting.present? %>
  <p id="notice"><%= notice %></p>

<p>
  <b>Sitetitle:</b>
  <%= @site_setting.sitetitle %>
</p>

<p>
  <b>Phone:</b>
  <%= @site_setting.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @site_setting.email %>
</p>


<p>
  <b>Xml sitemap:</b>
  <%= @site_setting.xmlsitemap %>
</p>

<p>
  <b>Html Sitemap:</b>
  <%= @site_setting.htmlsitemap %>
</p>

<p>
  <b>Google meta:</b>
  <%= @site_setting.googlemeta %>
</p>


<br />
<%= link_to 'Edit', edit_site_setting_path(@site_setting), :class=> "button" %> &nbsp; 
<%= link_to 'Back', site_settings_path, :class=> "button" %>
</div>


<% else %>
<p style="padding:50px">
  <a href="/admin/site_settings/new">Click Here Update Site </a>
</p>
<% end %>

	