<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="expires" content="0">

    <title>Conscient Football Registration</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animate.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src='wow.min.js'></script>

</head>

<body>

    <div class="loader">
        <div class="loader-content">
            <img src="icon1.png" class="wow bounceIn">
            <!--<p class="loader-tagline">#vamosLetsPlay</p>-->
        </div>
    </div>

    <div class="html-overlay"></div>

    <div class="top-bar">
        <div class="logo-wrapper">
            <img src="icon.png">
        </div>
        <div class="other-info-wrapper">
            <a href="http://www.conscientfootball.com" target="_blank">Visit us at: www.conscientfootball.com</a>
        </div>
    </div>
    <!-- multistep form -->
    <form id="msform">

        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Player Info</li>
            <li>Guardian Info</li>
            <li>Center Details</li>
        </ul>

        <!-- fieldsets -->
        <fieldset>
            <img src="profile_photo.png" class="player-profile-img wow fadeInDown" data-wow-delay="1s">
            <h2 class="fs-title wow fadeInDown" data-wow-delay="1.4s">Player Profile</h2>
            <h3 class="fs-subtitle wow fadeInDown" data-wow-delay="1.8s">This is step 1</h3>
            <input class="wow fadeInDown" data-wow-delay="2.2s" type="text" name="name" placeholder="Name" />
            <input class="wow fadeInDown" type="text" name="school" placeholder="School Name" data-wow-delay="2.6s" />
            <!--<input class="wow fadeInDown" type="date" name="dob" placeholder="Date Of Birth"  data-wow-delay="3s" />-->

            <input class="wow fadeInDown" data-date-format="DD MM YYYY" name="dob" type="date" placeholder="Dob" data-wow-delay="3s" min="2001-01-01" max="2014-12-12">
            <div class="wow fadeInDown" data-wow-delay="3.4s">
                <span class="gender-label">Gender</span>
                <div class="radio-wrapper">
                    <label class="container">Female
                      <input type="radio" name="gender"  value="female" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Male
                      <input type="radio" name="gender" value="male" >
                      <span class="checkmark"></span>
                    </label>
                </div>

            </div>
            <span class="error-message"></span>
            <button type="button" name="next" class="next action-button wow fadeInDown" value="Next" data-wow-delay="3.8s">Next</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title wow fadeInDown" data-wow-delay="1s">Guardian's Infomation</h2>
            <h3 class="fs-subtitle wow fadeInDown" data-wow-delay="1.4s">Some things we will need to keep in touch</h3>
            <input type="tel" name="contact" placeholder="Mobile" class="wow fadeInDown" data-wow-delay="1.8s" oninput="inputnumbervalidation()"  maxlength="10" />
            <input type="email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="wow fadeInDown" data-wow-delay="2.2s" />
            <span class="error-message"></span>

            <button type="button" name="previous" class="previous action-button wow fadeInDown" data-wow-delay="2.6s" value="Previous">Previous</button>
            <button type="button" name="next" class="next action-button wow fadeInDown" data-wow-delay="2.6s" value="Next" style="color:white;font-size:15px;">Next</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title wow fadeInDown" data-wow-delay="1s">Center Details</h2>
            <h3 class="fs-subtitle wow fadeInDown" data-wow-delay="1.4s">Preferred center</h3>
            <select class="center-select-dropdown wow fadeInDown" name="center" data-wow-delay="1.8s">
                <option value="St Andrew's Bandra">St Andrew's Bandra</option>
                <option value="Tiger Play Lokhandwala">Tiger Play Lokhandwala</option>    
            </select>
            <div class="wow fadeInDown" data-wow-delay="2.2s">
                <h3 class="fs-subtitle confirm-subtitle wow fadeInDown"> Have you been part of any academy before ?</h3>
                <div class="radio-wrapper confirmation">
                    <label class="container confirm-label">Yes
                      <input type="radio" name="otheracademy"  value="yes" >
                      <span class="checkmark"></span>
                    </label>
                    <label class="container confirm-label">No
                      <input type="radio" name="otheracademy" value="no" checked="checked" >
                      <span class="checkmark"></span>
                    </label>
                </div>


                <input class="wow fadeInDown" data-wow-delay="1s" type="text" name="previousacademy" placeholder="Academy name" />
            </div>


            <div class="wow fadeInDown" data-wow-delay="2.6s">
                <h3 class="fs-subtitle user-subtitle wow fadeInDown" data-wow-delay="2.6s">I am filling this form for ?</h3>
                <div class="radio-wrapper">
                    <label class="container registrationuser">Myself
                      <input type="radio" name="registrationuser"  value="player" checked="checked">
                      <span class="checkmark check-registration"></span>
                    </label>
                    <label class="container registrationuser">My son/daughter
                      <input type="radio" name="registrationuser" value="parent" >
                      <span class="checkmark check-registration"></span>
                    </label>
                    <label class="container registrationuser">Some other
                      <input type="radio" name="registrationuser" value="other" >
                      <span class="checkmark check-registration"></span>
                    </label>
                </div>
            </div>
            <p id="final-section-error" style="display: none; color: red;">You need to enter the previous academy name.</p>
            <button type="button" name="previous" class="previous action-button wow fadeInDown" value="Previous" data-wow-delay="3s">Previous </button>
            <button id="submitForm" type="submit" name="submit" class="submit action-button wow fadeInDown" value="Submit" data-wow-delay="3s">Submit</button>
        </fieldset>
    </form>

    <div class="why-us-btn-wrapper">
        <button type="button" class="why-us-btn whyus" data-wow-delay="2.6s" value="Why Us ?">Why Us ?</button>
    </div>

    <div class="why-us-wrapper">
        <div class="why-us-content">
            <div class="modal-head">
                <p class="modal-title">Are you a Messi fan?</p>
                <p class="modal-subtitle">Learn to play the Barca way at Barça Academy, Mumbai- the official football school of FCBarcelona</p>
            </div>
            <p class="modal-text">10 reasons to choose Barca Academy Mumbai :</p>
            <ul class="modal-ul">
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Chance to represent Barca Academy Mumbai in the annual EIT tournament in Barcelona, Spain.</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Open Trial Sessions</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> AIFF and AFC certified coaches</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Permanently stationed technical director from FC Barcelona</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Centres in St Andrew's Bandra & Tiger Play Lokhandwala as well</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Small training groups (8-14 players)</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Internal leagues &#38; friendly matches</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Play under professional conditions, with proper team entrances, match referees</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Get the same education as Lionel Messi, Sergio Busquets &#38; Gerard Piqué, among other FCB legends</li>
                <li><img src="http://conscientfootball.com/fcbescola_mumbai/images/tick.png" alt=""> Safe and secure environment with individual attention</li>
            </ul>
        </div>
    </div>



    <div class="success-class">
        <div class="before-success">
            <!--class="loading-dots"-->
            <p> Submitting <span>.</span><span>.</span><span>.</span></p>

        </div>
        <div class="after-success">
            <img class="thumbsup" src="thumbsup.gif" alt="">
            <p>Player registered successfully!</p>
            <!--        <div class="register-btn"><a href="#">New Registeration</a></div>-->
            <button type="button" name="finish" class="register-btn" value="New Registration">New Registration</button>
        </div>

    </div>
    <script type="text/javascript" src="index.js?v=1003"></script>
    <script>
        new WOW().init();

    </script>
    <script>
        $("input[name='dob']").on("change", function() {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD")
                .format(this.getAttribute("data-date-format"))
            )
        }).trigger("change")

    </script>
</body>

</html>
