<h1>Listing Registrations <%= link_to 'New Registration', new_registration_path %></h1><br/>
<form method="post" action="/registration_data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="date" name="from_date" required> TO <input type="date" name="to_date" required >
    <button type="submit" class="btn btn-success">Download Excel</button>
</form>
<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
    <th>Reg. No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>School</th>
    <th>Amount</th> 
    <th>Added On</th> 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.order_id %></td>
    <td><%= registration.name %></td>
    <td><%= registration.email %></td>
    <td><%= registration.phone %></td>
    <td><%= registration.school %></td>
    <td><%= registration.amount %></td>
     <td><%= registration.created_at.strftime("%d-%m-%Y") %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @registrations %>



