<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @registration.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @registration.dob %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @registration.phone %>
</p>

<p>
  <b>School:</b>
  <%= @registration.school %>
</p>

<p>
  <b>Standard:</b>
  <%= @registration.standard %>
</p>

<p>
  <b>Kit size:</b>
  <%= @registration.kit_size %>
</p>

<p>
  <b>Terms and constions:</b>
  <%= @registration.terms_and_constions %>
</p>

<p>
  <b>Amount:</b>
  <%= @registration.amount %>
</p>

<p>
  <b>Order:</b>
  <%= @registration.order_id %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
