<%= form_for(@fcbescola_trial) do |f| %>
  <% if @fcbescola_trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fcbescola_trial.errors.count, "error") %> prohibited this fcbescola_trial from being saved:</h2>

      <ul>
      <% @fcbescola_trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br />
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br />
    <%= f.text_field :mobile_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :traning_venue %><br />
    <%= f.text_field :traning_venue %>
  </div>
  <div class="field">
    <%= f.label :hear_about %><br />
    <%= f.text_field :hear_about %>
  </div>
  <div class="field">
    <%= f.label :guardian_first_name %><br />
    <%= f.text_field :guardian_first_name %>
  </div>
  <div class="field">
    <%= f.label :guardian_last_name %><br />
    <%= f.text_field :guardian_last_name %>
  </div>
  <div class="field">
    <%= f.label :guardian_mobile %><br />
    <%= f.text_field :guardian_mobile %>
  </div>
  <div class="field">
    <%= f.label :guardian_email %><br />
    <%= f.text_field :guardian_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
