<h1>Listing fcbescola_trials</h1>

<table class="table table-striped   table-responsive" width="100%"  cellpadding="10">
  <tr>
    <th>Created Date</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Mobile no</th>
    <th>Email</th>
    <th>Traning City</th>
    <th>Guardian first name</th>
    <th>Guardian mobile</th>
    <th>Guardian email</th>
    <th></th>
<!--     <th></th> -->
    <th></th>
  </tr>

<% @fcbescola_trials.each do |fcbescola_trial| %>
  <tr>
    <td><%= fcbescola_trial.created_at.strftime("%Y-%m-%d") %></td>
    <td><%= fcbescola_trial.first_name %></td>
    <td><%= fcbescola_trial.last_name %></td>
    <td><%= fcbescola_trial.mobile_no %></td>
    <td><%= fcbescola_trial.email %></td>
    <td><%= fcbescola_trial.city %></td>
    <td><%= fcbescola_trial.guardian_first_name %></td>
    <td><%= fcbescola_trial.guardian_mobile %></td>
    <td><%= fcbescola_trial.guardian_email %></td>
    <td><%= link_to 'Show', fcbescola_trial %></td>
    <td><%#= link_to 'Edit', edit_fcbescola_trial_path(fcbescola_trial) %></td>
    <td><%= link_to 'Destroy', fcbescola_trial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fcbescola trial', new_fcbescola_trial_path %>
