<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @fcbescola_trial.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @fcbescola_trial.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @fcbescola_trial.dob %>
</p>

<p>
  <b>School name:</b>
  <%= @fcbescola_trial.school_name %>
</p>

<p>
  <b>Home phone:</b>
  <%= @fcbescola_trial.home_phone %>
</p>

<p>
  <b>Mobile no:</b>
  <%= @fcbescola_trial.mobile_no %>
</p>

<p>
  <b>Email:</b>
  <%= @fcbescola_trial.email %>
</p>

<p>
  <b>Traning city:</b>
  <%= @fcbescola_trial.city %>
</p>

<p>
  <b>Traning venue:</b>
  <%= @fcbescola_trial.traning_venue %>
</p>

<p>
  <b>Hear about:</b>
  <%= @fcbescola_trial.hear_about %>
</p>

<p>
  <b>Guardian first name:</b>
  <%= @fcbescola_trial.guardian_first_name %>
</p>

<p>
  <b>Guardian last name:</b>
  <%= @fcbescola_trial.guardian_last_name %>
</p>

<p>
  <b>Guardian mobile:</b>
  <%= @fcbescola_trial.guardian_mobile %>
</p>

<p>
  <b>Guardian email:</b>
  <%= @fcbescola_trial.guardian_email %>
</p>


<%= link_to 'Edit', edit_fcbescola_trial_path(@fcbescola_trial) %> |
<%= link_to 'Back', fcbescola_trials_path %>
