<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :testimonial_text %><br />
    <%= f.text_area :testimonial_text %>
  </div>
  <!--<div class="field">
    <%#= f.label :designation %><br />
    <%#= f.text_field :designation %>
  </div>
  -->

<div class="field">
    <%= f.label :category %><em> * </em><br />
    <%= f.select :category, ['owner', 'customer'] , :prompt => 'Select ' %> 
  </div>


<div class="field">
    <%= f.label :published_date %><br />
    <%= f.date_select :published_date %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
