<h1>File Uploads</h1>
<script src="/javascripts/asset_handler.js" type="text/javascript"></script>
<% form_for(@testimonial , :url => '/assets/add', :method => 'post', :html => {:multipart=>true}) do |f| %>
    <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>
      <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h5 style="color:red">  Dimension of image : width=100px and height =100px or 1 X 1 ratio </h5>
  <input name="entity_id" value="<%= @testimonial.id %>" type="hidden" />
    <%= render :partial => "assets/singular_assets", :locals => {:for_class => "Testimonial", :entity => @testimonial, :asset_types => ["main_image"]} %>
  <%#= render :partial => "assets/assets", :locals => {:for_class => "Testimonial", :entity => @testimonial} %>
    <br clear="all"/>    <br clear="all"/>
  <p align="center">

    <%= f.submit 'Update', :class=> "admin-main-button" %>
  </p>
<% end %>


