<h1>Listing testimonials <%= link_to 'New Testimonial', new_testimonial_path %></h1>

<table class="table table-striped table-bordered" width="100%"  cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Published date</th>
    <th>Status</th>
    <th colspan="4">Action</th>

  </tr>

<% @testimonials.each do |testimonial| %>
  <tr>
    <td><%= testimonial.name %></td>
    <td><%= testimonial.published_date %></td>
    <td><%= testimonial.status %></td>
    <td><a href="/testimonials/assets/<%= testimonial.id %>" class="round button1">Add Images</td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


