<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testimonial.name %>
</p>

<p>
  <b>Testimonial text:</b>
  <%= @testimonial.testimonial_text %>
</p>

<p>
  <b>Designation:</b>
  <%= @testimonial.designation %>
</p>

<p>
  <b>Published date:</b>
  <%= @testimonial.published_date %>
</p>

<p>
  <b>Status:</b>
  <%= @testimonial.status %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
